<form class="multisteps-form__form">

    <div class="multisteps-form__panel js-active" data-animation="scaleIn">
        <div class="container controlWidth">
            <div class="btn-sec clear-both row">
                <!-- <div class="col-sm-5">
                                        <h4 class="title">Vehicle Details</h4> 
                                    </div> -->
                <!-- <div class="col-sm-12 text-right">
                                        <button class="btn btn-secondary mar-right8" type="button" onclick="add_viability();"> Add Vehicle </button> 
                                         <button class="btn btn-success" type="button" data-toggle="modal" data-target="#add_guarantor"> Add Guarantor </button> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="row">
            <div class="table-responsive application" id="applicantTable">
                <table class="table">
                    <thead>
                        <tr class="table-head-bg">
                            <th>{{labels?.registrationNum   }} </th>
                            <th>{{labels?.make}} </th>
                            <th>{{labels?.model}} </th>
                            <th>{{labels?.viabilityStatus}} </th>
                            <th>{{labels?.action}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="applicant_1_row" *ngFor=" let viability of viabilityData; let i = index">
                            <td>{{viability?.registerNo | uppercase}}</td>
                            <td>{{viability?.make}}</td>
                            <td>{{viability?.model}}</td>
                            <td>{{viability?.viabilityStatus}}</td>
                            <td><u ><a class="a_tag" style="cursor:pointer"
                                        (click)="getViability(viability?.collateralId )">View</a></u></td>
                        </tr>
                        <!-- <tr id="applicant_2_row">
                            <td>KL-05-AG-1191</td>
                            <td>TATA</td>
                            <td>SUMO</td>
                            <td>Waiting</td>
                            <td></td>
                        </tr> -->

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</form>

<div class="btn-sec clear-both row cst_btm_btns text-right">

    <button class="btn btn-primary mar-right8" type="button" (click)="onBack()">{{labels?.back}} </button>

    <button class="btn btn-primary js-btn-next" type="button" routerLink="../cibil-od" *ngIf="showNext"> {{labels?.next}}
    </button>

</div>