.row.top_bar {
    margin: 0px;
    border: 1px solid #ddd;
    font-weight: 100;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: white;
}
.margin_zero {
    margin: 0px;
    padding-bottom: 15px;
}
.form-group.mb-0{margin-bottom:0px;}
.col-form-label{margin-bottom:0px;}
.col-form-label-two{margin-bottom:0px;}
.table tbody tr td {
    text-align: left !important;
 }


.btn-mar{
    margin:auto;
}

.heading-mar{
    margin:auto;
    padding:8px;
}

.heading-align{
    margin:15px 0px 10px 0px ;
}

.wrd-brk{
    word-break: break-all;
}

.selfie_margin_l{
    margin-left: -13px;
}



@media (min-width:200px) and (max-width:767px) {
    .mar-bot{
        margin-bottom:20px;
    }
    
}