.od-row{
    margin: 0px 50px;
    padding: 10px 0px;
    
  }
  /* .pl{
      padding: 7px 0px 0px 75px;
  }
  .pl-top{
      padding-top: 7px;
  } */
    .panel-body>.p-0{
      padding: 0% !important;
  }
  .app-doc{
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .rcuStatus{
      text-align: right;
  }
  .file-input {
    border: none;
    border-bottom: 2px solid #0e25c7;
    border-radius: 0px;
}

.file-input:read-only {
    background-color: #fff;
}

.file-input:hover {
    cursor: pointer;
    font-size: 16px;
}
  .sampled{
    margin: 0px 16px 0px 0px;
    width: fit-content;
  }
  .fitWidth{
    width: fit-content;

  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-pills>li>a {
    border: 1px solid #5f3232 !important;
}
.btn_div {
    color: #fff;
    background-color: #272264;
    background-image: none;
    border-color: #272264; 
}

/* .btn-primary:active, .btn-primary.active:hover{
    color: #fff;
    background-color: #272264;
    background-image: none;
    border-color: #272264;
    outline: none;
} */
.hetra-tabs>.btn-primary{
    border: 1px solid #272264;
    background-color: #fff;
    color: #0f0d25;
    outline: none;
}
.hetra-tabs>.active {
    border: 1px solid #272264;
    background-color: #272264;
    color: #fff;
    outline: none;
}
.textTrans{
    text-transform: uppercase;
}
.file-upload{
    border: none;
    border-radius: 0px;
position: relative;

}
/* 

.btn_div {
    color: #272264;
    background-color: #dddddd;
} */
/* .btn-primary{
    color: #272264;
    background-color: #dddddd;
    background-image: none;
    border-color: #272264;
} */
.showApplicant>a{
    color: #fff!important;
    background-color: #1d1a4b;
}
.mar-bottom {
    margin-bottom: 20px;
}

.nav>li>a:hover {
    text-decoration: none;
    /* background-color: #eee; */
    cursor: pointer;
}
.col-sm-7.text-right.mb-low{margin-top:15px !important;}
.cam-title{margin-top:0px !important;}
.row.top_bar {
    /* padding: 0px; */
}
.form-group.mb-0 {
    margin-bottom: 0px;
}
.table.mb-0 {
    margin-bottom: 0px;
}
td{border:1px solid #b9b6b675;}
th{border:1px solid #d6d0d0f5;}
.readonly {
    background: #ddd;
    text-align: center;
}
.bank_name {
    background-color: #d3d3d64d;
}
.termHead {
    padding:5px 0px 5px 0; 
}

.col-sm-7.text-right.mb-low_other{margin-top:80px !important;}
#cam_recommendation {
    word-wrap: break-word;
}
.recommondation{font-size:14px;color:#272264;font-weight:bold;}
.col-sm-7.text-right.Recommendation {
    margin-bottom: 30PX;
}
.fixed-btn {
            position: fixed;
            position: fixed;
            top: 300px;
            right: -12px;
            height: 100px;
            z-index: 999;
        }

/***PDF DESIGN***/
.navbar-brand img {
    /* max-width: 70px !important; */
}
.caption{
	color: #fff;
text-align: center;
border: 1px solid #ddd;
background-color: #272264;
padding: 1px;
font-size: 16px;
}
.cam_table{width:100%;}
.cam_table_proposed{width:100%;margin-top:0px;}
.cam_table > tbody > tr > td {padding:1px;width:16.6%;}
.cam_table_proposed > tbody > tr > td {padding:1px;}
.cam_table.mt-3{margin-top:0px;}
.cam_table > tbody > tr > td:nth-child(odd) { background-color : #f7f7f7; }
.for_space{height:100px;}
.credit_officer{width:100%;}
.for_100{width:100% !important;}

@media print {
 .navbar-brand img {
    max-width: 70px !important;
}
.navbar.navbar-default.navbar-fixed-top{display:none !important;}
.caption{
	color: #fff;
text-align: center;
border: 1px solid #ddd;
background-color: #272264;
padding: 1px;
font-size: 16px;
}
/* #page_break .caption{
	color: #fff;
text-align: center;
border: 1px solid #ddd;
background-color: #272264;
padding: 1px;
font-size: 16px;
} */
.cam_table{width:100%;}
.cam_table_proposed{width:100%;margin-top:0px;}
.cam_table > tbody > tr > td {padding:1px;width:16.6%;}
.cam_table_proposed > tbody > tr > td {padding:1px;}
.cam_table.mt-3{margin-top:0px;}
.cam_table > tbody > tr > td:nth-child(odd) { background-color : #f7f7f7; }
.for_space{height:100px;}
.credit_officer{width:100%;}
.for_100{width:100% !important;}
.footer{display:none;}
}
.btn-sec{
    padding: 0px 0 30px 0;
}
.btn-sec .btn {
    margin: 10px 4px;
}
.textKey{
    padding: 35px 0px;
}

.mar-bot-btn{
    margin-bottom: 25px;
}
.dispNone{
display: none;
}
.errText{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.errHead h3{
    text-align: center;
    font-size: 18px;
    color: #0e0d25;
}
.terms{
    margin-top: 10px;
}
.fa.fa-inr{
    color:#333332b3 ;
}

@media (min-width:260px) and (max-width: 768px) {
    .od-row{
        margin: 0px 5px;
        padding: 2px 0px;        
      }

      .hetra-tabs{
          text-align:center;
      }

      .flex-container{
          display:none;
      }

      .input-box{
        line-height: 1em;
        padding: 5px 3px;
      }

   
      

     
}

@media (min-width:992px) and (max-width: 1199px) {
    .clearfix-hide{
        display:block!important;
    }
}

@media (min-width: 768px){
.modal-dialog {
    margin: 10px auto;
    font-size:14px;
    font-weight:bold;
}
}

.btn-ok{
    margin:2px;
}

.modal-dialog {
    
    margin: 10px auto;
    font-size:14px;
    font-weight:bold;
}

   

.flex-container {
    display: flex;
    flex-wrap: nowrap;  
  }
  
  .flex-container > .row {  
    width: 100%;
    text-align: center;  
  }

  .flex-container > .flex-con {  
    width: 50%;
    text-align: center;  
  }

  .flex-container > .flex-rep {  
    width: 50%;
    text-align: center;  
  }

  .clearfix-hide{
    display:none;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
  }
  /* Zebra striping */
  /* tr:nth-of-type(odd) {
    background: #f2f2f2;
  } */
  th {
    background-color: #1d1a4b;
    color: #fff;
    font-weight: 600;
    word-break:break-word!important;
  }
  td,
  th {
    padding: 14px;
    border: 1px solid #ccc;
    text-align: left;
    text-align: center;
    
     }
  
     td{
      word-break:break-word!important;
      font-size:14px!important;
     }


     .tab-hide{
       display:block;
        background-color: #272264;
        color: #fff;
     }

     .mb-10{
         margin-bottom:10px;
     }
     /*Mobile View*/
@media (min-width:260px) and (max-width: 760px) {
.tab-hide {
  display: none !important;
}
.main-table td,
.main-table tr {
   display: block;
 }

.main-table td,
.main-table th {
   border: 1px solid #ccc;
   text-align: left;
   text-align: center;
   /* margin: 12px; */
   line-height: 1.5;
   /* color: white; */
   padding: 2px;
   font-size: 14px;
 }

 /* Hide table headers (but not display: none;, for accessibility) */
.main-table thead tr {
   position: absolute;
   top: -9999px;
   left: -9999px;
 }
.main-table tr {
   /* border: 1px solid #E74C3C;  */
 }
.main-table tr + tr {
   margin-top: 1.5em;
 }
.main-table td {
   /* make like a "row" */
   border: none;
   border-bottom: 1px solid #eee;
   /* position: relative; */
   padding-left: 50%;
   /* background-color: #F8D9D5; */
   text-align: left;
   /* padding: 1px;*/
   border: 1px solid #929294;
   word-break: break-all!important;
 }

.main-table td:before {
   content: attr(data-label);
   display: inline-block;
   line-height: 1.5;
   margin-left: -100%;
   margin-right: 12px;
   width: 70%;
   white-space: nowrap;
   background-color: #1d1a4b;
   color: white;
   height: 40px;
   padding: 10px;
 }

 .ekyc-to-print{
   padding: 10px 35px;
 }
 .tablewithdetails td:before {
   content: attr(data-label);
   display: inline-block;
   line-height: 1.5;
   margin-left: -2%;
   margin-right: 5%;
   width: 50%;
   white-space: nowrap;
   background-color: #1d1a4b;
   color: white;
   padding: 10px;
    text-align: left; 
   font-size:12px;
  
  } 

  .tab-content td{

   font-size:12px!important;
 
 }

 .p-0{
   padding:0px!important;
 }

 .tab_details p {
   font-size:13px!important;
 }
 

/* .tab-details {
 border-radius: 5px;
 border: 1px solid #e5e5e5;
 padding: 5px 5px!important;
 margin: 5px;
} */



}

.input-box{
        display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    
