<div class="content">

  <div style="text-align: center;">
    <ng-container *ngIf="!isLoan360"> <button class="btn btn-primary btn_div" *ngIf="isRcuDetails && isErr == true"
        (click)="showInitiateTask()" type="button">{{labels?.initiateRcu}}</button>
    </ng-container>

  </div>

  <div style="text-align: center;" *ngIf="(isRcuDetails == false && isErr == false && roleType == '2')">
    <strong>RCU task is In Progress and not completed yet.</strong>
  </div>
  <div style="text-align: center;" *ngIf="!errorGenerated">
    <strong>{{errMsg}}</strong>
  </div>

  <ng-container *ngIf="!isRcuDetails && isErr == true">

    <!-- <div *ngIf="!isRcuDetails && isErr == true && roleType == '2'">
      <h3 class="banner-con">Select Version
      </h3>

    <select class="form-control mandatory select2" id="" name="rcuVersion"
              class="form-control text-center" (change)="onRcuVersionChange($event.target.value, i) ">
              <option *ngFor="let version of rcuVersions" [value]="version">
               Version - {{version}}
              </option>
            </select>
    </div> -->

    <form class="multisteps-form__form" [formGroup]="rcuDetailsForm">
      <h3 class="banner-con">{{ labels?.rcu }}
        <span class="float-right">{{udfScreenId}}</span>
      </h3>

      <!--progress bar-->
      <div class="">
        <div class="form-group od-row">
        <!-- <div class="flex-container form-group text-center"> -->
          <div class="flex-con"></div>
         
            <div *ngIf="!isRcuDetails && isErr == true && roleType == '2'" 
            class="form-group col-lg-2 col-sm-2 col-md-3 col-xs-12"><label>Select Version</label></div>
            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12"
            *ngIf="!isRcuDetails && isErr == true && roleType == '2'">
                     
              <select class="form-control mandatory select2" id="" name="rcuVersion"
                        (change)="onRcuVersionChange($event.target.value, i) ">
                        <option *ngFor="let version of rcuVersions" [value]="version">
                         Version - {{version}}
                        </option>
                      </select>
              
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12"><label>{{ labels?.fileRcuStatus }} :</label></div>
            <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
              <input type="radio" name="fileRCUStatus" value="screened" id="screened" formControlName="fileRCUStatus"
                (click)="testRadio('screened')">
              <label for="screened"> Screened</label>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
              <input type="radio" name="fileRCUStatus" value="sampled" id="sampled" formControlName="fileRCUStatus"
                (click)="testRadio('sampled')">
              <label for="sampled"> Sampled</label>
            </div>
         
          <!-- <div class="flex-con"></div> -->

        <!-- </div> -->
        <div class="clearfix"></div>

        <!-- Applicant Details -->

        
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <label>{{labels?.applicantNameCam}}</label></div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <select class="form-control mandatory select2" id="" formControlName="applicantId" name="applicantId"
              class="form-control text-center" (change)="onRcuApplicantChange($event.target.value) ">
              <option *ngFor="let applicants of applicantDetails" [value]="applicants.applicantId">
                {{ applicants.fullName }}
              </option>
            </select>
          </div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12"><label>{{labels?.applicantType}}</label></div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <app-custom-input [placeholder]="''" formControlName="applicantType" [isDisabled]='true'
              [className]="'form-control mandatory'" [isDirty]="isDirty">
            </app-custom-input>
          </div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12"><label>{{labels?.loanAmount}}</label></div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <app-custom-input [placeholder]="''" formControlName="loanAmount"
              [type]="labels?.validationData?.amountValue?.type" [isDisabled]='true'
              [className]="'form-control mandatory'" [maxLength]="labels?.validationData?.amountValue?.maxLength"
              [isDirty]="isDirty">
            </app-custom-input>
          </div>
          <div class="clearfix"></div>

          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12"><label>{{labels?.vehicleMake}}</label></div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <app-custom-input [placeholder]="''" formControlName="vehicleMake"
              [type]="labels?.validationData?.name?.type" [className]="'form-control mandatory'"
              [maxLength]="labels?.validationData?.name?.maxLength" [isDisabled]='true' [isDirty]="isDirty">
            </app-custom-input>
          </div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12"><label>{{labels?.vehicleModel}}</label></div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <app-custom-input [placeholder]="''" formControlName="vehicleModel"
              [type]="labels?.validationData?.name?.type" [className]="'form-control mandatory'"
              [maxLength]="labels?.validationData?.name?.maxLength" [isDisabled]='true' [isDirty]="isDirty">
            </app-custom-input>
          </div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12"><label>{{labels?.vehicleNumber}}</label></div>
          <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <app-custom-input [placeholder]="''" formControlName="vehicleNo"
              [type]="labels?.validationData?.receiptNo?.type" [className]="'form-control mandatory textTrans'"
              [maxLength]="labels?.validationData?.receiptNo?.maxLength" [inputClass]="'input-upper'"
              [isDisabled]='true' [isDirty]="isDirty">
            </app-custom-input>
          </div>
          <div class="clearfix"></div>
        </div>

        <!-- Button For Table Options -->

        <div class="row">

          <div class="input-group-btn row ">
            <div class="form-group col-sm-6 col-lg-6 col-md-6 col-xs-12 text-right hetra-tabs">
              <button class="btn btn-primary active" routerlinkactive="active" type="button"
                ng-reflect-router-link-active="active" ng-reflect-klass="btn btn-primary"
                [ngClass]="{'active' : tab === 'tab1'}" ng-reflect-ng-class="[object Object]"
                (click)="showDocuments('applicant')">Show Applicant
                Documents</button>
            </div>

            <div class="form-group col-sm-6 col-lg-6 col-md-6 col-xs-12 text-left hetra-tabs">
              <button class="btn btn-primary" routerlinkactive="active" type="button"
                ng-reflect-router-link-active="active" ng-reflect-klass="btn btn-primary"
                [ngClass]="{'active' : tab === 'tab2'}" ng-reflect-ng-class="[object Object]"
                (click)="showDocuments('colletral')">Show Collateral Documents</button>
            </div>
          </div>
        </div>

        <!-- Table for both applicant and collateral -->

        <div class="table-responsive application mb-10 main-table">
          <table id="POITable_other" border="0" class="table">
            <thead>
              <tr class="caption">
                <th role="columnheader">{{ labels?.sNo }}</th>
                <th role="columnheader">
                  {{ labels?.documentName }}
                </th>
                <th role="columnheader">{{ labels?.documentCategory }}
                </th>
                <th role="columnheader">{{ labels?.documentNumber }}
                </th>
                <th role="columnheader">
                  {{ labels?.issueDate }}
                </th>
                <th role="columnheader">{{labels?.documentExpiryDate}}</th>
                <th role="columnheader">{{labels?.view}}</th>
                <th role="columnheader">{{labels?.screened}}</th>
                <th role="columnheader">{{labels?.sampled}}</th>
                <th role="columnheader">{{labels?.status}}</th>

              </tr>
            </thead>

            <tbody formArrayName="applicantDocuments" 
            *ngIf="!showColletralDocuments">

              <tr *ngFor="
            let item of rcuDetailsForm.controls.applicantDocuments.controls;
            let i = index
          " [formGroupName]="i">
                <td [attr.data-label]="labels?.sNo" data-title="Member">
                  {{i+1}}
                </td>
                <td [attr.data-label]="labels?.documentName" data-title="Member">
                  <app-custom-input id="documentName" [placeholder]="'Document Name'" formControlName="documentName" [isDisabled]='true'
                    [type]="labels?.validationData?.name?.type" [className]="'form-control-ins mandatory'"
                    [maxLength]="labels?.validationData?.name?.maxLength" [isDirty]="isDirty">
                  </app-custom-input>
                </td>
                <td [attr.data-label]="labels?.documentCategory" data-title="Member">
                  <app-custom-input [placeholder]="'Document Category'" formControlName="categoryName"
                    [isDisabled]='true' [type]="labels?.validationData?.name?.type"
                    [className]="'form-control-ins mandatory'" [maxLength]="labels?.validationData?.name?.maxLength"
                    [isDirty]="isDirty">
                  </app-custom-input>
                </td>
                <td [attr.data-label]="labels?.documentNumber" data-title="Member">
                  <app-custom-input id="Number" [placeholder]="'Document Number'" formControlName="documentNo"
                    [type]="labels?.validationData?.amountValue?.type" [className]="'form-control-ins mandatory'"
                    [isDisabled]='true' [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [isDirty]="isDirty">
                  </app-custom-input>
                </td>
                <td [attr.data-label]="labels?.issueDate" data-title="Member">

                  <kendo-datepicker id="issueDate" class="" formControlName="issueDate" [activeView]="'decade'" readonly
                    [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date"
                    class="form-control form-control-cus">
                  </kendo-datepicker>
                </td>
                <td [attr.data-label]="labels?.expiryDate" data-title="Member">

                  <kendo-datepicker id="expiryDate" class="" formControlName="expiryDate" [activeView]="'decade'" readonly
                    [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date"
                    class="form-control form-control-cus">
                  </kendo-datepicker>
                </td>
                <td [attr.data-label]="labels?.documentId" data-title="Member"
                  (click)="clickForLoan360(i,'applicantDocuments')">
                  <input id="documentId" name="input" type="text" class="form-control form-control-cus file-input box-height"
                    formControlName="dmsDocumentID" readonly (click)="downloadDocs($event.target.value)" />
                </td>
                
                <td [attr.data-label]="labels?.screened" data-title="Member">

                  <app-vf-custom-select [values]="[
              { key: '0', value: 'Yes' },
              { key: '1', value: 'No' }
            ]" formControlName="screened" 
            class="form-control-cus">
                  </app-vf-custom-select>
                </td>
                <td [attr.data-label]="labels?.sampled" 
                data-title="Member">
                  <app-vf-custom-select
                   [values]="[
                    { key: '0', value: 'Yes' },
                    { key: '1', value: 'No' }
                    ]" formControlName="sampled" 
                    class="form-control-cus">
                  </app-vf-custom-select>
                </td>
                <td [attr.data-label]="labels?.status" data-title="Member">

                  <app-vf-custom-select 
                  [values]="rcuLov?.status" 
                  class="form-control-cus"
                    formControlName="rcuStatus">
                  </app-vf-custom-select>
                </td>
              </tr>
            </tbody>

            <tbody formArrayName="collateralDocuments" *ngIf="showColletralDocuments">

              <tr *ngFor="
            let item of rcuDetailsForm.controls.collateralDocuments.controls;
            let i = index
          " [formGroupName]="i">
                <td data-title="Member">
                  {{i+1}}
                </td>
                <td [attr.data-label]="labels?.documentName" data-title="Member">
                  <app-custom-input [placeholder]="'Document Name'" formControlName="documentName" [isDisabled]='true'
                    [type]="labels?.validationData?.name?.type" [className]="'form-control form-control-cus mandatory'"
                    [maxLength]="labels?.validationData?.name?.maxLength" [isDirty]="isDirty">
                  </app-custom-input>
                </td>
                <td [attr.data-label]="labels?.documentCategory" data-title="Member">
                  <app-custom-input [placeholder]="'Document Category'" formControlName="categoryName"
                    [isDisabled]='true' [type]="labels?.validationData?.name?.type"
                    [className]="'form-control form-control-cus mandatory'"
                    [maxLength]="labels?.validationData?.name?.maxLength" [isDirty]="isDirty">
                  </app-custom-input>
                </td>
                <td [attr.data-label]="labels?.documentNumber" data-title="Member">
                  <app-custom-input [placeholder]="'Document Number'" formControlName="documentNo"
                    [type]="labels?.validationData?.amountValue?.type"
                    [className]="'form-control form-control-cus mandatory'" [isDisabled]='true'
                    [maxLength]="labels?.validationData?.amountValue?.maxLength" [isDirty]="isDirty">
                  </app-custom-input>
                </td>
                <td [attr.data-label]="labels?.issueDate" data-title="Member">

                  <kendo-datepicker class="" formControlName="issueDate" [activeView]="'decade'" readonly
                    [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date"
                    class="form-control form-control-cus">
                  </kendo-datepicker>
                </td>
                <td [attr.data-label]="labels?.expiryDate" data-title="Member">

                  <kendo-datepicker class="" formControlName="expiryDate" [activeView]="'decade'" readonly
                    [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date"
                    class="form-control form-control-cus">
                  </kendo-datepicker>
                </td>
                <td [attr.data-label]="labels?.documentId" data-title="Member"
                  (click)="clickForLoan360(i, 'collateralDocuments')">
                  <input name="input" type="text" class=" form-control form-control-cus file-input"
                    formControlName="dmsDocumentID" (click)="downloadDocs($event.target.value)" />
                </td>
                
                <td [attr.data-label]="labels?.screened" data-title="Member">

                  <app-vf-custom-select [values]="[
              { key: '0', value: 'Yes' },
              { key: '1', value: 'No' }
            ]" formControlName="screened" class="form-control-cus">
                  </app-vf-custom-select>
                </td>
                <td [attr.data-label]="labels?.sampled" 
                data-title="Member">
                  <app-vf-custom-select [values]="[
              { key: '0', value: 'Yes' },
              { key: '1', value: 'No' }
            ]" formControlName="sampled" class="form-control-cus">
                  </app-vf-custom-select>
                </td>
                <td [attr.data-label]="labels?.status" data-title="Member">
                  <app-vf-custom-select [values]="rcuLov?.status" formControlName="rcuStatus" class="form-control-cus">
                  </app-vf-custom-select>

                </td>
              </tr>
            </tbody>

          </table>

        </div>


        <div class="grid-container">
          <div class="grid-items"><label>{{labels?.rcuReportStatus}}</label></div>
          <div class="grid-items">
            <app-vf-custom-select [values]="rcuLov?.rcuStatus" formControlName="rcuReportStatus">
            </app-vf-custom-select>
            <span *ngIf="submitted">
              <span class="invalid-feedback" *ngIf="f.rcuReportStatus.errors?.required">
                Status is required
              </span>
            </span>
            
          </div>
          
          <div *ngIf="roleType == '6'" class="grid-items">
            <label class="">RCU Upload</label>
          </div>
          <div  *ngIf="roleType == '6'" class="grid-items">
            <label><i aria-hidden="true" class="fa fa-upload fa-3 custom-file-label cursor-pointer"
                id="add_more_documents_upload1a" (click)="uploadDoc()"></i></label>
          </div>
         
          <div class="grid-items">
            <label>RCU Document Id</label>
          </div>
          <div class="grid-items">
            <input class="form-control file-input ng-untouched ng-pristine" 
            formControlName="rcuDocumentId" 
              (click)="clickForLoan360(); downloadDocs($event.target.value)">
            <!-- downloadDocs(rcuDetailsForm.get('rcuDocumentId').value, $event) -->
          </div>
          <div class="grid-items">
            <label>RCU Report Received Date/Time</label>
          </div>
          <div class="grid-items">
            <input class="form-control ng-untouched ng-pristine" formcontrolname="rcuReportReceivedDateTime"
              name="input" readonly="" type="text" disabled="" ng-reflect-name="rcuReportReceivedDateTime"
              value="{{today}}">
          </div>
        </div>
        


        <div class="form-group row">
          <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-12"><label>{{labels?.remark}}</label></div>
          <div class="form-group col-lg-11 col-md-11 col-sm-11 col-xs-12">
            <textarea class="form-control form-control-sm" placeholder="Remarks" formControlName="remarks"></textarea>
          </div>

        </div>
      </div>
    </form>

    <app-shared-user-defined-fields [isDirty]="isDirty" [udfScreenId]="udfScreenId" [udfGroupId]="udfGroupId"
      [udfDetails]="udfDetails" (saveUserdefined)="onSaveuserDefinedFields($event)"></app-shared-user-defined-fields>

  </ng-container>

  <div class="btn-sec clear-both row cst_btm_btns mar-bot-btn">
    <div class="col-sm-5"></div>
    <div class="col-sm-7 text-right">
      <button *ngIf="roleType == '2' && !isRcuDetails && isErr == true && isReInitiate == true" class="btn btn-primary dash_href hvr-sweep-to-left"
       type="button" data-toggle="modal"
       data-target="#myModalReinitiate" >
        ReInitiate
      </button>
      <button class="btn btn-primary dash_href hvr-sweep-to-left" type="button" routerLink="../tvr-details"
        *ngIf="showBack == true">
        Back
      </button>
      <ng-container *ngIf="!isLoan360">
        <button class="btn btn-primary mar-right8" type="button" (click)="onSave()" *ngIf="showSave == true">
          Save
        </button>
      </ng-container>
      <ng-container *ngIf="!isLoan360">
        <button class="btn btn-primary mar-right8" type="button" (click)="onSubmit()" *ngIf="showSave == true">
          Submit
        </button>
      </ng-container>
      <button class="btn btn-primary dash_href hvr-sweep-to-right" type="button" (click)="onNext()"
        *ngIf="showBack == true">
        Next
      </button>
    </div>
  </div>
  <app-upload-modal [showModal]="showModal" (close)="showModal = false" (uploadSuccess)="onUploadSuccess($event)"
    [docsDetails]="selectedDocDetails"></app-upload-modal>

    <div class="modal" id="myModalReinitiate">
      <div class="modal-dialog">
          <div class="modal-content">
  
              <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title"></h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
  
              <!-- Modal body -->
              <div class="modal-body" style="text-align: center;">
                  <p>Are you sure want to Re-Initiate RCU ?</p>
              </div>
  
              <!-- Modal footer -->
              <div class="modal-footer text-center">
                  <button type="button" class="btn btn-success" data-dismiss="modal" id="reject_yes_val" value="Yes"
                  (click)="onReInitiate()">{{labels?.yes}}</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">{{labels?.cancel}}</button>
              </div>
  
          </div>
      </div>
  
  
  </div>

  <div id="overlay" *ngIf="isInitiateScreen">
    <div id="text">
      <div class="panel">
        <div class="panel-body p-0">
          <button type="button" class="close" aria-label="Close" (click)="isInitiateScreen = false">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-dialog">
            <div class="modal-body" style="text-align:center;">
              <p>{{errorMessage}}</p>
              <div class="btn-wrap">
                <button class="btn btn-success btn-ok" (click)="assignRcuTask()">Yes</button>&nbsp;
                <button class="btn btn-danger btn-ok" (click)="isInitiateScreen = false">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay" *ngIf="errorGenerated">
    <div id="text">
      <div class="panel">
        <div class="panel-body">

          <div class="modal-dialog">
            <div class="modal-body" style="text-align:center;">
              <div class="errHead">
                <h3 class="m-0">{{labels?.rcu}}</h3>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <div class="errText">{{errMsg ? errMsg : 'RCU task is In Progress and not completed yet.'}}</div>
                </div>
              </div>
              <div class="btn-wrap">
                <button class="btn btn-primary" (click)="errGenerated()">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>