<div style="text-align: center;">
  <button class="btn btn-primary btn_div" *ngIf="isRcuDetails && isErr" (click)="showInitiateTask()"
    type="button">{{labels?.initiateRcu}}</button>
</div>
<form class="multisteps-form__form" *ngIf="!isRcuDetails && isErr" [formGroup]="rcuDetailsForm">
  <h3 class="dashboard m-0">{{ labels?.rcu }}</h3>
  <!--progress bar-->
  <div class="content">
    <div class="form-group">
      <div class="col-md-3"></div>
      <div class="col-md-2 rcuStatus"><label>{{ labels?.fileRcuStatus }} :</label></div>
      <div class="col-md-2 sampled">
        <input type="radio" name="fileRCUStatus" value="screened" id="screened" formControlName="fileRCUStatus"
          (click)="testRadio('screened')">
        <label for="screened"> Screened</label>
      </div>
      <div class="col-md-4 ">
        <input type="radio" name="fileRCUStatus" value="sampled" id="sampled" formControlName="fileRCUStatus"
          (click)="testRadio('sampled')">
        <label for="sampled"> Sampled</label>
      </div>
      <div class="clearfix"></div>
    </div>


    <div class="clearfix"></div>
    <div class="form-group od-row">
      <div class="col-md-2 pl"><label>{{labels?.applicantNameCam}}</label></div>
      <div class="col-md-2">
        <select class="form-control mandatory select2" id="" formControlName="applicantId" name="applicantId"
          class="form-control text-center" (change)="
      onRcuApplicantChange($event.target.value, i)
    ">
          <option *ngFor="let applicants of applicantDetails" [value]="applicants.applicantId">
            {{ applicants.fullName }}
          </option>
        </select>
      </div>
      <div class="col-md-2 pl"><label>{{labels?.applicantType}}</label></div>
      <div class="col-md-2">
        <app-custom-input [placeholder]="''" formControlName="applicantType" [isDisabled]='true'
          [className]="'form-control mandatory'" [isDirty]="isDirty">
        </app-custom-input>
      </div>
      <div class="col-md-2 pl"><label>{{labels?.loanAmount}}</label></div>
      <div class="col-md-2">
        <app-custom-input [placeholder]="''" formControlName="loanAmount"
          [type]="labels?.validationData?.amountValue?.type" [isDisabled]='true' [className]="'form-control mandatory'"
          [maxLength]="labels?.validationData?.amountValue?.maxLength" [isDirty]="isDirty">
        </app-custom-input>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-group od-row">
      <div class="col-md-2 pl"><label>{{labels?.vehicleMake}}</label></div>
      <div class="col-md-2">
        <app-custom-input [placeholder]="''" formControlName="vehicleMake" [type]="labels?.validationData?.name?.type"
          [className]="'form-control mandatory'" [maxLength]="labels?.validationData?.name?.maxLength"
          [isDisabled]='true' [isDirty]="isDirty">
        </app-custom-input>
      </div>
      <div class="col-md-2 pl"><label>{{labels?.vehicleModel}}</label></div>
      <div class="col-md-2">
        <app-custom-input [placeholder]="''" formControlName="vehicleModel" [type]="labels?.validationData?.name?.type"
          [className]="'form-control mandatory'" [maxLength]="labels?.validationData?.name?.maxLength"
          [isDisabled]='true' [isDirty]="isDirty">
        </app-custom-input>
      </div>
      <div class="col-md-2 pl"><label>{{labels?.vehicleNumber}}</label></div>
      <div class="col-md-2">
        <app-custom-input [placeholder]="''" formControlName="vehicleNo"
          [type]="labels?.validationData?.receiptNo?.type" [className]="'form-control mandatory textTrans'"
          [maxLength]="labels?.validationData?.receiptNo?.maxLength" [inputClass]="'input-upper'" [isDisabled]='true'
          [isDirty]="isDirty">
        </app-custom-input>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row app-doc">
      <span class="input-group-btn">
        <div class="col-md-6 text-right hetra-tabs">

          <button class="btn btn-primary" type="button" (click)="showDocuments('applicant')"
            [ngClass]="{'active': tab==='tab1'}" routerLinkActive="active">{{labels?.showApplicantDocuments}}</button>
        </div>
        <div class="col-md-6 hetra-tabs">

          <button class="btn btn-primary" type="button" (click)="showDocuments('colletral')"
            [ngClass]="{'active': tab==='tab2'}" routerLinkActive="active">{{labels?.showCollateralDocuments}}</button>
        </div>
      </span>
    </div>


    <!-- <div class="for_space"></div> -->


    <div class="table-responsive application mt-3">
      <table id="POITable_other" border="0" class="table">
        <thead>
          <tr class="caption">
            <th role="columnheader">{{ labels?.sNo }}</th>
            <th role="columnheader">
              {{ labels?.documentName }}
            </th>
            <th role="columnheader">{{ labels?.documentCategory }}
            </th>
            <th role="columnheader">{{ labels?.documentNumber }}
            </th>
            <th role="columnheader">
              {{ labels?.issueDate }}
            </th>
            <th role="columnheader">{{labels?.documentExpiryDate}}</th>
            <th role="columnheader">{{labels?.view}}</th>
            <th role="columnheader">{{labels?.screened}}</th>
            <th role="columnheader">{{labels?.sampled}}</th>
            <th role="columnheader">{{labels?.status}}</th>

          </tr>
        </thead>

        <tbody formArrayName="applicantDocuments" *ngIf="!showColletralDocuments">
          <!-- <tbody> -->
          <tr *ngFor="
          let item of rcuDetailsForm.controls.applicantDocuments.controls;
          let i = index
        " [formGroupName]="i">
            <td data-title="Member">
              {{i+1}}
            </td>
            <td data-title="Member">
              <app-custom-input [placeholder]="'Document Name'" formControlName="documentName" [isDisabled]='true'
                [type]="labels?.validationData?.name?.type" [className]="'form-control mandatory'"
                [maxLength]="labels?.validationData?.name?.maxLength" [isDirty]="isDirty">
              </app-custom-input>
            </td>
            <td data-title="Member">
              <app-custom-input [placeholder]="'Document Category'" formControlName="categoryName" [isDisabled]='true'
                [type]="labels?.validationData?.name?.type" [className]="'form-control mandatory'"
                [maxLength]="labels?.validationData?.name?.maxLength" [isDirty]="isDirty">
              </app-custom-input>
            </td>
            <td data-title="Member">
              <app-custom-input [placeholder]="'Document Number'" formControlName="documentNo"
                [type]="labels?.validationData?.amountValue?.type" [className]="'form-control mandatory'"
                [isDisabled]='true' [maxLength]="labels?.validationData?.amountValue?.maxLength" [isDirty]="isDirty">
              </app-custom-input>
            </td>
            <td data-title="Member">

              <kendo-datepicker class="form-control" formControlName="issueDate" [activeView]="'decade'" readonly
                [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date">
              </kendo-datepicker>
            </td>
            <td data-title="Member">

              <kendo-datepicker class="form-control" formControlName="expiryDate" [activeView]="'decade'" readonly
                [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date">
              </kendo-datepicker>
            </td>
            <td data-title="Member">
              <input name="input" type="text" class="form-control file-input" formControlName="dmsDocumentID" readonly
                (click)="downloadDocs($event.target.value)" />
            </td>
            <td data-title="Member">

              <app-vf-custom-select [values]="[
            { key: '0', value: 'Yes' },
            { key: '1', value: 'No' }
          ]" formControlName="sampled">
              </app-vf-custom-select>
            </td>
            <td data-title="Member">

              <app-vf-custom-select [values]="[
            { key: '0', value: 'Yes' },
            { key: '1', value: 'No' }
          ]" formControlName="screened">
              </app-vf-custom-select>
            </td>
            <td data-title="Member">

              <app-vf-custom-select [values]="rcuLov?.status" formControlName="rcuStatus">
              </app-vf-custom-select>
            </td>
          </tr>
        </tbody>
        <tbody formArrayName="collateralDocuments" *ngIf="showColletralDocuments">

          <tr *ngFor="
          let item of rcuDetailsForm.controls.collateralDocuments.controls;
          let i = index
        " [formGroupName]="i">
            <td data-title="Member">
              {{i+1}}
            </td>
            <td data-title="Member">
              <app-custom-input [placeholder]="'Document Name'" formControlName="documentName" [isDisabled]='true'
                [type]="labels?.validationData?.name?.type" [className]="'form-control mandatory'"
                [maxLength]="labels?.validationData?.name?.maxLength" [isDirty]="isDirty">
              </app-custom-input>
            </td>
            <td data-title="Member">
              <app-custom-input [placeholder]="'Document Category'" formControlName="categoryName" [isDisabled]='true'
                [type]="labels?.validationData?.name?.type" [className]="'form-control mandatory'"
                [maxLength]="labels?.validationData?.name?.maxLength" [isDirty]="isDirty">
              </app-custom-input>
            </td>
            <td data-title="Member">
              <app-custom-input [placeholder]="'Document Number'" formControlName="documentNo"
                [type]="labels?.validationData?.amountValue?.type" [className]="'form-control mandatory'"
                [isDisabled]='true' [maxLength]="labels?.validationData?.amountValue?.maxLength" [isDirty]="isDirty">
              </app-custom-input>
            </td>
            <td data-title="Member">

              <kendo-datepicker class="form-control" formControlName="issueDate" [activeView]="'decade'" readonly
                [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date">
              </kendo-datepicker>
            </td>
            <td data-title="Member">

              <kendo-datepicker class="form-control" formControlName="expiryDate" [activeView]="'decade'" readonly
                [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date">
              </kendo-datepicker>
            </td>
            <td data-title="Member">
              <input name="input" type="text" class="form-control file-input" formControlName="dmsDocumentID" readonly
                (click)="downloadDocs($event.target.value)" />
            </td>
            <td data-title="Member">

              <app-vf-custom-select [values]="[
            { key: '0', value: 'Yes' },
            { key: '1', value: 'No' }
          ]" formControlName="sampled">
              </app-vf-custom-select>
            </td>
            <td data-title="Member">

              <app-vf-custom-select [values]="[
            { key: '0', value: 'Yes' },
            { key: '1', value: 'No' }
          ]" formControlName="screened">
              </app-vf-custom-select>
            </td>
            <td data-title="Member">
              <app-vf-custom-select [values]="rcuLov?.status" formControlName="rcuStatus">
              </app-vf-custom-select>

            </td>
          </tr>
        </tbody>

      </table>

    </div>

    <div class="form-group od-row row">
      <div class="col-md-1 fitWidth pl-top"><label>{{labels?.rcuReportStatus}}</label></div>
      <div class="col-md-2">
        <app-vf-custom-select [values]="rcuLov?.rcuStatus" formControlName="rcuReportStatus">
        </app-vf-custom-select>
      </div>
      <div class="col-md-1 fitWidth pl-top" *ngIf="roleType == '6'">
        <label class="">{{labels?.rcuUpload}}</label></div>
      <div class="col-md-1 pl-top" *ngIf="roleType == '6'">

        <label><i class="fa fa-upload fa-3 custom-file-label cursor-pointer" aria-hidden="true"
            id="add_more_documents_upload1a" (click)="uploadDoc()"></i></label>

      </div>
      <div class="col-md-1 fitWidth pl-top"><label>{{labels?.rcuDocumentId}}</label></div>
      <div class="col-md-1">
        <input name="input" type="text" class="form-control file-input" formControlName="rcuDocumentId" readonly
          (click)="downloadDocs($event.target.value)" />
      </div>
      <div class="col-md-2" style="width: 14%;"><label>{{labels?.rcuReportReceivedDateandTime}}</label></div>
      <div class="col-md-2">
        <!-- <span class ="strong">{{labels?.rcuReportReceivedDateandTime}}</span> -->
        <input name="input" type="text" class="form-control" formControlName="rcuReportReceivedDateTime" readonly
        value="{{today}}" />
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="form-group od-row">
      <div class="col-md-1  pl-top"><label>{{labels?.remark}}</label></div>
      <div class="col-md-11">
        <textarea class="form-control form-control-sm" placeholder="Text Area" formControlName="remarks"></textarea>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>

<div class="btn-sec clear-both row cst_btm_btns mar-bot-btn">
  <div class="col-sm-5"></div>
  <div class="col-sm-7 text-right">
    <button class="btn btn-primary dash_href" type="button" routerLink="../tvr-details" *ngIf="showBack == true">
      Back
    </button>
    <button class="btn btn-primary mar-right8" type="button" (click)="onSave()" *ngIf="showSave == true">
      Save
    </button>
    <button class="btn btn-primary mar-right8" type="button" (click)="onSubmit()" *ngIf="showSave == true">
      Submit
    </button>
    <button class="btn btn-primary dash_href" type="button" (click)="onNext()" *ngIf="showBack == true">
      Next
    </button>
  </div>
</div>
<app-upload-modal [showModal]="showModal" (close)="showModal = false" (uploadSuccess)="onUploadSuccess($event)"
  [docsDetails]="selectedDocDetails"></app-upload-modal>

<div id="overlay" *ngIf="isInitiateScreen">
  <div id="text">
    <div class="panel">
      <div class="panel-body p-0">
        <button type="button" class="close" aria-label="Close" (click)="isInitiateScreen = false">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog">
          <div class="modal-body" style="text-align:center;">
            <p>{{errorMessage}}</p>
            <div class="btn-wrap">
              <button class="btn btn-success" (click)="assignRcuTask()">Yes</button>&nbsp;
              <button class="btn btn-danger" (click)="isInitiateScreen = false">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="overlay" *ngIf="errorGenerated">
  <div id="text">
    <div class="panel">
      <div class="panel-body">

        <div class="modal-dialog">
          <div class="modal-body" style="text-align:center;">
            <div class="errHead">
              <h3 class="m-0">{{labels?.rcu}}</h3>
            </div>
            <div class="row">
              <div class="col-md-12">

                <div class="errText">{{errMsg}}</div>
              </div>
            </div>
            <div class="btn-wrap">
              <button class="btn btn-primary" (click)="errGenerated()">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>