<div class="container-fluid mar-bottom">
    <ul class="nav nav-pills nav-justified" id="background_white">
        <li class="active" id="new_leads" [routerLink]="[ '/pages/dashboard/cpc-maker/maker-leads-with-me' ]" routerLinkActive="active"><a data-toggle="tab">Leads Pending with Me</a></li>
        <li id="sanction_leads" class="" [routerLink]="[ '/pages/dashboard/cpc-maker/maker-leads-with-cpc']" routerLinkActive="active"><a data-toggle="tab">Leads Pending with CPC</a></li>
    </ul>
</div>
<router-outlet></router-outlet>