.mar-top19 {
    margin-top: 18px;
}

.text-underline {
    text-decoration: underline;
    color: darkslateblue;
}

.cam_table_proposed {
    width: 98%;
    margin: 0 auto;
}

.particulars {
    padding-right: 80px;
}

.bank_name {
    background-color: #f7f7f7;
}

.padding-10 {
    padding: 10px;
}

.dash_href {
    margin: 5px;
}

div>input {
    padding-bottom: 10px;
}