<main class="mar-top90">

    <div class="container overflow-hidden">
        <app-lead-section-header></app-lead-section-header>


        <h3 class="dashboard m-0">Tele Verification Form</h3>
        <div class="multisteps-form">
            <div class="content">
                <form [formGroup]="teleVerificationForm">
                    <div class="row">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="leadNumber">{{labels.leadNumber}}</label>
                                <input type="text" class="form-control" id="leadNumber" name="leadNumber" formControlName="leadId">
                            </div>
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="applicantName">{{labels.applicantName}}</label>
                                <input type="text" class="form-control" id="applicantName" name="applicantName" formControlName="applicantName">
                            </div>
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="soName">{{labels.soName}}</label>
                                <input type="text" class="form-control" id="soName" name="soName" formControlName="soName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="assetCost">{{labels.assetCost}}</label>
                                <!-- <app-custom-input formControlName="assetCost" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.amountValue.maxLength" [isRequired]="'Asset cost is required'" [isDirty]="isDirty" [type]="validationData?.amountValue.type">
                                </app-custom-input> -->
                                <input type="text" readonly class="form-control" id="assetCost" name="assetCost" formControlName="assetCost">
                            </div>
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="financeAmount">{{labels.financeAmount}}</label>
                                <app-custom-input id="financeAmount" name="financeAmt" formControlName="financeAmt" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.amountValue.maxLength" [isRequired]="'Finance amount is required'"
                                    [isDirty]="isDirty" [type]="validationData?.amountValue.type">
                                </app-custom-input>
                            </div>
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="tenureInMonths">{{labels.tenureInMonths}}</label>
                                <!-- <app-custom-input id="tenureInMonths" formControlName="tenureInMonth" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.percentage.maxLength" [isRequired]="'Tenure months is required'" [isDirty]="isDirty"
                                    [type]="validationData?.percentage.type">
                                </app-custom-input> -->
                                <input type="text" readonly class="form-control" id="tenureInMonths" name="tenureInMonth" formControlName="tenureInMonth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="sourceOfProposal" class="ellipsify">{{labels.sourceOfProposal}}</label>
                                <input type="text" readonly class="form-control mar-top19" id="sourceOfProposal" name="sourceOfProposal" formControlName="srcOfProposal">

                            </div>
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="sourcing_code" class="ellipsify">{{labels.knowAboutEquitasBank}}</label>
                                <app-vf-custom-select [values]="LOV.LOVS.howDidCustomerKnowEquitasBank" formControlName="referredBy" [isDirty]="isDirty" [isRequired]="'Select any referral Type'"> </app-vf-custom-select>

                            </div>
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="product" class="ellipsify">{{labels.product}}</label>
                                <input type="text" readonly class="form-control mar-top19" id="product" name="product" formControlName="product">
                                <!-- <app-vf-custom-select [values]="LOV.LOVS.applicationReferenceStatus" formControlName="product" [isRequired]="'Select any product'" [isDirty]="isDirty"> </app-vf-custom-select> -->

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="spoke_code_location" class="asset_type">{{labels.assetType}}</label>

                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="assetType" formControlName="assetType" value="new">New
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="assetType" formControlName="assetType" value="used">Used
                                    </label>
                                </div>
                                <div *ngIf="isDirty">
                                    <div style="color:red" *ngIf="teleVerificationForm.get('assetType').errors?.required">
                                        Asset type is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                <label for="emi">{{labels.emi}}</label>
                                <app-custom-input id="emi" formControlName="emi" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.amountValue.maxLength" [isRequired]="'EMI is required'" [isDirty]="isDirty" [type]="validationData?.amountValue.type">
                                </app-custom-input>
                            </div>
                        </div>
                    </div>


                    <!-- Vehicle and loan related fields -->
                    <div>
                        <h3 class="dashboard text-center text-underline m-3">Vehicle and Loan related Fields</h3>
                        <div class="row">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="needForProposedVehicle" class="ellipsify">{{changeLabelsForProposed}}</label>
                                    <app-custom-input id="needForProposedVehicle" formControlName="ndForProposedVehicle" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Need for proposed vehicle is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="routeOfOperation" class="ellipsify">{{changeLabelsForRoute}}</label>
                                    <app-custom-input id="routeOfOperation" formControlName="route" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Route of operation is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="lead_created_by_source" class="ellipsify">{{labels.contractDetails}}</label>
                                    <app-custom-input id="contractDetails" formControlName="contractDetails" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Contract details is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="typeofGoodsCarried" class="ellipsify">{{changeLabelsForGoods}}</label>
                                    <input type="text" class="form-control" id="typeofGoodsCarried" name="typeofGoodsCarried" formControlName="typeOfGoods">
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="fundingAmountRequested" class="ellipsify">{{labels.fundingAmountRequested}}</label>
                                    <app-custom-input id="fundingAmountRequested" formControlName="amountRequested" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.amountValue.maxLength" [isRequired]="'Funding amount is required'"
                                        [isDirty]="isDirty" [type]="validationData?.amountValue.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="endUseFunds" class="ellipsify">{{labels.endUseFunds}}</label>
                                    <app-custom-input id="endUseFunds" formControlName="fundEndUse" [className]="'form-control mandatory'" [maxLength]="validationData?.endUseOfFunds.maxLength" [isRequired]="'Other Vehicle details is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="tenureRequested">{{labels.tenureRequested}}</label>
                                    <app-custom-input id="tenureRequested" formControlName="tenureRequested" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.percentage.maxLength" [isRequired]="'Tenure is required'" [isDirty]="isDirty"
                                        [type]="validationData?.percentage.type">
                                    </app-custom-input>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- Tele Verification -->
                    <div>

                        <h3 class="dashboard text-center text-underline m-3">Tele Verification</h3>
                        <div class="row">
                            <h4>Residence</h4>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="otherVehicles">{{labels.otherVehicles}}</label>
                                    <app-custom-input id="otherVehicles" formControlName="otherVehiclesOwned" [className]="'form-control mandatory'" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Other Vehicle details is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="mobileNo">{{labels.mobileNo}}</label>
                                    <!-- <app-custom-input id="mobileNo" formControlName="residentPhnNo" [className]="'form-control'" [placeholder]="'Mobile'" [maxLength]="validationData?.mobileNumber.maxLength" [patternCheck]="validationData?.mobileNumber.pattern" [isRequired]="'Mobile Number is required'"
                                        [isDirty]="isDirty" [type]="validationData?.mobileNumber.type">
                                    </app-custom-input> -->
                                    <input type="text" readonly class="form-control" id="mobileNo" name="residentPhnNo" formControlName="residentPhnNo">
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="address" class="">{{labels.address}}</label>
                                    <app-custom-input id="address" formControlName="residentAddress" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Address is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="anyOtherLoansAsset">{{labels.anyOtherLoansAsset}}</label>
                                    <app-custom-input id="anyOtherLoansAsset" formControlName="otherLoans" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Other Loan details is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="teleVerification-emi">{{labels.emi}}</label>
                                    <app-custom-input id="teleVerification-emi" formControlName="otherLoanEmi" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.amountValue.maxLength" [isRequired]="'EMI is required'" [isDirty]="isDirty"
                                        [type]="validationData?.amountValue.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="emi">{{labels.noOfEmi}}</label>
                                    <app-custom-input id="noOfEmi" formControlName="otherLoanNoOfEmi" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.percentage.maxLength" [isRequired]="'Number of years is required'" [isDirty]="isDirty"
                                        [type]="validationData?.percentage.type">
                                    </app-custom-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="noOfYears">{{labels.noOfYears}}</label>
                                    <app-custom-input id="noOfYears" formControlName="residentNoOfYrs" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.percentage.maxLength" [isRequired]="'Number of years is required'" [isDirty]="isDirty"
                                        [type]="validationData?.percentage.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="teleVerification-CC">{{labels.cc}}</label>
                                    <app-custom-input id="teleVerificationCC" formControlName="cc" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'CC is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="status">{{labels.status}}</label>
                                    <app-vf-custom-select [values]="LOV.LOVS.tvrBusiness" formControlName="tvrStatus" [isRequired]="'Select any status Type'" [isDirty]="isDirty"> </app-vf-custom-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="dob">{{labels.dob}}</label>
                                    <kendo-datepicker class="form-control mandatory" formControlName="dob" [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Date of birth" [activeView]="'decade'"></kendo-datepicker>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="spokenTo">{{labels.spokenTo}}</label>
                                    <app-custom-input id="spokenTo" formControlName="spokenTo" [maxLength]="validationData?.name.maxLength" [isRequired]="'name is required'" [isDirty]="isDirty" [type]="validationData?.name.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="familyMembers">{{labels.familyMembers}}</label>
                                    <app-custom-input id="familyMembers" formControlName="familyMembers" [maxLength]="validationData?.fullName.maxLength" [isRequired]="'Family Members is required'" [isDirty]="isDirty" [type]="validationData?.fullName.type">
                                    </app-custom-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="relationWithApplicant">{{labels.relationWithApplicant}}</label>
                                    <app-vf-custom-select [values]="LOV.LOVS.relationship" formControlName="relationShip" [isDirty]="isDirty" [isRequired]="'Select any relationship Type'"></app-vf-custom-select>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="spoke_code_location" class="asset_type">{{labels.confirmedAddress}}</label>
                                    <div>
                                        <label class="radio-inline">
                                        <input type="radio" name="addressConfirmed" formControlName="addressConfirmed" value="1">Yes
                                    </label>
                                        <label class="radio-inline">
                                        <input type="radio" name="addressConfirmed" formControlName="addressConfirmed" value="0">No
                                    </label>
                                    </div>
                                    <div *ngIf="isDirty">
                                        <div style="color:red" *ngIf="teleVerificationForm.get('addressConfirmed').errors?.required">
                                            Address confirmed is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="sourcing_type" class="asset_type">{{labels.residenceStability}}</label>
                                    <div>
                                        <label class="radio-inline">
                                        <input type="radio" name="residenceStabilityConfirmed" formControlName="residenceStabilityConfirmed" value="1">Yes
                                    </label>
                                        <label class="radio-inline">
                                        <input type="radio" name="residenceStabilityConfirmed" formControlName="residenceStabilityConfirmed" value="0">No
                                    </label>
                                    </div>
                                    <div *ngIf="isDirty">
                                        <div style="color:red" *ngIf="teleVerificationForm.get('residenceStabilityConfirmed').errors?.required">
                                            Residence confirmed is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="sourcing_type" class="asset_type">{{labels.customerAvailability}}</label>
                                    <div>
                                        <label class="radio-inline">
                                    <input type="radio" name="customerAvailabilty"formControlName="customerAvailabilty" value="1">Yes
                                </label>
                                        <label class="radio-inline">
                                    <input type="radio" name="customerAvailabilty"formControlName="customerAvailabilty" value="0">No
                                </label>
                                    </div>
                                    <div *ngIf="isDirty">
                                        <div style="color:red" *ngIf="teleVerificationForm.get('customerAvailabilty').errors?.required">
                                            Customer availability is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4>Office</h4>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="workExperience">{{labels.workExperience}}</label>
                                    <app-custom-input id="workExperience" formControlName="wrkExperience" [className]="'form-control mandatory'" [maxLength]="validationData?.accountNumber.maxLength" [isRequired]="'Work Experience is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="mobileNo2">{{labels.mobileNo}}</label>
                                    <!-- <app-custom-input id="officePhnNo" formControlName="officePhnNo" [className]="'form-control'" [placeholder]="'Mobile'" [maxLength]="validationData?.mobileNumber.maxLength" [patternCheck]="validationData?.mobileNumber.pattern" [isRequired]="'Mobile Number is required'"
                                        [isDirty]="isDirty" [type]="validationData?.mobileNumber.type">
                                    </app-custom-input> -->
                                    <input type="text" readonly class="form-control" id="officePhnNo" name="officePhnNo" formControlName="officePhnNo">
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="extn">{{labels.extn}}</label>
                                    <app-custom-input id="extn" formControlName="officePhnExt" [className]="'form-control'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.extn.maxLength" [isRequired]="'Extn is required'" [isDirty]="isDirty" [type]="validationData?.extn.type">
                                    </app-custom-input>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="workStability">{{labels.workStability}}</label>
                                    <app-custom-input id="workStability" formControlName="wrkStability" [className]="'form-control mandatory'" [maxLength]="validationData?.accountNumber.maxLength" [isRequired]="'Work stability is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="natureOfBusiness">{{labels.natureOfBusiness}}</label>
                                    <input type="text" class="form-control" id="natureOfBusiness" name="natureOfBusiness" formControlName="natureOfBusiness">
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="transactionType" class="asset_type">{{labels.transactionType}}</label>
                                    <app-vf-custom-select [values]="LOV.LOVS.tvrTranscationType" formControlName="typeOfTransaction" [isDirty]="isDirty" [isRequired]="'Select any transaction Type'"> </app-vf-custom-select>
                                </div>


                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="businessStability">{{labels.businessStability}}</label>
                                    <app-custom-input id="businessStability" formControlName="businessStability" [className]="'form-control mandatory'" [maxLength]="validationData?.accountNumber.maxLength" [isRequired]="'Bussiness stability is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="coNameAndAddress">{{labels.coNameAndAddress}}</label>
                                    <app-custom-input id="coNameAndAddress" formControlName="compNameAddress" [className]="'form-control mandatory'" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Address details is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="designation">{{labels.designation}}</label>
                                    <app-custom-input id="designation" formControlName="designation" [className]="'form-control mandatory'" [maxLength]="validationData?.name.maxLength" [isRequired]="'Designation is required'" [isDirty]="isDirty" [type]="validationData?.name.type">
                                    </app-custom-input>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="industryType">{{labels.industryType}}</label>
                                    <input type="text" class="form-control" id="industryType" name="industryType" formControlName="industryType">
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="yearsInEmP/Bussiness">{{labels.yearsInEmpBusiness}}</label>
                                    <app-custom-input id="yearsInEmP" formControlName="yrsInEmployment" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.percentage.maxLength" [isRequired]="'Employment years is required'" [isDirty]="isDirty"
                                        [type]="validationData?.percentage.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="sourcing_type" class="asset_type">{{labels.ifBusiness}}</label>
                                    <app-vf-custom-select [values]="LOV.LOVS.tvrBusiness" formControlName="ifBusiness" [isRequired]="'Select any Bussiness Type'" [isDirty]="isDirty"> </app-vf-custom-select>

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="employees">{{labels.employees}}</label>
                                    <app-custom-input id="employees" formControlName="employees" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.employees.maxLength" [isRequired]="'Employees is required'" [isDirty]="isDirty" [type]="validationData?.employees.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="monthlySalaryGross">{{labels.monthlySalaryGross}}</label>
                                    <app-custom-input id="monthlySalaryGross" formControlName="monthlyGrossSalary" [className]="'form-control mandatory'" [patternCheck]="regexPattern.amount" [maxLength]="validationData?.amountValue.maxLength" [isRequired]="'Salary is required'" [isDirty]="isDirty"
                                        [type]="validationData?.amountValue.type">
                                    </app-custom-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="otherSourcesofIncome">{{labels.otherSourcesofIncome}}</label>
                                    <app-custom-input id="otherSourcesofIncome" formControlName="otherIncome" [className]="'form-control mandatory'" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Ohter Source Income is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                    </app-custom-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                                    <label for="decision">{{labels.decision}}</label>
                                    <app-vf-custom-select [values]="LOV.LOVS.tvrDecision" formControlName="decision" [isRequired]="'Select any decision Type'" [isDirty]="isDirty"> </app-vf-custom-select>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!-- Reference Details -->
                    <div class="row" *ngIf="applicantType === 'Applicant'">
                        <h3 class="dashboard text-center text-underline m-3">Reference Details</h3>
                        <table class="table-bordered cam_table_proposed mt-3">
                            <thead>
                                <tr class="">
                                    <th class="particulars bank_name">{{labels.particulars}}</th>
                                    <th class="bank_name text-center">{{labels.reference1}}</th>
                                    <th class="bank_name text-center">{{labels.reference2}}</th>
                                </tr>
                            </thead>
                            <tbody formGroupName="applicationReferences">
                                <tr>
                                    <th class="bank_name">{{labels.name}}</th>
                                    <td formGroupName="reference1">
                                        <app-custom-input id="refFirstName1" formControlName="firstName" [className]="'form-control mandatory'" [maxLength]="validationData?.name.maxLength" [isRequired]="'Name is required'" [isDirty]="isDirty" [type]="validationData?.name.type">
                                        </app-custom-input>
                                    </td>
                                    <td formGroupName="reference2">
                                        <app-custom-input id="refFirstName2" formControlName="firstName" [className]="'form-control mandatory'" [maxLength]="validationData?.name.maxLength" [isRequired]="'Name is required'" [isDirty]="isDirty" [type]="validationData?.name.type">
                                        </app-custom-input>
                                    </td>

                                </tr>
                                <tr>

                                    <th class="bank_name">{{labels.address}}</th>
                                    <td formGroupName="reference1">
                                        <app-custom-input id="refAddress1" formControlName="address" [className]="'form-control mandatory'" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Address details is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                        </app-custom-input>
                                    </td>
                                    <td formGroupName="reference2">
                                        <app-custom-input id="refAddress2" formControlName="address" [className]="'form-control mandatory'" [maxLength]="validationData?.contractDetails.maxLength" [isRequired]="'Address details is required'" [isDirty]="isDirty" [type]="validationData?.contractDetails.type">
                                        </app-custom-input>
                                    </td>

                                </tr>
                                <tr>
                                    <th class="bank_name">{{labels.mobileNo}}</th>
                                    <td formGroupName="reference1">
                                        <app-custom-input id="refmobileNo1" formControlName="mobileNo" [className]="'form-control'" [placeholder]="'Mobile'" [maxLength]="validationData?.mobileNumber.maxLength" [patternCheck]="validationData?.mobileNumber.pattern" [isRequired]="'Mobile Number is required'"
                                            [isDirty]="isDirty" [type]="validationData?.mobileNumber.type">
                                        </app-custom-input>
                                    </td>
                                    <td formGroupName="reference2">
                                        <app-custom-input id="refmobileNo2" formControlName="mobileNo" [className]="'form-control'" [placeholder]="'Mobile'" [maxLength]="validationData?.mobileNumber.maxLength" [patternCheck]="validationData?.mobileNumber.pattern" [isRequired]="'Mobile Number is required'"
                                            [isDirty]="isDirty" [type]="validationData?.mobileNumber.type">
                                        </app-custom-input>
                                    </td>

                                </tr>
                                <tr>

                                    <th class="bank_name">{{labels.status}}</th>
                                    <td formGroupName="reference1">
                                        <app-vf-custom-select [values]="LOV.LOVS.applicationReferenceStatus" formControlName="referenceStatus" [isRequired]="'Select any status'" [isDirty]="isDirty"> </app-vf-custom-select>

                                        <td formGroupName="reference2">
                                            <app-vf-custom-select [values]="LOV.LOVS.applicationReferenceStatus" formControlName="referenceStatus" [isRequired]="'Select any status'" [isDirty]="isDirty"> </app-vf-custom-select>

                                        </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h3 class="dashboard text-center text-underline m-3">{{labels.referenceRemarks}}</h3>
                        <textarea type="text" class="form-control text_area" maxlength="200" formControlName="remarks" required></textarea>
                        <div *ngIf="isDirty || teleVerificationForm.get('remarks').touched">

                            <div style="color:red" *ngIf="teleVerificationForm.get('remarks').errors?.required">
                                Remakrs is required
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="dashboard text-center text-underline m-3">{{labels.cibilRemarks}}</h3>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <h5>{{labels.cibilOverdue}}</h5>
                            <textarea type="text" class="form-control" maxlength="200" formControlName="cibilOverDue" id="cibilOverdur" name=""></textarea>
                            <div *ngIf="isDirty || teleVerificationForm.get('cibilOverDue').touched">
                                <div style="color:red" *ngIf="teleVerificationForm.get('cibilOverDue').errors?.required">
                                    Cibil remarks is required
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <h5>{{labels.cibilReport}}</h5>
                            <textarea type="text" class="form-control" maxlength="200" formControlName="cibilClarification" id="cibilReport" name=""></textarea>
                            <div *ngIf="isDirty || teleVerificationForm.get('cibilClarification').touched">
                                <div style="color:red" *ngIf="teleVerificationForm.get('cibilClarification').errors?.required">
                                    Cibil Clarification report is required
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-3 col-lg-3">
                            <label for="lead_created_date">{{labels.date}}</label>
                            <kendo-datepicker class="form-control mandatory" [readonly]="true" formControlName="tvrDate" [format]="'dd/MM/yyyy'" [max]="toDayDate" [activeView]="'decade'"></kendo-datepicker>
                            <!-- <input type="date" readonly class="form-control" id="lead_created_Date" name="lead_created_Date" formControlName="tvrDate"> -->
                        </div>
                        <div class="form-group col-sm-6 col-md-3 col-lg-3">
                            <label for="lead_created_time"> {{labels.time}}</label>
                            <input type="text" readonly class="form-control" id="lead_created_time" name="lead_created_time" formControlName="tvrTime">
                        </div>
                        <div class="form-group col-sm-6 col-md-3 col-lg-3">
                            <label for="tvrDoneByName">{{labels.tvrDoneByName}}</label>
                            <input type="text" readonly class="form-control" id="tvrDoneByName" name="tvrDoneByName" formControlName="tvrDoneBy">
                        </div>
                        <div class="form-group col-sm-6 col-md-3 col-lg-3">
                            <label for="eCode">{{labels.eCode}}</label>
                            <input type="text" readonly class="form-control" id="eCode" name="eCode" formControlName="eCode">
                        </div>
                    </div>
                </form>
                <div class="row mar-top19">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7 padding-10 text-right">
                        <button type="button" class="btn btn-primary dash_href" (click)="onBack()"> {{labels.back}} </button>
                        <button type="submit" class="btn btn-primary dash_href" (click)="onSave()" *ngIf="!disableSaveBtn"> {{labels.save}} </button>
                        <button class="btn btn-primary dash_href" [disabled]="!isSaved" type="button" (click)="onSubmit()" data-toggle="modal" data-target="#myModal">{{labels.submit}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<div class="modal" id="myModal" role="dialog" *ngIf="isModal" [ngClass]="{ in: isModal, showModal: isModal }">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="otpForm">
                <div class="content">
                    <h3 class="title">TVR OTP Verification</h3>
                    <hr />
                    <div id="tvrOtp">
                        <p>Please enter OTP shared by customer</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <label>OTP Sent To {{mobileNo}}</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control text-center" type="password" maxlength="6" placeholder="Enter OTP" autofocus="" formControlName="otp" />
                            <div *ngIf="otpForm.get('otp').errors?.minlength || otpForm.get('otp').errors?.maxlength">
                            </div>
                        </div>

                    </div>&nbsp;
                    <div class="row justify-content-between">
                        <div class="col-md-5"></div>
                        <div class="col-md-3">
                            <button class="btn  btn-primary" id="resendotp_button" (click)=sendOtp()> Resend OTP </button>
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-primary" id="validateOtp" (click)="validateOtp() ">Verify OTP</button>
                            <button class="btn btn-primary " data-dismiss="modal" style="display: none;" #closeModal (click)=sendOtp()> close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>