<main style="padding-bottom: 30px;">
    <div class="container overflow-hidden">
        <div class="multisteps-form">
            <div class="print_top">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <p id="terms_sheet_headline">{{labels.termSheetTag1}}</p>
                        <p id="terms_sheet_headline"> {{labels.termSheet}}</p>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs- col-md-6">
                        <p id="terms_sheet_headline_right">{{labels.date}} : {{todayDate}}</p>
                        <p id="terms_sheet_headline_right"> {{labels.page}} : 1</p>
                    </div>
                </div>
                <div id="table_section_bottom">
                    <table class="table-responsive  table table-borderless">
                        <thead>
                            <tr id="table_header_top">
                                <th id="table_header_top_tag3"> {{labels.applicationNo}}. :
                                    {{applicationDetails?.applicantionNum}}</th>
                                <th></th>
                                <th id="table_header_top_tag1">{{labels.proposalNo}}. :
                                    {{applicationDetails?.proposalNum}}</th>
                                <th></th>
                                <th></th>
                                <th id="table_header_top_tag2">{{labels.scheme}} : {{applicationDetails?.scheme}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="table_column_width15">{{labels.applicationType}}</td>
                                <td>:</td>
                                <td id="table_column_width10">{{applicationDetails?.applicationType}}</td>
                                <td id="table_column_width10">{{labels.product}} </td>
                                <td>: </td>
                                <td>{{applicationDetails?.product}}</td>
                            </tr>
                        </tbody>
                    </table>    


                    <table class="table-responsive table table-borderless" *ngFor = "let assetDetailsData of assetDetails ; let i=index">
                        <thead>
                            <tr id="table_header_top" style="border: none !important">
                                <th id="table_column_width15"></th>
                                 <th></th>
                                <th id="table_column_width10">
                                    
                                   </th>
                                <th id="table_column_width10"></th>
                                <th></th>
                                <th id="table_header_top_tag2">
                                    </th>
                            </tr>
                        </thead>
                        <tbody>
                    <!-- assetDetails start -->
                            <tr>
                                
                                <td>{{labels.assetType}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.type}}</td>
                                <td>{{labels.manufacturer}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.manufac}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.termSheetTag2}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.manufacMonthYr}}</td>
                                <td>{{labels.model}}</td>
                                <td>: </td>
                                <td>{{assetDetailsData.model}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.registrationNo}}.</td>
                                <td>:</td>
                                <td>{{assetDetailsData.regNo}}</td>
                                <td>{{labels.engineNo}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.engineNo}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.permitStatus}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.permitStatus}}</td>
                                <td>{{labels.chasisNo}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.chasisNo}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.taxArrears}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.taxArrears}}</td>
                                <td>{{labels.agreementType}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.agreementType}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.classificationType}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.classificationType}}</td>
                                <td>{{labels.NoofLIVELoans}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.liveLoans}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.fcExpiryDate}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.fcExpDate}}</td>
                                <td>{{labels.schemeDescr}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.schemeDesc}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.vehicleRegistrationDate}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.regDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{labels.fcExpiryGapDays}}</td>
                                <td>: </td>
                                <td> {{assetDetailsData.fcExpGapDays}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.cubicCapacity}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.cubicCapacity}}</td>
                                <td>{{labels.seatingCapacity}}</td>
                                <td>: </td>
                                <td>{{assetDetailsData.seatingCapacity}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.gvw}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.gvw}}</td>
                                <td>{{labels.advAdjustmentIMC}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.advAdjIMC}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.collateralApplicable}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.colApplicable}}</td>
                                <td>{{labels.collateralName}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.colName}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.spokeLocation}}</td>
                                <td>:</td>
                                <td>{{assetDetailsData.spokeLoc}}</td>
                                <td>{{labels.locationName}}</td>
                                <td>: </td>
                                <td>{{assetDetailsData.locName}}</td>
                            </tr>
                            <!-- assetDetails end -->
                        </tbody>
                    </table>
                    <table class="table-responsive  table table-borderless">
                        <thead>
                            <tr id="table_header_top" style="border: none !important">
                                <th id="table_column_width15"></th>
                                 <th style=" width: 15px;"s></th>
                                <th id="table_column_width10">
                                    
                                   </th>
                                <th id="table_column_width10"></th>
                                <th></th>
                                <th id="table_header_top_tag2">
                                    </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                 <!-- psl start -->
                                <td>{{labels.pslCategory}}</td>
                                <td>:</td>
                                <td>{{pslDetails?.category}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{labels.pslSubCategory}}</td>
                                <td>:</td>
                                <td>{{pslDetails?.subCategory}}</td>
                                <td> </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{labels.folioNumber}}</td>
                                <td>:</td>
                                <td>{{pslDetails?.folioNum}}</td>
                                <td>{{labels.customerCategory}}</td>
                                <td>:</td>
                                <td>{{applicantDetails?.category}}</td>
                            </tr>
                            <!-- customer Details -->
                            <tr>
                                <td>{{labels.nameOfTheCustomer}}</td>
                                <td>:</td>
                                <td>{{applicantDetails?.name}}</td>
                                <td> </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{labels.customerDOB}}</td>
                                <td>:</td>
                                <td>{{applicantDetails?.dob}}</td>
                                <td>{{labels.customerAge}}</td>
                                <td>:</td>
                                <td>{{applicantDetails?.age}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.customerType}}</td>
                                <td>:</td>
                                <td>{{applicantDetails?.type}}</td>
                                <td>{{labels.registrationType}}</td>
                                <td>:</td>
                                <td>{{commonAppDetails?.registrationType}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.customerCibilStatus}}</td>
                                <td>:</td>
                                <td>{{commonAppDetails?.cibilStatus}}</td>
                                <td>{{labels.cibilScore}}</td>
                                <td>:</td>
                                <td>{{commonAppDetails?.cibilScore}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.leadReferenceNumber}}</td>
                                <td>:</td>
                                <td>{{commonAppDetails?.leadRefNo}}</td>
                                <td>{{labels.leadRefDate}}</td>
                                <td>:</td>
                                <td>{{commonAppDetails?.leadRefDate}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.genderOfCustomer}}</td>
                                <td>:</td>
                                <td>{{applicantDetails?.gender}}</td>
                                <td>{{labels.distance}}</td>
                                <td>: </td>
                                <td>{{commonAppDetails?.distance}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.businessStability}}</td>
                                <td>:</td>
                                <td>{{commonAppDetails?.businessStab}}</td>
                                <td>{{labels.residenceStability2}}</td>
                                <td>: </td>
                                <td>{{commonAppDetails?.residenceStab}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tearms_sheet_header2">
                    <p id="tearms_sheet_header2_top">{{labels.coApplicantDetails}}</p>
                  <div *ngFor = "let coAppDetailsData of coAppDetails; let i=index">
                    <p id="tearms_sheet_hdr_left_tag">
                        {{labels.name}} : {{coAppDetailsData.name}}
                    </p>
                    <p id="tearms_sheet_hdr_left_tag">
                        {{labels.dob}} : {{coAppDetailsData.dob}} &nbsp;
                        {{labels.age}} : {{coAppDetailsData.age}}&nbsp;
                        {{labels.type}} : {{coAppDetailsData.type}}&nbsp;
                        {{labels.gender}} : {{coAppDetailsData.gender}}
                    </p>
                  </div> 
                   

                </div>
                <div id="tearms_sheet_header3">

                    <p id="tearms_sheet_header3_top">{{labels.guarantorDetails}}</p>
                    <div *ngFor="let guarantorData of guarantorDetails">
                        <p id="tearms_sheet_hdr_left_tag">
                            {{labels.name}} : {{guarantorData.name}}
                        </p>
                        <p id="tearms_sheet_hdr_left_tag">
                            {{labels.dob}} : {{guarantorData.dob}} &nbsp;
                            {{labels.age}} : {{guarantorData.age}}&nbsp;
                            {{labels.type}} : {{guarantorData.type}}&nbsp;
                            {{labels.gender}} : {{guarantorData.gender}}
                        </p>
                    </div>
                </div>
                <div id="tearms_sheet_header4">
                    <p id="tearms_sheet_header4_tag">
                        <span id="tearms_sheet_header4_tag1">
                            {{labels.applicantBankName}} &nbsp;: &nbsp; {{bankDetails?.bankName}}</span>
                        <span id="tearms_sheet_header4_ta2">
                            {{labels.MICRNO}} : <span>{{bankDetails?.MICR}}</span>
                        </span>
                    </p>
                    <p id="tearms_sheet_header4_tag3">
                        <span id="tearms_sheet_header4_tag4">
                            {{labels.applicantBankBranch}} &nbsp;: &nbsp;{{bankDetails?.branchName}} </span>
                        <span id="tearms_sheet_header4_tag5">
                            {{labels.accNo}}. &nbsp;:&nbsp;{{bankDetails?.accNum}}
                        </span>
                    </p>
                </div>
                <div id="tearms_sheet_header5">
                    <p id="tearms_sheet_header5_tag">
                        <span id="tearms_sheet_header5_tag1">
                            {{labels.sourcedBy}} &nbsp;: &nbsp;{{agentDetails?.sourcedBy}}</span>
                        <span id="tearms_sheet_header5_tag2">
                            {{labels.name}} &nbsp;:&nbsp;{{agentDetails?.name}}</span>
                    </p>
                    <p id="tearms_sheet_header5_tag3">
                        <span id="tearms_sheet_header5_tag4">{{labels.agentCode}} &nbsp;:
                            {{agentDetails?.agentCode}}</span>
                        <span id="tearms_sheet_header5_tag5">{{labels.name}} &nbsp;:&nbsp;
                            {{agentDetails?.agentName}}</span>
                    </p>
                </div>
                <div id="tearms_sheet_header6">
                    <div *ngFor = "let identityData of identityDetails">
                        <p id="tearms_sheet_header6_tag">
                            <span id="tearms_sheet_header6_tag1">
                                {{labels.addressCumIdProof}}:&nbsp; {{identityData.addrCumIdProof}}
                            </span>
                            <span id="tearms_sheet_header6_tag2">
                                {{labels.docRefNo}}: &nbsp; {{identityData.docRef}} &nbsp;{{identityData.date}}
                            </span>
                        </p>
                    </div>
                    <div  *ngFor = "let identityData of coAppIndentityDetails">
                        <p id="tearms_sheet_header6_tag">
                            <span id="tearms_sheet_header6_tag1">
                                {{'co-Applicant '+labels.addressCumIdProof}}:&nbsp; {{identityData.addrCumIdProof}}
                            </span>
                            <span id="tearms_sheet_header6_tag2">
                                {{labels.docRefNo}}: &nbsp; {{identityData.docRef}} &nbsp;{{identityData.date}}
                            </span>
                        </p>
                    </div>
                    <div  *ngFor = "let identityData of guaIdentityDetails">
                        <p id="tearms_sheet_header6_tag">
                            <span id="tearms_sheet_header6_tag1">
                                {{'Guarantor '+labels.addressCumIdProof}}:&nbsp; {{identityData.addrCumIdProof}}
                            </span>
                            <span id="tearms_sheet_header6_tag2">
                                {{labels.docRefNo}}: &nbsp; {{identityData.docRef}} &nbsp;{{identityData.date}}
                            </span>
                        </p>
                    </div>
                </div>
                <div id="tearms_sheet_header7">
                    <table class="table table-responsive  table-borderless"
                     cellspadding="10" *ngFor = "let assValuationData of assValuationDetails; let i= index;">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="table_column_width15">{{labels.valuationValue}}</td>
                                <td>:</td>
                                <td id="table_column_width10">{{assValuationData.valuationAmount}}</td>
                                <td id="table_column_width10">{{labels.gridValueMRP}}</td>
                                <td>:</td>
                                <td>{{assValuationData.gridAmount}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.valuationDate}}</td>
                                <td>:</td>
                                <td>{{assValuationData.valDate}}</td>
                                <td>{{labels.modelNotInGrid}}</td>
                                <td>:</td>
                                <td>{{assValuationData.vehicleAvailGrid}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.valuatorName}}</td>
                                <td>:</td>
                                <td>{{assValuationData.valuatorName}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{labels.idvValue}}</td>
                                <td>:</td>
                                <td>{{assValuationData.idv}}</td>
                                <td>{{labels.costOfAsset}}</td>
                                <td>:</td>
                                <td>{{assValuationData.assetCost}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.marginMoney}}</td>
                                <td>:</td>
                                <td>{{assValuationData.marginMoney}}</td>
                                <td>{{labels.financeAmount}}</td>
                                <td>:</td>
                                <td>{{assValuationData.finAmount}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.financeCharges}}</td>
                                <td>:</td>
                                <td>{{assValuationData.finChrgs}}</td>
                                <td>{{labels.disbursementType}}</td>
                                <td>:</td>
                                <td>{{assValuationData.disbType}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.emiAmount}}</td>
                                <td>:</td>
                                <td>{{assValuationData.emiAmount}}</td>
                                <td>{{labels.fieldVisitCharges2}}</td>
                                <td>:</td>
                                <td>{{assValuationData.fieldVisitChrgs}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.insPremium}}</td>
                                <td>:</td>
                                <td>{{assValuationData.insPremium}}</td>
                                <td>{{labels.PacTalic}}</td>
                                <td>:</td>
                                <td>{{assValuationData.pac_talic}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.plcyExpiryDt}}</td>
                                <td>:</td>
                                <td>{{assValuationData.plcyExpDate}}</td>
                                <td>{{labels.insurancePattern}}</td>
                                <td>:</td>
                                <td>{{assValuationData.insPattern}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.plcyLapseDays}}</td>
                                <td>:</td>
                                <td>{{assValuationData.plcyLapseDays}}</td>
                                <td>{{labels.processingFee}}</td>
                                <td>:</td>
                                <td>{{assValuationData.processFeePercent}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.vintageDeviation}}</td>
                                <td>:</td>
                                <td>{{assValuationData.vintageDev}}</td>
                                <td>{{labels.assetAge}}</td>
                                <td>:</td>
                                <td>{{assValuationData.assetAge}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.vintageDeviationClassification}} </td>
                                <td>:</td>
                                <td>{{assValuationData.vintageDevClassification}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="tearms_sheet_header8">
                    <table class="table table-responsive table-borderless">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="table_column_width10">{{labels.processingFee}}</td>
                                <td>:</td>
                                <td id="table_column_width10">{{assetLoanDetails?.processFee}}</td>
                                <td id="table_column_width10">{{labels.tenure}}</td>
                                <td>:</td>
                                <td id="table_column_width10">{{assetLoanDetails?.tenure}}</td>
                                <td id="table_column_width10">{{labels.repayableMonths}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.repayableMon}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.grossIrr}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.grossIrr}}</td>
                                <td>{{labels.netIrr}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.netIrr}}</td>
                                <td>{{labels.irrWithoutProcFee}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.irrWPF}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.instPattern}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.instPattern}}</td>
                                <td>{{labels.repayMode}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.repayMode}}</td>
                                <td>{{labels.flatRateofInteres}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.flatRoi}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.npdcMethod}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.npdcMethod}}</td>
                                <td>{{labels.noOfPdc}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.noOfPdc}}</td>
                                <td>{{labels.noSecPdc}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.noSecPdc}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.no0fAdvEMI}} </td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.noOfAdvEmi}}</td>
                                <td>{{labels.advEmiAmt}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.advEmiAmt}}</td>
                                <td>{{labels.proposalDt}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.proposalDt}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.emiStartDt}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.emiStartDt}}</td>
                                <td>{{labels.emiEndDate}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.emiEndDt}}</td>
                                <td>{{labels.vehOwned}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.vehOwned}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.agriculture}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.agriculture}}</td>
                                <td>{{labels.creditShield}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.creditShield}}</td>
                                <td>{{labels.brokerage}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.brokerage}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.efftDisbDt}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.effDisbDt}}</td>
                                <td>{{labels.fundingLtv}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.fundingPercent}}</td>
                                <td>{{labels.npdeOrRpdcAmount}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.npdc_rpdc_amt}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.emiCovPrem}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.emiCovPrem}}</td>
                                <td>{{labels.schemeIrr}}</td>
                                <td>:</td>
                                <td>{{assetLoanDetails?.schemeIrr}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="terms_sheet_headline9">
                    <p id="terms_sheet_headline9_tag">
                        <span id="terms_sheet_headline9_tag1">
                            {{labels.ecsMandate}} :&nbsp;
                        </span>
                        <span>{{ecsDetails?.ecs_mandate}}</span>
                        <span id="terms_sheet_headline9_tag2">{{labels.ecsBankName}} :</span>
                        <span id=""> {{ecsDetails?.ecs_bank}}</span>
                    </p>
                </div>
                <div id="terms_sheet_headline10">
                    <!-- Deduction Charges from Loan Amount -->
                    <p id="terms_sheet_headline10_tag">
                        {{labels.termSheetTag3}}</p>
                    <p id="terms_sheet_headline10_tag1">
                        <span id="terms_sheet_headline10_tag2">
                            {{labels.processingFee}}: {{deductionDetails?.processingFee}}
                        </span>
                        <span id="terms_sheet_headline10_tag3">
                            {{labels.advEmiAmt}} : {{deductionDetails?.advEmiAmt}}
                        </span>
                        <span id="terms_sheet_headline10_tag3a">
                            {{labels.npdeOrRpdcAmount}} : {{deductionDetails?.npdc_rpdc_amt}}
                        </span>
                    </p>
                    <p id="terms_sheet_headline10_tag4">
                        <span id="terms_sheet_headline10_tag5">
                            {{labels.creditShield}} : {{deductionDetails?.creditShield}}</span>
                        <span id="terms_sheet_headline10_tag6">
                            {{labels.insPremiumAmt}}: {{deductionDetails?.insPremiumAmt}}
                        </span>
                        <span id="terms_sheet_headline10_tag7">
                            {{labels.emiCoveragePremium}} : {{deductionDetails?.emiCovPremium}}
                        </span> 
                    </p>
                    <p id="terms_sheet_headline10_tag8">
                        {{labels.totalDeductionAmount}}: {{deductionDetails?.totalDeductAmt}}
                    </p>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <p id="terms_sheet_headline">{{labels.termSheetTag1}}</p>
                        <p id="terms_sheet_headline"> {{labels.termSheet}}</p>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs- col-md-6">
                        <p id="terms_sheet_headline_right">{{labels.date}} : 08/09/2017</p>
                        <p id="terms_sheet_headline_right"> {{labels.page}} : 2</p>
                    </div>
                </div> -->

                <div id="terms_sheet_headline11_header">
                    <table class="table table-responsive table-borderless">
                        <thead>
                            <tr id="table_header_top">
                                <th id="table_header_top_tag3">{{labels.applicationNo}}. : 109555</th>
                                <th></th>
                                <th id="table_header_top_tag1">{{labels.proposalNo}} : ERODE0000123</th>
                                <th></th>
                                <th></th>
                                <th id="table_header_top_tag2">{{labels.scheme}} : MCATC</th>
                            </tr>
                        </thead>
                    </table>
                    <p id="terms_sheet_headline11">{{labels.paymentDetails}}</p>
                    <p id="terms_sheet_headline11_tag">
                        <span id="terms_sheet_headline11_tag1">{{labels.paymentTo}} : {{paymentDetails?.paymentTo}}</span>
                        <span id="terms_sheet_headline11_tag2">{{labels.payeeName}}:  {{paymentDetails?.payeeName}}
                            &nbsp;&nbsp; <span>{{labels.acNo}} : </span>  {{paymentDetails?.accNum}}
                        </span>
                    </p>
                    <p id="terms_sheet_headline11_tag3">
                        <span id="terms_sheet_headline11_tag4">{{labels.amount}} :  {{paymentDetails?.amount}}</span>
                        <span id="terms_sheet_headline11_tag5">{{labels.bankAc}} :  {{paymentDetails?.bankAcc}}</span>
                    </p>
                    <p id="terms_sheet_headline11_tag6">
                        <span id="terms_sheet_headline11_tag7">{{labels.mode}} :  {{paymentDetails?.mode}}</span>
                        <span id="terms_sheet_headline11_tag8"></span>
                    </p>
                </div>
                <div id="terms_sheet_headline12">

                    <p id="terms_sheet_headline12_tag">{{labels.approvalDetails}}</p>
                    <hr id="terms_sheet_headline12_tag0" />
                    <div *ngFor="let approvalData of approvalDetails">
                        <p id="terms_sheet_headline12_tag1">
                            <span id="terms_sheet_headline12_tag2">
                                {{labels.employeeCode}} : {{approvalData.empCode}}
                            </span>
                            <span id="terms_sheet_headline12_tag3">
                                {{labels.executiveName}} : {{approvalData.executiveName}}
                            </span>
                        </p>
                        <p id="terms_sheet_headline12_tag4">
                            <span id="terms_sheet_headline12_tag5">
                                {{labels.remark}} : {{approvalData.remarks}}
                            </span>
                            <span id="terms_sheet_headline12_tag5"></span>
                        </p>
                    </div>
                    <!-- <p id="terms_sheet_headline12_tag6">
                        <span id="terms_sheet_headline12_tag7">
              {{labels.employeeCode}} : eqs3987
            </span>
                        <span id="terms_sheet_headline12_tag10">
              {{labels.executiveName}} : SANKAR.V
            </span>
                    </p>
                    <p id="terms_sheet_headline12_tag8">
                        <span id="terms_sheet_headline12_tag9">
              {{labels.remark}} : CASE IS APPROVED
            </span>
                    </p> -->
                </div>
                <div id="terms_sheet_headline13">
                    <p id="terms_sheet_headline13_tag">{{labels.creditApprovalDeviation}}</p>
                    <table class="table table-responsive table-borderless">
                        <thead>
                            <tr id="table_header_top">
                                <th id="table_header_top_tag1">{{labels.factor}}</th>
                                <th id="table_header_top_tag1">{{labels.minValue}}</th>
                                <th id="table_header_top_tag1">{{labels.maxValue}}</th>
                                <th id="table_header_top_tag1">{{labels.actualValue}}</th>
                                <th id="table_header_top_tag1">{{labels.deviated}}</th>
                                <th id="table_header_top_tag1">{{labels.approver}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let creditApprovalData of creditApprovalDev ; let i= index">
                                <td>{{creditApprovalHeader[i]}}</td>
                                <td>{{creditApprovalData.minVal}}</td>
                                <td>{{creditApprovalData.maxVal}}</td>
                                <td>{{creditApprovalData.actualVal}}</td>
                                <td>{{creditApprovalData.devaited}}</td>
                                <td>{{creditApprovalData.approver}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <div id="terms_sheet_headline14">
                    <p id="terms_sheet_headline14_tag">{{labels.termSheetTag4}}</p>
                    <hr id="terms_sheet_headline12_tag0" />
                    <table class="table table-responsive table-borderless" *ngFor = "let loanDetailsData of loanDetails; let i = index">
                        <!--- <thead>
                    <tr>
                      <th>Application No. : 109555</th>
                      <th>Proposal No. : ERODE0000123</th>
                      <th>{{labels.}} : MCATC</th>
                    </tr>
                  </thead> ---->
                        <tbody>
                            <tr>
                                <td id="table_column_width15">{{labels.particulars}}</td>
                                <td>:</td>
                                <td id="table_column_width10">Vehicle No</td>
                                <td id="table_column_width15">{{labels.number}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.number}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.branch}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.branch}}</td>
                                <td>{{labels.agreementNumber}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.agreementNum}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.effectiveDisbursementDate}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.effDisbDt}}</td>
                                <td>{{labels.scheme}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.scheme}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.irr}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.irr}}</td>
                                <td>{{labels.vehicleNumber}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.vehicleNum}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.customerName}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.custName}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{labels.loanAmount}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.loanAmt}}</td>
                                <td>{{labels.futurePrincipal}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.futurePrincipal}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.loanStatus}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.loanStatus}}</td>
                                <td>{{labels.riOverdue}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.riOverdue}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.nocBlock}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.nocBlock}}</td>
                                <td>{{labels.nocBlockDate}} </td>
                                <td>:</td>
                                <td>{{loanDetailsData.nocBlockDt}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.repayInMonths}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.repayInMon}}</td>
                                <td>{{labels.completedTenure}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.cmpTenure}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.closedCancelledDate}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.closedDt}}</td>
                                <td>{{labels.recoveryStatus}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.recoveryStatus}}</td>
                            </tr>
                            <tr>
                                <td>{{labels.dpd}}</td>
                                <td>:</td>
                                <td>{{loanDetailsData.dpd}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row" id="terms_sheet_headline15">
                    <div class="col-6col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <p id="">
                            <span id="">{{labels.dateTime}} : </span>
                        </p>
                    </div>
                    <div id="" class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <span id=""> {{labels.signature}} : </span></div>
                </div>

            </div>
        </div>
        <div class="btn-sec clear-both row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-7 text-right">
                <button class="btn btn-primary btn_div " (click)= "nextRoute('credit-condition')" type="button">Back</button>
                <!-- <p class="btn btn-primary save btn_div"> Save </p> -->
                <button class="btn btn-primary btn_div" (click)= "nextRoute('sanction-details')" type="button">Next</button>
            </div>
        </div>

    </div>

    <!-- <div class="alert alert-success alert-dismissible" id="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> Souring Details saved Successfully.
    </div> -->




</main>