<main style="padding-bottom: 30px;">
    <div class="container overflow-hidden">
        <div class="multisteps-form">
            <div class="print_top">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <p id="terms_sheet_headline">{{labels.termSheetTag1}}</p>
                        <p id="terms_sheet_headline"> {{labels.termSheet}}</p>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs- col-md-6">
                        <p id="terms_sheet_headline_right">{{labels.date}} : 08/09/2017</p>
                        <p id="terms_sheet_headline_right"> {{labels.page}} : 1</p>
                    </div>
                </div>
                <div id="table_section_bottom">
                    <table class="table table-borderless">
                        <thead>
                            <tr id="table_header_top">
                                <th id="table_header_top_tag3"> {{labels.applicationNo}}. : 109555</th>
                                <th></th>
                                <th id="table_header_top_tag1">{{labels.ProposalNo}}. : ERODE0000123</th>
                                <th></th>
                                <th></th>
                                <th id="table_header_top_tag2">{{labels.scheme}} : MCATC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="table_column_width15">{{labels.applicationType}}</td>
                                <td>:</td>
                                <td id="table_column_width10">USED</td>
                                <td id="table_column_width10">{{labels.product}} </td>
                                <td>: </td>
                                <td>Secured Loans</td>
                            </tr>
                            <tr>
                                <td>{{labels.assetType}}</td>
                                <td>:</td>
                                <td>GOODS</td>
                                <td>{{labels.manufacturer}}</td>
                                <td>:</td>
                                <td>TATA</td>
                            </tr>
                            <tr>
                                <td>{{labels.termSheetTag2}}</td>
                                <td>:</td>
                                <td>2/2009</td>
                                <td>{{labels.model}}</td>
                                <td>: </td>
                                <td>ACE</td>
                            </tr>
                            <tr>
                                <td>{{labels.registrationNo}}.</td>
                                <td>:</td>
                                <td>TN 52 A 4947</td>
                                <td>{{labels.engineNo}}</td>
                                <td>:</td>
                                <td>275IDI05MQZSE9473 - Existing</td>
                            </tr>
                            <tr>
                                <td>{{labels.permitStatus}}</td>
                                <td>:</td>
                                <td>NA</td>
                                <td>{{labels.chasisNo}}</td>
                                <td>:</td>
                                <td>MAT4450519VP59540 - Existing</td>
                            </tr>
                            <tr>
                                <td>{{labels.taxArrears}}</td>
                                <td>:</td>
                                <td>NO</td>
                                <td>{{labels.agreementType}}</td>
                                <td>:</td>
                                <td>Buyer-Seller</td>
                            </tr>
                            <tr>
                                <td>{{labels.classificationType}}</td>
                                <td>:</td>
                                <td></td>
                                <td>{{labels.NoofLIVELoans}}</td>
                                <td>:</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>{{labels.fcExpiryDate}}</td>
                                <td>:</td>
                                <td></td>
                                <td>{{labels.schemeDescr}}</td>
                                <td>:</td>
                                <td>MINI LIGHT COMMERCIAL VEHICLE CATEGORY C</td>
                            </tr>
                            <tr>
                                <td>{{labels.vehicleRegistrationDate}}</td>
                                <td>:</td>
                                <td></td>
                                <td>{{labels.fcExpiryGapDays}}</td>
                                <td>: </td>
                                <td> -</td>
                            </tr>
                            <tr>
                                <td>{{labels.cubicCapacity}}</td>
                                <td>:</td>
                                <td>0</td>
                                <td>Seating Capacity</td>
                                <td>: </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>GVW</td>
                                <td>:</td>
                                <td>0</td>
                                <td>Adv.Adjustment IMC</td>
                                <td>:</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>Collateral Applicable</td>
                                <td>:</td>
                                <td>No</td>
                                <td>Collateral Name</td>
                                <td>:</td>
                                <td>Not Applicable</td>
                            </tr>
                            <tr>
                                <td>Spoke Location</td>
                                <td>:</td>
                                <td>No</td>
                                <td>Location Name</td>
                                <td>: </td>
                                <td>Not Applicable</td>
                            </tr>
                            <tr>
                                <td>PSL Category</td>
                                <td>:</td>
                                <td></td>
                                <td></td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>PSL Sub Category</td>
                                <td>:</td>
                                <td></td>
                                <td> </td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Folio number</td>
                                <td>:</td>
                                <td>M0002065</td>
                                <td>Customer Category</td>
                                <td>:</td>
                                <td>SALARIED</td>
                            </tr>
                            <tr>
                                <td>Name of the customer</td>
                                <td>:</td>
                                <td>MURUGAN K</td>
                                <td> </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Customer DOB</td>
                                <td>:</td>
                                <td>03/02/1984</td>
                                <td>Customer Age</td>
                                <td>:</td>
                                <td>28</td>
                            </tr>
                            <tr>
                                <td>Customer Type</td>
                                <td>:</td>
                                <td>New</td>
                                <td>Registration Type</td>
                                <td>:</td>
                                <td>Existing</td>
                            </tr>
                            <tr>
                                <td>Customer CIBIL Status</td>
                                <td>:</td>
                                <td>NA</td>
                                <td>CIBIL Score</td>
                                <td>:</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Lead Reference Number</td>
                                <td>:</td>
                                <td>ERODE0000248</td>
                                <td>Lead Ref.Date</td>
                                <td>:</td>
                                <td>03/05/2012</td>
                            </tr>
                            <tr>
                                <td>Gender Of Customer</td>
                                <td>:</td>
                                <td>MALE</td>
                                <td>Distance</td>
                                <td>: </td>
                                <td>37</td>
                            </tr>
                            <tr>
                                <td>Business Stability</td>
                                <td>:</td>
                                <td>0</td>
                                <td>Residence Stability</td>
                                <td>: </td>
                                <td>27</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tearms_sheet_header2">
                    <p id="tearms_sheet_header2_top">Co-Applicant Details</p>
                    <p id="tearms_sheet_hdr_left_tag">Name : KUPPASWAMY Y</p>
                    <p id="tearms_sheet_hdr_left_tag">DOB : 20/10/1952 &nbsp;Age : 0&nbsp;Type : -&nbsp;Gender : MALE</p>

                </div>
                <div id="tearms_sheet_header3">
                    <p id="tearms_sheet_header3_top">Guarantor Details</p>
                    <p id="tearms_sheet_hdr_left_tag">Name : NOT APPLICABLE</p>
                    <p id="tearms_sheet_hdr_left_tag">DOB : 20/10/1952 &nbsp;Age : 0&nbsp;Type : -&nbsp;Gender : MALE</p>

                </div>
                <div id="tearms_sheet_header4">
                    <p id="tearms_sheet_header4_tag"><span id="tearms_sheet_header4_tag1">Applicant Bank Name &nbsp;: &nbsp; INDIAN BANK</span> <span id="tearms_sheet_header4_ta2">MICR NO :600019004</span></p>
                    <p id="tearms_sheet_header4_tag3"><span id="tearms_sheet_header4_tag4">Applicant Bank Branch &nbsp;: &nbsp;ANNANAGAR </span> <span id="tearms_sheet_header4_tag5"> Acc.No. &nbsp;:&nbsp;SB-0158370922 </span> </p>
                </div>
                <div id="tearms_sheet_header5">
                    <p id="tearms_sheet_header5_tag"><span id="tearms_sheet_header5_tag1">Sourced By &nbsp;: &nbsp;EQT5153</span> <span id="tearms_sheet_header5_tag2">Name &nbsp;:&nbsp;THENDRAL P</span></p>
                    <p id="tearms_sheet_header5_tag3"><span id="tearms_sheet_header5_tag4">Agent Code &nbsp;:</span> <span id="tearms_sheet_header5_tag5">Name &nbsp;:&nbsp;</span> </p>
                </div>
                <div id="tearms_sheet_header6">
                    <p id="tearms_sheet_header6_tag"><span id="tearms_sheet_header6_tag1">AddressCumId Proof:&nbsp; DRIVING LICEN</span> <span id="tearms_sheet_header6_tag2">DocRef.No.: &nbsp; TN27V20060000247 &nbsp;07/02/2006</span></p>
                    <p id=""><span id="tearms_sheet_header6_tag3">AddressCumId Proof: &nbsp;VOTER IDENTIT</span> <span id="tearms_sheet_header6_tag4">DocRef.No.: &nbsp;XTU0000596 &nbsp;24/11/2008</span></p>
                </div>
                <div id="tearms_sheet_header7">
                    <table class="table table-borderless" cellspadding="10">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="table_column_width15">Valuation Value</td>
                                <td>:</td>
                                <td id="table_column_width10">250000.00</td>
                                <td id="table_column_width10">Grid Value (MRP)</td>
                                <td>:</td>
                                <td>220000.00</td>
                            </tr>
                            <tr>
                                <td>Valuation Date</td>
                                <td>:</td>
                                <td></td>
                                <td>Model not in grid</td>
                                <td>:</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Valuator Name</td>
                                <td>:</td>
                                <td>SELVARAJ K</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>IDV Value</td>
                                <td>:</td>
                                <td>218000.00</td>
                                <td>Cost of Asset</td>
                                <td>:</td>
                                <td>240000.00</td>
                            </tr>
                            <tr>
                                <td>Margin Money</td>
                                <td>:</td>
                                <td>NA</td>
                                <td>Finance Amount</td>
                                <td>:</td>
                                <td>192000.00</td>
                            </tr>
                            <tr>
                                <td>Finance Chrgs</td>
                                <td>:</td>
                                <td>90158.00</td>
                                <td>Disbursement Type</td>
                                <td>:</td>
                                <td>Normal</td>
                            </tr>
                            <tr>
                                <td>EMI Amount</td>
                                <td>:</td>
                                <td>7840.00</td>
                                <td>Field Visit Charges</td>
                                <td>:</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>Ins.Premium</td>
                                <td>:</td>
                                <td>11052.00</td>
                                <td>PAC / TALIC</td>
                                <td>:</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Plcy Expiry Dt</td>
                                <td>:</td>
                                <td>21/01/2013</td>
                                <td>Insurance Pattern</td>
                                <td>:</td>
                                <td>By Customer</td>
                            </tr>
                            <tr>
                                <td>Plcy Lapse Days</td>
                                <td>:</td>
                                <td>207</td>
                                <td>Processing Fee%</td>
                                <td>:</td>
                                <td>1.12</td>
                            </tr>
                            <tr>
                                <td>Vintage Deviation</td>
                                <td>:</td>
                                <td>No</td>
                                <td>Asset Age</td>
                                <td>:</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Vintage Deviation Classification </td>
                                <td>:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tearms_sheet_header8">
                    <table class="table table-borderless">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="table_column_width10">Processing Fee</td>
                                <td>:</td>
                                <td id="table_column_width10">2157.00</td>
                                <td id="table_column_width10">Tenure</td>
                                <td>:</td>
                                <td id="table_column_width10">36</td>
                                <td id="table_column_width10">Repayable Months</td>
                                <td>:</td>
                                <td>36</td>
                            </tr>
                            <tr>
                                <td>Gross IRR</td>
                                <td>:</td>
                                <td>27.7673</td>
                                <td>Net IRR</td>
                                <td>:</td>
                                <td>27.7673</td>
                                <td>IRR without proc.fee</td>
                                <td>:</td>
                                <td>27.0007</td>
                            </tr>
                            <tr>
                                <td>Inst.Pattern</td>
                                <td>:</td>
                                <td>Equal</td>
                                <td>Repay Mode</td>
                                <td>:</td>
                                <td>Others</td>
                                <td>Flat Rate of Interes</td>
                                <td>:</td>
                                <td>27.0000</td>
                            </tr>
                            <tr>
                                <td>NPDC Method</td>
                                <td>:</td>
                                <td>At Branch</td>
                                <td>No. of PDC</td>
                                <td>:</td>
                                <td>0</td>
                                <td>No.Sec.PDC</td>
                                <td>:</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>No 0f Adv.EMI </td>
                                <td>:</td>
                                <td>0</td>
                                <td>Adv.EMI Amt</td>
                                <td>:</td>
                                <td>0.00</td>
                                <td>Proposal Dt</td>
                                <td>:</td>
                                <td>28/06/2012</td>
                            </tr>
                            <tr>
                                <td>EMI Start Dt.</td>
                                <td>:</td>
                                <td>11/08/2012</td>
                                <td>EMI End Date</td>
                                <td>:</td>
                                <td>11/07/2015</td>
                                <td>Veh. Owned</td>
                                <td>:</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Agriculture</td>
                                <td>:</td>
                                <td>No</td>
                                <td>Credit Shield</td>
                                <td>:</td>
                                <td>649.00</td>
                                <td>Brokerage</td>
                                <td>:</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>Efft.Disb Dt</td>
                                <td>:</td>
                                <td>28/06/2012</td>
                                <td>Funding %(LTV)</td>
                                <td>:</td>
                                <td>80.00</td>
                                <td>NPDC/RPDC Amount</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>EMI Cov. Prem</td>
                                <td>:</td>
                                <td>0.00</td>
                                <td>Scheme IRR</td>
                                <td>:</td>
                                <td>27.0000</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="terms_sheet_headline9">
                    <p id="terms_sheet_headline9_tag"><span id="terms_sheet_headline9_tag1">ECS Mandate
              :&nbsp;</span><span>NA</span> <span id="terms_sheet_headline9_tag2">ECS Bank Name :</span><span id="">
              NA</span></p>
                </div>
                <div id="terms_sheet_headline10">
                    <p id="terms_sheet_headline10_tag">Deduction Charges from Loan Amount</p>
                    <p id="terms_sheet_headline10_tag1"><span id="terms_sheet_headline10_tag2">Processing Fee: 2157.00</span> <span id="terms_sheet_headline10_tag3">Adv.EMI Amt : 0.00</span><span id="terms_sheet_headline10_tag3a">NPDC/RPDC Amount : 0.00</span></p>
                    <p id="terms_sheet_headline10_tag4"><span id="terms_sheet_headline10_tag5">Credit Shield : 649.00</span> <span id="terms_sheet_headline10_tag6">Ins.Premium Amt: 0.00</span><span id="terms_sheet_headline10_tag7">EMI Coverage Premium : 0.00</span> </p>
                    <p id="terms_sheet_headline10_tag8">Total Deduction Amount: 2806.00</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <p id="terms_sheet_headline">Equitas Small Finance Bank Limited</p>
                        <p id="terms_sheet_headline"> TERM SHEET</p>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs- col-md-6">
                        <p id="terms_sheet_headline_right">Date : 08/09/2017</p>
                        <p id="terms_sheet_headline_right"> Page : 2</p>
                    </div>
                </div>

                <div id="terms_sheet_headline11_header">
                    <table class="table table-borderless">
                        <thead>
                            <tr id="table_header_top">
                                <th id="table_header_top_tag3">Application No. : 109555</th>
                                <th></th>
                                <th id="table_header_top_tag1">Proposal No. : ERODE0000123</th>
                                <th></th>
                                <th></th>
                                <th id="table_header_top_tag2">Scheme : MCATC</th>
                            </tr>
                        </thead>
                    </table>
                    <p id="terms_sheet_headline11">Payment Details</p>
                    <p id="terms_sheet_headline11_tag"><span id="terms_sheet_headline11_tag1">Payment To : Seller</span> <span id="terms_sheet_headline11_tag2">Payee Name : RAJAN S A/c  A/c No
              .1771101003158</span> </p>
                    <p id="terms_sheet_headline11_tag3"><span id="terms_sheet_headline11_tag4">Amount : 189194.00</span> <span id="terms_sheet_headline11_tag5">Bank A/c : CANARA BANK</span></p>
                    <p id="terms_sheet_headline11_tag6"><span id="terms_sheet_headline11_tag7">Mode : Chequ</span> <span id="terms_sheet_headline11_tag8"></span> </p>
                </div>
                <div id="terms_sheet_headline12">
                    <p id="terms_sheet_headline12_tag">Approval Details</p>
                    <hr id="terms_sheet_headline12_tag0" />
                    <p id="terms_sheet_headline12_tag1"><span id="terms_sheet_headline12_tag2">Employee Code : eqp4550</span> <span id="terms_sheet_headline12_tag3">Executive Name : PRAVINKUMAR.B</span> </p>
                    <p id="terms_sheet_headline12_tag4"><span id="terms_sheet_headline12_tag5">Remarks : CASE IS APPROVED BASED ON GOOD ASSET BACK-UP AND INCOME</span> <span id="terms_sheet_headline12_tag5"></span> </p>
                    <p id="terms_sheet_headline12_tag6"><span id="terms_sheet_headline12_tag7">Employee Code : eqs3987</span><span id="terms_sheet_headline12_tag10">Executive Name : SANKAR.V</span> </p>
                    <p id="terms_sheet_headline12_tag8"><span id="terms_sheet_headline12_tag9">Remarks : CASE IS APPROVED</span></p>
                </div>
                <div id="terms_sheet_headline13">
                    <p id="terms_sheet_headline13_tag">Credit Approval Deviation</p>
                    <table class="table table-borderless">
                        <thead>
                            <tr id="table_header_top">
                                <th id="table_header_top_tag1">Factor</th>
                                <th id="table_header_top_tag1">Min Value</th>
                                <th id="table_header_top_tag1">Max Value</th>
                                <th id="table_header_top_tag1">Actual Value</th>
                                <th id="table_header_top_tag1">Deviated</th>
                                <th id="table_header_top_tag1">Approver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CIBIL score</td>
                                <td>401</td>
                                <td>950</td>
                                <td>1</td>
                                <td>Yes</td>
                                <td>GP</td>
                            </tr>
                            <tr>
                                <td>Marital (0-Single and 1 Married)</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>Yes</td>
                                <td>RM</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="terms_sheet_headline14">
                    <p id="terms_sheet_headline14_tag">Vehicle Registration number, Engine number and Chassis number De-dupe details</p>
                    <hr id="terms_sheet_headline12_tag0" />
                    <table class="table table-borderless">
                        <!--- <thead>
                    <tr>
                      <th>Application No. : 109555</th>
                      <th>Proposal No. : ERODE0000123</th>
                      <th>Scheme : MCATC</th>
                    </tr>
                  </thead> ---->
                        <tbody>
                            <tr>
                                <td id="table_column_width15">Particulars</td>
                                <td>:</td>
                                <td id="table_column_width10">Vehicle No</td>
                                <td id="table_column_width15">Number</td>
                                <td>:</td>
                                <td>TN 52 A-4947</td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td>:</td>
                                <td>ERODE</td>
                                <td>Agreement Number</td>
                                <td>:</td>
                                <td>SLERODE0009687</td>
                            </tr>
                            <tr>
                                <td>Effective Disbursement Date</td>
                                <td>:</td>
                                <td>29-Mar-2013</td>
                                <td>Scheme</td>
                                <td>:</td>
                                <td>MCATC</td>
                            </tr>
                            <tr>
                                <td>IRR</td>
                                <td>:</td>
                                <td>27.0581</td>
                                <td>Vehicle Number</td>
                                <td>:</td>
                                <td>TN 52 A-4947</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>:</td>
                                <td>SIVASAKTHIVEL G</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Loan Amount</td>
                                <td>:</td>
                                <td>175000.00</td>
                                <td>Future Principal</td>
                                <td>:</td>
                                <td>104825.00</td>
                            </tr>
                            <tr>
                                <td>Loan Status</td>
                                <td>:</td>
                                <td>ClosedA</td>
                                <td>RI Overdue</td>
                                <td>:</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>NOC Block</td>
                                <td>:</td>
                                <td>No</td>
                                <td>NOC Block Date</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Repay in Months</td>
                                <td>:</td>
                                <td>36</td>
                                <td>Completed Tenure</td>
                                <td>:</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>Closed / Cancelled Date</td>
                                <td>:</td>
                                <td>29-OCT-2014</td>
                                <td>Recovery Status</td>
                                <td>:</td>
                                <td>Asset Sold</td>
                            </tr>
                            <tr>
                                <td>DPD</td>
                                <td>:</td>
                                <td>NA</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Particulars</td>
                                <td>:</td>
                                <td>Engine No</td>
                                <td>Number</td>
                                <td>:</td>
                                <td>275IDI05MQZSE9473</td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td>:</td>
                                <td>ERODE</td>
                                <td>Agreement Number</td>
                                <td>:</td>
                                <td>SLERODE0009687</td>
                            </tr>
                            <tr>
                                <td>Effective Disbursement Date</td>
                                <td>:</td>
                                <td>29-Mar-2013</td>
                                <td>Scheme</td>
                                <td>:</td>
                                <td>MCATC</td>
                            </tr>
                            <tr>
                                <td>IRR</td>
                                <td>:</td>
                                <td>27.0581</td>
                                <td>Vehicle Number</td>
                                <td>:</td>
                                <td>TN 52 A-4947</td>
                            </tr>
                            <!-- <tr>
                      <td>Customer Name</td>
                      <td>:</td>
                      <td>SIVASAKTHIVEL G</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                     <tr>
                      <td>Loan Amount</td>
                      <td>:</td>
                      <td>175000.00</td>
                      <td>Future Principal</td>
                      <td>:</td>
                      <td>104825.00</td>
                    </tr>
                     <tr>
                      <td>Loan Status</td>
                      <td>:</td>
                      <td>ClosedA</td>
                      <td>RI Overdue</td>
                      <td>:</td>
                      <td>0.00</td>
                    </tr>
                     <tr>
                      <td>NOC Block</td>
                      <td>:</td>
                      <td>No</td>
                      <td>NOC Block Date</td>
                      <td>:</td>
                      <td></td>
                    </tr>
                     <tr>
                      <td>Repay in Months</td>
                      <td>:</td>
                      <td>36</td>
                      <td>Completed Tenure</td>
                      <td>:</td>
                      <td>17</td>
                    </tr>
                     <tr>
                      <td>Closed / Cancelled Date</td>
                      <td>:</td>
                      <td>29-OCT-2014</td>
                      <td>Recovery Status</td>
                      <td>:</td>
                      <td>Asset Sold</td>
                    </tr>
                     <tr>
                      <td>DPD</td>
                      <td>:</td>
                      <td>NA</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                     <tr>
                      <td>Particulars</td>
                      <td>:</td>
                      <td>Chassis No</td>
                      <td>Number</td>
                      <td>:</td>
                      <td>MAT4450519VP59540</td>
                    </tr>
                     <tr>
                      <td>Branch</td>
                      <td>:</td>
                      <td>ERODE</td>
                      <td>Agreement Number</td>
                      <td>:</td>
                      <td>SLERODE0009687</td>
                    </tr>
                     <tr>
                      <td>Effective Disbursement Date</td>
                      <td>:</td>
                      <td>29-Mar-2013</td>
                      <td>Scheme</td>
                      <td>:</td>
                      <td>MCATC</td>
                    </tr>
                     <tr>
                      <td>IRR</td>
                      <td>:</td>
                      <td>27.0581</td>
                      <td>Vehicle Number</td>
                      <td>:</td>
                      <td>TN 52 A-4947</td>
                    </tr>
                     <!-- <tr>
                      <td>Customer Name</td>
                      <td>:</td>
                      <td>SIVASAKTHIVEL G</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                     <tr>
                      <td>Loan Amount</td>
                      <td>:</td>
                      <td>175000.00</td>
                      <td>Future Principal</td>
                      <td>:</td>
                      <td>104825.00</td>
                    </tr>
                     <tr>
                      <td>Loan Status</td>
                      <td>:</td>
                      <td>ClosedA</td>
                      <td>RI Overdue</td>
                      <td>:</td>
                      <td>0.00</td>
                    </tr>
                     <tr>
                      <td>NOC Block</td>
                      <td>:</td>
                      <td>No</td>
                      <td>NOC Block Date</td>
                      <td>:</td>
                      <td></td>
                    </tr>
                     <tr>
                      <td>Repay in Months</td>
                      <td>:</td>
                      <td>36</td>
                      <td>Completed Tenure</td>
                      <td>:</td>
                      <td>17</td>
                    </tr>
                     <tr>
                      <td>Closed / Cancelled Date</td>
                      <td>:</td>
                      <td>29-OCT-2014</td>
                      <td>Recovery Status</td>
                      <td>:</td>
                      <td>Asset Sold</td>
                    </tr>
                    <tr>
                      <td>DPD</td>
                      <td>:</td>
                      <td>NA</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr> -->


                        </tbody>
                    </table>
                </div>
                <div class="row" id="terms_sheet_headline15">
                    <div class="col-6col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <p id="">
                            <span id="">Date & Time : </span>
                        </p>
                    </div>
                    <div id="" class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <span id=""> Signature : </span></div>
                </div>

            </div>
        </div>
        <div class="btn-sec clear-both row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-7 text-right">
                <button class="btn btn-primary btn_div " type="button"><a href="credit_conditions.html">Back</a></button>
                <!-- <p class="btn btn-primary save btn_div"> Save </p> -->
                <button class="btn btn-primary btn_div" type="button"><a href="credit_sanction_details.html">Next</a></button>
            </div>
        </div>

    </div>

    <!-- <div class="alert alert-success alert-dismissible" id="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> Souring Details saved Successfully.
    </div> -->




</main>