<div class="content">
    <form class="multisteps-form__form" method="POST" id="scroll_starts_here" [formGroup]="pslDataForm">
        <div class="multisteps-form__panel js-active" data-animation="scaleIn">
            <h3 class="title">PSL Data</h3>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="activity">{{labels.pslDataTitle}}</label>
                    <select class="form-control" id="activity" name="activity" formControlName="activity"
                        required="required" (change)="onChangeActivity($event)">
                        <option value="">Select an option</option>
                        <option *ngFor="let act of pslDataLov.activity" [value]="act.key">{{act.value}}</option>
                    </select>
                    <!-- <app-vf-custom-select [values]="pslDataLov?.activity" formControlName="activity" 
                    (change)="onChangeActivity($event)"> </app-vf-custom-select> -->
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="property_type">{{labels.propertyType}}</label>
                    <!-- <select class="form-control" formControlName="propertyType" id="property_type" name="property_type" required="required">
                        <option value="Self construction"> Select an option </option>
                        <option *ngFor="let propType of pslDataLov.propertyType" [value]="propType.key" > {{propType.value}} </option>
                        <option value="New Flat" >New Flat</option>
                        <option value="Resale Flat" >Resale Flat</option>
                        <option value="Idependent Flat New" >Idependent Flat New</option>
                        <option value="Idependent Flat Old" >Idependent Flat Old</option>
                        <option value="Composite" >Composite</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.propertyType" formControlName="propertyType">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="detail_activity">{{labels.detailActivity}}</label>
                    <select class="form-control" formControlName="detailActivity" id="detail_activity"
                        name="detail_activity" required="required" (change)="onChangeDetailActivity($event)">
                        <option value="" *ngIf="!showOption">Select</option>
                        <option *ngFor="let detAct of detailActivity">{{detAct}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="show3">
                    <label for="goods_manufactured">{{labels.goodsManufactured}}</label>
                    <input type="text" formControlName="goodsManufactured" class="form-control"
                        name="goods_manufactured" id="goods_manufactured" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="show3">
                    <label for="type_of_service">{{labels.typeOfService}}</label>
                    <select class="form-control" formControlName="typeOfService" id="type_of_service"
                        name="type_of_service" required="required">
                        <option value="">Select Category</option>
                        <option *ngFor="let typeServ of typeService" value="">{{typeServ}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3" *ngIf="showLoan">
                    <label for="purpose_of_loan_ag">{{labels.purposeOfLoan}}</label>
                    <select class="form-control" formControlName="purposeOfLoanAg" id="purpose_of_loan_ag"
                        name="purpose_of_loan_ag" required="required">
                        <option value="" *ngIf="!showOption">Select</option>
                        <option *ngFor="let purLoan of purposeLoan" value="">{{purLoan}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="show3">
                    <label for="purpose_of_loan_msme">{{labels.purposeOfLoan}}</label>
                    <select class="form-control" formControlName="purposeOfLoanMsme" id="purpose_of_loan_msme"
                        name="purpose_of_loan_msme" required="required">
                        <option value="" *ngIf="!showOption">Select</option>
                        <option *ngFor="let purLoan of purLoanMs" value="">{{purLoan}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="business_activity">{{labels.businessActivity}}</label>
                    <select class="form-control" formControlName="businessActivity" id="business_activity"
                        name="business_activity" required="required">
                        <!-- <option value="Business Activity" >Business Activity</option>
                        <option value="agriculture-Business Activity" >agriculture-Business Activity</option> -->
                        <option *ngFor="let busAct of pslDataLov.businessActivity" [value]="busAct.key">
                            {{busAct.value}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="land_holding">{{labels.landHolding}}</label>
                    <!-- <select class="form-control" formControlName="landHolding" id="land_holding" name="land_holding" required="required" >
                        <option value="Yes" >Yes</option>
                        <option value="No" >No</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.landHolding" formControlName="landHolding">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="land_owner">{{labels.landOwner}}</label>
                    <!-- <select class="form-control" formControlName="landOwner" id="land_owner" name="land_owner" required="required" >
                        <option value="Applicant" >Applicant</option>
                        <option value="Co-Applicant" >Co-Applicant</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.landOwner" formControlName="landOwner">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="relationship_with_landowner">{{labels.relWithLandowner}}</label>
                    <!-- <select class="form-control" formControlName= "relWithLandowner"
                   id="relationship_with_landowner" name="relationship_with_landowner" required="required" >
                        <option value="Spouse" >Spouse</option>
                        <option value="Father" >Father</option>
                        <option value="Mother" >Mother</option>
                        <option value="Son" >Son</option>
                        <option value="Daughter" >Daughter</option>
                        <option value="Sister" >Sister</option>
                        <option value="Brother" >Brother</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.relWithLandowner" formControlName="relWithLandowner">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="farmer_type">{{labels.farmerType}}</label>
                    <!-- <select class="form-control" formControlName= "farmerType" id="farmer_type" name="farmer_type" required="required" >
                        <option value="" >Select</option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="farmerType">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="land_area_in_acres">{{labels.landAreaInAcres}}</label>
                    <input type="text" formControlName="landAreaInAcres" class="form-control" name="land_area_in_acres"
                        id="land_area_in_acres" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="land_proof">{{labels.landProof}} </label>
                    <!-- <select class="form-control" formControlName="landProof"  id="land_proof" name="land_proof" required="required" >
                        <option value="" >Select</option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="landProof">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="land_proof_upload">{{labels.landProofUpload}}</label>
                    <input id="land_proof_upload" formControlName="landProofUpload" type="file" multiple=""
                        name="land_proof_upload">
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="show3">
                    <label for="loan_amount">{{labels.loanAmount}}</label>
                    <input type="text" formControlName="loanAmount" class="form-control" name="loan_amount"
                        id="loan_amount" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="proof_of_investment">{{labels.proofOfInvestment}}</label>
                    <!-- <select formControlName="proofOfInvest" class="form-control" id="proof_of_investment" name="proof_of_investment" required="required" >
                        <option value="" >Select</option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="proofOfInvest">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="investment_proof_upload">{{labels.investProofUpload}}</label>
                    <input id="investment_proof_upload" formControlName="investProofUpload" type="file" multiple=""
                        name="investment_proof_upload">
                </div>

                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="name_of_ca">{{labels.nameOfCa}}</label>
                    <input type="text" formControlName="nameOfCa" class="form-control" name="name_of_ca" id="name_of_ca"
                        required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="name_of_ca_firm">{{labels.nameOfCaFirm}}</label>
                    <input type="text" formControlName="nameOfCaFirm" class="form-control" name="name_of_ca_firm"
                        id="name_of_ca_firm" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="ca_registration_number">{{labels.caRegisterNo}}</label>
                    <input type="text" formControlName="caRegisterNo" class="form-control" name="ca_registration_number"
                        id="ca_registration_number" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="udin_no">{{labels.udinNo}}</label>
                    <input type="text" formControlName="udinNo" class="form-control" name="udin_no" id="udin_no"
                        required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="ca_certified_amount">{{labels.caCertifiedAmount}}</label>
                    <input type="text" formControlName="caCertifiedAmount" class="form-control"
                        name="ca_certified_amount" id="ca_certified_amount" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="other_investment_cost">{{labels.otherInvestmentCost}}</label>
                    <input type="text" formControlName="otherInvestmentCost" class="form-control"
                        name="other_investment_cost" id="other_investment_cost" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="total_investment_cost">{{labels.totalInvestmentCost}}</label>
                    <input type="text" formControlName="totalInvestmentCost" class="form-control"
                        name="total_investment_cost" id="total_investment_cost" required="required" Placeholder="" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="investment_in_equipment">{{labels.investInEquipment}}</label>
                    <input type="text" formControlName="investInEquipment" class="form-control"
                        name="investment_in_equipment" id="investment_in_equipment" required="required"
                        Placeholder="" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="showMs">
                    <label for="investment_plant_machinery">{{labels.investPlantMachinery}}</label>
                    <input type="text" formControlName="investPlantMachinery" class="form-control"
                        name="investment_plant_machinery" id="investment_plant_machinery" required="required"
                        Placeholder="" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 non" *ngIf="show4">
                    <label for="city_tier">{{labels.cityTier}}</label>
                    <!-- <select formControlName="cityTier" class="form-control" id="city_tier" name="city_tier" required="required" >
                        <option value="" >Select</option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="cityTier">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 non" *ngIf="show4">
                    <label for="investment_social_infra">{{labels.investmentSocialInfra}}</label>
                    <!-- <select formControlName="investmentSocialInfra" class="form-control" id="investment_social_infra" name="investment_social_infra" required="required" >
                        <option value="" >Select</option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="investmentSocialInfra">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 non" *ngIf="show4">
                    <label for="investment_other_bank">{{labels.investmentOtherBank}}</label>
                    <input type="text" formControlName="investmentOtherBank" class="form-control"
                        name="investment_other_bank" id="investment_other_bank" required="required" />
                </div>

                <div class="form-group col-sm-6 col-md-4 col-lg-3 non" *ngIf="show4">
                    <label for="total_investment">{{labels.totalInvestment}}</label>
                    <input type="text" formControlName="totalInvestment" class="form-control" name="total_investment"
                        id="total_investment" required="required" />
                </div>


                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="property_located_city">{{labels.propertyLocatedCity}}</label>
                    <!-- <select formControlName="propertyLocatedCity" class="form-control" id="property_located_city" name="property_located_city" required="required" >
                        <option value="" >Select</option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="propertyLocatedCity">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="property_location">{{labels.propertyLocation}}</label>
                    <!-- <select formControlName="propertyLocation" class="form-control" id="property_location" name="property_location" required="required" >
                        <option value="Metro" > Metro</option>
                        <option value="Non-Metro" > Non - Metro</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.propertyLocation" formControlName="propertyLocation">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="property_pincode">{{labels.propertyPincode}}</label>
                    <!-- <select formControlName="propertyPincode" class="form-control" id="property_pincode" name="property_pincode" required="required" >
                        <option value="" >Select</option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="propertyPincode">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="land_amount">{{labels.landAmount}}</label>
                    <input type="text" formControlName="landAmount" class="form-control" name="land_amount"
                        id="land_amount" required="required" />
                </div>

                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" id="land_cost_div" *ngIf="showHs">
                    <label for="land_cost">{{labels.landCost}}</label>
                    <input type="text" formControlName="landCost" class="form-control" name="land_cost" id="land_cost"
                        required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="construction_cost">{{labels.constructionCost}}</label>
                    <input type="text" formControlName="constructionCost" class="form-control" name="construction_cost"
                        id="construction_cost" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="total_property_cost">{{labels.totalPropertyCost}}</label>
                    <input type="text" formControlName="totalPropertyCost" class="form-control"
                        name="total_property_cost" id="total_property_cost" required="required" Placeholder="" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="registration_cost">{{labels.registrationCost}}</label>
                    <input type="text" formControlName="registrationCost" class="form-control" name="registration_cost"
                        id="registration_cost" required="required" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="psl_consideration_cost">{{labels.pslConsiderCost}}</label>
                    <input type="text" formControlName="pslConsiderCost" class="form-control"
                        name="psl_consideration_cost" id="psl_consideration_cost" required="required" placeholder="" />
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="psl_category_ag">{{labels.pslCategory}}</label>
                    <!-- <select formControlName="pslCategoryAg" class="form-control" id="psl_category_ag" name="psl_category_ag" required="required" >
                        <option value="Agriculture" >Agriculture</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.pslCategoryAg" formControlName="pslCategoryAg">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="!show">
                    <label for="psl_category_msme">{{labels.pslCategory}}</label>
                    <!-- <select formControlName="pslCategoryMsme" class="form-control" id="psl_category_msme" name="psl_category_msme" required="required" >
                        <option value="">Non-PSL</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.pslCategoryMsme" formControlName="pslCategoryMsme">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="psl_category_hos">{{labels.pslCategory}}</label>
                    <!-- <select formControlName="pslCategoryHos" class="form-control" id="psl_category_hos" name="psl_category_hos" required="required" >
                        <option value="Housing-PSL" >Housing-PSL</option>
                        <option value="Non-Housing-PSL" >Non-Housing-PSL</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.pslCategoryHos" formControlName="pslCategoryHos">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="psl_sub_category_ag">{{labels.pslSubCategory}}</label>
                    <!-- <select formControlName="pslSubCategoryAg"class="form-control" id="psl_sub_category_ag" name="psl_sub_category_ag" required="required" >
                        <option value="Marginal Farmer" >Marginal Farmer</option>
                        <option value="Small Farmer" >Small Farmer</option>
                        <option value="Other Farmer" >Other Farmer</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.pslSubCategoryAg" formControlName="pslSubCategoryAg">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="!show">
                    <label for="psl_sub_category_msme">{{labels.pslSubCategory}}</label>
                    <!-- <select formControlName="pslSubCategoryMsme" class="form-control" id="psl_sub_category_msme" name="psl_sub_category_msme" required="required" >
                        <option value="" ></option>
                    </select> -->
                    <app-vf-custom-select [values]="" formControlName="pslSubCategoryMsme">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="psl_certificate_ag">{{labels.pslCertificateAg}}</label>
                    <!-- <select formControlName="pslCertificateAg" class="form-control" id="psl_certificate_ag" name="psl_certificate_ag" required="required" >
                        <option value="PSLC SF" >PSLC SF</option>
                        <option value="PSLC MF" >PSLC MF</option>
                        <option value="PSLC Agriculture" >PSLC Agriculture</option>
                        
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.pslCertificate" formControlName="pslCertificateAg">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 msme" *ngIf="!show">
                    <label for="psl_certificate_msme">{{labels.pslCertificateMsme}}</label>
                    <!-- <select formControlName="pslCertificateMsme" class="form-control" id="psl_certificate_msme" name="psl_certificate_msme" required="required" >
                        <option value="PSLC SF" >PSLC SF</option>
                        <option value="PSLC MF" >PSLC MF</option>
                        <option value="PSLC Agriculture" >PSLC Agriculture</option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.pslCertificate" formControlName="pslCertificateMsme">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 housing" *ngIf="showHs">
                    <label for="psl_certificate_hou">{{labels.pslCertificateHos}}</label>
                    <!-- <select formControlName="pslCertificateHos" class="form-control" id="psl_certificate_hou" name="psl_certificate_hou" required="required" >
                        <option value="PSLC General" >PSLC General</option>
                        <option *ngFor="let pslCertHos of pslDataLov.pslCertificateHos" value="pslCertHos.key">
                            {{pslCertHos.value}}
                        </option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.pslCertificateHos" formControlName="pslCertificateHos">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 agriculture" *ngIf="!showAct">
                    <label for="weaker_section_ag">{{labels.weakerSection}}</label>
                    <!-- <select formControlName="weakerSectionAg" class="form-control" id="weaker_section_ag" name="weaker_section_ag" required="required" >
                       <option *ngFor="let weakSec of pslDataLov.weakerSection" value="weakSec.key">{{weakSec.value}}</option>
                        <option value="small_farmers" >  Small and marrginal Farmers </option>
                        <option value="sc/st" >  Schedule caste and schedule tribes </option>
                        <option value="disabilities" >  Persons with disabilities </option>
                        <option value="women_beneficires" >  Induvival women beneficires upto 1 Lakh borrower</option>
                        <option value="distressed_farmers" >  Distressed farmers indebted to agriculture-insitutional lenders</option>
                        <option value="artisans" >  Artisans, village and cottage industries where induival credit limit upto 1 Lakh borrower</option>
                        <option value="govermen" >  Beneficares under govermen schemes (NRLM, NULM, SRMS)</option>
                        <option value="roi" >  Beneficares of differential rate of interest (DRI)</option>
                        <option value="sel_help" >  Self Help groups </option>
                        <option value="minority" >  Minority communities </option>
                    </select> -->
                    <app-vf-custom-select [values]="pslDataLov?.weakerSection" formControlName="weakerSectionAg">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3  msme" *ngIf="!show">
                    <label for="weaker_section_msme">{{labels.weakerSection}}</label>
                    <!-- <select formControlName="weakerSectionMsme" class="form-control" id="weaker_section_msme" name="weaker_section_msme" required="required" >
                        <option *ngFor="let weakSec of pslDataLov.weakerSection" value="weakSec.key">{{weakSec.value}}</option> -->
                    <!-- <option value="small_farmers" >  Small and marrginal Farmers </option>
                        <option value="sc/st" >  Schedule caste and schedule tribes </option>
                        <option value="disabilities" >  Persons with disabilities </option>
                        <option value="women_beneficires" >  Induvival women beneficires upto 1 Lakh borrower</option>
                        <option value="distressed_farmers" >  Distressed farmers indebted to agriculture-insitutional lenders</option>
                        <option value="artisans" >  Artisans, village and cottage industries where induival credit limit upto 1 Lakh borrower</option>
                        <option value="govermen" >  Beneficares under govermen schemes (NRLM, NULM, SRMS)</option>
                        <option value="roi" >  Beneficares of differential rate of interest (DRI)</option>
                        <option value="sel_help" >  Self Help groups </option>
                        <option value="minority" >  Minority communities </option> -->
                    <!-- </select>  -->
                    <app-vf-custom-select [values]="pslDataLov?.weakerSection" formControlName="weakerSectionMsme">
                    </app-vf-custom-select>
                </div>
            </div>
        </div>
        <div class="btn-sec clear-both row">
            <div class="col-sm-5"> </div>
            <div class="col-sm-7 text-right">
                <button class="btn btn-primary js-btn-prev" type="button" routerLink="['../loan-details']">
                    {{labels.back}} </button> &nbsp;
                <!-- <p class="btn btn-primary save"> Save </p>  -->
                <button class="btn btn-primary save" type="button" (click)="onFormSubmit()"> {{labels.save}} </button>
                &nbsp;
                <button class="btn btn-primary" type="button" routerLink="['../fleet-details']"
                    (click)="onFormSubmit()"> {{labels.next}} </button>
            </div>
        </div>
    </form>
</div>