<main class="mar-top90">
   <div class="container">
         <div class="content">
            <h3 class="title" >Credit Report Authorization</h3>
            <hr>
            <div id=""  >
                <p>As part of your application for loan with Equitas Small Finnance Bank, We request your authorization to pull your credit report.</p>
                <p>By Sharing the OTP send to your mobile number, you authorize Equitas Small Finanace Bank to verify information in your application, and you agree the Equitas Small Finanace Bank may contact third parties to verify any such infromation.</p>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-2">
                    <label>OTP Sent To 9812398456</label>
                </div>
                <div class="col-lg-6">
                    <input class="form-control text-center" type="text" placeholder="Enter OTP" autofocus="" />
                </div>
            </div>
            &nbsp; 
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-7">
                    <button class="btn btn-primary" id="otp_button" > Verify OTP</button>
                    <a  id="a_under_lin" > Resend OTP </a>
                </div>
            </div>
         </div>
   </div>
</main>
<!-- Footer -->
<footer class="footer pf">
    <div class="container">
        <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
</footer>