<!-- <main>
    <div class="container-fluid">
        <form [formGroup]="otpForm">
            <div class="content">
                <h3 class="title">Credit Report Authorization</h3>
                <hr>
                <div id="">
                    <p>As part of your application for loan with Equitas Small Finnance Bank, We request your
                        authorization to pull your credit report.</p>
                    <p>By Sharing the OTP send to your mobile number, you authorize Equitas Small Finanace Bank to
                        verify information in your application, and you agree the Equitas Small Finanace Bank may
                        contact third parties to verify any such infromation.</p>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-lg-2"> -->
<!-- <label>OTP Sent To {{mobileNo}}</label>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control text-center" type="text" placeholder="Enter OTP" autofocus=""
                            formControlName="otp" />

                        <div *ngIf=" otpForm.get('otp').errors?.maxlength">
                            The Length Of OTP Should be 6
                        </div>

                        <div *ngIf=" otpForm.get('otp').errors?.minlength">
                            The Minimun Length Of OTP Should be 6
                        </div>

                    </div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-7">
                        <button class="btn btn-primary" id="otp_button" formControlName="otp" (click)="validateOtp()">
                            Verify
                            OTP</button>&nbsp;&nbsp;
                        <button id="a_under_lin" (click)=sendOtp()> Resend OTP </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main> -->
<!-- Footer -->
<!-- <footer class="footer pf">
    <div class="container">
        <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
</footer> -->



<main>
    <div class="container-fluid" *ngIf="mobileNo">
        <form [formGroup]="otpForm">
            <div class="content">
                <h3 class="title">Credit Report Authorization</h3>
                <hr>
                <div id="">
                    <p>As part of your application for loan, with Equitas Small 
                        Finance Bank, we request your authorization to pull your 
                        credit report.</p>
                    <p>By sharing the OTP sent to your mobile number, you authorize 
                        Equitas Small Finance Bank to verify information in your 
                        application and you agree that Equitas Small Finance Bank 
                        may contact third parties to verify any such information.</p>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                        <label>OTP Sent To {{mobileNo}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                        <input class="form-control text-center" type="password" maxlength="6" placeholder="Enter OTP" autofocus="" formControlName="otp" />
                        <div *ngIf="otpForm.get('otp').errors?.minlength || otpForm.get('otp').errors?.maxlength">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                        <button class="btn  btn-primary otp-button " id="resendotp_button" (click)=sendOtp()> Resend OTP </button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12" style="margin-left: 150px;">
                        <button class="btn btn-primary " id="validateOtp_button " (click)="validateOtp() ">
                            Verify
                            OTP</button>
                        <!-- <button class="btn btn-primary " id="otp_button " (click)=sendOtp()> Resend OTP </button> -->
                    </div>
                    <!-- <div class="col-lg-4">
                        <button class="btn  btn-primary" id="resendotp_button" (click)=sendOtp()> Resend OTP </button>
                    </div> -->
                </div>
            </div>
        </form>
    </div>
</main>
<!-- Footer -->
<footer class="footer pf ">
    <div class="container ">
        <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
</footer>