/* .multisteps-form__progress {
   width: 878px; height: 300px;
} */

.multisteps-form__panel js-active {
    width: 978px;
    height: 286.4px;
}

.container {
    width: 1050px; 
    height: 200.4px;
}

/* .btn-sec clear-both {
    width: 1100px; 
    height: 450px;
} */
.cst_btm_btns {
    margin-bottom: 55px;
    padding-bottom: 10px;
}