<main class="mar-top90">
  <app-lead-section-header></app-lead-section-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h3 class="margin_zero">PDD Screen</h3>
        </div>
        <div class="col-md-6 text-right"></div>
      </div>
  
      <div class="content" [formGroup]="pddForm">
        <form formGroupName="loanForm">
          <div class="row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">Loan Number</label>
              <app-custom-input
                formControlName="loanNumber"
                [className]="'form-control mandatory'"
                [isDisabled]="true"
                >
              </app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">Applicant Name</label>
              <app-custom-input
                formControlName="applicantName"
                [className]="'form-control mandatory'"
                [isDisabled]="true"
                >
              </app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">Disbursement Date</label>
              <kendo-datepicker class="form-control mandatory" formControlName="disbursementDate"
                    [format]="'dd/MM/yyyy'"  [activeView]="'decade'" [disabled]="true">
                  </kendo-datepicker>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">Expected Date</label>
              <kendo-datepicker class="form-control mandatory" formControlName="expectedDate"
                    [format]="'dd/MM/yyyy'"  [activeView]="'decade'" [disabled]="true">
                  </kendo-datepicker>
            </div>
          </div>
        </form>
        <form action="" method="POST" formArrayName="pddDocumentDetails">
          <div class="table-responsive" id="exact_macth_title2_sec">
            <table class="table">
              <thead>
                <tr class="table-head-bg">
                  <td>Document Name</td>
                  <td>Document Number</td>
                  <td>Collected Date</td>
                  <td>POD Number</td>
                  <td>Couriered Date</td>
                  <ng-container *ngIf="isSales"><td>Upload</td></ng-container>
                  <td>View Document</td>
                  <ng-container *ngIf="!isSales">
                    <td>Status</td>
                  <td>Received Date</td>
                  <td>Physical Tracking Number</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
               <ng-container *ngFor="let detail of pddForm.get('pddDocumentDetails')['controls']; let i = index">
                <tr [formGroupName]="i">
                  <td><app-custom-input
                    formControlName="docName"
                    [className]="'form-control mandatory'"
                    [isDisabled]="true"
                    >
                  </app-custom-input></td>
                  <td> <app-custom-input
                    formControlName="docNumber"
                    [className]="'form-control mandatory'"
                    [isDisabled]="!isSales"
                    >
                  </app-custom-input></td>
                  <td><kendo-datepicker class="form-control mandatory" formControlName="collectedDate"
                    [format]="'dd/MM/yyyy'"  [activeView]="'decade'" [disabled]="!isSales" [max]="toDayDate">
                  </kendo-datepicker></td>
                  <td><app-custom-input
                    formControlName="podNumber"
                    [className]="'form-control mandatory'"
                    [isDisabled]="!isSales"
                    [type]="labels?.validationData?.podNumber?.type"
                    [maxLength]="labels?.validationData?.podNumber?.maxLength"
                    >
                  </app-custom-input></td>
                  <td><kendo-datepicker class="form-control mandatory" formControlName="courieredDate"
                    [format]="'dd/MM/yyyy'"  [activeView]="'decade'" [disabled]="!isSales" [max]="toDayDate">
                  </kendo-datepicker></td>
                  <ng-container *ngIf="isSales"><td (click)="uploadDocs(i)"><label
                    ><i
                      class="fa fa-upload fa-3 custom-file-label"
                      aria-hidden="true"
                      id="add_more_documents_upload1a"
                    ></i></label></td></ng-container>
                  <td (click)="downloadDocs(i)">{{documentArray(i)}}</td>
                  <ng-container *ngIf="!isSales">
                  <td><app-vf-custom-select formControlName="cpcStatus" [values]="lovs?.LOVS?.pddDocumentsCpcStatus">
                    </app-vf-custom-select></td>
                  <td><kendo-datepicker class="form-control mandatory" formControlName="cpcReceivedDate"
                    [format]="'dd/MM/yyyy'"  [activeView]="'decade'" [max]="toDayDate">
                  </kendo-datepicker></td>
                  <td><app-custom-input
                    formControlName="phyTrackingNum"
                    [className]="'form-control mandatory'"
                    [type]="labels?.validationData?.physicalTrackingNumber?.type"
                    [maxLength]="labels?.validationData?.physicalTrackingNumber?.maxLength"
                    >
                  </app-custom-input></td>
                  </ng-container>
                </tr>
               </ng-container>
              </tbody>
            </table>
          </div>
        </form>
        <div class="btn-sec clear-both row">
          <div class="col-sm-6 text-right">
            <span id="edit_vehicle_details_replace"></span>
            <a id="back_vehicle_details"
              ><button class="btn btn-primary" type="button" (click)="updateTable()">
                Update
              </button></a
            >
          </div>
          <div class="col-sm-6"></div>
        </div>
        <ng-container *ngIf="isSales">
        <div formGroupName="processForm">
          <div class="row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <!-- <label for="middle_name">ORC Process</label> -->
              <h3 class="h3-margin">ORC Process</h3>
              <!-- <app-custom-input
                formControlName="orcProcess"
                [className]="'form-control mandatory'"
                >
              </app-custom-input> -->
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">ORC Status</label>
              <app-vf-custom-select formControlName="orcStatus" [className]="'form-control mandatory'" [values]="modifiedOrcStatusList" (valueChange)="onOrcStatusChange($event)"></app-vf-custom-select>
              <!-- <app-custom-input
                formControlName="orcStatus"
                [className]="'form-control mandatory'"
                >
              </app-custom-input> -->
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">Received Date</label>
              <kendo-datepicker class="form-control mandatory" formControlName="orcReceivedDate"
                    [format]="'dd/MM/yyyy'"  [activeView]="'decade'" [max]="toDayDate">
                  </kendo-datepicker>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">Remarks</label>
            <textarea class="form-control mandatory" formControlName="orcRemarks"></textarea>
            </div>
          </div>
          <div class="btn-sec clear-both row">
            <!-- <div class="col-sm-4 text-right">
              <a id="back_vehicle_details"
                ><button class="btn btn-primary" type="button" (click)="onBack()">
                  Back
                </button></a
              >
            </div> -->
            <div class="col-sm-6 text-right">
              <a id="back_vehicle_details" class="btn-margin-right"
                ><button class="btn btn-primary" type="button" (click)="onBack()">
                  Back
                </button></a
              >
              <a id="back_vehicle_details"
                ><button class="btn btn-primary" type="button" (click)="callAPIForNumberForm()">
                  Update
                </button></a
              >
            </div>
            <div class="col-sm-6 text-left"><span id="edit_vehicle_details_replace"></span>
              <a id="back_vehicle_details"
                ><button class="btn btn-primary" type="button" [disabled]="isDisableSubmitToCpc" (click)="onSubmit()">
                  Submit to CPC
                </button></a
              >
              </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isSales">
        <div formGroupName="numberForm">
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="middle_name">Registration No</label>
            <app-custom-input
              formControlName="regNumber"
              [className]="'form-control mandatory'"
              [custom]="vehicleRegPattern"
              [minLength]="labels?.validationData?.vehicleRegNo.minLength" [inputClass]="'input-upper'"
                            [maxLength]="labels?.validationData?.vehicleRegNo.maxLength"
              >
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="middle_name">Engine Number</label>
            <app-custom-input
              formControlName="engNumber"
              [className]="'form-control mandatory'"
              [type]="labels?.validationData?.chasisEngineNo.type"
              [maxLength]="labels?.validationData?.chasisEngineNo.maxLength"
              >
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="middle_name">Chassis Number</label>
            <app-custom-input
              formControlName="chasNumber"
              [className]="'form-control mandatory'"
              [type]="labels?.validationData?.chasisEngineNo?.type"
              [maxLength]="labels?.validationData?.chasisEngineNo?.maxLength"
              >
            </app-custom-input>
          </div>
        </div>
        <div class="btn-sec clear-both row">
          <div class="col-sm-6 text-right">
            <a id="back_vehicle_details" class="btn-margin-right"
            ><button class="btn btn-primary" type="button" (click)="onBack()">
              Back
            </button></a
          >
            <a id="back_vehicle_details"
              ><button class="btn btn-primary" type="button" (click)="callAPIForNumberForm()">
                Update
              </button></a
            >
          </div>
          <div class="col-sm-6 text-left"><span id="edit_vehicle_details_replace"></span>
            <a id="back_vehicle_details"
              ><button class="btn btn-primary" type="button" (click)="onSubmit()" [disabled]="isDisableCpcSubmit">
                Submit
              </button></a
            >
            </div>
        </div>
      </div>
      </ng-container>
      </div>
    </div>

    <app-upload-modal
  [showModal]="showModal"
  (close)="showModal = false"
  (uploadSuccess)="onUploadSuccess($event)"
  [docsDetails]="selectedDocDetails"
></app-upload-modal>
    
  </main>


  
  
  
  <!-- Footer -->
  <footer class="footer pf mob-font">
    <div class="container-fluid">
      <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
  </footer>
  
  
  