<main class="mar-top90">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3 class="margin_zero">{{ labels.leadCreationTitle }}</h3>
      </div>
      <div class="col-md-6 text-right"></div>
    </div>

    <div class="content">
      <form [formGroup]="createLeadForm">
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="business_division">{{ labels.businessDivision }} <sub class="star_red_col">*</sub>
            </label>
            <app-vf-custom-select [isDisabled]="isBusinessDivisionEnable" [values]="businessDivision"
              formControlName="bizDivision" (change)="getProductCategory($event)" [isRequired]="'Business Division required'">
            </app-vf-custom-select>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{ labels.productCategory }}
              <sub class="star_red_col">*</sub></label>
            <app-vf-custom-select 
              [values]="productCategoryData" 
              (change)="productCategoryChange($event)"
              formControlName="productCategory"
              [isRequired]="'Product Category required'"
              [isDirty]="isDirty">
            </app-vf-custom-select>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{ labels.product }}
              <sub class="star_red_col">*</sub></label>
            <app-vf-custom-select 
              [values]="productCategorySelectedList" 
              formControlName="product"
              (change)="productChange($event)"
              [isRequired]="'Product required'"
              [isDirty]="isDirty">
            </app-vf-custom-select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="fundingProgram">{{ labels.fundingProgram }}
              <sub class="star_red_col">*</sub></label>
            <app-vf-custom-select 
              [values]="fundingProgramData" 
              formControlName="fundingProgram"
              [isRequired]="'Funding Program required'"
              [isDirty]="isDirty">
            </app-vf-custom-select>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="priority">{{ labels.priority }}</label>
            <app-vf-custom-select 
              [values]="[
                { key: '1', value: 'Yes' },
                { key: '0', value: 'No' }
              ]" 
              formControlName="priority">
            </app-vf-custom-select>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="sourcing_channel"
              >{{ labels.sourcingChannel }}
              <sub class="star_red_col">*</sub></label
            >
            <app-vf-custom-select
              [values]="sourcingChannelData"
              formControlName="sourcingChannel"
              (change)="sourcingChannelChange($event)"
              name="sourcingChannel"
              [isRequired]="'Sourcing Channel required'"
              [isDirty]="isDirty"
            >
            </app-vf-custom-select>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="sourcing_type"
              >{{ labels.sourcingType }}
              <sub class="star_red_col">*</sub></label
            >
            <app-vf-custom-select
              [values]="sourchingTypeValues"
              formControlName="sourcingType"
              (change)="sourchingTypeChange($event) "
              [isRequired]="'Sourcing Type required'"
              [isDirty]="isDirty"
            >
            </app-vf-custom-select>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="sourcing_code"
              >{{ labels.sourcingCode }}
              <sub class="star_blue_col">*</sub></label
            >
            <div class="ng-autocomplete" style="width:100%" >
              <ng-autocomplete 
                [data]="sourcingCodeData"
                [searchKeyword]="keyword"
                (inputChanged)='onSourcingCodeSearch($event)'
                [itemTemplate]="sourcingCodeTemplate"
                [notFoundTemplate]="notFoundTemplate"
                formControlName="sourcingCode"
                [placeHolder]="sourcingCodePlaceholder"
                [minQueryLength]="2"
                [disabled]="isSourchingCode">                                 
              </ng-autocomplete>               
              <ng-template #sourcingCodeTemplate let-item>
              <a [innerHTML]="item.value"></a>
              </ng-template>               
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="sourcing_code">Dealer Code
              <sub class="star_blue_col">*</sub>
            </label>
            <!-- <input formControlName="dealerCode" type="text" class="form-control mandatory select2" id="sourcingCode"
              placeholder="Dealer Code" name="dealerCode" /> -->
              <div class="ng-autocomplete" style="width:100%">
                <ng-autocomplete 
                  [data]="dealerCodeData"
                  [searchKeyword]="keyword"
                  (selected)='selectDealerEvent($event)'
                  (inputChanged)='onDealerCodeSearch($event)'
                  [itemTemplate]="dealerCodeTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                  formControlName="dealerCode"
                  [placeHolder]="'Dealer Code'"
                  [minQueryLength]="2">                                 
                </ng-autocomplete>               
                <ng-template #dealerCodeTemplate let-item>
                <a [innerHTML]="item.dealorName"></a>
                </ng-template>               
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="sourcing_code">RC Limit
            </label>
            <input disabled formControlName="rcLimit" type="text" class="form-control mandatory select2" id="rcLimit"
              placeholder="RC Limit" name="rcLimit" />
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="sourcing_code">RC Utilized Limit
            </label>
            <input disabled formControlName="rcUtilizedLimit" type="text" class="form-control mandatory select2"
              id="rcUtilizedLimit" placeholder="RC Utilized Limit" name="rcUtilizedLimit" />
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="sourcing_code">RC Unutilized Limit
            </label>
            <input disabled formControlName="rcUnutilizedLimit" type="text" class="form-control mandatory select2"
              id="rcUnutilizedLimit" placeholder="RC Utilized Limit" name="rcUnutilizedLimit" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="spoken_code">{{ labels.spokeCodeLocation }}
              <sub class="star_blue_col">*</sub></label>
            <app-vf-custom-select 
              [values]="spokesCodeLocation" 
              formControlName="spokeCodeLocation" 
              [isRequired]="'spokes Code Location required'">
            </app-vf-custom-select>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="account_branch">{{ labels.loanAccountBranch }}
              <sub class="star_red_col">*</sub></label>
            <!-- <app-vf-custom-select 
              [values]="lovLabels?.loanAccountBranch" 
              formControlName="loanBranch">
            </app-vf-custom-select> -->
            <input type="text" class="form-control mandatory" 
              formControlName="loanBranch" required />
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="lead_handled">{{ labels.leadHandledBy }}</label>
            <!-- <app-vf-custom-select 
              [values]="lovLabels?.leadHandledBY" 
              formControlName="leadHandeledBy">
            </app-vf-custom-select> -->
            <input type="text" class="form-control mandatory" formControlName="leadHandeledBy" required />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="entity">{{ labels.entity }} <sub class="star_red_col">*</sub></label>
            <app-vf-custom-select 
              [values]="LOV.LOVS.entityType" 
              formControlName="entity" 
              [isRequired]="'Entity Required'"
              (change)="selectApplicantType($event, false)"
              [isDirty]="isDirty">
            </app-vf-custom-select>
          </div>
        </div>

        <div class="row individual_section_leadco">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="first_name" *ngIf="applicantType == 'INDIVENTTYP'">{{ labels.firstName }}
              <sub class="star_red_col">*</sub>
            </label>
            <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName1 }}
              <sub class="star_red_col">*</sub>
            </label>
            <app-custom-input
              formControlName="nameOne"
              [className]="'form-control mandatory'"
              [placeholder]="'First Name'"
              [maxLength]="regexPattern.nameLength"
              [patternCheck]="namePattern"
              [isRequired]="'First Name is mandatory'"
              [isDirty]="isDirty"
              >
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="middle_name" *ngIf="applicantType == 'INDIVENTTYP'">{{labels.middleName}}</label>
            <label for="middle_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName2 }}</label>
            <app-custom-input
              formControlName="nameTwo"
              [className]="'form-control mandatory'"
              [placeholder]="'Middle Name'"
              [maxLength]="regexPattern.nameLength"
              [patternCheck]="namePattern"
              >
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="last_name" *ngIf="applicantType == 'INDIVENTTYP'">{{ labels.lastName }}</label>
            <label for="last_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}</label>
            <app-custom-input
              formControlName="nameThree"
              [className]="'form-control mandatory'"
              [placeholder]="'Last Name'"
              [maxLength]="regexPattern.nameLength"
              [patternCheck]="namePattern">
            </app-custom-input>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="mobile">{{ labels.mobile }} <sub class="star_red_col">*</sub></label>
            <app-custom-input
              formControlName="mobile"
              [className]="'form-control mandatory'"
              [placeholder]="'Mobile'"
              [maxLength]="regexPattern.maxLength"
              [patternCheck]="regexPattern.mobile"
              [isRequired]="'Contact Number mandatory'"
              [isDirty]="isDirty">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="dob" *ngIf="applicantType == 'INDIVENTTYP'">{{ labels.dateOfBirth }}
              <sub class="star_red_col">*</sub>
            </label>
            <label for="dob" *ngIf="applicantType == 'NONINDIVENTTYP'">{{
              labels.dateOfIncorporation
            }}</label>
             <!-- <input
              type="date"
              class="form-control mandatory"
              id="dob"
              placeholder="Date of birth"
              name="dob"
              formControlName="dateOfBirth"
            /> -->
            <kendo-datepicker class="form-control mandatory" 
              formControlName="dateOfBirth" 
              [format]="'dd/MM/yyyy'"
              [max]="toDayDate" 
              placeholder="Date of birth"
              [activeView]="'decade'"></kendo-datepicker>  
          </div>


          <div class="btn-sec clear-both">
            <!-- <div> -->
            <!-- <label>Note:
              <sub class="star_red_col">* </sub>
              <span>Fields are mandatory</span>
              <sub class="star_blue_col">* </sub>
              <span class="lable">Fields are conditional mandatory</span>
            </label> -->
          <!-- </div> -->
            <div class="col-sm-12 text-right">
              <button type="button" class="btn btn-primary" value="submit" (click)="onSubmit()">
                {{ labels.createLead }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

<div class="modal" id="modal" [ngClass]="{ 'dis-block': showModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Lead Creation</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" (click)="showModal = false">×</button> -->
      </div>
      <div class="modal-body">
        <p id="">Lead created successfully ! <strong>Lead ID:</strong> {{leadId}}</p>
      </div> 
      <div class="modal-footer text-center">
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          id="reject_dlead"
          (click)="navgiateToNextPage()"
        >
          OK
        </button>
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancel
        </button> -->
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="footer pf">
  <div class="container-fluid">
    <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
  </div>
</footer>


