<main class="mar-top90">
    <div class="container">
        <h3 class="margin_zero">{{labels.leadCreationTitle}}</h3>
         <!-- <form [formGroup]="createLeadForm"> -->
        <div class="content">
            <div class="row">               
                    <div class="form-group col-sm-6 col-md-4 col-lg-3" >
                        <label for="business_division">{{labels.businessDivision}}</label>
                        <select class="form-control mandatory " id="business_division" >
                            <option value="">-- select one -- </option>
                            <option *ngFor = "let item of lovLabels.businessDivision" value="item.key">{{item.value}}</option>
                             <option value="Housing Finance">Housing Finance</option>
                            <option value="Loan Against Property">Loan Against Property</option>
                            <option value="Gold Loan">Gold Loan</option> 
                        </select>
                        <!-- <app-vf-custom-select 
                            [values]="values" 
                            (change)="gotValue($event)"
 
                            [selectedOption]="test">
                        </app-vf-custom-select> -->
                    </div>

            </div>
            <div class="row">

                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="product_type">{{labels.productCategory}}</label>
                    <select class="form-control mandatory " id="product_type">
                        <option value="">-- select one -- </option>
                        <option  *ngFor = "let item of lovLabels.productCategory" value="item.key">{{item.value}}</option>
                        <!-- <option value="New Cars">New Cars</option>
                        <option value="Used CV">Used CV</option>
                        <option value="Used Cars">Used Cars</option> -->
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="child_loan">{{labels.childLoan}}</label>
                    <select class="form-control " id="child_loan">
                        <option value="">-- select one -- </option>
                        <option *ngFor = "let item of lovLabels.childLoan" value="{{item.key}}">{{item.value}}</option>
                        <!-- <option value="Topup-2">Topup-2</option>
                        <option value="Tire Loan">Tire Loan</option>
                        <option value="Insurance Loan">Insurance Loan</option> -->
                    </select>

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="scheme_type">{{labels.scheme_Promotion}}</label>
                    <select class="form-control " id="scheme_type">
                        <option value="">-- select one -- </option>
                        <option *ngFor = "let item of lovLabels.schemePromotion" value="item.key">{{item.value}}</option>
                        <!-- <option value="1">Scheme Type-1</option>
                        <option value="2">Scheme Type-2</option> -->
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="subvention">{{labels.subventionApplied}}</label>
                    <select class="form-control " id="subvention_applied">
                        <option value="">-- select one -- </option>
                        <option *ngFor = "let item of lovLabels.subventionApplied" value="item.key">{{item.value}}</option>
                        <!-- <option value="Applied">Applied </option>
                        <option value="Not-Applied">Not-Applied</option> -->
                    </select>

                </div>

                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="subvention">{{labels.subvention}}</label>
                    <select class="form-control " id="subvention">
                        <option value="">-- select one -- </option>
                        <option *ngFor = "let item of lovLabels.subvention" value="item.key">{{item.value}}</option>
                        <!-- <option value="1">subvention 1 </option>
                        <option value="2">subvention 2 </option> -->
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="sourcing_channel">{{labels.sourcingChannel}}</label>
                    <select class="form-control mandatory " id="sourcing_channel">
                        <option value="">-- select one -- </option>
                        <option *ngFor = "let item of lovLabels.soucringChannel" value="item.key">{{item.value}}</option>
                        <!-- <option value="Assets Division">Assets Division</option>
                        <option value="Liability Division">Liability Division</option>
                        <option value="Web based">Web based</option>
                        <option value="Campaign">Campaign</option>
                        <option value="Corporate Finance">Corporate Finance</option>
                        <option value="Business Banking">Business Banking</option>
                        <option value="Business Correspondence">Business Correspondence</option>
                        <option value="Call Centre">Call Centre</option> -->
                    </select>

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="sourcing_type">{{labels.sourcingType}}</label>
                    <select class="form-control mandatory " id="sourcing_type">
                        <option value="">-- select one -- </option>
                    </select>

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="sourcing_code">{{labels.sourcingCode}}</label>
                    <select class="form-control mandatory select2 " id="sourcing_code">
                        <option value="">-- select one -- </option>
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="spoken_code">{{labels.spokeCodeLocation}}</label>
                    <select class="form-control " id="spoken_code">
                        <option value="">-- select one -- </option>
                    </select>

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="account_branch">{{labels.loanAccountBranch}}</label>
                    <select class="form-control mandatory" id="account_branch">
                        <option value="">-- select one -- </option>
                    </select>

                </div>

                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="lead_handled">{{labels.leadHandledBy}}</label>
                    <select class="form-control mandatory " id="lead_handled">
                        <option value="">-- select one -- </option>
                        <option *ngFor = "let item of lovLabels.leadHandledBY" value="item.key">{{item.value}}</option>
                        <!-- <option value="1">Person-1</option>
                        <option value="2">Person-2</option> -->
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="entity">{{labels.entity}}</label>
                    <select class="form-control mandatory" id="entity">
                        <option value="">-- select one -- </option>
                        <option *ngFor = "let item of lovLabels.entity" value="item.key">{{item.value}}</option>
                        <!-- <option value="individual">Individual </option>
                        <option value="non-individual">Non-individual </option> -->
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="first_name">{{labels.firstName}}</label>
                    <input type="text" class="form-control mandatory" id="first_name" placeholder="First Name"
                        name="first_name">

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="middle_name">{{labels.middleName}}</label>
                    <input type="text" class="form-control mandatory" id="middle_name" placeholder="Middle Name"
                        name="middle_name">

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="last_name">{{labels.lastName}}</label>
                    <input type="text" class="form-control mandatory" id="last_name" placeholder="Last Name"
                        name="last_name">

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="mobile">{{labels.mobile}}</label>
                    <input type="text" class="form-control mandatory" id="mobile" placeholder="Mobile" name="mobile">

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="dob">{{labels.dateOfBirth}}</label>
                    <input type="date" class="form-control mandatory" id="dob" placeholder="Date of birth" name="dob">

                </div>



                <div class="btn-sec clear-both">
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-primary">{{labels.cancel}} </button>
                    </div>
                    <div class="col-sm-7 text-right">

                        <button type="button" routerLink="../lead-dedupe" class="btn btn-primary" value="submit" >{{labels.createLead}}</button>

                    </div>
                </div>
            </div>
           


        </div>
         <!-- </form> -->
    </div>

</main>

<!-- Footer -->
<footer class="footer pf">
    <div class="container">
        <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
</footer>