<div class="modal in" id="pageRedirectModal" [ngClass]="{ 'dis-block': showPageRedirectModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" (click)="showPageRedirectModal = false">&times;</button>
        <h4 class="modal-title text-center red-txt">Warning</h4>
      </div>
      <div class="modal-body ">
        <div class="">
          <div class="row text-center">
            <div class="col-12 p-0">
              <div class="form-group">
                <p>Oops!! Changes you made will not be saved! Page redirect  to login.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" ok_footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          (click)="onOkay()">Yes</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="showPageRedirectModal = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
