.dropdown_individual {
    background-color: #6c757d;
    padding: 6px;
    color: white;
}

.mar-bot-btn{
    margin-bottom: 25px;
}

.cst_btm_btns{
    margin-bottom: 15px;
}
.p-5{
    padding: 5px;
}
.main-head{
    background-color: #272264;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0px 5px;
}

.sub-head{
    background-color: #afafaf;
    padding: 6px;
    border-radius: 5px;
    color: #fff;
    margin: 0px 0px;
    font-size: 14px;
}

.line-hgt{
    line-height:2em;
}

.mar-type{
    margin: 5px 15px;
    font-weight:400;
}

@media (min-width:200px) and (max-width:767px) {
    .heading-style{
        width: 95%;
        margin: auto;
    }
    
}

