<div class="content">
    <form class="multisteps-form__form" [formGroup]="InsuranceDetailForm" *ngIf="label">

        <div class="btn-sec clear-both row">
            <div class="col-sm-5">
                <select [disabled]="disableSaveBtn" id="select_main_button" class="dropdown_individual"
                    (change)="selectInsuranceType($event.target.value)" formControlName="insuranceType">
                    <option [value]="ins.key" *ngFor="let ins of LOV?.insuranceType"> {{ins.value}}</option>
                </select>
            </div>
        </div>

        <ng-container formArrayName="InsuranceFormArray">

            <div *ngFor="let obj of InsuranceDetailForm.get('InsuranceFormArray')['controls']; let i=index;let l=last"
                [formGroupName]="0">

                <br /> <br />

                <div id="credit_shield_section_start" *ngIf="insuranceType == 0">

                    <div class="row">

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="credit_shield_applicable">{{labelCreditShield.creditShieldApplicable}}</label>
                            <app-custom-input formControlName="creditShieldApplicable" [type]="'text'"
                                [id]="'credit_shield_applicable'" [className]="'form-control mandatory'"
                                [placeholder]="'Credit Shield Applicable'">
                            </app-custom-input>
                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="insurance_company_name">{{labelCreditShield.insuranceCompanyName}}</label>
                            <app-vf-custom-select [values]="" [id]="'insurance_company_name'"
                                formControlName="insuranceCompanyName">
                            </app-vf-custom-select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">

                            <label
                                for="credit_shield_coverage_amount">{{labelCreditShield.creditShieldCoverageAmount}}</label>

                            <app-custom-input formControlName="creditShieldCoverageAmount" [type]="'text'"
                                [id]="'credit_shield_coverage_amount'" [className]="'form-control mandatory'"
                                [placeholder]="'Credit Shield Coverage Amount'">
                            </app-custom-input>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="credit_shield_premium">{{labelCreditShield.creditShieldPremium}}</label>

                            <app-custom-input formControlName="creditShieldPremium" [type]="'text'"
                                [id]="'credit_shield_premium'" [className]="'form-control mandatory'"
                                [placeholder]="'Credit Shield Premium'">
                            </app-custom-input>
                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="credit_shield_nominee">{{labelCreditShield.creditShieldNominee}}</label>
                            <app-custom-input formControlName="creditShieldNominee" [type]="'text'"
                                [id]="'credit_shield_nominee'" [className]="'form-control mandatory'"
                                [placeholder]="'Credit Shield Nominee'">
                            </app-custom-input>
                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="credit_shield_nominee_age">{{labelCreditShield.creditShieldNomineeAge}}</label>

                            <app-custom-input formControlName="creditShieldNomineeAge" [type]="'text'"
                                [id]="'credit_shield_nominee_age'" [className]="'form-control mandatory'"
                                [placeholder]="'Credit Shield Nominee Age'">
                            </app-custom-input>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="credit_shield_nominee_relationship">
                                {{labelCreditShield.creditShieldNomineeRelationship}}</label>
                            <app-vf-custom-select [values]="" [id]="'credit_shield_nominee_relationship'"
                                formControlName="creditShieldNomineeRelationship">
                            </app-vf-custom-select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="credit_shield_added">{{labelCreditShield.creditShieldaddedtoLoanAmount}}</label>

                            <app-custom-input formControlName="creditShieldaddedtoLoanAmount" [type]="'text'"
                                [id]="'credit_shield_added'" [className]="'form-control mandatory'"
                                [placeholder]="'Credit Shield added to Loan Amount'">
                            </app-custom-input>
                        </div>

                    </div>

                </div>

                <div id="existing_insurance_section_start" *ngIf="insuranceType == 1">

                    <div class="row">

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label
                                for="insurance_company_name">{{labelExistingInsuranceDetails.insuranceCompanyName}}</label>
                            <app-custom-input formControlName="insuranceCompanyName" [type]="'text'"
                                [id]="'insurance_company_name'" [className]="'form-control mandatory'"
                                [placeholder]="'Insurance Company Name'">
                            </app-custom-input>

                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label
                                for="date_current_policy">{{labelExistingInsuranceDetails?.expiryDateofCurrentpolicy}}</label>
                            <app-custom-input formControlName="expiryDateofCurrentpolicy" [type]="'text'"
                                [id]="'date_current_policy'" [className]="'form-control mandatory'"
                                [placeholder]="'Expiry Date of Current Policy'">
                            </app-custom-input>
                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">

                            <label for="no_claim_bonus">{{labelExistingInsuranceDetails.noClaimBonus}}</label>

                            <app-custom-input formControlName="noClaimBonus" [type]="'text'" [id]="'no_claim_bonus'"
                                [className]="'form-control mandatory'" [placeholder]="'No Claim Bonus'">
                            </app-custom-input>

                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="own_damage_discount">{{labelExistingInsuranceDetails.ownDamageDiscount}}</label>

                            <app-custom-input formControlName="ownDamageDiscount" [type]="'text'"
                                [id]="'own_damage_discount'" [className]="'form-control mandatory'"
                                [placeholder]="'Own Damage Discount'">
                            </app-custom-input>
                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="comprehensive">{{labelExistingInsuranceDetails.comprehensive}}</label>

                            <app-vf-custom-select [values]="" [id]="'comprehensive'" formControlName="comprehensive">
                            </app-vf-custom-select>

                        </div>

                        <div class="form-group col-sm-6 col-md-4 col-lg-3">
                            <label for="insurance_type">{{labelExistingInsuranceDetails.insuranceType}}
                            </label>
                            <app-vf-custom-select [values]="" [id]="'insurance_type'" formControlName="insuranceType">
                            </app-vf-custom-select>
                        </div>

                    </div>
                </div>

            </div>
        </ng-container>

    </form>
</div>

<div class="btn-sec clear-both row cst_btm_btns mar-bot-btn text-right">
    <div class="col-sm-12">
        <button class="btn btn-primary cus-btn-sty" type="button"
            [routerLink]="['../deviations']">{{label.back}}</button>
        <button class="btn btn-primary save cus-btn-sty" *ngIf="!disableSaveBtn"> {{label.save}} </button>
    </div>
</div>