<div
  class="modal"
  id="ucicModel2"
  [ngClass]="{ 'dis-block': showUpload }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-center">
        <!-- <h4 class="modal-title">Customer Dedupe Match Found</h4> -->
        <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" method="POST">
            <div class="table-responsive tab-content">
              <!-- <p id="probale_title4">Probable Matches</p> -->
      
              <table class="table" id="exact_macth_title4_sec">
                <thead>
                  <tr class="table-head-bg">
                    <td>Product Category</td>
                    <td>Product</td>
                    <td>Sourcing Channel</td>
                    <td>Sourcing Type</td>
                    <td>Sourcing Code</td>
                    <td>Applicant First Name</td>
                    <td>Applicant Last Name</td>
                    <td>Applicant Phone Number</td>
                    <td>Applicant DOB</td>
                    <td>Branch</td>
                    <td>Lead Handled By</td>
                    <td>Requested Loan Amount</td>
                    <td>Parent Loan Account Number</td>
                    <td>Status</td>
                    <td>Remarks</td> 
                     
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of details | paginate: { itemsPerPage: itemsPerPage,currentPage: q }">
                    <td>{{data.productCategory}}</td>
                    <td>{{data.product}}</td>
                    <td>{{data.sourcingChannelDesc}}</td>
                    <td>{{data.sourcingTypeDesc}}</td>
                    <td>{{data.sourcingCode}}</td>
                    <td>{{data.appFirstName}}</td>
                    <td>{{data.appLastName}}</td>
                    <td>{{data.appPhoneNumber}}</td>
                    <td>{{data.appDOB}}</td>
                    <td>{{data.loanBranch}}</td>
                    <td>{{data.leadHandledBy}}</td>
                    <td>{{data.totalLoanAmount}}</td>
                    <td>{{data.parentLoanAccNum}}</td>
                    <td *ngIf="data.status === 'true'" style="color: green;">Success</td>
                    <td *ngIf="data.status === 'false'" style="color: red;">Fail</td>
                    <td [ngClass]="{'status-success': data.status === 'true', 'status-fail': data.status === 'false'}">{{data.description}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="records col-xs-3 col-sm-4 col-md-6">
      
                <div class="col-lg-3"><label>No. of Rows </label>
                  <!-- (change)="setPage($event)" -->
                    <select class="form-control  input-sm"  [(ngModel)]="itemsPerPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option class="disable" value="25">25</option>
                    <option class="disable" value="50">50</option>
                </select>
                </div>
      
            </div>
            <!-- <div class="col-xs-3 col-sm-4 col-md-6"> -->
              <nav class="text-right margin-18">
                <!-- (pageChange)="setPage($event)" -->
                  <pagination-controls previousLabel="" nextLabel=""  (pageChange)="q = $event"></pagination-controls>
              </nav>
          <!-- </div> -->
        </div>
      </div>

      <!-- Modal footer -->
      
      <div class="modal-footer text-center">
        <button
        type="button"
        class="btn btn-danger"
        data-dismiss="modal"
        (click)="onCancel()"
      >
        Cancel
      </button>
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="onSave()"
        >
        Save Valid Records 
        </button>
        
      </div>
    </div>
  </div>
</div>