<main class="mar-top90">
    <div class="container overflow-hidden">
        <h3 class="margin_zero">Lead ID : 125468</h3>

     <app-dde-header></app-dde-header>






        <!--progress bar-->
        <div class="multisteps-form">
            <div class="multisteps-form__progress">
                <button class="multisteps-form__progress-btn" type="button" id="credit_sourcing_details">Sourcing Details</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_product_details">Product Details</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_application_details">Applicant Details</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_vehicle_details">Vechical Details</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_loan_details">Loan Details</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_psl_data">PSL Data</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_fleet_details">Fleet Details</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_fi_pd">Fi Cum PD Report</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_viability_report">Viability Report</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_vehicle_valuation">Vehicle Valuation</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_cam">CAM</button>
                <button class="multisteps-form__progress-btn" type="button" id="credit_deviations">Deviations</button>
                <button class="multisteps-form__progress-btn " type="button" id="credit_liveloan">Live Loan</button>
                <button class="multisteps-form__progress-btn " type="button" id="credit_document_upload">Document Details</button>
            </div>  
            <div class="content">
            <router-outlet></router-outlet>      
            </div>
        </div>
    </div>
</main>