<div class="content">
  <!--basic table starts here-->
  <table class="cam_table">
    <caption class="caption">{{labels?.basicDetailsTitle}}</caption>

    <tr>
      <!-- <td>{{label.leadCreatedBy}}</td>
      <td>Dhanapal</td>
      <td>Lead Created Date</td>
      <td>12-02-2020</td>
      <td>Product</td>
      <td>New Car</td> -->
      <td>{{ labels?.leadCreatedBy }}</td>
      <td>{{ basicDetails?.leadCreatedBy }}</td>
      <td>{{ labels?.leadCreatedDate }}</td>
      <td>{{ basicDetails?.leadCreatedDate }}</td>
      <td>{{ labels?.product }}</td>
      <td>{{ basicDetails?.product }}</td>
    </tr>
    <tr>
      <td>Loan Amount</td>
      <td>1500000</td>
      <td>Applicant</td>
      <td>Deepika Malhotra</td>
      <td>Mobile No</td>
      <td>7894561230</td>
    </tr>
    <tr>
      <td>Proposal Type</td>
      <td></td>
      <td>Customer Type</td>
      <td></td>
      <td>Applicant Name</td>
      <td></td>
    </tr>
    <tr>
      <td>Entity Type</td>
      <td colspan="5"></td>
    </tr>
  </table>
  <!--basic table ends here-->

  <!---sourcing table starts here-->
  <table class="cam_table mt-3">
    <caption class="caption">Sourcing Details</caption>

    <tr>
      <td>App no</td>
      <td></td>
      <td>CAM Date</td>
      <td></td>
      <td>Existing Exposure</td>
      <td>₹ 0.00
      </td>
    </tr>
    <tr>
      <td>Area Name</td>
      <td></td>
      <td>Branch Name</td>
      <td></td>
      <td>Proposed Exposure</td>
      <td>₹ 0.00
      </td>

    </tr>
    <tr>
      <td>Sourcing Chennal</td>
      <td></td>
      <td>Sourcing SO Name</td>
      <td></td>
      <td>Overall Exposure</td>
      <td>₹ 0.00
      </td>


    </tr>

    <tr>
      <td>Payout %</td>
      <td></td>
      <td>Distance from branch</td>
      <td></td>
      <td>Credit Approval</td>
      <td>
        <!-- <form>
              <label class="checkbox-inline">
                <input type="checkbox" value="">No Deviation
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">BM
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">CM
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">CLM
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">CLCM
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">ACM
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">AM
              </label>
            </form> -->
      </td>
    </tr>
    <tr>
      <td>Customer Category</td>
      <td></td>
      <td>Loan amount</td>
      <td></td>
      <td>Rate Approval</td>
      <td>


    </tr>
    <tr>
      <td>Branch ED%</td>
      <td></td>
      <td>SO ED %</td>
      <td></td>
      <td>Property Ownership</td>
      <td>
      </td>


    </tr>
    <tr>
      <td>VF score</td>
      <td></td>
      <td>FI Status</td>
      <td></td>



      <td>Proof Collected</td>
      <td>
      </td>
    </tr>
    <tr>
      <td>PD status</td>
      <td colspan="5">
      </td>
    </tr>
  </table>
  <!--sourcing table ends here--->

  <!---proposed Vechicle Details-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">Proposed Vehicle Details</caption>
    <thead>
      <tr class="">
        <th>SR</th>
        <th>Asset Discription</th>
        <th>Model</th>
        <th>Net Asset Cost</th>
        <th>Loan Amount</th>
        <th>LTV</th>
        <th>IRR</th>
        <th>Tenure Month</th>
        <th>PF</th>
        <th>Other Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td>3</td>
        <td></td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td>4</td>
        <td></td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td>5</td>
        <td></td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td colspan="3"></td>
        <td class="readonly">Total</td>
        <td class="readonly">0</td>
        <td class="readonly">0</td>
        <td class="" colspan="4"></td>
      </tr>
      <tr>
        <td colspan="2">SOURCE OF MARGIN MONEY</td>
        <td colspan="9"></td>
      </tr>
      <tr>
        <td colspan="2">Any Other Remarks</td>
        <td colspan="9"></td>
      </tr>
    </tbody>
  </table>
  <!---proposed Vechicle Details-->

  <!---party agreement details-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">PARTY TO AGREEMENT</caption>
    <thead>
      <tr class="">
        <th>ENTITY</th>
        <th>NAME</th>
        <th>ENTITY</th>
        <th>AGE</th>
        <th>RELATIONSHIP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bank_name">APPLICANT</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>

      </tr>
      <tr>

        <td class="bank_name">COAPP 1</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>



      </tr>
      <tr>
        <td class="bank_name">CO-APPLICANT 2</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="bank_name">CO-APPLICANT 3</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Any Other Remarks</td>
        <td colspan="6" class=""></td>
      </tr>
    </tbody>
  </table>
  <!---party agreement details-->

  <!---cibil synopsis--->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">CIBIL SYNOPSYS(ACCOUNT WISE OD DETAILS CAN BE MENTIONED IN SEPAFRATE
      SHEET)</caption>
    <thead>
      <tr class="">

        <th>ENTITY</th>
        <th>CIBIL SCORE</th>
        <th>OD-INDIVIDUAL</th>
        <th>OD IN JOINT A/C</th>
        <th>OD AS GUARANTOR</th>
        <th>TOTAL OD</th>
        <th>CLEARANCE PROOF</th>
        <th>REMARKS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bank_name">APPLICANT</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>

        <td class="bank_name">COAPP 1</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>


      </tr>
      <tr>
        <td class="bank_name">CO-APP 2</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>

        <td class="bank_name">CO-APP 3</td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>

      <tr>
        <td colspan="1">Any Other Remarks</td>
        <td colspan="7" class=""></td>
      </tr>
    </tbody>
  </table>
  <!--cibil synopsis-->

  <!--banking synopsis-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">BANKING SUMMARY</caption>

    <tbody>
      <tr>
        <td class="bank_name">BANK NAME</td>
        <td colspan="2"></td>
        <td class="bank_name">
          ACCOUNT TYPE
        </td>
        <td></td>
        <td></td>
        <td class="bank_name">LIMIT IF ANY</td>
        <td width="50"></td>
        <td></td>
      </tr>
      <tr class="bank_name">
        <td>FROM</td>
        <td></td>
        <td>
          AVERAGE CREDIT
        </td>
        <td>AVERAGE DEBIT</td>
        <td colspan="2">AVERAGE ACCOUNT BALANCE</td>
        <td colspan="2">NO OF INWARD BOUNCE</td>
        <td>NO OF OUTWARD BOUNCE</td>

      </tr>
      <tr>
        <td class="bank_name">TO</td>
        <td colspan="1" width="50"></td>
        <td colspan="7">

        </td>

      </tr>
      <tr>
        <td class="bank_name">NO OF MONTH</td>
        <td colspan="1"></td>
        <td colspan="7">

        </td>

      </tr>
    </tbody>
  </table>
  <!--banking synopsis-->

  <!---fleet summary-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">FLEET SUMMARY</caption>
    <tbody>
      <tr>
        <td class="bank_name">Existing Financers</td>
        <td colspan="4">HDFC, ICICI, CHOLA, INDUSIND</td>
        <td class="bank_name">1st Veh
        </td>
        <td colspan="2">TATA LPK 2518</td>
        <td class="bank_name">Purchased on</td>
        <td class="">12-05-2016</td>
      </tr>
      <tr class="bank_name">
        <td rowspan="2">ENTITY</td>
        <td colspan="5">NO OF VEH OWNED</td>
        <td colspan="3">EXPANSION AND FFR</td>
        <td>Remarks</td>
      </tr>
      <tr>
        <td>HCV</td>
        <td>LCV</td>
        <td>SCV</td>
        <td>Others</td>
        <td>TOTAL</td>
        <td>ADDED IN LAST 1 YR</td>
        <td>FREE ASSET</td>
        <td>FFR</td>
        <td rowspan="5"></td>
      </tr>

      <tr>
        <td class="bank_name">Applicant</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="bank_name">COAPP1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="bank_name">COAPP2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="bank_name">COAPP3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>ANY OTHER REMARKS </td>
        <td colspan="9">APP IS IN TRANSPORT FIELD FROM LAST MANY YEARS</td>
      </tr>
    </tbody>
  </table>
  <!--fleet summary--->

  <!--track validation summary-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">TRACK VALIDATION SUMMARY</caption>
    <thead>
      <tr class="">
        <th>
          TRACK VALIDATED
        </th>
        <th>
          5
        </th>
        <th>
          FINANCIER
        </th>
        <th>
          ASSET
        </th>
        <th>
          VEH REG NO
        </th>
        <th>
          SEASONING
        </th>
        <th colspan="2">
          OVERALL
        </th>
        <th colspan="2">
          LAST 6 MONTH
        </th>
        <th colspan="2">
          LAST 12 MONTH
        </th>
      </tr>
      <tr>
        <td colspan="6">
        </td>
        <td>
          AD
        </td>
        <td>
          PD
        </td>
        <td>
          AD
        </td>
        <td>
          PD
        </td>
        <td>
          AD
        </td>
        <td>
          PD
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bank_name">
          APPLICANT
        </td>
        <td>
          TRACK 1
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td class="bank_name">
          APPLICANT
        </td>
        <td>
          TRACK 2
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td class="bank_name">
          APPLICANT
        </td>
        <td>
          TRACK 3
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td class="bank_name">
          APPLICANT
        </td>
        <td>
          TRACK 4
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td class="bank_name">
          APPLICANT
        </td>
        <td>
          TRACK 5
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td class="bank_name">
          APPLICANT
        </td>
        <td>
          TRACK 6
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          ANY OTHER REMARKS
        </td>
        <td colspan="11">
          APP IS IN TRANSPORT FIELD FROM LAST MANY YEARS
        </td>
      </tr>
    </tbody>
  </table>

  <!--key financial-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">KEY FINANCIAL</caption>
    <tbody>
      <tr>
        <td class="bank_name">FY</td>
        <td>2018-19</td>
        <td>2017-18</td>
        <td>2016-17</td>
        <td>ANY OTHER REMARKS</td>

      </tr>
      <tr>
        <td class="bank_name">TURNOVER</td>

        <td></td>
        <td></td>
        <td></td>
        <td rowspan="4"></td>
      </tr>

      <tr>
        <td class="bank_name">FREIGHT PAID</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="bank_name">DEPRICIATION</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="bank_name">NET PROFIT(PBT)</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td class="bank_name">CASH GENERATION(PBT+DEP)</td>
        <td>₹ 0.00</td>
        <td>₹ 0.00</td>
        <td>₹ 0.00</td>
        <td></td>
      </tr>

    </tbody>
  </table>
  <!--key financial-->
  <!--credity officer remarks-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">CREDIT OFFICER'S REMARKS</caption>
    <tbody>
      <tr>
        <td colspan="6" height="80"></td>
      </tr>
      <tr>
        <td width="100">NAME</td>
        <td width="500"></td>
        <td width="100">E CODE</td>
        <td width="200"></td>
        <td width="100">Date</td>
        <td width="200"></td>
      </tr>

    </tbody>
  </table>
  <!--credity officer remarks-->
  <!--recommondation-->
  <table class="cam_table_proposed mt-3">
    <caption class="caption">CM RECOMMENDATION</caption>
    <tbody>
      <tr>
        <td colspan="6" height="80"></td>
      </tr>
      <tr>
        <td width="100">NAME</td>
        <td width="500"></td>
        <td width="100">E CODE</td>
        <td width="200"></td>
        <td width="100">Date</td>
        <td width="200"></td>
      </tr>

    </tbody>
  </table>
  <table class="cam_table_proposed mt-3">
    <caption class="caption">ACM RECOMMENDATION/APPROVAL</caption>
    <tbody>
      <tr>
        <td colspan="6" height="80"></td>
      </tr>
      <tr>
        <td width="100">NAME</td>
        <td width="500"></td>
        <td width="100">E CODE</td>
        <td width="200"></td>
        <td width="100">Date</td>
        <td width="200"></td>
      </tr>

    </tbody>
  </table>
  <table class="cam_table_proposed mt-3">
    <caption class="caption">NCM/BH APPROVAL-RECOMMENDATION</caption>
    <tbody>
      <tr>
        <td colspan="6" height="80"></td>
      </tr>
      <tr>
        <td width="100">NAME</td>
        <td width="500"></td>
        <td width="100">E CODE</td>
        <td width="200"></td>
        <td width="100">Date</td>
        <td width="200"></td>
      </tr>

    </tbody>
  </table>
</div>

<div class="btn-sec clear-both row">
  <div class="col-sm-5">

  </div>
  <div class="col-sm-7 text-right">
    <button class="btn btn-primary dash_href" type="button"><a
        routerLink="/pages/dashboard">Back</a></button>
    <button class="btn btn-primary dash_href" type="button"><a
        routerLink="/pages/dashboard">Next</a></button>
  </div>
</div>