.mar-bot25 {
    margin-bottom: 50px;
    
}

div {
    margin: 5px 0;
}
cus-mandatory-field {
    color: red;
    font-style: oblique;
    font-size: 12px;
}

.btn-mar-bottom{
    margin-bottom: 30px;
}

@media (min-width:300px) and (max-width:767px) {
    .btn-mar-bottom{
        margin-bottom: 0px;
    }
}