<div class="content"></div>
<div class="btn-sec clear-both row">
  <div class="col-sm-5">
    <button
      class="btn btn-primary dash_href"
      (click)="navigateToApplicantList()"
    >
      <a>Back To Applicant Details</a>
    </button>
  </div>
  <div class="col-sm-7 text-right">
    <span id="edit_vehicle_details_replace"></span>
    <a id="back_vehicle_details"
      ><button class="btn btn-primary" type="button" (click)="onBack()">
        Back
      </button></a
    >
    <p
      class="btn btn-primary save"
      id="save_vehicle_details"
      (click)="onSubmit()"
    >
      Save
    </p>
    <a id="next_vehicle_details"
      ><button class="btn btn-primary" type="button" (click)="navigateToApplicantList()">
        Next
      </button></a
    >
    <br />
    <br />
    <br />
  </div>
</div>
