<main class="mar-top90">
  <!-- <app-lead-section-header></app-lead-section-header> -->
  <div class="container content">
    <div class="row">

      <div class="main-div-contents">
        <div class="tablewithheading">
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg">
                <td>Applicant Details Based on PAN Validation</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tablewithdetails">
          <table class="table table-responsive details">
            <thead>
              <tr class="table-head-bg text-center">
                <td>Title</td>
                <td>First Name</td>
                <td>Middle Name</td>
                <td>Last Name</td>
              </tr>
            </thead>
            <tbody>
              <tr class=" text-center">
                <td>Shri</td>
                <td>Sai</td>
                <td>Ram</td>
                <td>Reddy</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="main-div-contents">
        <div>
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg">
                <td>Negative List Scrub Results</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tablewithdetails">
          <table class="table table-responsive details">
            <thead>
              <tr class="table-head-bg text-center">
                <td>Found in NL?</td>
                <td>Found in TR NL?</td>
                <td>Remarks</td>
              </tr>
            </thead>
            <tbody>
              <tr class=" text-center">
                <td>False</td>
                <td>False</td>
                <td>NO</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="main-div-contents">
        <div>
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg">
                <td>Adhaar eKYC Results</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tablewithdetails">
          <table class="table table-responsive details">
            <thead>
              <tr class="table-head-bg text-center">
                <td>Name</td>
                <td>Date Of Birth</td>
                <td>Gender</td>
                <td>C/O</td>
                <td>Street</td>
                <td>Location</td>
                <td>Landmark</td>
                <td>City</td>
                <td>State</td>
                <td>District</td>
                <td>Country</td>
                <td>Pincode</td>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td>sai</td>
                <td>16/09/1994</td>
                <td>male</td>
                <td>hai</td>
                <td>y.m.r.colony</td>
                <td>proddatur</td>
                <td>tank</td>
                <td>Kadapa</td>
                <td>a.p</td>
                <td>kadapa</td>
                <td>india</td>
                <td>516360</td>
              </tr>

            </tbody>
          </table>
          <!-- <table class="table table-responsive details">
            <thead>
              <tr class="table-head-bg text-center">
                <td>Landmark</td>
                <td>City</td>
                <td>State</td>
                <td>District</td>
                <td>Country</td>
                <td>Pincode</td>
              </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>tank</td>
                  <td>Kadapa</td>
                  <td>a.p</td>
                  <td>kadapa</td>
                  <td>india</td>
                  <td>516360</td>
                  </tr>
              </tbody>
              </table> -->
        </div>
      </div>

      <div class="main-div-contents">
        <div>
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg">
                <td>dedupe Parameters</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tablewithdetails">
          <table class="table table-responsive details">
            <thead>
              <tr class="table-head-bg text-center">
                <td>Name</td>
                <td>DOB</td>
                <td>Mother Madien Name</td>
                <td>Mobile Number</td>
                <td>PAN</td>
                <td>Adhaar Ref</td>
                <td>PassPort</td>
              </tr>
            </thead>
            <tbody>
              <tr class=" text-center">
                <td>sairamreddy</td>
                <td>16-09-1994</td>
                <td></td>
                <td>8500868876</td>
                <td>abxpe1343y</td>
                <td>484407915010</td>
                <td>opqwb37djro</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="main-div-contents">
        <div>
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg">
                <td>Exact Matches</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tablewithdetails">
          <table class="table table-responsive details">
            <thead>
              <tr class="table-head-bg text-center">
                <!-- <td>select</td> -->
                <td>UCIC</td>
                <td>Name</td>
                <td>Matched Criteria</td>
                <td>DOB</td>
                <td>Mother Madien Name</td>
                <td>Mobile Number</td>
                <td>PAN</td>
                <td>Adhaar Ref</td>
              </tr>
            </thead>
            <tbody>
              <tr class=" text-center">
                <!-- <td><input type="radio" value="1"></td> -->
                <td>435698</td>
                <td>sairam</td>
                <td>adhaar</td>
                <td>16-09-1994</td>
                <td></td>
                <td>8500868876</td>
                <td>abpxep1124k</td>
                <td>484407915101</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="main-div-contents">
        <div>
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg">
                <td>Proable Matches</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tablewithdetails">
          <table class="table table-responsive details">
            <thead>
              <tr class="table-head-bg text-center">
                <!-- <td>select</td> -->
                <td>UCIC</td>
                <td>Name</td>
                <td>Matched Criteria</td>
                <td>DOB</td>
                <td>Mother Madien Name</td>
                <td>Mobile Number</td>
                <td>PAN</td>
                <td>Adhaar Ref</td>
                <td>PassPort</td>
              </tr>
            </thead>
            <tbody>
              <tr class=" text-center">
                <!-- <td><input type="radio" value="1"></td> -->
                <td>435698</td>
                <td>sairam</td>
                <td>adhaar</td>
                <td>16-09-1994</td>
                <td></td>
                <td>8500868876</td>
                <td>abpxep1124k</td>
                <td>484407915101</td>
                <td>weie678i</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>




<!-- <h3>Applicant Details Based on PAN Validation</h3>

            <table class="table table-responsive table-borderless">
                <tr>
                    <td>Title</td>
                    <td>First Name</td>
                    <td>Middle Name</td>
                    <td>Last Name</td>
                </tr>
                <tr>
                    <td>Shri</td>
                    <td>Giri</td>
                    <td>Babu</td>
                    <td>Yerradla</td>
                </tr>
            </table> -->

<!-- <div class="p-0 row " id="">
                <div class="wid-25">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0"> 
                        <p class="var-lab">Title : Shri</p>
                       
                    </div>
                </div>
                <div class="wid-25">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0"> 
                         <p class="var-lab">First Name :Giri</p>
                       
                    </div>
                </div>
                <div class="wid-25">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0"> 
                    <p class="var-lab">Middle Name : Babu</p>
                   
                </div>
               
                </div>
                <div class="wid-25">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0"> 
                   <p class="var-lab">Last Name : Yerradla</p>
                   
                </div>
                
              </div>
            </div>  -->
<!-- <div >
                <div class="modal-dialog">
                  <div class="modal-content"> -->
<!-- Modal Header -->
<!-- <div class="modal-header text-center">
                      <h4 class="modal-title">Negative List Scrub Results</h4>
                    </div>
               -->
<!-- Modal body -->
<!-- <div class="modal-body">
                      <p id="exact_macth_title1">Negative List Results</p>
                      <div id="nagative_list_results">
                        <div class="row">
                          <div class="row" >
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                              <label id="nagative_list_results_tag">Found in NL?</label>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                              <input
                              type="text"
                              [value]="modalInput?.isNLFound"
                              name="found_in_nl"
                              id="found_in_nl"
                              disabled="disabled"
                              class="input-style"
                            />
                            </div>
                          </div>
                          <div class="row line-space">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                              <label id="nagative_list_results_tag1">Found in TR NL?</label>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                              <input
                                type="text"
                                [value]="modalInput?.isNLTRFound"
                                name="found_in_trnl"
                                id="found_in_trnl"
                                disabled="disabled"
                                class="input-style"
                              />
              
                            </div>
                          </div> -->
<!-- <ng-container *ngIf="modalInput"> -->
<!-- <div class="col-md-12" *ngIf="modalInput?.isNLFound">
                            <span id="nagative_list_results_tag01">NL Match Criteria? </span
                            >&nbsp;&nbsp; -->
<!-- <input
                              type="text"
                              class=""
                              name="nl_match_criteria"
                              id="nl_match_criteria"
                              readonly=""
                              [value]="modalInput?.nlRemarks"
                              style="width: 100%;"
                            /> -->
<!-- <p>{{ modalInput?.nlRemarks }}</p>
                          </div>
                          <div class="col-md-12" *ngIf="modalInput?.isNLTRFound">
                            <span id="nagative_list_results_tag01"
                              >TR NL Match Criteria? </span
                            >&nbsp;&nbsp; -->
<!-- <input
                              type="text"
                              class=""
                              name="nl_match_criteria"
                              id="nl_match_criteria"
                              readonly=""
                              [value]="modalInput?.nlTrRemarks"
                              disabled
                              style="width: 100%;"
                            /> -->
<!-- <p>{{ modalInput?.nlTrRemarks }}</p>
                          </div> -->
<!-- </ng-container> -->
<!-- </div>
                      </div>
                    </div> -->

<!-- Modal footer -->
<!-- <div class="modal-footer text-center">
                      <div class="form-group" style="margin-top: 10px;">
                        <p for="Vechical Type" style="text-align: left;">Remarks</p>
                        <textarea
                          [(ngModel)]="remarks"
                          [disabled]="!modalInput?.isNLTRFound && !modalInput?.isNLFound"
                          style="width: 100%;"
                        ></textarea>
                      </div>
                      <button
                        type="button"
                        class="btn btn-primary"
                        id="cnew_lead"
                        (click)="triggerClick('reject')"
                        [disabled]="!modalInput?.isNLTRFound && !modalInput?.isNLFound"
                      >
                        Reject
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="triggerClick('proceed')"
                        [disabled]="!modalInput?.isNLTRFound && !modalInput?.isNLFound"
                      >
                        Proceed
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="triggerClick('next')"
                        [disabled]="modalInput?.isNLTRFound || modalInput?.isNLFound"
                      >
                        Next
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <h3>Aadhaar eKYC Results</h3>
              <form class="multisteps-form__form" [formGroup]="applicantkyc">
                <div class="row individual_section_leadco">
                  <div class="form-group col-sm-6 col-md-4 col-lg-4">
                    <label for="first_name" >Name
                      <sub class="star_red_col">*</sub></label>
                    <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName1 }}
                      <sub class="star_red_col">*</sub>
                    </label>
                    <app-custom-input formControlName="name" [isRequired]="
                        applicantType == 'INDIVENTTYP'? 'First Name is required'
                          : 'Name is required'
                      "[value]="Giri" [maxLength]="validationData?.name?.maxLength" [isDirty]="isDirty" [type]="
                        applicantType == 'INDIVENTTYP'? validationData?.name?.type
                          : 'text'
                      "></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-4 col-lg-4">
                    <label for="first_name" >Date of Birth</label>
                    <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName2 }}
                    </label>
                    <app-custom-input formControlName="dob" [maxLength]="validationData?.name?.maxLength" [type]="
                        applicantType == 'INDIVENTTYP'? validationData?.name?.type
                          : 'text'
                      "></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-4 col-lg-4">
                    <label for="first_name" >Gender
                      <sub class="star_red_col">*</sub>
                    </label>
                    <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                    </label>
                    <app-custom-input formControlName="gender" [isRequired]="
                        applicantType == 'INDIVENTTYP' ? 'Last Name is required'
                          : ''
                      " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                      [maxLength]="validationData?.name?.maxLength" [type]="
                        applicantType == 'INDIVENTTYP' ? validationData?.name?.type
                          : 'text'
                      ">
                    </app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >C/O
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="co" [isRequired]="
                          applicantType == 'INDIVENTTYP' ? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >Street
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="street" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >Location
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="location" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >Landmark
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="landmark" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div> -->
<!-- <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >Landmark
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="name3" [isRequired]="
                          applicantType == 'INDIVENTTYP' ? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'  ? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div> -->
<!-- <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >City
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="city" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >State
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="state" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >District
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="district" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >Country
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="country" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        ">
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="first_name" >Pincode
                        <sub class="star_red_col">*</sub>
                      </label>
                      <label for="first_name" *ngIf="applicantType == 'NONINDIVENTTYP'">{{ labels.companyName3 }}
                      </label>
                      <app-custom-input formControlName="pincode" [isRequired]="
                          applicantType == 'INDIVENTTYP'? 'Last Name is required'
                            : ''
                        " [isDirty]="applicantType == 'INDIVENTTYP' ? isDirty : true"
                        [maxLength]="validationData?.name?.maxLength" [type]="
                          applicantType == 'INDIVENTTYP'? validationData?.name?.type
                            : 'text'
                        " disabled>
                      </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="first_name" >Pincode
                        <sub class="star_red_col">*</sub>
                      </label>
                      <input type="text" class="form-control mandatory" 
                        formControlName="loanBranch" disabled required />
                    </div>
                </div>
                </form> -->