label.col-form-label {
    width:50%;
    /* padding-right: 20px; */
    padding-left: 20px;
    font-weight: 550;
    font-size: 14px;
    word-break: break-word;
  }
  
  label.col-form-label-two {
    width:50%;
    /* padding-right: 20px; */
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    float: right;
    word-break: break-word;
  }
  .form-group.mb-0 {
    margin-bottom: 3px;
  }

.margin-top{
    margin-top: 5px;
}