.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  margin: 15px 0;
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #272264;
  font-weight: 600;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__form .title {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 4px;
}

/* Top-heading Space */

h3.margin_zero {
  margin-top: 0px;
}

h3.dedupe_head {
  margin-top: 0px;
}


/* footer */

.ok_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

/* Top-heading Space */

h3.margin_zero {
  margin-top: 0px;
}

h3.dedupe_head {
  margin-top: 0px;
}

.btn-primary{
  margin: 8px;
  padding: 6px 8px;
}

.row.top_bar {
  margin: 0px;
  border: 1px solid #ddd;
  font-weight: 100;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 0px;
  background: white;
}
/* footer */

.ok_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}


/*  style for modal popup*/

.text-center {
  text-align: center;
}

.box_shadow {
  box-shadow: 0px 8px 6px -9px black;
}

.img-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal_title {
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  color: #1d1a4b;
}

.modal_content {
  font-size: 18px;
  font-family: fantasy;
  text-align: center;
  color: #494e50;
}

.modal-body {
  text-align: center;
}

.modal-body.modal_coapp {
  text-align: left!important;
}


/* Lead dedupe*/

.dedupe_head {
  font-size: 14px;
  /* padding: 20px; */
  font-weight: bold;
}

#reject_reason {
  width: 350px;
  border-radius: 1.5em;
  margin: auto;
  /* background-color: #f58733; */
  /* color: white; */
  margin-bottom: 12px;
  border: 1px solid #1d1a4b47;
}

#proceed_reason {
  width: 350px;
  border-radius: 1.5em;
  margin: auto;
  /* background-color: #f58733; */
  /* color: white; */
  margin-bottom: 12px;
  border: 1px solid #1d1a4b47;
}

.reject_reason {
  color: #f58733;
  font-weight: bolder;
}

.approve_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.pending_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.content {
  background: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

label.col-form-label {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 14px;
}

.col-md-6.col-lg-6.col-sm-12.p-0 {
  padding: 0px !important;
}


/* styles for info box */

label.col-form-label-two {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 14px;
  float: right;
}

.col-lg-12.col-md-12.col-sm-12.lead_top {
  padding: 0px;
}

.p-0 {
  padding: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.form-group.col-sm-6.col-md-2.col-lg-2.mobile_otp {
  width: 20%;
}


/* select#select_main_button_leadco {
  background-color: #6c757d;
  padding: 6px;
  color: white;
  margin-bottom: 1%;
} */


/* applicant form */

.back_color {
  color: #fff;
}


/* ----- - -- */

#scroll_starts_here {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#nagative_list_results {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}


/*------ */

select#select_main_button_match {
  background-color: #6c757d;
  padding: 6px;
  color: white;
  margin-bottom: 1%;
}
.row{
  margin-left: 15px;
 background-color: white;
 border-radius: 10px;
 max-width: 1115px;


}
.form-group{
  margin-top: 10px;
}

