<main class="mar-top90">
  <div class="container-fluid">
    <h3 class="margin_zero">Lead ID : 125468</h3>
    <div class="row top_bar">
      <div class="col-lg-4 col-md-4 col-sm-12 row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
          <div class="form-group">
            <label class="col-form-label" for="customer_name_label">Lead ID</label>
            <label for="customer_name" class="col-form-label-two">1234456</label>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
          <div class="form-group">
            <label class="col-form-label" for="customer_name_label">Applicant</label>
            <label for="customer_name" class="col-form-label-two">  D R Rao</label>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
          <div class="form-group">
            <label class="col-form-label" for="customer_name_label">Product</label>
            <label for="customer_name" class="col-form-label-two">New CV</label>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
          <div class="form-group">
            <label class="col-form-label" for="roi">Status</label>
            <label for="roi_value" class="col-form-label-two">In progress</label>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 row pr-0">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
          <div class="form-group">
            <label class="col-form-label" for="lead_created_by">Loan Amount</label>
            <label for="lead_created_by_name" class="col-form-label-two">50000</label>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 pr-0 p-0">
          <div class="form-group">
            <label class="col-form-label" for="lead_handled_by">Queue</label>
            <label for="lead_handled_by_name" class="col-form-label-two">DDE, PD, FI</label>
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <button class="btn btn-primary"[routerLink]="['../../document-viewupload']" type="button">View/Upload Document</button>
    </div>
    </div>

    <!--progress bar-->
    <div class="multisteps-form">
      <div class="multisteps-form__progress" *ngIf="router.url!='/pages/lead-section/co-applicant'" > 
        <div class="multisteps-form__progress  "*ngIf ="router.url!='/pages/lead-section/credit-score'">
          <button
          class="multisteps-form__progress-btn"
          type="button"
          [routerLink]="['/pages/lead-section']"
          [ngClass]="{ 'js-active': currentPage >= 0 }"
          (click)="currentPage = 0"
        >
          <!-- Sourcing Details -->
          Lead Details
        </button>
        <!-- <button
          class="multisteps-form__progress-btn"
          type="button"
          [routerLink]="['./product-details']"
          [ngClass]="{ 'js-active': currentPage >= 1 }"
          (click)="currentPage = 1"
        >
          Product Details
        </button> -->
        <button
          class="multisteps-form__progress-btn"
          type="button"
          [routerLink]="['./applicant-details']"
          [ngClass]="{ 'js-active': currentPage >= 1 }"
          (click)="currentPage = 1"
        >
          Applicant Details
        </button>
        <button
          class="multisteps-form__progress-btn"
          type="button"
          [routerLink]="['./vehicle-details']"
          [ngClass]="{ 'js-active': currentPage >= 2 }"
          (click)="currentPage = 2"
        >
          Vechicle Details
        </button>
        <!-- <button
          class="multisteps-form__progress-btn"
          type="button"
          [routerLink]="['./loan-details']"
          [ngClass]="{ 'js-active': currentPage >= 4 }"
          (click)="currentPage = 4"
        >
          Loan Details
        </button> -->
        <!-- <button class="multisteps-form__progress-btn" type="button">Additional Details</button> -->
      </div>
        </div>
        
      <router-outlet></router-outlet>
    <!-- </div> -->
  </div>
</main>
