<h3 class="dashboard m-0">{{labels?.incomeAndObligationDetailsTitle}}</h3>
<!--progress bar-->
<form class="multisteps-form__form" [formGroup]="incomeDetailsForm" >
  <div class="multisteps-form">
    <!-- <div class="content"> -->
    <div class="multisteps-form__panel  js-active" data-animation="scaleIn">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive application">
            <table id="POITable" border="1" class="table">
              <caption class="caption">
                {{labels?.businessIncomeDetailsTitle}}
              </caption>
              <thead>
                <tr class="">
                  <th role="columnheader">{{labels?.sNO}}</th>
                  <th role="columnheader">{{ labels?.applicantName }}</th>
                  <th role="columnheader">{{ labels?.applicantType }}</th>
                  <th role="columnheader">{{ labels?.businessEntityName }}</th>
                  <th role="columnheader">{{ labels?.netProfit }}</th>
                  <th role="columnheader">{{ labels?.depreciation }}</th>
                  <th role="columnheader">{{ labels?.directorsSalary }}</th>
                  <th role="columnheader">{{ labels?.grossDerivedIncome }}</th>
                  <th role="columnheader">{{ labels?.grossMonthlyIncome }}</th>
                  <th role="columnheader">{{ labels?.actions }}</th>
                </tr>
              </thead>
              <tbody formArrayName="businessIncomeDetails">
                <tr class=" text-center" id="applicant_1_row"
                  *ngFor="let item of incomeDetailsForm.get('businessIncomeDetails')['controls']; let i = index"
                  [formGroupName]="i">
                  <td data-title="S.No" >
                    {{i+1}}
                   </td>
                   <td data-title="Applicant Name" >
                    <select class="form-control mandatory select2" id=""  name="applicantId" class="form-control text-center" formControlName="applicantId"  [(ngModel)]="ngApplicantId" #applicantId>
                      <option *ngFor="let applicants of applicantDetails" [value]= "applicants.applicantId" >{{applicants.applicantName}}</option>
                      <!-- <option value="2">Arun</option> -->
                   </select>
                  </td>
                  <td data-title="Applicant Type">
                    <input type="text" id="latbox" value="{{applicantType[i]}}" class="no_border" class="input_value" readonly="true"
                      name="applicantType" class="form-control text-center" formControlName="applicantType" />
                  </td>
                  <!-- <td data-title="Applicant Name">
                    <select class="form-control mandatory select2" id=""  name="applicantId" class="form-control text-center" formControlName="applicantId">
                      <option value="1">Arun</option>
                      <option value="2">Kumar</option>
                   </select>
                    
                  </td>
                  <td data-title="Applicant Type">
                    <input type="text" id="latbox" value="Applicant" class="no_border" class="input_value" readonly="true"
                      name="applicantType" class="form-control text-center" formControlName="applicantType" />
                  </td> -->
                  <td data-title="Business Entity Name">
                    <input type="text" id="latbox" value="ABC Enterprises" class="no_border" class="input_value"
                      name="businessEnterpriseName" class="form-control text-center" formControlName="businessEnterpriseName" />
                  </td>
                  <td data-title="Net Profit">
                    <input type="number" id="latbox" value="254000" class="no_border" class="input_value" name="netProfit"
                      class="form-control text-center" formControlName="netProfit" />
                  </td>
                  <td data-title="Depreciation">
                    <input type="number" id="latbox" class="input_value" name="depreciation"
                      class="form-control text-center" formControlName="depreciation" />
                  </td>
                  <td data-title="Directors salary/Interest to partners + Interest">
                    <input type="number" id="lngbox" readonly="true" class="input_value" name="directorSalary"
                      class="form-control text-center" formControlName="directorSalary" />
                  </td>
                  <td data-title="Gross derived Income">
                    <input type="number" id="latbox" class="input_value" name="grossDerivedIncome" readonly="true"
                      class="form-control text-center" formControlName="grossDerivedIncome" />
                  </td>
                  <td data-title="Gross monthly income">
                    <input type="number" id="lngbox" readonly="true" class="input_value" name="grossMonthlyIncome"
                      class="form-control text-center" formControlName="grossMonthlyIncome" />
                  </td>
                  <td data-title="Actions">
                    <i type="button" class="fa fa-plus" aria-hidden="true" id="addmorePOIbutton" value="Add"
                      (click)="addIncomeUnit()"></i>&nbsp;
                    <i type="button" class="fa fa-minus" aria-hidden="true" id="delPOIbutton" value="Delete"
                      (click)="removeIncomeIndex(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row bottom_common m-0">
              <div class="col-md-12 text-right">Total Monthly Business Income :</div>
            </div>
          </div>

          <div class="table-responsive application mt-3">
            <table id="POITable_other" border="1" class="table">
              <caption class="caption">
                {{labels?.otherIncomeDetailsTitle}}
              </caption>
              <thead>
                <tr class="">
                  <th role="columnheader">{{labels?.sNO}}</th>
                  <th role="columnheader">{{ labels?.applicantName }}</th>
                  <th role="columnheader">{{ labels?.applicantType }}</th>
                  <th role="columnheader">{{ labels?.incomeType }}</th>
                  <th role="columnheader">{{ labels?.grossIncome }}</th>
                  <th role="columnheader">{{ labels?.factoring }}</th>
                  <th role="columnheader">{{ labels?.factoredIncome }}</th>
                  <th role="columnheader">{{ labels?.actions }}</th>
                </tr>
              </thead>
              <tbody formArrayName="otherIncomeDetails">
                <tr *ngFor="let item of incomeDetailsForm.get('otherIncomeDetails')['controls']; let i = index"
                  [formGroupName]="i">
                  <td data-title="S.no">{{ i + 1 }}</td>
                  <!-- <td data-title="Borrower Name">
                    <select class="form-control mandatory select2" id=""  name="applicantId" class="form-control text-center" formControlName="applicantId">
                      <option value="1">Kumar</option>
                      <option value="2">Arun</option>
                   </select>
                  </td> -->
                  <!-- <td data-title="Applicant Type">
                    <input type="text" id="latbox" value="Applicant" class="no_border" class="input_value" readonly="true"
                      name="applicantTypeValue" class="form-control text-center" formControlName="applicantTypeValue" />
                  </td> -->
                  <td data-title="Applicant Name" >
                    <select class="form-control mandatory select2" id=""  name="applicantId" class="form-control text-center" formControlName="applicantId" (change)="onApplicantChange($event, i)">
                      <option *ngFor="let applicants of applicantDetails ; let i = index" [value]= "applicants.applicantId" >{{applicants.applicantName}}</option>
                   </select>
                  </td>
                  <td data-title="Applicant Type">
                    <input type="text" id="latbox" value={{applicantType[i]}} class="no_border" class="input_value" readonly="true"
                      name="applicantType" class="form-control text-center" [formControlName]="applicantType" />
                  </td>
                  <td data-title="Income Type">
                    <select class="form-control mandatory select2" id=""  name="incomeType" class="form-control text-center" formControlName="incomeType">
                      <option value="1">Salary</option>
                                          <option value="2">Rental</option>
                                          <option value="2">Pension</option>
                                          <option value="2">Agri Income</option>
                   </select>
                   
                  </td>
                  <td data-title="Gross Income">
                    <input type="number" id="latbox" value="254000" class="no_border" class="input_value"
                      name="grossIncome" class="form-control text-center" formControlName="grossIncome" />
                  </td>
                  <td data-title="Factoring %">
                    <input type="number" id="latbox" class="input_value" name="factoring" class="form-control text-center" readonly="true"
                      formControlName="factoring" />
                  </td>
                  <td data-title="Factored Income">
                    <input type="number" id="lngbox" readonly="true" class="input_value" name="factoredIncome" 
                      class="form-control text-center" formControlName="factoredIncome" />
                  </td>
                  <td data-title="Actions">
                    <i type="button" class="fa fa-plus" aria-hidden="true" id="addmorePOIbutton" value="Add"
                      (click)="addOtherUnit()"></i>&nbsp;
                    <i type="button" class="fa fa-minus" aria-hidden="true" id="delPOIbutton" value="Delete"
                      (click)="removeOtherIndex(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive application mt-3">
            <table id="POITable_obligation" border="1" class="table">
              <caption class="caption">
                {{labels?.obligationDetailsTitle}}
              </caption>
              <thead>
                <tr class="">
                  <th role="columnheader">{{labels?.sNO}}</th>
                  <th role="columnheader">{{ labels?.borrowerName }}</th>
                  <th role="columnheader">{{ labels?.applicantType }}</th>
                  <th role="columnheader">{{ labels?.typeOfLoan }}</th>
                  <th role="columnheader">{{ labels?.financier }}</th>
                  <th role="columnheader">{{ labels?.loanAmount }}</th>
                  <th role="columnheader">{{ labels?.tenorInMonths }}</th>
                  <th role="columnheader">{{ labels?.mob }}</th>
                  <th role="columnheader">{{ labels?.emi }}</th>
                  <th role="columnheader">{{ labels?.balanceTenor }}</th>
                  <th role="columnheader">{{ labels?.obligationAmount }}</th>
                  <th role="columnheader">{{ labels?.actions }}</th>
                </tr>
              </thead>
              <tbody formArrayName="obligationDetails">
                <tr *ngFor="let item of incomeDetailsForm.get('obligationDetails')['controls']; let i = index"
                  [formGroupName]="i" >
                  <td data-title="S.No">{{ i + 1 }}</td>
                  <td data-title="Applicant Name"  >
                    <select class="form-control mandatory select2" id=""  name="applicantId" class="form-control text-center" formControlName="applicantId"  [(ngModel)]="ngApplicantId" #applicantId>
                      <option *ngFor="let applicants of applicantDetails" [ngValue]= "applicants.applicantId" >{{applicants.applicantName}}</option>
                      <!-- <option value="2">Arun</option> -->
                   </select>
                  </td>
                  <!-- <td data-title="Applicant Name" *ngIf="setPath" >
                    <select class="form-control mandatory select2" id=""  name="applicantId" class="form-control text-center" formControlName="applicantId" (change)="onApplicantChange(i)" [(ngModel)]="ngApplicantId" #applicantId>
                      <option *ngFor="let applicants of applicantDetails" [ngValue]= "applicants.applicantId" >{{applicants.applicantName}}</option>
                     
                   </select>
                  </td> -->
                  <td data-title="Applicant Type">
                    <input type="text" id="latbox" value="{{applicantType[i]}}" class="no_border" class="input_value" readonly="true"
                      name="applicantType" class="form-control text-center" formControlName="applicantType" />
                  </td>
                  <td data-title="Type of Loan">
                    <!-- <input type="text" id="latbox" value="Business Loan" class="no_border" class="input_value"
                      name="businessLoan" class="form-control text-center" formControlName="businessLoan" /> -->
                      <select  id="latbox" class="no_border" class="input_value"
                      name="loanType" class="form-control text-center" formControlName="loanType">
                        <option value="0">Business Laon</option>
                        <option value="1">Home Loan</option>
                        <option value="2">LAP</option>
                        <option value="2">Agri Loan</option>
                        <option value="2">Personal Loan</option>
                     </select>
                  </td>
                  <td data-title="Financier">
                   
                      <select  id="latbox" class="no_border" class="input_value"
                      name="financier" class="form-control text-center" formControlName="financier">
                      <option value="Eicher">Muthoot</option>
                      <option value="Tata Motors">IDFC</option>
                      <option value="Eicher">Chola</option>
                     </select>
                  </td>
                  <td data-title="Loan Amount">
                    <input type="number" id="latbox" value="150000" class="input_value" name="loanAmount"
                      class="form-control text-center" formControlName="loanAmount" />
                  </td>
                  <td data-title="Tenor(In Months)">
                    <input type="number" id="lngbox" value="24" class="input_value" name="tenure"
                      class="form-control text-center" formControlName="tenure" />
                  </td>
                  <td data-title="MOB">
                    <input type="number" id="lngbox" value="10" class="input_value" name="mob"
                      class="form-control text-center" formControlName="mob" />
                  </td>
                  <td data-title="EMI">
                    <input type="number" id="latbox" value="7931" class="input_value" name="emi"
                      class="form-control text-center" formControlName="emi" />
                  </td>
                  <td data-title="Balance Tenor">
                    <input type="number" id="lngbox" value="14" class="input_value" name="balanceTenure" readonly="true"
                      class="form-control text-center" formControlName="balanceTenure" />
                  </td>
                  <td data-title="Obligation Amount">
                    <input type="number" id="lngbox" value="7931" class="input_value" name="obligationAmount" readonly="true"
                      class="form-control text-center" formControlName="obligationAmount" />
                  </td>
                  <td data-title="Actions">
                    <i type="button" class="fa fa-plus" aria-hidden="true" id="addmorePOIbutton" value="Add"
                      (click)="addObligationUnit()"></i>&nbsp;
                    <i type="button" class="fa fa-minus" aria-hidden="true" id="delPOIbutton" value="Delete"
                      (click)="removeObligationIndex(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row bottom_common m-0">
              <div class="col-md-12 text-right">Total Monthly Obligation : 27,490</div>
            </div>
          </div>
          <div class="table-responsive application mt-3 oblig col-md-6 p-0">
            <table id="POITable" border="1" class="table income_obli ">
              <caption class="caption">
                {{ labels?.incomeObligationSummaryTitle }}
              </caption>

              <tr>
                <td>{{ labels?.totalMonthlySalaryIncome }}</td>
                <td>50000</td>
              </tr>
              <tr>
                <td>{{ labels?.salariedFOIRaspePolicy }}</td>
                <td>70%</td>
              </tr>
              <tr>
                <td>{{ labels?.salairedFOIRDeviation }}</td>
                <td>70%</td>
              </tr>
              <tr>
                <td>{{ labels?.consideredSalaryIncome }}</td>
                <td>35000</td>
              </tr>

              <tr>
                <td>{{ labels?.totalMonthlyBusinessIncome }}</td>
                <td>212424</td>
              </tr>
              <tr>
                <td>{{ labels?.totalMonthlyRentalIncome }}</td>
                <td>9600</td>
              </tr>
              <tr>
                <td>{{ labels?.totalMonthlyPensionIncome }}</td>
                <td>0</td>
              </tr>
              <tr>
                <td>{{ labels?.totalMonthlyAgriIncome }}</td>
                <td>0</td>
              </tr>
              <tr>
                <td>{{ labels?.totalMonthlyIncome }}</td>
                <td>257024</td>
              </tr>
              <tr>
                <td>{{ labels?.totalMontlyObligations }}</td>
                <td>27490</td>
              </tr>
              <tr>
                <td>{{ labels?.loanEligibilityasperFOIR }}</td>
                <td>9039107</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->
  </div>

  <div class="btn-sec clear-both row cst_btm_btns">
    <div class="col-sm-5">
  
    </div>
    <div class="col-sm-7 text-right">
      <button class="btn btn-primary dash_href" type="button" routerLink="../fleet-details">Back </button>
      <button class="btn btn-primary mar-right8" type="button" (click)="onSubmit(i)">Save </button>
      <button class="btn btn-primary dash_href" type="button" routerLink="../income-details"> Next </button>
    </div>
  </div>
</form>



