<main class="mar-top90">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <h3 class="margin_zero">Search Loan Account</h3>
      </div>
      <div class="col-md-6 text-right"></div>
    </div>

    <div class="content">
      <!-- <div class="row">
        <div class="col-md-6">
          <h3 class="margin_zero showMore">Create Child Loan</h3>
        </div>
        <div class="col-md-6 text-right"></div>
      </div> -->
      <!-- <div class="panel-group" id="accordion" role="tablist" > -->
        <!-- <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Create Child Loan <i class="fa fa-sort-desc"></i>
            </a>
          </h4>
        </div> -->
        <!-- <div id="collapseOne" class="panel-collapse collapse in" 
          role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body"> -->
            <form [formGroup]="childLoanForm" class="showMore">
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.loanAccNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="loanAccountNumber" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Loan account number'"
              [maxLength]="labels?.validationData?.ChildLoanAccountNumber?.maxLength"              
              [type]="labels?.validationData?.ChildLoanAccountNumber?.type">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.registartionNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="vehicleRegistrationNumber" 
              [className]="'form-control mandatory'"
              [placeholder]="'Vehicle registration number'" 
              [type]="labels?.validationData?.vehicleRegNo?.type" 
              [inputClass]="'text-uppercase'" 
              [minLength]="labels?.validationData?.vehicleRegNo?.minLength"
              [maxLength]="labels?.validationData?.vehicleRegNo?.maxLength" 
              [custom]="vehicleRegPattern">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="business_division">{{labels?.ucicId}}<sub class="star_blue_col">*</sub>
            </label>
            <app-custom-input 
              [maxLength]="labels?.validationData?.ucicId?.maxLength"
              formControlName="ucic" 
              [className]="'form-control mandatory'" 
              [placeholder]="'UCIC'"
              [type]="labels?.validationData?.ucicId?.type" >
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="business_division">{{labels?.aadharnumber}}<sub class="star_blue_col">*</sub>
            </label>
            <app-custom-input 
              [maxLength]="labels?.validationData?.adhaarNumber?.maxLength"
              formControlName="aadhaar" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Aadhaar'"
              [patternCheck]="labels?.validationData?.adhaarNumber?.patternCheck"
              [type]="labels?.validationData?.type?.maxLength">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.pannumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="pan" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Pan'"
              [patternCheck]="labels?.validationData?.panNumber?.patternCheck"
              [maxLength]="labels?.validationData?.panNumber?.maxLength" 
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.panNumber?.type">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.drivingLicenseNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="drivingLicense" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Driving License'" 
              [patternCheck]="labels?.validationData?.drivingLicense?.patternCheck"
              [maxLength]="labels?.validationData?.drivingLicense?.maxLength" 
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.drivingLicense?.type">
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.voterIdNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="voterId" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Voter Id'"
              [patternCheck]="labels?.validationData?.voterId?.patternCheck"
              [maxLength]="labels?.validationData?.voterId?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.voterId?.type">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.passportNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="passport" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Passport Number'"
              [patternCheck]="labels?.validationData?.passportNumber?.patternCheck"
              [maxLength]="labels?.validationData?.passportNumber?.maxLength" 
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.passportNumber?.type">
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.cinNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="cin" 
              [className]="'form-control mandatory'" 
              [placeholder]="'CIN Number'"
              [patternCheck]="labels?.validationData?.cinRegNumber?.patternCheck"
              [maxLength]="labels?.validationData?.cinRegNumber?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.cinRegNumber?.type">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">Tan Number
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="tan" 
              [className]="'form-control mandatory'" 
              [placeholder]="'TAN Number'"
              [patternCheck]="labels?.validationData?.tanNumber?.patternCheck"
              [maxLength]="labels?.validationData?.tanNumber?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.tanNumber?.type">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.gstNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="gst" 
              [className]="'form-control mandatory'" 
              [placeholder]="'GST Number'"
              [patternCheck]="labels?.validationData?.gstNumber?.patternCheck"
              [maxLength]="labels?.validationData?.gstNumber?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.gstNumber?.type">
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="business_division">Name<sub class="star_blue_col">*</sub>
            </label>
            <app-custom-input 

              formControlName="name" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Name'"
              [maxLength]="nameLength" 
              [type]="'alpha'"
              (input)="onName($event)">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels.mobile}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 
              [isDisabled]="isDisableMobile"
              formControlName="mobile" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Mobile'"
              [maxLength]="mobileLength" 
              [type]="'number'"
              [patternCheck]="labels.validationData?.mobileNumber.pattern"
              (input)="onMobileInput($event)">
            </app-custom-input>
            <div class="invalid-feedback" *ngIf="isMobileErrMsg">
              Name is mandatory
            </div>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="dob">{{ labels.dateOfBirth }}
              <sub class="star_blue_col">*</sub>
            </label>        
            <kendo-datepicker class="form-control mandatory" 
              formControlName="dateOfBirth" 
              [format]="'dd/MM/yyyy'"
              
              [max]="toDaydate" 
              [placeholder]="'Date of birth'"
              [activeView]="'decade'"
              [disabled]="isDisableDob"
              (valueChange)="onDateOfBirthInput($event)">
            </kendo-datepicker>  
            <div class="invalid-feedback" >
              <div *ngIf="isDobErrMsg && !childLoanForm.controls.dateOfBirth.value">
                Date is mandatory
              </div>
              <div *ngIf="childLoanForm.controls.dateOfBirth.value && childLoanForm.controls.dateOfBirth.errors">
                Invalid date
              </div>
            </div>            
          </div>

        </div>
        <div class="row btn-sec clear-both">
          <div class="col-sm-12 text-right">
            <a 
              data-toggle="collapse" data-parent="#accordion" 
              aria-expanded="true" aria-controls="collapseOne"
              type="button" href="#customerDetails_id"
              class="btn btn-primary" value="Search" (click)="onSubmit()">Search
            </a>
          
          </div>
        </div>

            </form>
          <!-- </div>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <div id="customerDetails_id" class="row" *ngIf="customerDetailsData.length != 0">
      <div class="col-md-6">
        <h3 class="margin_zero">Customer Details</h3>
      </div>
      <div class="col-md-6 text-right"></div>
    </div>

    <!-- <div class="content" >       -->
      <!-- <div class="container-fluid">         -->
        <div class="row" *ngIf="customerDetailsData.length != 0">
          <div class="col-md-12">
          <div id="wrapper">
            <table>
              <thead>
                <tr class="table-head-bg">
                  <th>Select </th>
                  <th>UCIC </th>
                  <th>Customer Name </th>
                  <th>Phone Number </th>
                  <th>Entity </th>
                  <th>DOB </th>
                  <th>Aadhaar </th>
                  <th>PAN Number</th>
                  <th>GST </th>
                  <th>CIN </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customerDetail of customerDetailsData; let i = index">
                  <td align="center" [attr.data-label]="'Select'">
                    <input [disabled]="customerDetailsData.length === 1"  class="checkbox" type="radio" name="customerDetails" (click)="onUcicIdSelect($event, i)"/>
                  </td>
                  <!-- <td align="center"><input type="radio" name="radio-207" value="howtomeasure" style="botton:0px"> </td> -->
                  <td [attr.data-label]="'UCIC'">{{customerDetail.ucic}}</td>
                  <td [attr.data-label]="'Customer Name'">{{customerDetail.fullName}}</td>
                  <td [attr.data-label]="'Phone Number'">{{customerDetail.mobileNumber}}</td>
                  <td [attr.data-label]="'Entity'">{{customerDetail.entityTypeDesc}}</td>
                  <td [attr.data-label]="'DOB / DOI'">{{customerDetail.dobORdoi}}</td>
                  <td [attr.data-label]="'Aadhaar'">{{customerDetail.aadharNumber}}</td>
                  <td [attr.data-label]="'PAN Number'">{{customerDetail.panNumber}}</td>
                  <td [attr.data-label]="'GST'">{{customerDetail.gstNumber}}</td>
                  <td [attr.data-label]="'CIN'">{{customerDetail.cin}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->

    <div class="row " [ngStyle]="{'margin-top':'15px'}" *ngIf="loanDetailsData.length != 0">
      <div class="col-md-6">
        <h3 class="margin_zero">Loan Account Details</h3>
      </div>
      <div class="col-md-6 text-right"></div>
    </div>

    <!-- <div class="content" >       -->
      <!-- <div class="container-fluid">         -->
        <div class="row" *ngIf="loanDetailsData.length != 0">
          <div class="col-md-12">
          <div id="wrapper">
            <table>
              <thead>
                <tr class="table-head-bg">
                  <th>Select </th>
                  <th>Loan Account Number </th>
                  <th>Loan Start Date </th>
                  <th>Loan Amount </th>
                  <th>Number of EMIs </th>
                  <th>Seasoning </th>
                  <th>Rate of Interest </th>
                  <th>DPD </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let loanDetail of loanDetailsData; let i = index">
                  <td align="center" [attr.data-label]="'Select'">
                    <input  class="checkbox" type="radio" name="loanDetails" (click)="onLoanAccNoSelect($event, i)" />
                  </td>
                  <!-- <td align="center"><input type="radio" name="radio-207" value="howtomeasure" style="botton:0px"> </td> -->
                  <td [attr.data-label]="'Loan Account Number'">{{loanDetail.accountNumber}}</td>
                  <td [attr.data-label]="'Loan Start Date'">{{loanDetail.loanStartDate}}</td>
                  <td [attr.data-label]="'Loan Amount'">{{loanDetail.totalLoanAmount}}</td>
                  <td [attr.data-label]="'Number of EMIs'">{{loanDetail.totalEMIs}}</td>
                  <td [attr.data-label]="'Seasoning'">{{loanDetail.seasoning}}</td>
                  <td [attr.data-label]="'Rate of Interest'">{{loanDetail.rateOfInterest}}</td>
                  <td [attr.data-label]="'DPD'">{{loanDetail.dpd}}</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-sec clear-both btn-mar-reject">
              <div class="text-right margin_top">
                <button 
                  [disabled]="!isCreateLoanBtn"
                  class="btn btn-primary js-btn-next mar-right8" 
                  type="button"
                  (click)="onCreateChildLoan()">
                  Create Child Loan Lead
                </button>
                <button class="btn btn-primary js-btn-next mar-right8" type="button">
                  View Loan 360
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
  </div>
</main>