<main class="mar-top90">
  <div class="container-fluid">

    <!-- <div class="row">
      <div class="col-md-6">
        <h3 class="margin_zero">Create Child Loan</h3>
      </div>
      <div class="col-md-6 text-right"></div>
    </div> -->

    <div class="content">
      <div class="panel-group" id="accordion" role="tablist" >
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Create Child Loan <i class="fa fa-sort-desc"></i>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" 
          role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <form [formGroup]="childLoanForm">
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.loanAccNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="loanAccountNumber" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Loan account number'"
              [isRequired]="'Loan account number mandatory'" 
              [maxLength]="labels?.validationData?.ChildLoanAccountNumber?.maxLength"
              [type]="labels?.validationData?.ChildLoanAccountNumber?.type">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.registartionNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="vehicleRegistrationNumber" 
              [className]="'form-control mandatory'"
              [placeholder]="'Vehicle registration number'" 
              [type]="labels?.validationData?.vehicleRegNo?.type" 
              [inputClass]="'text-uppercase'" 
              [minLength]="labels?.validationData?.vehicleRegNo?.minLength"
              [maxLength]="labels?.validationData?.vehicleRegNo?.maxLength" 
              [custom]="vehicleRegPattern">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="business_division">{{labels?.ucicId}}<sub class="star_blue_col">*</sub>
            </label>
            <app-custom-input 

              formControlName="ucic" 
              [className]="'form-control mandatory'" 
              [placeholder]="'UCIC'"
              [type]="'number'">
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="business_division">{{labels?.aadharnumber}}<sub class="star_blue_col">*</sub>
            </label>
            <app-custom-input 

              formControlName="aadhaar" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Aadhaar'"
              [type]="'number'">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.pannumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="pan" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Pan'"
              [patternCheck]="labels?.validationData?.panNumber?.patternCheck"
              [maxLength]="labels?.validationData?.panNumber?.maxLength" 
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.panNumber?.type">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.drivingLicenseNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="drivingLicense" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Driving License'" 
              [patternCheck]="labels?.validationData?.drivingLicense?.patternCheck"
              [maxLength]="labels?.validationData?.drivingLicense?.maxLength" 
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.drivingLicense?.type">
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.voterIdNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="voterId" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Voter Id'"
              [patternCheck]="labels?.validationData?.voterId?.patternCheck"
              [maxLength]="labels?.validationData?.voterId?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.voterId?.type">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.passportNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="passport" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Passport Number'"
              [patternCheck]="labels?.validationData?.passportNumber?.patternCheck"
              [maxLength]="labels?.validationData?.passportNumber?.maxLength" 
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.passportNumber?.type">
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.cinNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="cin" 
              [className]="'form-control mandatory'" 
              [placeholder]="'CIN Number'"
              [patternCheck]="labels?.validationData?.cinRegNumber?.patternCheck"
              [maxLength]="labels?.validationData?.cinRegNumber?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.cinRegNumber?.type">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">Tan Number
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="tan" 
              [className]="'form-control mandatory'" 
              [placeholder]="'TAN Number'"
              [patternCheck]="labels?.validationData?.panNumber?.patternCheck"
              [maxLength]="labels?.validationData?.panNumber?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.panNumber?.type">
            </app-custom-input>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels?.gstNumber}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 

              formControlName="gst" 
              [className]="'form-control mandatory'" 
              [placeholder]="'GST Number'"
              [patternCheck]="labels?.validationData?.gstNumber?.patternCheck"
              [maxLength]="labels?.validationData?.gstNumber?.maxLength"
              [inputClass]="'text-uppercase'"
              [type]="labels?.validationData?.gstNumber?.type">
            </app-custom-input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="business_division">Name<sub class="star_blue_col">*</sub>
            </label>
            <app-custom-input 

              formControlName="name" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Name'"
              [maxLength]="nameLength" 
              [type]="'alpha'"
              (input)="onName($event)">
            </app-custom-input>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="product_type">{{labels.mobile}}
              <sub class="star_blue_col">*</sub></label>
            <app-custom-input 
              [isDisabled]="isDisableMobile"
              formControlName="mobile" 
              [className]="'form-control mandatory'" 
              [placeholder]="'Mobile'"
              [maxLength]="mobileLength" 
              [type]="'number'"
              [patternCheck]="labels.validationData?.mobileNumber.pattern"
              (input)="onMobileInput($event)">
            </app-custom-input>
            <div class="invalid-feedback" *ngIf="isMobileErrMsg">
              Name is mandatory
            </div>
          </div>

          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <label for="dob">{{ labels.dateOfBirth }}
              <sub class="star_blue_col">*</sub>
            </label>        
            <kendo-datepicker class="form-control mandatory" 
              formControlName="dateOfBirth" 
              [format]="'dd/MM/yyyy'"
              [min]="minAge"
              [max]="maxAge" 
              [placeholder]="'Date of birth'"
              [activeView]="'decade'"
              [disabled]="isDisableDob"
              (valueChange)="onDateOfBirthInput($event)">
            </kendo-datepicker>  
            <div class="invalid-feedback" >
              <div *ngIf="isDobErrMsg && !childLoanForm.controls.dateOfBirth.value">
                Date is mandatory
              </div>
              <div *ngIf="childLoanForm.controls.dateOfBirth.value && childLoanForm.controls.dateOfBirth.errors">
                Invalid date
              </div>
            </div>            
          </div>

        </div>
        <div class="row btn-sec clear-both">
          <div class="col-sm-12 text-right">
            <a 
              type="button" 
              data-toggle="collapse" data-parent="#accordion" 
              aria-expanded="true" aria-controls="collapseOne"
              [href]="accordian"
              class="btn btn-primary" value="submit" (click)="onSubmit()">
              Search
            </a>
          </div>
        </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="customerDetailsData.length != 0">
      <div class="col-md-6">
        <h3 class="margin_zero">Customer Details</h3>
      </div>
      <div class="col-md-6 text-right"></div>
    </div>

    <div class="content" *ngIf="customerDetailsData.length != 0">      
      <div class="container-fluid">        
        <div class="row">
          <div id="wrapper">
            <table>
              <thead>
                <tr class="table-head-bg">
                  <th>Select <i class="fa fa-sort"></i></th>
                  <th>UCIC <i class="fa fa-sort"></i></th>
                  <th>Customer Name <i class="fa fa-sort"></i></th>
                  <th>Phone Number <i class="fa fa-sort"></i></th>
                  <th>Entity <i class="fa fa-sort"></i></th>
                  <th>DOB <i class="fa fa-sort"></i></th>
                  <th>Aadhaar <i class="fa fa-sort"></i></th>
                  <th>PAN Number<i class="fa fa-sort"></i></th>
                  <th>GST <i class="fa fa-sort"></i></th>
                  <th>CIN <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customerDetail of customerDetailsData">
                  <td align="center" [attr.data-label]="'Select'">
                    <input class="checkbox" type="radio" name="selectLead" />
                  </td>
                  <!-- <td align="center"><input type="radio" name="radio-207" value="howtomeasure" style="botton:0px"> </td> -->
                  <td [attr.data-label]="'UCIC'">{{customerDetail.ucic}}</td>
                  <td [attr.data-label]="'Customer Name'">{{customerDetail.name}}</td>
                  <td [attr.data-label]="'Phone Number'">{{customerDetail.mobileNumber}}</td>
                  <td [attr.data-label]="'Entity'"></td>
                  <td [attr.data-label]="'DOB'"></td>
                  <td [attr.data-label]="'Aadhaar'">{{customerDetail.aadharNumber}}</td>
                  <td [attr.data-label]="'PAN Number'"></td>
                  <td [attr.data-label]="'GST'"></td>
                  <td [attr.data-label]="'CIN'"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="loanDetailsData.length != 0">
      <div class="col-md-6">
        <h3 class="margin_zero">Loan Account Details</h3>
      </div>
      <div class="col-md-6 text-right"></div>
    </div>

    <div class="content" *ngIf="loanDetailsData.length != 0">      
      <div class="container-fluid">        
        <div class="row">
          <div id="wrapper">
            <table>
              <thead>
                <tr class="table-head-bg">
                  <th>Select <i class="fa fa-sort"></i></th>
                  <th>Loan Account Number <i class="fa fa-sort"></i></th>
                  <th>Loan Start Date <i class="fa fa-sort"></i></th>
                  <th>Loan Amount <i class="fa fa-sort"></i></th>
                  <th>Number of EMIs <i class="fa fa-sort"></i></th>
                  <th>Seasoning <i class="fa fa-sort"></i></th>
                  <th>Rate of Interest <i class="fa fa-sort"></i></th>
                  <th>DPD <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let loanDetail of loanDetailsData">
                  <td align="center" [attr.data-label]="'Select'">
                    <input class="checkbox" type="radio" name="selectLead" />
                  </td>
                  <!-- <td align="center"><input type="radio" name="radio-207" value="howtomeasure" style="botton:0px"> </td> -->
                  <td [attr.data-label]="'Loan Account Number'">{{loanDetail.accountNumber}}</td>
                  <td [attr.data-label]="'Loan Start Date'">24</td>
                  <td [attr.data-label]="'Loan Amount'">{{loanDetail.totalLoanAmount}}</td>
                  <td [attr.data-label]="'Number of EMIs'">{{loanDetail.totalEMIs}}</td>
                  <td [attr.data-label]="'Seasoning'">650000</td>
                  <td [attr.data-label]="'Rate of Interest'">{{loanDetail.rateOfInterest}}</td>
                  <td [attr.data-label]="'DPD'">{{loanDetail.dpd}}</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-sec clear-both btn-mar-reject">
              <div class="text-right">
                <button class="btn btn-primary js-btn-next mar-right8" id="reject_button" type="button">
                  Create Child Loan Lead
                </button>
                <button class="btn btn-primary js-btn-next mar-right8" id="reject_button" type="button">
                  View Loan 360
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>