<nav id="bs-navbar" class="collapse navbar-collapse" style="text-align: center;">
    <ul class="nav navbar-nav navbar-right profile-header " [ngClass]="{'profile-style': activityClass == true }">
        <li class="dropdown" [ngClass]="{'open-profile': openProfile}">
            <a href="#" class="dropdown-toggle name" data-toggle="dropdown">
                <span class="name-circle"><span class="name-circle-txt"> {{firstLetter}} </span></span>{{userName}} <b
                    class="fa fa-angle-down"></b>
            </a>
        
             <ul class="dropdown-menu" [ngClass]="{'activity-style': activityClass == false }">
                <li><a>{{userName}}</a></li>
                <li><a class="user_name">
                        <select class="form-control" id="roles" #t (change)="onChangeRole(t.value)">
                            <option class='option' *ngFor='let role of roles' value="{{role.name}}" selected="selected">
                                {{role.name}}</option>
                        </select>
                    </a>
                </li>
                <li><a>{{branchName}} Branch</a></li>

                <li><a (click)="logOut()">Logout</a></li>
            </ul>
        
        </li>
    </ul>
    <ng-content></ng-content>
</nav>
