
<form class="multisteps-form__form" [formGroup]="odDetailsForm">

  <div class="container-fluid row">
  
    <table class="table center-align" >
      <tr>
        <td>{{ labels?.applicant }}</td>
        <td>{{odApplicantData?.applicantName}}</td>
        <td>{{ labels?.applicantType }}</td>
        <td>{{odApplicantData?.applicantType}}</td>
        <td>{{ labels?.bureauScore }}</td>
        <td>{{odApplicantData?.bureauScore}}</td> 
        <td colspan="1"> 
          <button  class = "btn btn-primary" type="button" >
            <a (click)="getApplicantImage()" data-toggle="modal"
            data-target="#myModalApplicantImage"><strong>View Report</strong>
            </a>
          </button>
        </td>
      </tr>
     
    </table>
</div>

  <div class="multisteps-form">
    <div class="multisteps-form__panel js-active" data-animation="scaleIn">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive application">
            <div class="od-row">
              <div class="col-md-10">
                <h3 class="m-0">{{ labels?.odDetails }}</h3>
              </div>
              <div class="col-md-2 text-right">
                <button type="button" class="btn caption btn-sm" (click)="addOdDetails()"><i
                    class="fa fa-plus fa-fw"></i> Add Row</button>
              </div>
            </div>
            <div class="clearfix"></div>
            <table id="POITable" class="table mb-15">
              <thead>
                <tr class="">
                  <th role="columnheader" class="caption">{{ labels?.odType }}<sub class="star_blue_col">*</sub></th>
                  <th role="columnheader" class="caption">
                    {{ labels?.odAmount }}<sub class="star_blue_col">*</sub>
                  </th>
                  <th role="columnheader" class="caption">{{ labels?.typeOfloan }}<sub class="star_blue_col">*</sub>
                  </th>
                  <ng-container *ngIf="selectedLoanType !== 'OTRSLONTYP'">
                    <th role="columnheader" class="caption">
                      {{ labels?.otherTypeOfloan
                      }}<sub class="star_blue_col">*</sub>
                    </th>
                  </ng-container>
                  <ng-container *ngIf="selectedLoanType === 'OTRSLONTYP'">
                    <th role="columnheader" class="caption">
                      {{ labels?.otherTypeOfloan
                      }}<sub class="star_red_col">*</sub>
                    </th>
                  </ng-container>
                  <th role="columnheader" class="caption">
                    {{ labels?.odDpd }}<sub class="star_blue_col">*</sub>
                  </th>
                  <th role="columnheader" class="caption">{{labels?.action}}</th>
                </tr>
              </thead>
              <tbody formArrayName="odAccountDetails">
                <tr class="text-center" id="applicant_1_row" *ngFor="
                    let item of odDetailsForm.get('odAccountDetails')[
                      'controls'
                    ];
                    let i = index
                  " [formGroupName]="i">

                  <td data-title="OD Type">
                    <app-vf-custom-select [values]="odListLov?.odApplicantType" formControlName="odType">
                    </app-vf-custom-select>
                  </td>

                  <td data-title="OD Amount">
                    <app-custom-input formControlName="odAmount" [placeholder]="'OD Amount'"
                      [type]="labels?.validationData?.amountValue?.type" [className]="'form-control mandatory'"
                      [maxLength]="labels?.validationData?.amountValue?.maxLength" [isDirty]="isDirty"
                      (keyup)="onOdAmount($event.target.value, i)">
                    </app-custom-input>
                  </td>
                  <td data-title="Type of loan">
                    <app-vf-custom-select [values]="odListLov?.typeOfLoan" formControlName="typeOfLoan"
                      (change)="onSelectLoan($event.target.value,i)">
                    </app-vf-custom-select>
                    <!-- <select (change)="onSelectLoan($event.target.value,i,j)" formControlName="typeOfLoan">
                      <option *ngFor="let item of odListLov?.typeOfLoan; let j = index " value ={{item?.key}} >{{item?.value}}</option>
                    </select> -->
                  </td>
                  <ng-container *ngIf="selctedLoan[i] !== 'OTRSLONTYP'">
                    <td data-title="Other type of loan">
                      <app-custom-input formControlName="otherTypeOfLoan" [placeholder]="'Other type of loan'"
                        [type]="labels?.validationData?.chasisEngineNo?.type" [className]="'form-control mandatory'"
                        [maxLength]="labels?.validationData?.chasisEngineNo?.maxLength" [isDirty]="isDirty"
                        [isDisabled]="'true'">
                      </app-custom-input>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="selctedLoan[i] === 'OTRSLONTYP'">
                    <td data-title="Other type of loan">
                      <app-custom-input formControlName="otherTypeOfLoan" [placeholder]="'Other type of loan'"
                        [type]="labels?.validationData?.chasisEngineNo?.type" [className]="'form-control mandatory'"
                        [maxLength]="labels?.validationData?.chasisEngineNo?.maxLength" [isDirty]="isDirty"
                        [isRequired]="'Other type of loan mandatory'">
                      </app-custom-input>
                    </td>
                  </ng-container>
                  <td data-title="OD DPD">
                    <app-custom-input formControlName="odDpd" [placeholder]="'OD DPD'"
                      [type]="labels?.validationData?.extn?.type" [className]="'form-control mandatory'"
                      [maxLength]="labels?.validationData?.extn?.maxLength" [isDirty]="isDirty"
                      [isRequired]="'OD DPD mandatory'">
                    </app-custom-input>
                  </td>
                  <td data-title="Actions">
                    <!-- <i type="button" class="fa fa-trash" aria-hidden="true" id="delPOIbutton" value="Delete"
                      (click)="removeOdDetails(i)"></i> -->
                    <i type="button" class="fa fa-trash" aria-hidden="true" id="delPOIbutton" value="Delete"
                      (click)="showOdModel(i)"></i>
                  </td>
                </tr>
                <tr *ngIf="odAccountDetailsArray.length > 0">
                  <td>{{ labels?.totalODAmount }}</td>
                  <td>{{totalOdAmount}}</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div class="form-group od-row">
              <div class="col-md-2"><label>{{labels?.highestDPDInLastSixM}}</label></div>
              <div class="col-md-2">

                <app-vf-custom-select [values]="odListLov?.highestDpd" formControlName="highDpd6m">
                </app-vf-custom-select>
              </div>
              <div class="col-md-2"><label>{{labels?.highestDPDInLastTwelveM}}</label></div>
              <div class="col-md-2">

                <app-vf-custom-select [values]="odListLov?.highestDpd" formControlName="highDpd12m">
                </app-vf-custom-select>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group od-row">
              <div class="col-md-2"><label>{{labels?.countOfWrittenOffLoans}}</label></div>
              <div class="col-md-2">
                <app-custom-input formControlName="writtenOffLoans" [placeholder]="'Count of  written off loans'"
                  [type]="labels?.validationData?.extn?.type" [className]="'form-control mandatory'"
                  [maxLength]="labels?.validationData?.extn?.maxLength" [isDirty]="isDirty">
                </app-custom-input>
              </div>
              <div class="col-md-2"><label>{{labels?.countOfWrittenOffLoansAlongWithSuiteFiled}}</label></div>
              <div class="col-md-2">
                <app-custom-input formControlName="writtenOffLoansWithSuite"
                  [placeholder]="'Count of  written off loans with Suite filed'"
                  [type]="labels?.validationData?.extn?.type" [className]="'form-control mandatory'"
                  [maxLength]="labels?.validationData?.extn?.maxLength" [isDirty]="isDirty">
                </app-custom-input>
              </div>
              <div class="col-md-2"><label>{{labels?.countOfLossloans}}</label></div>
              <div class="col-md-2">
                <app-custom-input formControlName="lossLoans" [placeholder]="'Count of  loss loans'"
                  [type]="labels?.validationData?.extn?.type" [className]="'form-control mandatory'"
                  [maxLength]="labels?.validationData?.extn?.maxLength" [isDirty]="isDirty">
                </app-custom-input>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group od-row">
              <div class="col-md-2"><label>{{labels?.countOfSettledLoans}}</label></div>
              <div class="col-md-2">
                <app-custom-input formControlName="settledLoans" [placeholder]="'Count of settled loans'"
                  [type]="labels?.validationData?.extn?.type" [className]="'form-control mandatory'"
                  [maxLength]="labels?.validationData?.extn?.maxLength" [isDirty]="isDirty">
                </app-custom-input>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group od-row">
              <div class="col-md-2"><label>{{labels?.clearanceProofCollected}}</label></div>
              <div class="col-md-2">
                <app-vf-custom-select [values]="odListLov?.clearanceProof" formControlName="clearanceProofCollected" (change)="onSelectProof($event.target.value)">
                </app-vf-custom-select >
              </div>
              <div class="col-md-2"><label>{{labels?.clearanceProof}}</label></div>
              <ng-container *ngIf="selctedProof === 'ODCLCLDODCLRPRF' || selctedProof === 'ODCLPRTCLDODCLRPRF' || selctedProof === 'null'" >
              <div class="col-md-2">
                <app-custom-input formControlName="clearanceProof" [placeholder]="'Clearence Proof'"
                  [type]="labels?.validationData?.chasisEngineNo?.type" [className]="'form-control mandatory'"
                  [maxLength]="labels?.validationData?.chasisEngineNo?.maxLength" [isDirty]="isDirty">
                </app-custom-input>
              </div>
            </ng-container>
            <ng-container *ngIf="selctedProof == 'ODCLNAODCLRPRF' || selctedProof == 'ODCLNTCLDODCLRPRF' || selctedProof == 'ODCLNTCLRODCLRPRF'|| selctedProof === 'null'">
              <div class="col-md-2">
                <app-custom-input formControlName="clearanceProof" [placeholder]="'Clearence Proof'"
                  [type]="labels?.validationData?.chasisEngineNo?.type" [className]="'form-control mandatory'"
                  [maxLength]="labels?.validationData?.chasisEngineNo?.maxLength" [isDirty]="isDirty" [isDisabled]="'true'">
                </app-custom-input>
              </div>
            </ng-container>
              <div class="clearfix"></div>
            </div>
            <div class="form-group od-row">
              <div class="col-md-2"><label>{{labels?.cibilODDPDJustification}}</label></div>
                <div class="col-md-10">

                <textarea class="form-control form-control-sm" placeholder="Text Area" formControlName="justification"
                  ></textarea>
                  <div *ngIf="odDetailsForm.get('justification').invalid && (odDetailsForm.get('justification').dirty || odDetailsForm.get('justification').touched)"
                  class="invalid-feedback">
                  <div *ngIf="odDetailsForm.get('justification').errors.required">
                     justification is required.
                  </div>
                  <div *ngIf="odDetailsForm.get('justification').errors.maxlength">
                     justification cannot be more than 200 characters long.
                  </div>
                  <div *ngIf="odDetailsForm.get('justification').errors.pattern">
                    Invalid Message / Special Characters not allowed

                  </div>
                  
              </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <hr>
            <div class="table-responsive application mt-3">
              <div class="caption text-left mb-5 text-bold">{{labels?.loanEnquiriesInLast30DaysWithTypeOfLoan}}</div>
              <div class="text-right"><button type="button" class="btn caption btn-sm"
                  (click)="addLastThirtyDaysLoan()"><i class="fa fa-plus fa-fw"></i> Add Row</button></div>
              <table id="POITable_other" border="0" class="table">
                <thead>
                  <tr class="">
                    <th role="columnheader" class="caption">{{ labels?.member }}<sub class="star_blue_col">*</sub></th>
                    <th role="columnheader" class="caption">
                      {{ labels?.enquiryDate }}
                      <sub class="star_blue_col">*</sub>
                    </th>
                    <th role="columnheader" class="caption">{{ labels?.typeOfloan }}<sub class="star_blue_col">*</sub>
                    </th>
                    <th role="columnheader" class="caption">
                      {{ labels?.enquiryAmount }}<sub class="star_blue_col">*</sub>
                    </th>
                    <th role="columnheader" class="caption">{{labels?.action}}</th>

                  </tr>
                </thead>
                <tbody formArrayName="AssetBureauEnquiry">
                  <tr *ngFor="
                    let item of odDetailsForm.get('AssetBureauEnquiry')[
                      'controls'
                    ];
                    let i = index
                  " [formGroupName]="i">
                    <td data-title="Member">
                      <app-custom-input formControlName="memberType" memberType [placeholder]="'Member'"
                        [type]="labels?.validationData?.chasisEngineNo?.type" [className]="'form-control mandatory'"
                        [maxLength]="labels?.validationData?.chasisEngineNo?.maxLength" [isDirty]="isDirty">
                      </app-custom-input>
                    </td>
                    <td data-title="Enquiry date">
                      <kendo-datepicker class="form-control" formControlName="enquiryDate" [activeView]="'decade'"
                        [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date">
                      </kendo-datepicker>

                    </td>
                    <td data-title="Type of loan">

                      <app-vf-custom-select [values]="odListLov?.typeOfLoan" formControlName="typeOfLoan">
                      </app-vf-custom-select>
                    </td>
                    <td data-title="Enquiry Amount">
                      <app-custom-input formControlName="amount" [placeholder]="'Enquiry Amount'"
                        [type]="labels?.validationData?.amountValue?.type" [className]="'form-control mandatory'"
                        [maxLength]="labels?.validationData?.amountValue?.maxLength" [isDirty]="isDirty">
                      </app-custom-input>

                    </td>
                    <td data-title="Actions">

                      <!-- <i type="button" class="fa fa-trash" aria-hidden="true" id="delPOIbutton" value="Delete"
                        (click)="removeLastThirtyDaysLoan(i)"></i> -->
                      <i type="button" class="fa fa-trash" aria-hidden="true" id="delPOIbutton" value="Delete"
                        (click)="showThirtyModel(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="table-responsive application mt-3">
              <div class="caption text-left mb-5 text-bold">{{labels?.loanEnquiriesInLast60DaysWithTypeOfLoan}}</div>
              <div class="text-right"><button type="button" class="btn caption btn-sm"
                  (click)="addLastSixtyDaysLoan()"><i class="fa fa-plus fa-fw"></i> Add Row</button></div>
              <table id="POITable_other" border="0" class="table">
                <thead>
                  <tr class="">
                    <th role="columnheader" class="caption">{{ labels?.member }}<sub class="star_blue_col">*</sub></th>
                    <th role="columnheader" class="caption">
                      {{ labels?.enquiryDate }}
                      <sub class="star_blue_col">*</sub>
                    </th>
                    <th role="columnheader" class="caption">{{ labels?.typeOfloan }}<sub class="star_blue_col">*</sub>
                    </th>
                    <th role="columnheader" class="caption">
                      {{ labels?.enquiryAmount }}<sub class="star_blue_col">*</sub>
                    </th>
                    <th role="columnheader" class="caption">{{labels?.action}}</th>

                  </tr>
                </thead>
                <tbody formArrayName="AssetBureauEnquirySixtyDays">
                  <tr *ngFor="
                    let item of odDetailsForm.get('AssetBureauEnquirySixtyDays')[
                      'controls'
                    ];
                    let i = index
                  " [formGroupName]="i">
                    <td data-title="Member">
                      <app-custom-input formControlName="memberType" memberType [placeholder]="'Member'"
                        [type]="labels?.validationData?.chasisEngineNo?.type" [className]="'form-control mandatory'"
                        [maxLength]="labels?.validationData?.chasisEngineNo?.maxLength" [isDirty]="isDirty">
                      </app-custom-input>
                    </td>
                    <td data-title="Enquiry date">
                      <kendo-datepicker class="form-control" formControlName="enquiryDate" [activeView]="'decade'"
                        [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="Enquiry date">
                      </kendo-datepicker>
                    </td>
                    <td data-title="Type of loan">

                      <app-vf-custom-select [values]="odListLov?.typeOfLoan" formControlName="typeOfLoan">
                      </app-vf-custom-select>

                    </td>
                    <td data-title="Enquiry Amount">
                      <app-custom-input formControlName="amount" [placeholder]="'Enquiry Amount'"
                        [type]="labels?.validationData?.amountValue?.type" [className]="'form-control mandatory'"
                        [maxLength]="labels?.validationData?.amountValue?.maxLength" [isDirty]="isDirty">
                      </app-custom-input>

                    </td>
                    <td data-title="Actions">

                      <i type="button" class="fa fa-trash" aria-hidden="true" id="delPOIbutton" value="Delete"
                        (click)="showSixtyModel(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="btn-sec clear-both row cst_btm_btns">
      <div class="col-sm-5">
        <button class="btn btn-primary dash_href" (click)="onBackToODDetails()">
          Back To OD Details
        </button>
      </div>
      <div class="col-sm-7 text-right">
        <button class="btn btn-primary dash_href" type="button" routerLink="../exposure">
          Back
        </button>
        <button class="btn btn-primary mar-right8" type="button" (click)=onSubmit();>
          Save
        </button>
        <button class="btn btn-primary dash_href" type="button" routerLink="../psl-data">
          Next
        </button>
      </div>
    </div>
  </div>
</form>
<div id="overlay" *ngIf="isODModelShow">
  <div id="text">
    <div class="panel">
      <div class="panel-body">        
        <button type="button" class="close" aria-label="Close" (click)="isODModelShow = false" >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog" >
          <div class="modal-body" style="text-align:center;">
            <p>{{errorMessage}}</p>
            <div class="btn-wrap">
              <button class="btn btn-success" (click)="removeOdDetails(rowIndex)">Yes</button>&nbsp;
              <button class="btn btn-danger" (click)="isODModelShow = false">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="overlay" *ngIf="isThirtyModelShow">
  <div id="text">
    <div class="panel">
      <div class="panel-body">        
        <button type="button" class="close" aria-label="Close" (click)="isThirtyModelShow = false" >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog" >
          <div class="modal-body" style="text-align:center;">
            <p>{{errorMessage}}</p>
            <div class="btn-wrap">
              <button class="btn btn-success" (click)="removeLastThirtyDaysLoan(rowIndex)">Yes</button>&nbsp;
              <button class="btn btn-danger" (click)="isThirtyModelShow = false">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="overlay" *ngIf="isSixtyModelShow">
  <div id="text">
    <div class="panel">
      <div class="panel-body">        
        <button type="button" class="close" aria-label="Close" (click)="isSixtyModelShow = false" >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog" >
          <div class="modal-body" style="text-align:center;">
            <p>{{errorMessage}}</p>
            <div class="btn-wrap">
              <button class="btn btn-success" (click)="removeLastSixtyDaysLoan(rowIndex)">Yes</button>&nbsp;
              <button class="btn btn-danger" (click)="isSixtyModelShow = false">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal popup for cibil response screen -->
<div class="modal" id="myModalApplicantImage"   >
  <div class="modal-dialog  modal-style">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">CIBIL Response For Applicant.</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body" >
        <!-- <img [src]="imageUrl" > -->
        <div [innerHTML]="cibilImage"  ></div>     
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="destroyImage()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
 