<div class="row">
    <div class="table-responsive application" id="applicantTable">
        <table class="table">
            <thead>
                <tr class="table-head-bg">
                    <th>{{labels.ucicId}}</th>
                    <th>{{labels.applicantName}}</th>
                    <th>{{labels.mobileNumber}} </th>
                    <th>{{labels.applicantType}}</th>
                    <th>{{labels.tvrStatus}}</th>
                    <th>TVR Report </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>55464</td>
                    <td><a href="#">Chandler Bing</a></td>
                    <td>7894561230</td>
                    <td>Applicant</td>
                    <td>Completed</td>
                    <td style="cursor: pointer; text-decoration: underline;" (click)="onViewClick()"><a>View</a></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td><a href="#">Monica Geller</a></td>
                    <td>7894561230</td>
                    <td>Co-Applicant</td>
                    <td>Completed</td>
                    <td style="cursor: pointer; text-decoration: underline;" (click)="onViewClick()"><a>View</a></td>

                </tr>
                <tr>
                    <td>97912</td>
                    <td><a href="#">Joey Tribbiani</a></td>
                    <td>7894561230</td>
                    <td>Co-Applicant</td>
                    <td>Pending</td>
                    <td style="cursor: pointer; text-decoration: underline;" (click)="onViewClick()"><a>View</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>