.text-underline {
    text-decoration: underline;
    cursor: pointer;
}

.mar-btm-15{
  margin-bottom:30px!important;
}

.nxt-mar-10{
    margin-bottom:15px;
}

@media (min-width:260px) and (max-width: 760px) {
  .mar-btm-15{
    margin-bottom:15px!important;
  }
}