#mydiv {
  /* position: absolute; */
  z-index: 9999;
  background-color: #1d1d1d61;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: 600px;
  width: 600px;
  padding: 10px;
  border-radius: 5px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  height: 100%;
  width: 100%;
}

.header {
  padding: 5px;
}

.image-content {
  height: 90%;
  /* width: 50%; */
  margin: auto;
}

.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cls-btn{
  background-color: #0a0a0a61;
  color: #f7f5f5;
  opacity:1;
  font-size: 38px!important;
}

@media (min-width:300px) and (max-width:767px) {
  .image-content {
    height: 90%;
    width: 90%;
    margin: auto;
  }

  #mydiv {
    z-index: 9999;
    background-color: #1d1d1d61;
    border: 1px solid #d3d3d3;
    text-align: center;
    height: 85%;
    width: 100%;
    /* padding: 10px; */
    border-radius: 5px;
    margin-top:20px;
}
}