<div class="mar-top90 container-fluid">
  <mat-tab-group class="dashboard-tab" animationDuration="0ms">
    <mat-tab label="Leads"> 
        <br/>
        <div>
            <mat-tab-group class="lead-tab" animationDuration="0ms">
                <mat-tab label="New Leads"> 
                    <app-new-lead></app-new-lead>
                </mat-tab>
                <mat-tab label="Sanctioned Leads Pending with Me"> 
                    <app-secsanctioned-leads-pending-with-me></app-secsanctioned-leads-pending-with-me> 
                   </mat-tab>
                <mat-tab label="Sanctioned Leads Pending with Branch"> 
                    <app-secsanctioned-leads-pending-with-branch></app-secsanctioned-leads-pending-with-branch> 
                 </mat-tab>
                <mat-tab label="Declined Leads with Me"> 
                    <app-declined-leads-with-me></app-declined-leads-with-me>
                    </mat-tab>
                <mat-tab label="Declined Leads with Branch">
                    <app-declined-leads-with-branch></app-declined-leads-with-branch>
                
                </mat-tab>
              </mat-tab-group>
        </div>
    </mat-tab>
    <mat-tab label="Personal Discussion"> 
        <br/>
        <div>
            <mat-tab-group class="personal-tab" animationDuration="0ms">
                <mat-tab label="My PD Tasks"> 
                   <app-my-pd-tasks></app-my-pd-tasks>
                </mat-tab>  
                <mat-tab label="Branch PD Tasks"> 
                    <app-branch-pd-tasks></app-branch-pd-tasks>
                </mat-tab>
               
              </mat-tab-group>
        </div>    
    </mat-tab>
    <mat-tab label="Vehicle Viability"> 
        <br/>
        <div>
            <mat-tab-group class="personal-tab" animationDuration="0ms">
                <mat-tab label="Viability Checks Pending with Me"> 
                  <app-viability-checks-pending-with-me></app-viability-checks-pending-with-me>
                </mat-tab>  
                <mat-tab label="Viability Checks Pending with Branch"> 
                    <app-viability-checks-pending-with-branch></app-viability-checks-pending-with-branch>
                </mat-tab>
              </mat-tab-group>
        </div>      
    </mat-tab>
    <mat-tab label="Query"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
