<main class="mar-top90">
    <div class="container-fluid">
        <div class="pull-right dropdown nav">
            <button class="btn btn-default mar-bottom" (click)="showFilter=!showFilter"> <i class="fa fa-filter"></i> Filter </button>
        </div>
    </div>
    <div class="filter-block container-fluid mar-bottom" *ngIf="showFilter">
        <div>
            <!-- <div class="col-md-4">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="filter">Add filter</label> &nbsp;
                        <select class="form-control" id="label">
                            <option value="1">Status</option>
                            <option value="2">Created Date</option>
                            <option value="">Product</option>
                            <option value="4">Created By </option>
                            <option value="5">Loan Amount</option>
                        </select>
                    </div>
                </form>
            </div> -->
            <!-- <div class="col-md-8">
                <div class="row" id="status-content">
                    <div class="form-group col-sm-4 col-md-3">
                        <div class="checkbox">
                            <label> <input type="checkbox" name=""> Status <span class="checkmark"></span> </label>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="sr-only">Status</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="date-content">
                    <div class="form-group col-sm-4 col-md-3">
                        <div class="checkbox">
                            <label id="label-select"> <input type="checkbox" name=""> Created Date <span class="checkmark"></span></label>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="sr-only">Start Date</label>
                        <div class="input-group input-medium">
                            <span class="input-group-btn">
                                <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                            </span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div> -->
            <form [formGroup]="filterForm">
                <div class="row">
                    <div class="form-group col-sm-6 col-md-3 col-lg-3">
                        <label for="leadId">{{labels.leadID}}</label>
                        <!-- <input class="form-control" formControlName="leadId" type="text" id="leadId"> -->
                        <app-custom-input id="leadId" formControlName="leadId" [className]="'form-control'" [placeholder]="'Lead Id'" [maxLength]="validationData?.extn.maxLength" [type]="validationData?.extn.type">
                        </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-3 col-lg-3">
                        <label for="productCategory">{{labels.productCategory}}</label>
                        <app-vf-custom-select [values]="productCategoryData" formControlName="product"> </app-vf-custom-select>
                        <!-- <input class="form-control" formControlName="product" type="text" id="productCategory"> -->
                    </div>
                    <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
                        <label for="status">{{labels.status}}</label>
                        <!-- <input class="form-control" formControlName="status" type="text" id="status"> -->
                        <app-vf-custom-select [values]="stageData" formControlName="leadStage"> </app-vf-custom-select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-3 col-lg-3">
                        <label for="startDate">{{labels.leadCreatedOnStartDate}}</label>
                        <kendo-datepicker class="form-control" formControlName="fromDate" [format]="'dd/MM/yyyy'" placeholder="Start Date" [activeView]="'decade'"></kendo-datepicker>
                    </div>
                    <div class="form-group col-sm-6 col-md-3 col-lg-3">
                        <label for="endDate">{{labels.leadCreatedOnEndDate}}</label>
                        <kendo-datepicker class="form-control" formControlName="toDate" [format]="'dd/MM/yyyy'" placeholder="End Date" [activeView]="'decade'"></kendo-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-3 col-lg-3">
                        <label for="minAmount">{{labels.loanMinAmount}}</label>
                        <!-- <input class="form-control" formControlName="loanMinAmt" type="text" id="minAmount"> -->
                        <app-custom-input id="minAmount" formControlName="loanMinAmt" [className]="'form-control'" [placeholder]="'Enter Loan amount'" [maxLength]="validationData?.amountValue.maxLength" [type]="validationData?.amountValue.type">
                        </app-custom-input>
                    </div>
                    <div class="form-group col-sm-6 col-md-3 col-lg-3">
                        <label for="maxAmount">{{labels.loanMaxAmount}}</label>
                        <!-- <input class="form-control" formControlName="loanMaxAmt" type="text" id="maxAmount"> -->
                        <app-custom-input id="maxAmount" formControlName="loanMaxAmt" [className]="'form-control'" [placeholder]="'Enter Loan amount'" [maxLength]="validationData?.amountValue.maxLength" [type]="validationData?.amountValue.type">
                        </app-custom-input>
                    </div>
                    <div class="actionbtn col-sm-6 col-md-3 col-lg-3">
                        <button class="btn btn-default mar-right8" type="button" id="clearbtn" (click)="onClear()"> Clear </button>
                        <button class="btn btn-primary" type="submit" (click)="onApply()"> Apply </button>
                    </div>
                </div>
            </form>

            <!-- <div class="btn-sec col-xs-12 text-right">
                <button class="btn btn-default mar-right8" id="clearbtn"> Clear </button>
                <button class="btn btn-primary"> Apply </button>
            </div> -->
        </div>
    </div>
    <div class="container-fluid mar-bottom" *ngIf="roleType == '1'">
        <ul class="nav nav-pills nav-justified" id="background_white">
            <li [routerLink]="[ '/pages/dashboard/leads-section' ]" routerLinkActive="active" id="leads"><a>Leads</a></li>
            <li [routerLink]="[ '/pages/dashboard/personal-discussion' ]" routerLinkActive="active"><a>Personal Discussion</a></li>
            <li [routerLink]="[ '/pages/dashboard/vehicle-viability' ]" routerLinkActive="active"><a>Vehicle Viability</a></li>
        </ul>
    </div>
    <div class="container-fluid mar-bottom" *ngIf="roleType == '2'">
        <ul class="nav nav-pills nav-justified" id="background_white">
            <li [routerLink]="[ '/pages/dashboard/leads-section' ]" routerLinkActive="active" id="leads"><a>{{roleType == '1' ? 'Leads' : 'DDE' }}</a></li>
            <li [routerLink]="[ '/pages/dashboard/personal-discussion' ]" routerLinkActive="active"><a>Personal Discussion</a></li>
            <li [routerLink]="[ '/pages/dashboard/deviation' ]" routerLinkActive="active"><a>Deviation</a></li>
            <li [routerLink]="[ '/pages/dashboard/credit-decision' ]" routerLinkActive="active"><a>Credit Decision</a></li>
            <li [routerLink]="[ '/pages/dashboard/cpc-maker' ]" routerLinkActive="active"><a>CPC Maker</a></li>
            <li [routerLink]="[ '/pages/dashboard/cpc-checker' ]" routerLinkActive="active"><a>CPC Checker</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>

</main>