
<main class="mar-top90">
    <div class="container">
        
        <h3 class="margin_zero">Customer Dedupe and Negatile List Scrub Results</h3>

        <h3 class="title" ></h3>
        <p id="exact_macth_title1" >Negative List Results</p>
            <div id="nagative_list_results">
                <div class="row"> 
                    <div class="col-lg-5 col-sm-4 col-md-4" ><p id="nagative_list_results_tag"><span>Found in NL?</span> <input type="text" value="Yes" name="found_in_nl" id="found_in_nl" disabled="disabled" /> </p></div>
                    <div class="col-lg-7 col-sm-6 col-md-6"><span id="nagative_list_results_tag01">NL Match Criteria? </span>&nbsp;&nbsp;<input type="text" class=""  name="nl_match_criteria" id="nl_match_criteria" readonly value="PAN matches exactly under YRAYAPUFILE, in negative list VIDE UID #2"  style="width: 60%;"  /> </div>
                </div>
               
                <p id="nagative_list_results_tag1"><span>Found in TR NL?</span><input type="text" value="No" name="found_in_trnl" id="found_in_trnl"  disabled="disabled" /></p>
            </div>

    
        <p class="title" id="exact_macth_title2" >Dedupe Parameters</p>
        <form action="" method="POST">
            <div class="table-responsive" id="exact_macth_title2_sec">
                <table class="table">
                    <thead >
                        <tr class="table-head-bg">
                            <td>Name</td>
                            <td>DOB</td>
                            <td>Mother Maiden Name</td>
                            <td>Mobile Number</td>
                            <td>PAN</td>
                            <td>Adhaar</td>
                            <td>Passport</td>
                            <td>Voter ID</td>
                            <td>Driving License</td>
                            <td>CKYC Number</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Venkata Swamy Narasimhan</td>
                            <td>10-06-1978</td>
                            <td>MMN</td>
                            <td>911234567890</td>
                            <td>ABCDE1234H</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        
                <p id="exact_macth_title3" >Exact Matches</p>
                <div class="table-responsive">
                <table class="table table-responsive" id="exact_macth_title3_sec" >
                    <thead>
                        <tr class="table-head-bg">
                            <td>Select</td>
                            <td>UCIC</td>
                            <td>Name</td>
                            <td>Matched Criteria</td>
                            <td>DOB</td>
                            <td>Mother Maiden Name</td>
                            <td>Mobile Number</td>
                            <td>PAN</td>
                            <td>Adhaar</td>
                            <td>Passport</td>
                            <td>Voter ID</td>
                            <td>Driving License</td>
                            <td>CKYC Number</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="radio"  value="" name="exact_matches" ischecked="false" (change)="OnChecked($event)">
                            </td>
                            <td>12345</td>
                            <td>Venkata Swamy Narasimhan</td>
                            <td>PAN+Entity Type</td>
                            <td>10-06-1978</td>
                            <td>MMN</td>
                            <td>911234567890</td>
                            <td>ABCDE1234H</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="radio"  value="" name="exact_matches" ischecked="false" (change)="OnChecked($event)">
                            </td>
                            <td>12344</td>
                            <td>Sampath Kumar</td>
                            <td>PAN+Entity Type</td>
                            <td>10-06-1990</td>
                            <td>MMD</td>
                            <td>911234567870</td>
                            <td>ABCDE1237H</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form action="" method="POST" >
            <div class="table-responsive">
                <p id="probale_title4">Probable Matches</p>

                <table class="table" id="exact_macth_title4_sec" >
                    <thead>
                        <tr class="table-head-bg">
                            <td>Select</td>
                            <td>UCIC</td>
                            <td>Name</td>
                            <td>Matched Criteria</td>
                            <td>DOB</td>
                            <td>Mother Maiden Name</td>
                            <td>Mobile Number</td>
                            <td>PAN</td>
                            <td>Adhaar</td>
                            <td>Passport</td> 
                            <td>Voter ID</td>
                            <td>Driving License</td>
                            <td>CKYC Number</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="radio"  value="" name="probable_matches" isChecked="false" (change)="OnChecked($event)">
                            </td>
                            <td>12343</td>
                            <td>Venkata Swamy Narasimhan</td>
                            <td>Mobile Number</td>
                            <td>10-06-1978</td>
                            <td>MMN</td>
                            <td>911234567890</td>
                            <td>ABCDE1234k</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td><input type="radio"  value="" name="probable_matches" isChecked="false" (change)="OnChecked($event)">
                            </td>
                            <td>12345</td>
                            <td>Sampath Kumar</td>
                            <td>Mobile Number</td>
                            <td>10-06-1994</td>
                            <td>MMK</td>
                            <td>911234567891</td>
                            <td>ABCDE1235k</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
           </form>

             <div class="text-right">
             <button  class="btn btn-primary js-btn-prev mar-right8" type="button" data-toggle="modal" data-target="#myModal" > Reject Lead</button>
                <button  class="btn btn-primary mar-right8"  id="proceed_without_sumbit" data-toggle="modal" data-target="#newLeadModal" [disabled]="isChecked"> Continue as new applicant </button>
                <!--- <a href="sales_application_details.html" ><button class="btn btn-primary mar-right8 probable_table" id="proceed_without_sumbit" > Continue as new applicant </button></a> --->
               <button (click)="onSelected()" class="btn btn-primary " type="button" id="proceed_new_button" data-toggle="modal" data-target="#ucicModel" [disabled]="!isChecked">Continue with selected UCIC</button>
        </div> 
    </div>
</main>
<br />
<br />
<br />
<!-- Footer -->
<footer class="footer pf">
    <div class="container">
        <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
</footer>
<!-- The Modal -->
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h4 class="modal-title">Decision on Dedupe Results</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
   <p id="" > Are you sure you want to reject lead #xxxxxx?</p>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-success" data-dismiss="modal" id="reject_dlead" >Yes</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  </div>

</div>
</div>
</div>



<!-- Ucic The Modal -->
<div class="modal" id="ucicModel">
<div class="modal-dialog">
<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h4 class="modal-title"> Warning! NL Match Found</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
   <p id="" > You have chosen to ignore NL results. This will go for an approval and lead may get rejected if not approved!</p>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#ucicModel2"  >OK</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  </div>

</div>
</div>
</div>
<!-- UCIC The Modal second -->
<div class="modal" id="ucicModel2">
<div class="modal-dialog">
<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h4 class="modal-title">Customer Dedupe Match Found</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
   <p id="" > You have selected "12345 - Venkata Swamy Narasimhan" as an applicant for this lead. Please confirm.</p>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-success" data-dismiss="modal" id="ucic_lead" [routerLink]="'/pages/lead-section/otp-section'">Yes</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  </div>

</div>
</div>
</div>

<!-- New Lead The Modal -->
<div class="modal" id="newLeadModal">
<div class="modal-dialog">
<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h4 class="modal-title">Customer Dedupe Match Found</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
   <p id="" > You have chosen to ignore Dedupe results. This will go for Credit review.</p>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-success" data-dismiss="modal" id="cnew_lead" [routerLink]="'/pages/lead-section/otp-section'">Yes</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  </div>

</div>
</div>
</div>
