.controlWidth {
  width: 100%;
}

.pagination > .active > a {
  z-index: 0;
}

/* bottom buttons css */

.cst_btm_btns {
  margin-bottom: 55px!important;
}

.btn-sec {
  margin: 10px 2px;
}

.row {
  /* margin-left: 5px;
  margin-right: 5px; */
}
td a {
  cursor: pointer;
}


table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
}
/* Zebra striping */
/* tr:nth-of-type(odd) {
  background: #f2f2f2;
} */
th {
  background-color: #1d1a4b;
  color: #fff;
  font-weight: 600;
}
td,
th {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
  text-align: center;
}

/*Mobile View*/
@media only screen and (max-width: 760px) {
  td,
  tr {
    display: block;
  }

  td,
  th {
    border: 1px solid #ccc;
    text-align: left;
    text-align: center;
    /* margin: 12px; */
    line-height: 1.5;
    /* color: white; */
    padding: 2px;
    font-size: 15px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    /* border: 1px solid #E74C3C;  */
  }
  tr + tr {
    margin-top: 1.5em;
  }
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    /* position: relative; */
    padding-left: 50%;
    /* background-color: #F8D9D5; */
    text-align: left;
    /* padding: 1px;*/
    border: 1px solid #929294;
  }

  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    margin-left: -100%;
    margin-right: 12px;
    width: 70%;
    white-space: nowrap;
    background-color: #1d1a4b;
    color: white;
    height: 40px;
    padding: 10px;
  }
}
/* @media (min-width:260px) and (max-width:560px){
  td::before {
      content: attr(data-item-value);
      }
} */

/* style for modal */

.modal-style{
  width:85%;
  margin:auto;
}

/* ekyc styles*/

.tablewithdetails{
  padding: 22px;
  /* margin-top: -21px; */
}
/* .tablewithheading {
  margin-top: 10px;
} */
thead tr td.text-left{
  text-align: left!important;
/* overlay css */
}

#mydiv {
  /* position: absolute; */
  z-index: 9999;
  background-color: #ffff;
  border: 1px solid #d3d3d3;
  text-align:center;
  height: 400px;
  width: 1024px;
  padding: 10px;
  border-radius: 5px;
  overflow: scroll
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  height: 100%;
  width: 100%;
}

.header {
  padding: 5px;
}

.image-content {
  height: 90%;
  width: 100%;
}

.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media(max-width: 769px) {
  #mydiv {
    height: auto;
    width: 300px;
    overflow: scroll;
  }
}

.got{
  z-index: 9999;
    background-color: #1d1d1d61;
    border: 1px solid #d3d3d3;
    text-align: center;
    height: 600px;
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    margin:auto;
    
}

.cls-btn {
    background-color: #0a0a0a61;
    color: #f7f5f5;
    opacity: 1;
    font-size: 25px!important;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}