
<div class="multisteps-form" >
        <form [formGroup]="chequeForm">
        <div class="table-responsive application" id="cheque_results_section">
                            <h3 class="">{{labels?.chequeTracking}} </h3>
                                    <table class="table">
                                        <thead>
                                          <tr class="table-head-bg">
                                            <th>  </th>
                                            <th>{{labels?.chequeMode}}<i class="fa fa-sort"></i> </th>
                                            <th>{{labels?.chequeNumber}}<i class="fa fa-sort"></i> </th>
                                            <th>{{labels?.chequeDate}}<i class="fa fa-sort"></i> </th>
                                            <th>{{labels?.chequeAmount}}<i class="fa fa-sort"></i> </th>
                                            <th>{{labels?.chequestatus}}<i class="fa fa-sort"></i> </th>
                                            <!-- <th>{{labels?.statusUpdatedOn}}<i class="fa fa-sort"></i> </th> -->
                                            <th>{{labels?.payableTo}}<i class="fa fa-sort"></i> </th>
                                            <th>{{labels?.favouringTo}}<i class="fa fa-sort"></i> </th>
                                          </tr>
                                        </thead>
                                        <tbody  formArrayName='details'>
                                          <tr
                                          *ngFor="let data of chequeData ; let i =index " [formGroupName]='i'>
                                            
                                            <td><input type="radio"
                                               name="cheque_radio" 
                                               id="cheque_radio_1"
                                                (click)="onGetChequeData(data, i, $event)"></td>
                                            <td>{{data?.mode || '-'}}</td>
                                            <td>
                                              <app-custom-input
                                                  formControlName="chequeNum"
                                                  [maxLength]=""
                                                  (ngModelChange)="onChangeCheque(i, $event)"
                                                  
                                                  [type]=""
                                                ></app-custom-input>
                                            </td>
                                            <td>
                                              <!-- <kendo-datepicker
                                              class="form-control"
                                              formControlName="chequeDate"
                                              [format]="'dd/MM/yyyy'"
                                              placeholder="Cheque Date"
                                              [activeView]="'decade'"
                                              (ngModelChange)="chequeDateChange($event, i)"
                                              
                                            ></kendo-datepicker> -->
                                            {{data?.chequeDate || '-'}}
                                            
                                            </td>
                                            <td>{{data?.chequeAmt|| '-'}}</td>
                                            <td>{{data?.chequeStatusDesc|| '-'}}</td>
                                            <!-- <td>
                                              <kendo-datepicker
                                              class="form-control"
                                              (ngModelChange)="statusDateChange($event, i)"
                                              formControlName="statusUpdatedOn"
                                              [format]="'dd/MM/yyyy'"
                                              placeholder="Status Updated On"
                                              [activeView]="'decade'"
                                            ></kendo-datepicker>

                                            
                                            </td> -->
                                            <!-- <td>{{data?.statusUpdatedOn|| '-'}}</td> -->
                                            <td>{{data?.payableTo|| '-'}}</td>
                                            <td>{{data?.favTo|| '-'}}</td>
                                            
                                          </tr>
                                           <!-- <tr>
                                            <td><input type="radio" name="cheque_radio" id="cheque_radio_2"></td>
                                            <td>Cheque</td>
                                            <td>123823</td>
                                            <td>14/06/20</td>
                                            <td>145000</td>
                                            <td>Branch Received</td>
                                            <td>16/06/20</td>
                                            <td>Dealer</td>
                                            <td>Dealer 1</td>
                                          </tr> -->
                                          
                                        </tbody>
                                    </table>
                                    <div id="cheque_results_1">
                                        <div class="row" style="margin-right:0px;margin-left:0px;">
                                            <div class="col-lg-6 col-sm-4 col-md-3">
                                                <div class="row">
                                            <div class="col-lg-3 col-sm-4 col-md-3">{{labels?.chequeNumber}}</div>
                                            <div class="col-lg-4 col-sm-4 col-md-3"><strong>{{selectedData?.chequeNum || '-'}}</strong></div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-4 col-md-3">{{labels?.chequeDate}}</div>
                                            <div class="col-lg-4 col-sm-4 col-md-3"><strong>{{selectedData?.chequeDate || '-'}}</strong></div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-4 col-md-3">{{labels?.chequeAmount}}</div>
                                            <div class="col-lg-4 col-sm-4 col-md-3"><strong>{{selectedData?.chequeAmt || '-'}}</strong></div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-4 col-md-3">{{labels?.payableTo}}</div>
                                            <div class="col-lg-4 col-sm-4 col-md-3"><strong>{{selectedData?.payableTo || '-'}}</strong></div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-4 col-md-3">{{labels?.favouringTo}}</div>
                                            <div class="col-lg-4 col-sm-4 col-md-3"><strong>{{selectedData?.favTo || '-'}}</strong></div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-4 col-md-3">{{labels.customerName}}</div>
                                            <div class="col-lg-4 col-sm-4 col-md-3"><strong>-</strong></div>
                                        </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-4 col-md-3">
                                              
                                                <div class="row"
                                                >
                                                    <div class="col-lg-2 col-sm-4 col-md-3">{{labels.status}}</div>
                                                    <div class="col-lg-4 col-sm-4 col-md-3">
                                                        <!-- <select id="" class="form-control" >
                                                            <option value="Handed Over">Handed Over</option>
                                                            <option value="On-Hold">On-Hold</option>
                                                            <option value="Branch Received">Branch Received</option>
                                                            
                                                        </select> -->
                                                        <app-vf-custom-select
                                                            formControlName="status"
                                                            [isDisabled]="disableUpdate"
                                                            [values]="LOV.LOVS.chequeStatus"
                                                            (change)="onChangeStatus($event)"
                                                            [isRequired]="'Please select one'"
                                                            [isDirty]="isDirty"
                                                        ></app-vf-custom-select>
                                                    </div>
                                                </div>
                                                &nbsp;
                                                <div class="row" *ngIf="showStatusDate">
                                                   <div class="col-lg-2 col-sm-4 col-md-3">Status Updated On</div>
                                                   <div class="col-lg-4 col-sm-4 col-md-3">
                                                    <kendo-datepicker
                                                    class="form-control"
                                                    formControlName="statusUpdatedOn"
                                                    [format]="'dd/MM/yyyy'"
                                                    placeholder="Status Updated On"
                                                    [activeView]="'decade'"
                                                   
                                                  ></kendo-datepicker>
                                                  <!-- (valueChange)="updateStatusDate($event)" -->
                                                  <div class="invalid-feedback ShowError"
                                                  *ngIf="chequeForm.get('statusUpdatedOn').touched || isDirty">
                                                    <div *ngIf="chequeForm.get('statusUpdatedOn').invalid">
                                                        Select Date
                                                    </div>
                                                  </div>

                                                   </div>
                                                </div>
                                                &nbsp;
                                                <div class="row">
                                                    <div class="col-lg-2 col-sm-4 col-md-3"><p id="remarks_place">{{labels?.chequeRemark}}</p></div>
                                                    <div class="col-lg-4 col-sm-4 col-md-3">
                                                        <textarea class="form-control" cols="2"
                                                        formControlName='remarks'></textarea>
                                                    </div>
                                                    
                                                </div>
                                             
                                                
                                                &nbsp;
                                                <div class="row">
                                                    <div class="col-lg-2 col-sm-4 col-md-3"></div>
                                                    <div class="col-lg-4 col-sm-4 col-md-3">
                                                        <!-- <a ><input type="button" class="btn btn-primary form-control" value="Update Status" id="update_status_btn"></a> -->
                                                        <button class="btn btn-primary" disabled>{{labels.initialDisbursement}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                        </div>               
    </form>
    <!-- <div class="for_space"></div>

    </div>
    <div class="for_space"></div> -->

    <div class="row btn-sec clear-both mar-bot">
                    
        <div class="col-sm-5"></div>
        <div class="col-sm-7 "
        >
            <button class="btn btn-primary dash_href " (click)="onBack()">{{labels.back}}</button>
            <button class="btn btn-primary dash_href "
            [disabled]="disableUpdate"
            data-toggle="modal"
            data-target="#myModal"
            >Update</button>
        </div>
                
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
      
            <div class="modal-body">
              Are you Sure Want to Update?
            </div>
      
            <div class="modal-footer text-center" 
            
            >
              <button
                type="button"
                class="btn btn-success"
                data-dismiss="modal"
                (click)="onUpdate()"
                

              >
                Yes
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>