.ShowError{
    font-size: 12px;
    font-family: zurich-bold;
    letter-spacing: 0.5px;
    color: red;
    padding-top: 0.5vw;
  } 

  .mar-bot{
    margin-bottom:30px;
}

.col-lgg-3{
  width: 24.333333%;
}