
/*remove text border*/
p {
    margin: 0 0 0px;
 }
 .form-group {
      margin-bottom: 0px;
 }
 .form-control_input {
 display: block;
 width: 100%;
 height: 14px !important;
 padding: 0px !important;
 font-size: 14px;
 line-height: 0 !important;
 color: #555;
 background-color: #fff;
 background-image: none;
 border: 1px solid #fff;
 border-radius: 0px;
 -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
 box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
 -webkit-transition: border-color ease-in-out .0s,-webkit-box-shadow ease-in-out .0s;
 -o-transition: border-color ease-in-out .0s,box-shadow ease-in-out .0s;
 transition: border-color ease-in-out .0s,box-shadow ease-in-out .0s;
 background-color: white !important;
 border: 1px solid #ffff;
 }
 .panel-primary{
     background-color: #1d1a4b!important;
     color: white!important;
 }
 
 .form label {
         font-size: 13px!important;
         text-align: center!important;
     }
    
 
 .image-upload input {
 cursor: pointer;
 opacity: 0;
 height: 5%;
 width: 5%;
 z-index: 10;
 position: absolute;
 top: 0;
 left: 0
 }
 .fa.fa-upload
 {
 font-size:20px;
 }
 
 /* .fa.fa-plus
 {
 font-size:20px;
 }
 
 .fa.fa-minus
 {
 font-size:20px;
 } */
 .date_width{
     width: 146px;
 margin: 0px;
 font-size: 12px;}
 
 @media (min-width: 992px){
 .form .col-md-2 {
 width: 20%;
 }
 }
 
 .panel label{
 text-align: center;
 }
 
 .form-group.col-sm-3.col-md-2.bcm_bm {
 width: 12.5%;
 }
 .form-group.col-sm-3.col-md-2.bcm_bm > label {
 font-weight:normal;
 }
 /*.multisteps-form {
 height: 100vh;
 }*/
 .col-lg-2.col-md-2.col-sm-2.upload{text-align:right;}
 .fa.fa-upload{width:50px;font-size: 20px;}
 .fa.fa-question-circle{width:50px;font-size: 20px;}
 .fa.fa-eye{width:50px;font-size: 20px;}
 
 .buttonsAdjust {
    /* margin: 20px; */
    margin-bottom: 20px;
 }
 .marginAdd {
     margin: 5px;
 }

 .row.top_bar {
    margin: 0px;
    border: 1px solid #ddd;
    font-weight: 100;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: white;
  }
  
  .fa.fa-angle-left {
    font-size: 30px;
  }
  .fa.fa-angle-right {
    font-size: 30px;
  }
  .prev-first-data {
    display: flex;
    justify-content: flex-end   ;
  }
  
  .col-lg-3 {
      width: 11.8% !important;
  }
  .image-upload {
      margin-top: 50px;
  }
  .height_label {
      height: 37px;
  }
  .multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  /*left: calc(-50% - 13px / 2);*/
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  /*width: 100%;*/
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
  }
  .form-group.col-lg-2.col-sm-6.col-md-2 {
      width: 5%;
  }
  
  #date {
      width: 100px !important;
  }
  
  
  #credit_sourcing_details:after, #credit_application_details:after, #credit_vehicle_details:after, #credit_fleet_details:after,#credit_liveloan:after, #credit_income_details:after, #credit_psl_data:after{width:100% !important;left: 70px;}
  
  #credit_tvr_details:after, #credit_fi_pd:after, #credit_vehicle_viability:after, #credit_existing_relationship:after,#credit_score_card:after, #credit_cam:after, #credit_deviations:after, #credit_insurance:after, #credit_conditions:after{width:100% !important;}
   .panel-primary{
              background-color: #1d1a4b!important;
              color: white!important;
          }
 
.btn-mar{
    margin:5px;
}
.float_right {
    align-items: center;
}
.test_class {
    margin: auto;
    padding: 0px;
    width:106%;
}