<form class="form multisteps-form__form" style="height: auto" [formGroup]="pdcForm">
    <div class="container overflow-hidden">

        <div class="content">
            <div class="row">
                <h3 class="banner-con">PDC Details
                    <span class="float-right">{{udfScreenId}}</span>
                </h3>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5"></div>
                <div class="col-lg-7 col-md-7 col-sm-7 text-right">
                    <button class="btn btn-primary btn-mar" (click)="addPdcUnit()" *ngIf="showPdcButton">Add PDC
                        Row</button>
                    <!-- <button class="btn btn-primary btn-mar"(click)="addSPdcUnit()"  >Add SPDC Row</button> -->
                </div>
            </div>
            <div class="multisteps-form__panel js-active" data-animation="scaleIn">
                <div class="panel-group" id="accordion1">
                    <div class="panel panel-default">

                        <div class="" id="headingTwo1">
                            <h4 class="banner-sub">
                                <a class="collapsed" style="color:#fff;" data-toggle="collapse"
                                    data-parent="#accordion1" href="#collapseTwo1">
                                    PDC<i class="fa fa-angle-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body text-center float_right" formArrayName="pdcList">
                                <div class="row test_class">
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-emi-wid">
                                        <label>{{labels?.pdcEmiAmount}}</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-no">
                                        <label>Instr Number</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-date">
                                        <label>Instr.Date</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-bank-name">
                                        <label>Instr.Bank Name</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-branch">
                                        <label>Instr.Branch Name</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">
                                        <label>Instr.Branch Account Number</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">
                                        <label>Instr.Amount</label>
                                    </div>
                                    <!-- <div class="form-group col-lg-3 col-sm-6 col-md-3">
                                    <label  >Action</label>
                            </div> -->

                                </div>

                                <div class="row col-lg-12 test_class" id="show_1_div_identity"
                                    style="margin-bottom: 8px;"
                                    *ngFor="let item of pdcForm.get('pdcList')['controls']; let i= index "
                                    [formGroupName]="i">

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-emi-wid">

                                        <app-custom-input formControlName="emiAmount"
                                            [maxLength]="labels?.validationData?.amountValue?.maxLength"
                                            [type]="labels?.validationData?.amountValue?.type"
                                            [isRequired]="'emiAmount required'" [isDirty]="isDirty"
                                            [placeholder]="'EMI Amount'" [id]="'emiAmount'+i+i" [isDisabled]="true">
                                        </app-custom-input>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-no">

                                        <app-custom-input formControlName="instrNo"
                                            [maxLength]="labels?.validationData?.amountValue?.maxLength"
                                            [type]="labels?.validationData?.amountValue?.type"
                                            [isRequired]="'*required'" [isDirty]="isDirty" [placeholder]="'Instr No'"
                                            (keyup)="findUnique($event.target.value, i, 'pdcList', 'spdcList')"
                                            [id]="'instrNo'+i+i"></app-custom-input>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-date">
                                        <!-- <div class="input-group input-medium"> -->

                                        <kendo-datepicker class="form-control cus-z" formControlName="instrDate"
                                            [format]="'dd/MM/yyyy'" [min]="toDayDate" placeholder="Select Month"
                                            [activeView]="'decade'"
                                            (valueChange)="findUniqueDate($event, i, 'pdcList', 'spdcList')">
                                        </kendo-datepicker>
                                        <!-- </div> -->

                                        <div class="invalid-feedback">
                                            <span *ngIf="isDirty && !f.pdcList.controls[i].controls.instrDate.value">
                                                Select date </span>

                                            <span
                                                *ngIf="f.pdcList.controls[i].controls.instrDate.value && f.pdcList.controls[i].controls.instrDate.invalid">
                                                Invalid date - InstrDate cannot be lesser than Offer date. </span>
                                        </div>

                                    </div>

                                    <div class="form-group col-sm-6 col-md-3 col-lg-3 cus-bank-name">

                                        <div class="ng-autopopulate" style="width: 100%;word-wrap: break-word;">

                                            <ng-autocomplete class="custom-select-box"
                                                [ngClass]="{ 'codeDisable disableCode': repaymentMode == '4LOSREPAY' }"
                                                [data]="searchBankNameList" [searchKeyword]="keyword"
                                                (selected)="selectBankNameEvent($event, item, i, 'instrBankName', 'pdcList')"
                                                (inputChanged)='onBankNameSearch($event)'
                                                (inputCleared)='onBankNameClear($event, item)'
                                                [itemTemplate]="favBankNameTemplate"
                                                [notFoundTemplate]="notFoundTemplate" formControlName="instrBankName"
                                                [placeHolder]="'Bank Name'" [debounceTime]="400" [minQueryLength]="3">
                                            </ng-autocomplete>

                                            <div class="invalid-feedback">
                                                <div *ngIf="isDirty && item.get('instrBankName').hasError('required')">
                                                    Bank name
                                                    required.</div>
                                                <div *ngIf="item.get('instrBankName').hasError('minlength')"> Mininum 3
                                                    Charates
                                                    required</div>
                                            </div>
                                            <ng-template #favBankNameTemplate let-item>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>
                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>

                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-branch">
                                        <div class="ng-autopopulate" style="width: 100%;">

                                            <ng-autocomplete class="custom-select-box" [data]="searchBranchName"
                                                [searchKeyword]="keyword"
                                                (selected)="selectIFSCCode($event, item, 'isPdc', i, 'instrBranchName', 'pdcList')"
                                                (inputChanged)="onChangeBranch($event, item, i, 'pdcList')"
                                                (inputCleared)='onBranchNameClear()'
                                                [itemTemplate]="searchBranchTemplate"
                                                [notFoundTemplate]="notFoundBranch" formControlName="instrBranchName"
                                                [placeHolder]="'Account Branch'">
                                            </ng-autocomplete>
                                            <!-- [disabled]="!item.get('isEnableBranch').value" -->
                                            <!-- [ngClass]="{ 'codeDisable disableCode': !item.get('isEnableBranch').value }" -->
                                            <div class="invalid-feedback">
                                                <div
                                                    *ngIf="isDirty && item.get('instrBranchName').hasError('required')">
                                                    Account
                                                    Branch
                                                    required.
                                                </div>
                                                <div
                                                    *ngIf="item.get('instrBranchName').value && item.get('instrBranchName').value.length <= 2">
                                                    Mininum 3 Charates
                                                    required</div>
                                            </div>
                                            <ng-template #searchBranchTemplate let-item>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>
                                            <ng-template #notFoundBranch let-notFound>
                                                <div *ngIf="item.get('instrBranchName').value.length >= 3"
                                                    [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">

                                        <app-custom-input formControlName="instrBranchAccountNumber"
                                            [patternCheck]="labels?.validationData?.pdAccountNumber?.pattern"
                                            [maxLength]="labels?.validationData?.pdAccountNumber?.maxLength"
                                            [type]="labels?.validationData?.pdAccountNumber?.type"
                                            [isRequired]="'*required'" [isDirty]="isDirty"
                                            (change)="changeSpdcList(item, i,'instrBranchAccountNumber', 'pdcList')"
                                            [placeholder]="'Instr Acc No'" [id]="'instrBranchAccountNumber'+i+i">
                                        </app-custom-input>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">
                                        <app-custom-input formControlName="instrAmount"
                                            [maxLength]="labels?.validationData?.amountValue?.maxLength"
                                            [type]="labels?.validationData?.amountValue?.type"
                                            [isRequired]="i !==0 ? '*required' : ''" [isDirty]="isDirty"
                                            (change)="changeSpdcList(item, i,'instrAmount', 'pdcList')"
                                            [placeholder]="'Instr Amount'" [id]="'instrAmount'+i+i"></app-custom-input>
                                    </div>

                                    <!-- <div class="form-group col-lg-3 col-sm-6 col-md-3 text-center">
                                    <div class=" row" for="upload_files"  >
                                        <a data-toggle="modal" data-target="#myModalthree" class="cursor-pointer" (click)="getIndex(i)"><i class="fa fa-trash fa-3 " aria-hidden="true"  id="add_more_documents_remove1" ></i></a>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5"></div>
                    <div class="col-lg-7 col-md-7 col-sm-7 text-right">
                        <button class="btn btn-primary btn-mar" (click)="addSPdcUnit()" *ngIf="showspdcButton">Add SPDC
                            Row</button>
                    </div>
                </div>
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <div class="" id="headingTwo2">
                            <h4 class="banner-sub">
                                <a class="collapsed" style="color:#fff;" data-toggle="collapse"
                                    data-parent="#accordion2" href="#collapseTwo2">
                                    SPDC<i class="fa fa-angle-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse in" aria-expanded="true">

                            <div class="panel-body text-center float_right" formArrayName="spdcList">
                                <div class="row test_class">
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-emi-wid">
                                        <label>{{labels?.pdcEmiAmount}}</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-no">
                                        <label>Instr Number</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-date">
                                        <label>Instr.Date</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-bank-name">
                                        <label>Instr.Bank Name</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-branch">
                                        <label>Instr.Branch Name</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">
                                        <label>Instr.Branch Account Number</label>
                                    </div>
                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">
                                        <label>Instr.Amount</label>
                                    </div>

                                </div>
                                <div class="row col-lg-12 test_class" style="margin-bottom: 8px;"
                                    id="show_1_div_identity"
                                    *ngFor="let item of pdcForm.get('spdcList')['controls']; let i= index "
                                    [formGroupName]="i">

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-emi-wid">
                                        <app-custom-input formControlName="emiAmount"
                                            [maxLength]="labels?.validationData?.amountValue?.maxLength"
                                            [type]="labels?.validationData?.amountValue?.type"
                                            [placeholder]="'EMI Amount'" [id]="'emiAmtount'+i" [isDisabled]="true">
                                        </app-custom-input>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-no">
                                        <app-custom-input formControlName="instrNo"
                                            [maxLength]="labels?.validationData?.amountValue?.maxLength"
                                            [type]="labels?.validationData?.amountValue?.type"
                                            [isRequired]="'*required'" [isDirty]="isDirty" [placeholder]="'Instr No'"
                                            (keyup)="findUnique($event.target.value, i, 'spdcList', 'pdcList')"
                                            [id]="'instrNo'+i"></app-custom-input>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-instr-date">
                                        <!-- <div class="input-group input-medium"> -->

                                        <kendo-datepicker class="form-control cus-z" formControlName="instrDate"
                                            [format]="'dd/MM/yyyy'" [min]="toDayDate" placeholder="Select Month"
                                            [activeView]="'decade'"
                                            (valueChange)="findUniqueDate($event, i, 'spdcList', 'pdcList'); changeSpdcList(item, i, 'instrDate', 'spdcList')">
                                        </kendo-datepicker>
                                        <!-- </div> -->

                                        <div class="invalid-feedback">
                                            <!-- <span *ngIf="isDirty && !f.spdcList.controls[i].controls.instrDate.value">
                                                Select date </span> -->

                                            <span
                                                *ngIf="f.spdcList.controls[i].controls.instrDate.value && f.spdcList.controls[i].controls.instrDate.invalid">
                                                Invalid date - InstrDate cannot be lesser than Offer date. </span>
                                        </div>

                                    </div>

                                    <div class="form-group col-sm-6 col-md-3 col-lg-3 cus-bank-name">

                                        <div class="ng-autopopulate" style="width: 100%;">

                                            <ng-autocomplete class="custom-select-box"
                                                [ngClass]="{ 'codeDisable disableCode': repaymentMode == '4LOSREPAY' }"
                                                [data]="searchBankNameList" [searchKeyword]="keyword"
                                                (selected)="selectBankNameEvent($event, item,i, 'instrBankName', 'spdcList')"
                                                (inputChanged)='onBankNameSearch($event)'
                                                (inputCleared)='onBankNameClear($event, item)'
                                                [itemTemplate]="favBankNameTemplate"
                                                [notFoundTemplate]="notFoundTemplate" formControlName="instrBankName"
                                                [placeHolder]="'Bank Name'" [debounceTime]="400" [minQueryLength]="3">
                                            </ng-autocomplete>

                                            <div class="invalid-feedback">
                                                <div *ngIf="isDirty && item.get('instrBankName').hasError('required')">
                                                    Bank name
                                                    required.</div>
                                                <div *ngIf="item.get('instrBankName').hasError('minlength')"> Mininum 3
                                                    Charates
                                                    required</div>
                                            </div>
                                            <ng-template #favBankNameTemplate let-item | search>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>
                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>

                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3 cus-branch">

                                        <div class="ng-autopopulate" style="width: 100%;">

                                            <ng-autocomplete class="custom-select-box" [data]="searchBranchName"
                                                [searchKeyword]="keyword"
                                                (selected)="selectIFSCCode($event, item, 'isSpdc', i, 'instrBranchName', 'spdcList')"
                                                (inputChanged)="onChangeBranch($event, item, i, 'spdcList')"
                                                (inputCleared)='onBranchNameClear()'
                                                [itemTemplate]="searchBranchTemplate"
                                                [notFoundTemplate]="notFoundBranch" formControlName="instrBranchName"
                                                [placeHolder]="'Account Branch'">
                                            </ng-autocomplete>
                                            <!-- [disabled]="!item.get('isEnableBranch').value" -->
                                            <!-- [ngClass]="{ 'codeDisable disableCode': !item.get('isEnableBranch').value }" -->
                                            <div class="invalid-feedback">
                                                <div
                                                    *ngIf="isDirty && item.get('instrBranchName').hasError('required')">
                                                    Account
                                                    Branch
                                                    required.
                                                </div>
                                                <div
                                                    *ngIf="item.get('instrBranchName').value && item.get('instrBranchName').value.length <= 2">
                                                    Mininum 3 Charates
                                                    required</div>
                                            </div>
                                            <ng-template #searchBranchTemplate let-item>
                                                <a [innerHTML]="item"></a>
                                            </ng-template>
                                            <ng-template #notFoundBranch let-notFound>
                                                <div *ngIf="item.get('instrBranchName').value.length >= 3"
                                                    [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">

                                        <app-custom-input formControlName="instrBranchAccountNumber"
                                            [patternCheck]="labels?.validationData?.pdAccountNumber?.pattern"
                                            [maxLength]="labels?.validationData?.pdAccountNumber?.maxLength"
                                            [type]="labels?.validationData?.pdAccountNumber?.type"
                                            [isRequired]="'*required'" [isDirty]="isDirty"
                                            [placeholder]="'Instr Acc No'"
                                            (change)="changeSpdcList(item, i,'instrBranchAccountNumber', 'spdcList')"
                                            [id]="'instrBranchAccountNumber'+i"></app-custom-input>
                                    </div>

                                    <div class="form-group col-lg-3 col-sm-6 col-md-3">
                                        <app-custom-input formControlName="instrAmount"
                                            [maxLength]="labels?.validationData?.amountValue?.maxLength"
                                            [type]="labels?.validationData?.amountValue?.type"
                                            [isRequired]="'*required'" [isDirty]="isDirty"
                                            (change)="changeSpdcList(item, i, 'instrAmount', 'spdcList')"
                                            [placeholder]="'Instr.Amount'" [id]="'instrAmount'+i"></app-custom-input>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="isDeferral">
                    <div style="border: 1px solid #ddd; border-radius: 4px;">
                        <div class="row clearfix">

                            <div class="form-group col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="form-group col-sm-4 col-lg-4 col-md-4 col-xs-12" for="cod">POD
                                        Number</label>
                                    <div class="form-group col-sm-6 col-lg-6 col-md-6 col-xs-12">
                                        <app-custom-input [type]="'alpha-numeric'"
                                            [placeholder]="'Proof Of Delivery Number'">
                                        </app-custom-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="form-group col-sm-4 col-lg-4 col-md-4 col-xs-12" for="cod">Received
                                        By</label>
                                    <div class="form-group col-sm-6 col-lg-6 col-md-6 col-xs-12">
                                        <app-custom-input [type]="'text'" [placeholder]="'User List'">
                                        </app-custom-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="form-group col-sm-4 col-lg-4 col-md-4 col-xs-12" for="cod">Received
                                        On</label>
                                    <div class="form-group col-sm-6 col-lg-6 col-md-6 col-xs-12">
                                        <kendo-datepicker class="form-control mandatory" [format]="'dd/MM/yyyy HH:mm'"
                                            [activeView]="'decade'" [disabled]="true" [value]="currentDate">
                                        </kendo-datepicker>
                                    </div>
                                    <label><i aria-hidden="true"
                                            class="fa fa-upload fa-3 custom-file-label cursor-pointer"
                                            id="add_more_documents_upload1a" (click)="uploadDoc()"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-4 col-lg-3 mt" *ngIf="isDashboardField">
                        <input class="ml" type="checkbox" (click)="isChecked = !isChecked" />
                        <label for="frsd_required" style="margin-left: 10px;">Received Cheques </label>
                    </div>
                </ng-container>

            </div>

            <div>
                <app-shared-user-defined-fields [isDirty]="isDirty" [udfScreenId]="udfScreenId"
                    [udfGroupId]="udfGroupId" [udfDetails]="udfDetails"
                    (saveUserdefined)="onSaveuserDefinedFields($event)"></app-shared-user-defined-fields>

            </div>

            <div class="row">

                <div class="col-sm-5 text-right">

                </div>
                <div class="col-sm-7 text-right">
                    <button class="btn btn-primary dash_href marginAdd" type="button"
                        (click)="onBack()"><a>Back</a></button>
                    <button class="btn btn-primary dash_href marginAdd" (click)="onSave('save')"> Save </button>

                    <button class="btn btn-primary dash_href marginAdd" *ngIf="isDashboardField"> {{isChecked ?
                        'Acknowledge' : 'submit'}} </button>

                    <button class="btn btn-primary dash_href marginAdd" type="button" *ngIf="roleType == '4'"><a
                            data-toggle="modal" data-target="#myModal">Submit to CPC Checker</a></button>

                    <button class="btn btn-primary dash_href marginAdd" (click)="sendBackToCredit()"
                        *ngIf="roleType == '4'"> Send Back To Credit </button>

                    <button class="btn btn-primary dash_href marginAdd " type="button" (click)="onNext()"
                        *ngIf="roleType == '5'"><a>Next</a></button>
                </div>

            </div>
        </div>
    </div>
</form>

<!-- Model Content -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Submit </h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to submit record ?</p>
            </div>

            <div class="modal-footer" *ngIf="roleType == '4'">
                <button type="button" class="btn btn-primary " (click)="onSave('cpc')" data-dismiss="modal">Yes</button>
                &nbsp;
                <button type="button" class="btn btn-primary " data-dismiss="modal">Close</button>
            </div>
            <div class="modal-footer" *ngIf="roleType == '5'">
                <button type="button" class="btn btn-primary " (click)="sendLoanCreationWrapper()"
                    data-dismiss="modal">Yes</button> &nbsp;
                <button type="button" class="btn btn-primary " data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModaltwo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete record ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deleteRows('spdcList')">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalthree" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Submit</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete record ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deleteRows('pdcList')">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalfour" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Submit</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to submit record ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <!-- (click)="sendBackToMaker()" -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Model Content -->