<div>
  <app-shared-deviation [isDirty]="isDirty" [isSubmitToCredit]="true">
  </app-shared-deviation>

</div>

<div class="btn-sec clear-both row cst_btm_btns">
  <div class="col-sm-5">

  </div>
  <div class="col-sm-7 text-right">
    <button class="btn btn-primary dash_href" type="button" routerLink="/pages/dashboard">{{labels?.back}}</button>
    <!-- <button class="btn btn-primary dash_href" type="button"
      (click)="saveorUpdateDeviationDetails()">{{labels?.save}}</button> -->
    <button class="btn btn-primary dash_href" type="button" routerLink="../case-summary" disabled>{{labels?.next}}</button>
  </div>
</div>