#scroll_starts_here {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown_individual {
  background-color: #6c757d;
  padding: 6px;
  color: white;
}

.senior-citizen {
  margin-top: 24px;
}

.senior-citizen input {
  margin-left: 15px;
}
