/* #scroll_starts_here {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
} */

.dropdown_individual {
  background-color: #6c757d;
  padding: 6px;
  color: white;
}

/* .senior-citizen {
  margin-top: 24px;
}

.senior-citizen input {
  margin-left: 15px;
} */
.senior_minor{
  margin-top: 15px;
}
.is_senior{
  padding-left: 10px ;
}
#date_of_birth{
  width: 100%!important;
}
kendo-datepicker{
  width: 100%!important;
}
#align_this_checkbox{
  margin-top: 16px;
  font-weight: 600;
}
.col-sm-7 button{
    margin-left: 2px;
}
.ShowError{
  font-size: 12px;
  font-family: zurich-bold;
  letter-spacing: 0.5px;
  color: red;
  padding-top: 0.5vw;
}

.mar-btn-bot{
  margin-bottom: 25px;
}


@media (min-width:300px) and (max-width:760px){
  .mar-btn-bot{
    margin-bottom: 25px;
  }
  
}