<div class="content">
    <form class="multisteps-form__form">

        <div class="multisteps-form__panel basic_scroll" data-animation="scaleIn">
            <div class="container">
                <div class="btn-sec clear-both row">
                    <div class="col-sm-5">
                        <h4 class="title">{{labels.applicantDetailsTitle}}</h4>
                    </div>
                    <div class="col-sm-7 text-right">
                        <button class="btn btn-secondary mar-right8" type="button" [routerLink]="['/pages/lead-section/co-applicant']">{{labels.addApplicantTitle}} </button>
                        <!-- <button class="btn btn-success" type="button" data-toggle="modal" data-target="#add_guarantor"> Add Guarantor </button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive application" id="applicantTable">
                        <table class="table">
                            <thead>
                                <tr class="table-head-bg">
                                    <th>{{labels.ucicId}} <i class="fa fa-sort"></i> </th>
                                    <th>{{labels.name}} <i class="fa fa-sort"></i> </th>
                                    <th>{{labels.mobileNumber}} <i class="fa fa-sort"></i> </th>
                                    <th>{{labels.dateOfBirth}} <i class="fa fa-sort"></i> </th>
                                    <th>{{labels.applicantType}} <i class="fa fa-sort"></i> </th>
                                    <th>{{labels.action}} <i class="fa fa-sort"></i> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let applicant of applicantDetails; let i = index">
                                    <td>55464</td>
                                    <td><a href="#">{{applicant.first_name}}</a></td>
                                    <td>{{applicant.mobile}}</td>
                                    <td>{{applicant.date_of_birth}}</td>
                                    <td>{{i === 0 ? 'Applicant' : 'Co-Applicant'}}</td>
                                    <td (click)="editApplicant(i);"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                                </tr>
                               

                            </tbody>
                        </table>
                        <div class="btn-sec clear-both">
                            <div class="records col-sm-6">
                                <select class="form-control input-sm page-select-width">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 text-right page">
                                <nav class="col-sm-12 col-md-12 col-lg-12 page">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#"><span>«</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#"><span>»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>


                    <div class="btn-sec clear-both">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-7 text-right">
                            <button class="btn btn-primary js-btn-prev mar-right8" type="button"  [routerLink]="['../']"> Back </button>
                            <!-- <button class="btn btn-primary  mar-right8"> Save </button> -->
                            <button class="btn btn-primary js-btn-next" type="button"  [routerLink]="['../vehicle-details']"> Next </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> 