<main class="mar-top70">
  <div class="">

    <div class="">

      <div class="clearfix">
        <form [formGroup]="queryModalForm">
          <div class="query">

            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn close-btn" (click)="closeNav()">&times;</a>
              <div class="left">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-0 search-bar">
                  <div class="input-group search-btn">

                    <app-custom-input formControlName="searchName" [className]="'form-control input-search'"
                      [placeholder]="'Search'" [type]="'text'" (keyup)="queryModalForm.value.searchName.length >= 3? getLeads(getLeadSendObj, queryModalForm.value.searchName, '') : 
                      queryModalForm.value.searchName.length === 0 ? getLeads(getLeadSendObj) : ''">
                    </app-custom-input>

                    <span class="input-group-addon glass-span"><i class="fa fa-search"></i></span>
                  </div>
                </div>

                <br /><br />
                <div class="panel-group mar-20 scroll-box cus-mob-bac" id="scrollBox">
                  <div class="panel-group mar-20" id="accordion"
                    *ngFor="let chat of chatList; let i=index; let last=last">
                    <div class="flex-container" >
                      <div class="divs btn" (click)="getQueries(chat)"[ngClass]="selectedList === chat ? 'selected-back' : ''" >
                        <p class="mar-em">{{chat.value}}</p>
                      </div>

                      <i class="fa fa-comment count-list font-medium-3" *ngIf="chat.count && chat.count !== 0"></i><span
                        class="notification badge badge-pill badge-danger"
                        *ngIf="chat.count && chat.count !== 0">{{chat.count}}</span>
                    </div>
                    <hr>
                  </div>
                  <div id="loadMore" (click)="loadMorePage(chatList.length, queryModalForm.value.searchName)"
                    *ngIf="chatList.length >= 5 && getLeadsObj.chatTotalPages > chatTotalPages">Load
                    more</div>

                  <div class="empty-list" *ngIf="chatList.length === 0 && queryModalForm.value.searchName">
                    No such lead is available in lead list
                  </div>

                </div>

                <div class="panel-group mar-20" id="accordion">
                  <div class="panel panel-default tab-con">
                    <div class="panel-heading" id="headingOne">
                      <h4 class="panel-title">
                        <a class="collapsed cus-mob-col" data-toggle="collapse" data-parent="#accordion"
                          href="#collapseOne">
                          <i class="fa fa-user"></i>&nbsp; {{labels.stakeholders}} <i class="fa fa-angle-down"></i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">

                        <form class="clearfix">
                          <div class="form-group col-xs-12">
                            <div class="input-group">
                              <app-custom-input [className]="'form-control'" [placeholder]="'Search'" [type]="'text'"
                                [(ngModel)]="searchStakeHolders" [ngModelOptions]="{standalone: true}"
                                (keyup)="getvalueCheck($event.target.value)">
                              </app-custom-input>
                              <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                          </div>
                          <div class="stakeholder-list">
                            <div *ngFor="let stack of queryModelLov.filterStackHolders | search ">
                              <div class="radio"><label><input class="select-user" type="radio" name="radio">
                                  {{stack.value}} <span class="checkmark"></span></label></div>
                            </div>
                            <div class="empty-list" *ngIf="queryModelLov.queryTo && queryModelLov.queryTo.length === 0">
                              No stakeholder in the stakeholders list
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default tab-con">
                    <div class="panel-heading" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed cus-mob-col" data-toggle="collapse" data-parent="#accordion"
                          href="#collapseTwo">
                          <i class="fa fa-file"></i>&nbsp; {{labels.documentsShared}} <i class="fa fa-angle-down"></i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <form>
                          <div class="form-group col-xs-12 bloc">
                            <div class="input-group bloc-search">
                              <app-custom-input [className]="'form-control'" [placeholder]="'Search'" [type]="'text'"
                                [(ngModel)]="searchDocuments" [ngModelOptions]="{standalone: true}"
                                (keyup)="getDocuments($event.target.value)">
                              </app-custom-input>
                              <span class="input-group-addon "><i class="fa fa-search"></i></span>
                            </div>
                          </div>
                        </form>
                        <div class="document-shared-list document-box">
                          <div class="document-box"
                            *ngFor="let document of queryModelLov.documents; let k=index; let last=last">
                            <p *ngIf="document.docId"><a (click)="downloadDocs(document.docId, k, $event)">ID:
                                {{document.docId}} <span *ngIf="document.docName"> -
                                  {{document.docName}}</span>
                              </a></p>
                          </div>
                          <div class="empty-list" *ngIf="documents && documents.length === 0">
                            No document in the documents list
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 left" id="message-hide">
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-0 search-bar">
                <div class="input-group search-btn">

                  <app-custom-input formControlName="searchName" [className]="'form-control input-search'"
                    [placeholder]="'Search'" [type]="'text'" (keyup)="queryModalForm.value.searchName.length >= 3? getLeads(getLeadSendObj, queryModalForm.value.searchName, '') : 
                  queryModalForm.value.searchName.length === 0 ? getLeads(getLeadSendObj) : ''">
                  </app-custom-input>
                  <span class="input-group-addon glass-span"><i class="fa fa-search"></i></span>
                </div>
              </div>

              <br /><br />
              <div class="panel-group mar-20 scroll-box " id="scrollBox">
                <div class="panel-group mar-20" id="accordion"
                  *ngFor="let chat of chatList; let i=index; let last=last">
                  <div class="flex-container" >
                    <div class="divs btn" (click)="getQueries(chat, true)"[ngClass]="selectedList === chat ? 'selected-back' : ''" >
                      <p class="mar-em">{{chat.value}}</p>
                    </div>

                    <i class="fa fa-comment count-list font-medium-3" *ngIf="chat.count && chat.count !== 0"></i><span
                      class="notification badge badge-pill badge-danger"
                      *ngIf="chat.count && chat.count !== 0">{{chat.count}}</span>
                  </div>
                  <hr>
                </div>
                <div id="loadMore" (click)="loadMorePage(chatList.length, queryModalForm.value.searchName)"
                  *ngIf="chatList.length >= 5 && getLeadsObj.chatTotalPages > chatTotalPages">Load
                  more</div>
                <div class="empty-list" *ngIf="chatList.length === 0 && queryModalForm.value.searchName">
                  No such lead is available in lead list
                </div>

              </div>

              <div class="panel-group mar-20" id="accordion">
                <div class="panel panel-default tab-con">
                  <div class="panel-heading btn btn-stack" id="headingOne">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBriefOne">
                        <i class="fa fa-user"></i>&nbsp; {{labels.stakeholders}} <i class="fa fa-angle-down"></i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseBriefOne" class="panel-collapse collapse">
                    <div class="panel-body">

                      <form class="clearfix">
                        <div class="form-group col-xs-12">
                          <div class="input-group">

                            <app-custom-input [className]="'form-control'" [placeholder]="'Search'" [type]="'text'"
                              [(ngModel)]="searchStakeHolders" [ngModelOptions]="{standalone: true}"
                              (keyup)="getvalueCheck($event.target.value)">
                            </app-custom-input>
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                          </div>
                        </div>
                        <div class="stakeholder-list">
                          <div *ngFor="let stack of queryModelLov.filterStackHolders | search ">
                            <div class="radio"><label><input type="radio" name="radio"> {{stack.value}} <span
                                  class="checkmark"></span></label></div>
                          </div>
                          <div class="empty-list" *ngIf="queryModelLov.queryTo && queryModelLov.queryTo.length === 0">
                            No stakeholder in the stakeholders list
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default tab-con">
                  <div class="panel-heading btn btn-stack" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBriefTwo">
                        <i class="fa fa-file"></i>&nbsp; {{labels.documentsShared}} <i class="fa fa-angle-down"></i>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseBriefTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <form>
                        <div class="form-group col-xs-12 bloc">
                          <div class="input-group bloc-search">
                            <app-custom-input [className]="'form-control'" [placeholder]="'Search'" [type]="'text'"
                              [(ngModel)]="searchDocuments" [ngModelOptions]="{standalone: true}"
                              (keyup)="getDocuments($event.target.value)">
                            </app-custom-input>
                            <span class="input-group-addon "><i class="fa fa-search"></i></span>
                          </div>
                        </div>
                      </form>
                      <div class="document-shared-list document-box">
                        <div class="document-box"
                          *ngFor="let document of queryModelLov.documents; let k=index; let last=last">
                          <p *ngIf="document.docId"><a (click)="downloadDocs(document.docId, k, $event)">ID:
                              {{document.docId}} <span *ngIf="document.docName"> -
                                {{document.docName}}</span>
                            </a></p>
                        </div>
                        <div class="empty-list" *ngIf="documents && documents.length === 0">
                          No documents in the documents list
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12 right">
              <div class="row view-pad-bottom">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-0 back-div"><button
                    class="btn btn-warning back-arrow view-button" type="button" (click)="openNav()"><i
                      class="fa fa-angle-double-left"></i>
                  </button></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-11"> <button class="btn btn-warning view-button"
                    type="button" (click)="backFromQuery()"><i class="fa fa-arrow-left"></i>
                    {{labels.backToLead}}</button></div>

              </div>
              <div class="chat-box message-box viewport viewport-a" id="chat-box">

                <div *ngFor="let message of chatMessages; let j=index;let last=last;"
                  (mouseenter)="isCheckFropdownBut(message, j)" (mouseleave)="clickedIndex = null">
                  <div class="wt-80" [ngClass]="message.queryFrom === userId ? 'sender' : 'receiver'">

                    <span class="active-dropdown" *ngIf="clickedIndex === j && message.queryStatusDesc !== 'Closed'"
                      (click)="openOptionDropDown(j)">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>

                    <div class="message-dropdown-content right" id="myDropdown"
                      [ngClass]="message.queryFrom === userId ? 'content-send' : 'content-receiver'"
                      *ngIf="isClickDropDown === j" (click)="openOptions(message, j)">Reply
                      <a (click)="foo.focus()"><span class="box tr"></span></a>
                    </div>

                    <div [ngClass]="message.queryFrom === userId ? 'send-message' : 'receive-message'">
                      <div class="logged-user row">

                        <div class="col-md-4">
                          <span class="cus-name-role"> {{message.nameWithFromRole}}
                          </span>
                        </div>

                        <div class="col-md-4">
                          <span class="text-center"> <strong>Query Id : </strong>
                            {{message.queryId}}
                          </span>
                        </div>

                        <div class="col-md-4">
                          <span class="date-time"> <strong>{{labels.queryType}} : </strong> {{message.queryTypeDesc}}
                          </span>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <p>{{message.query}}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <!-- <button #foo class="btn btn-cus"
                            *ngIf="isClickButton === j && userId === message.queryFrom">Marked as Closed</button> -->
                        </div>
                        <div class="collg-4 col-md-4 col-sm-4 col-xs-12">
                          <span class="date-time"> <strong> Lead Status : </strong>
                            {{message.leadStageDesc}}
                          </span>
                        </div>
                      </div>

                      <div *ngIf="message.docId"><a class="text-danger"
                          (click)="downloadDocs(message.docId, j, $event)"> <i class="fa fa-file-pdf-o"></i>
                          {{message.docName}}</a></div>
                      <br *ngIf="message.docId">

                      <div class="tagged-name">
                        <div class="logged-user row">

                          <div class="col-md-4">
                            <span> <strong>Tagged To : </strong> {{message.nameWithToRole}} </span>
                          </div>

                          <div class="col-md-4">
                            <span class="text-center"> <strong style="color: black;">Status : </strong>
                              {{message.queryStatusDesc}}
                            </span>
                          </div>

                          <div class="col-md-4">
                            <span class="date-time"> {{message.time |  date: 'dd-MMM-yyyy | h:mm a': 'US' }}
                            </span>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>

                  <div class="cus-top-arrow" *ngIf="getChatsObj && getChatsObj.count > 50">
                    <button type="button" class="btn btn-white btn-circle cus-circle"
                      (click)="getMoreChat(chatMessages.length, getChatsObj)"><i
                        class="fa fa-angle-down cus-arrow"></i></button>
                  </div>

                </div>

                <div class="wt-mid text-center" *ngIf="chatMessages && chatMessages.length === 0">
                  <p>No chats available</p>
                </div>

              </div>

              <div class="form-group row">

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-4 col-lg-4 col-md-4 col-xs-12" for="lead_id">{{labels.leadID}}</label>
                    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12" (mouseleave)="mouseLeaveLeadId()">

                      <app-custom-input id="'lead_id'" autocomplete="off" formControlName="searchLeadId"
                        (keyup)="getleadIdvalue($event.target.value)" (blur)="onBlurleadId()">
                      </app-custom-input>

                      <div class="ShowError" *ngIf="isleadIdshowError || (queryModalForm.get('searchLeadId').touched &&
                        queryModalForm.get('searchLeadId').invalid)">
                        Please select the valid lead id
                      </div>

                      <div class="dropdown-content" *ngIf="isLeadShow"
                        [ngClass]="getSearchableLead.length > 0 ? '': 'cus-height'">
                        <div *ngFor="let item of getSearchableLead">
                          <a data-toggle="collapse" data-target="#bs-navbar" (click)="getLead(item)">{{item.value}}</a>
                        </div>
                        <div class="empty-list" *ngIf="getSearchableLead && getSearchableLead.length === 0">
                          <p>No such lead available</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <div class="form-group">
                    <label class="col-sm-4 col-lg-4 col-md-4 col-xs-12">{{labels.queryType}}</label>
                    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12">
                      <app-vf-custom-select [values]="queryModelLov?.queryType" [id]="'query_type'"
                        formControlName="queryType" [isRequired]="'Query Type Required'" [isDirty]="isDirty">
                      </app-vf-custom-select>
                    </div>
                  </div>
                </div>

              </div>

              <div class="form-group row">

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <div class="form-group">

                    <label for="reply_to" class="col-sm-4 col-lg-4 col-md-4 col-xs-12">{{labels.replyTo}}</label>
                    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12">

                      <app-custom-input id="leadId" autocomplete="off" formControlName="repliedTo"
                        [className]="'form-control'" [placeholder]="'Reply To'" [type]="'text'"
                        (keyup)="searchRepliedTo($event.target.value)">
                      </app-custom-input>

                      <div class="ShowError" *ngIf="(queryModalForm.get('repliedTo').touched &&
                        queryModalForm.get('repliedTo').invalid)">
                        Please select the valid query to
                      </div>

                      <div class="dropdown-content" *ngIf="replyDropdown"
                        [ngClass]="replySearchArray.length > 0 ? '': 'cus-height'">
                        <div *ngFor="let item of replySearchArray">
                          <a data-toggle="collapse" data-target="#bs-navbar" (click)="getReplyTo(item)">
                            {{item.queryId}}</a>
                        </div>
                        <div class="empty-list" *ngIf="replySearchArray && replySearchArray.length === 0">
                          <p>No such query id to available</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <div class="form-group">
                    <label for="status" class="col-sm-4 col-lg-4 col-md-4 col-xs-12">{{labels.status}}</label>
                    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12">
                      <app-vf-custom-select [values]="queryModelLov?.queryStatus" [id]="'status'"
                        formControlName="queryStatus" [isRequired]="'Status Required'" [isDirty]="isDirty">
                      </app-vf-custom-select>
                    </div>
                  </div>
                </div>

              </div>

              <div class="form-group row">

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <div class="form-group">

                    <label for="query_to" class="col-sm-4 col-lg-4 col-md-4 col-xs-12">{{labels.tagQueryTo}}</label>
                    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12" (mouseleave)="mouseLeave()">

                      <app-custom-input #foo id="'query_to'" autocomplete="off" formControlName="searchText"
                        [className]="'form-control'" [placeholder]="'Tag Query To'" [type]="'text'"
                        (mouseup)="getvalue($event.target.value)" (blur)="onBlurQueryTo()"
                        (keyup)="getvalue($event.target.value)">
                      </app-custom-input>

                      <div class="ShowError" *ngIf="isQueryToShowError || (queryModalForm.get('searchText').touched &&
                        queryModalForm.get('searchText').invalid)">
                        Please select the valid query to
                      </div>

                      <div class="dropdown-content" *ngIf="dropDown"
                        [ngClass]="searchLead.length > 0 ? '': 'cus-height'">
                        <div *ngFor="let item of searchLead">
                          <a data-toggle="collapse" data-target="#bs-navbar"
                            (click)="getQueryTo(item)">{{item.value}}</a>
                        </div>
                        <div class="empty-list" *ngIf="searchLead && searchLead.length === 0">
                          <p>No such query to available</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <div class="form-group">
                    <label for="file-upload" class="col-sm-4 col-lg-4 col-md-4 col-xs-12">{{labels.attachment}}</label>
                    <div class="upload-btn-wrapper col-sm-8 col-lg-8 col-md-8 col-xs-12">

                      <a id="file-upload"><button class="btn-upload btn" aria-hidden="true" type="button"
                          (click)="chooseFile()">
                          {{queryModalForm.controls['docName'].value ? 'Change' : 'Choose'}} file
                        </button></a>
                    </div>

                    <label for="file-name" class="col-sm-8 col-lg-8 col-md-8 col-xs-12"
                      *ngIf="queryModalForm.controls['docName'].value">
                      {{queryModalForm.controls['docName'].value}} </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">

                <div class="col-sm-10 col-md-10 col-lg-10 text-box">
                  <div class="form-group col-lg-12 col-xs-12 col-md-12 col-sm-12">
                    <textarea class="form-control cus-chat" formControlName="query"
                      (keyup.enter)="onFormSubmit(queryModalForm)" placeholder="Type your message here"></textarea>

                    <div class="invalid-feedback"
                      *ngIf="queryModalForm.controls['query'].touched && !queryModalForm.controls['query'].valid">
                      <div *ngIf="queryModalForm.controls['query'].hasError('required')">
                        Query Required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2 text-left mob-send">

                  <button type="button" class="btn btn-primary d-lg-flex btn-pad"
                    (click)="onFormSubmit(queryModalForm)"><i class="fa fa-send"></i><span
                      class="d-none d-lg-block ml-1 cus-hide-mob">
                      {{labels.send}}</span></button>

                </div>
              </div>

            </div>

          </div>
        </form>

      </div>
    </div>

  </div>
  <app-upload-modal [showModal]="showModal" (close)="showModal = false" (uploadSuccess)="onUploadSuccess($event)"
    [docsDetails]="selectedDocDetails"></app-upload-modal>
</main>