<!--<p class="text-center" id="credit_score_tag10"><strong>Eligible Loan Amount : 250000</strong></p>
    <div class=" ok_footer cus-btn-credentials" class="text-center">
        <button type="button " class="btn btn-primary ok_button proceed_button mar-right8" id="proceed_button "
            [routerLink]="['/pages/terms-condition'] ">Proceed</button>
        
        <button type="button " class=" btn btn-primary nt_ok_button reject_button mar-right8" id="reject_button "
            [routerLink]="['/activity-search'] ">Reject</button>
    </div>
</div> -->
<main >
       
        <div >
            <!-- <h3 class="title">Credit Bureau Results</h3>
             <h3 class="margin_zero">Lead ID : 125468</h3> ---->
          <!-- <div class="row top_bar">
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-0">
                                <label class="col-form-label" for="lead_created_by">Lead ID </label>
                                <label for="lead_created_by_name" class="col-form-label-two">1234456</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-0">
                                <label class="col-form-label" for="lead_created_by">Product</label>
                                <label for="lead_created_by_name" class="col-form-label-two">Used CV</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-0">
                                <label class="col-form-label" for="customer_name_label">Loan Amount</label>
                                <label for="customer_name" class="col-form-label-two">500000</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-0">
                                <label class="col-form-label" for="roi">Applicant</label>
                                <label for="roi_value" class="col-form-label-two">Deepika Malhotra</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-0">
                                <label class="col-form-label" for="lead_handled_by">Status </label>
                                <label for="lead_handled_by_name" class="col-form-label-two">In progress</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group mb-0">
                                <label class="col-form-label" for="lead_handled_by">Queue</label>
                                <label for="lead_handled_by_name" class="col-form-label-two">New Lead</label>
                            </div>
                        </div>
    
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                       <a href="document_applicant.html"> <button class="btn btn-primary" type="button">View/Upload Document</button></a>
    
                    </div>               
                    
                </div>  -->
            <br/>
            <div class="container" id="sales_credit_score"  >
                <div class="row" id="sales_credit_score_sec">
                    
                            <div class="col-lg-4">
                                <p id=""><span id="">Product Offered</span><span id="credit_score_tag1">Used CV</span></p>
                                <p id=""><span id="">Customer Segment</span><span id="credit_score_tag2">Salaried</span></p>                                
                            </div>
                            <div class="col-lg-4">
                                <p id=""><span id="">Requested Loan Amount</span><span id="credit_score_tag4">1000000</span></p>                                                               
                            </div>
                            <div class="col-lg-4">
                                <p id=""><span id="">Loan Tenor</span><span id="credit_score_tag3">24 Months</span></p>
                                <p id=""><span id="">Age of the car at the end of tenor</span><span id="credit_score_tag5"> 60 Months</span></p>
                            </div>
                        

                    <!---<div class="col-lg-4 col-md-4 col-sm-12">
                        <p id=""><span id="">Product Offered</span><span id="credit_score_tag1">Used CV</span></p>
                        <p id=""><span id="">Customer Segment</span><span id="credit_score_tag2">Salaried</span></p>
                       
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p id=""><span id="">Loan Amount Range</span><span id="credit_score_tag4">15L</span></p>
                        <p id="credit_score_tag1_loan"><span id="">Age of the car at the end of tenor (months)</span><span>&nbsp;</span><span id="credit_score_tag5"> 5 Years</span></p>
                        <p id=""><span id="">Loan to Value</span><span id="credit_score_tag6">10L</span></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p id=""><span id="">Loan to Value Insurance Funded</span><span id="credit_score_tag7">12L</span></p>
                        <p id=""><span id="">Equitas Fast Tag Required</span><span id="credit_score_tag8">Applicable</span></p>
                        <p id=""><span id="">On Road Pricing Funding</span><span id="credit_score_tag9">125</span></p>
                    </div> ---->
                </div>
                <!-- <div id="mobile_view_cont">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Product Offered</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>New CV</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Customer Segment</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>Customer</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Loan Tenor</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>12</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Loan Amount Range</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>15L</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Age of the car at the end of tenor (months)</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>5 Years</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Loan to Value</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>10L</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Loan to Value Insurance Funded</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>12L</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">Equitas Fast Tag Required</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>Applicable</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6">On Road Pricing Funding</div>
                        <div class="col-lg-2 col-sm-4 col-md-3 col-xs-6 "><strong>125</strong></div>
                    </div>
                </div> -->
               <!--- <table class="table-responsive" >
                        <thead>
                            <th>Product Offered</th>
                            <th>Customer Segment</th>
                            <th>Loan Tenor</th>
                            <th>Loan Amount Range</th>
                            <th>Age of the car at the end of tenor (months) </th>
                            <th>Loan to Value</th>
                            <th>Loan to Value Insurance Funded</th>
                            <th>Equitas Fast Tag Required</th>
                            <th>On Road Pricing Funding</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>New CV</td>
                                <td>Customer</td>
                                <td>12</td>
                                <td>15L</td>
                                <td>5 Years</td>
                                <td>10L</td>
                                <td>12L</td>
                                <td>Applicable</td>
                                <td>125</td>

                            </tr>
                        </tbody>
                    </table> ---->
                <br />
                <h3 class="title">Credit Bureau (CIBIL)</h3>
                <div class="table-responsive">


                        <table class="table">
                            <thead>
                                <tr class=" table-head-bg ">
                                    <!--- <th>ID</th> --->
                                    <th>Applicant</th>
                                    <th>Applicant Type</th>
                                    <th>Bureau Score</th>

                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <!---<td>Los-1112445</td> --->
                                    <td>Deepika Malhotra</td>
                                    <td>Applicant</td>
                                    <td>780</td>

                                </tr>
                                <tr>
                                    <!--- <td>Los-1112422</td> --->
                                    <td>Navin Reddy</td>
                                    <td>Co-applicant</td>
                                    <td>780</td>

                                </tr>
                                <tr>
                                   <!---  <td>Los-1112423</td> --->
                                    <td>Sampath Kumar</td>
                                    <td>Co-applicant</td>
                                    <td>744</td>

                                </tr>

                            </tbody>


                        </table>
                    </div>
                <p class="text-center" id="credit_score_tag10" >Eligible Loan Amount : 1000000</p>
                <div class="text-center" id="">
                    <button type="button " class="btn btn-primary ok_button proceed_button mar-right8" id="proceed_button "
            [routerLink]="['/pages/terms-condition'] ">Proceed</button>
                    <a data-toggle="modal" data-target="#myModal" id="reject_credit"> <p type="button" class="btn btn-primary" >Reject</p></a>
                </div>
            </div>
        </div>
    </main>
    <br />
                    <br />
                    <br />
                    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Application Assigned…</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer text-center">
         <button type="button" class="btn btn-success" data-dismiss="modal" id="reject_yes_val" value="Yes"  >Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"  >Cancel</button>
      </div>

    </div>
  </div>
</div>
    <!-- Footer -->
    <footer class="footer ">
        <div class="container ">
            <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
        </div>
    </footer>
