#row1, #row2,#row3{
    margin-left: -20px;
}
#col{
    padding-top: 10px;
}

#col1{
    padding-top: 13px;
}
#col2{
    padding-top: 7px;
}
.row{
    margin-left: 1px;
    background-color: white;
    max-width: 1138px;
    
}
