#row1, #row2,#row3{
    margin-left: -20px;
}
#col{
    padding-top: 10px;
}

#col1{
    padding-top: 13px;
}
#col2{
    padding-top: 7px;
}
.row{
    max-width: 100%;
}


#sales_credit_score
{
    background: #fff;
     padding: 10px;
    width: 100%;
 }
 .table td, .table th{
     text-align: left;
     
 }
 .table th{
     padding: 10px;
 }
