<div class="form">
    <div class="container-fluid">
<form [formGroup]="applicantForm">
    <div class="row">
        <div class="form-group col-sm-3 col-md-3">
    
        </div>
        <div class="form-group col-sm-6 col-md-6" style="margin-bottom: 0px;">
            <div class="form-group col-sm-3 col-md-3 text-right" style="padding: 0px;">
                <label for="document" style="padding-top:8px;">Choose Applicant</label>                        
            </div>
            <div class="form-group col-sm-3 col-md-3">                        
                <select class="form-control">
                    <option>Rao</option>
                    <option>Madhan</option>
                    <option>Selvi</option>
                </select>
            </div>
    
        </div>
        <div class="form-group col-sm-2 col-md-2">
    
        </div>
    </div>
    
    <div class="row js-active" data-animation="scaleIn">                      
        <div class="panel-group hidden-xs" id="accordion">                            
            <div class="panel panel-default">
                <div class="panel-heading panel-primary" id="headingTwo1">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                        <i class="fa fa-plus-circle"></i>&nbsp; Identity Proof <i class="fa fa-angle-down"></i>
                    </a> 
                  </h4>
                </div>
    
                <div formArrayName="identityProof">
                <div id="collapseTwo1" class="panel-collapse collapse in" aria-expanded="true"  
                *ngFor="let item of identityControls.controls; let i=index" [formGroupName]="i">
                 <div class="panel-body" id="show_1_div_identity" >
                    <div class="row"> 
                    <div class="form-group col-sm-3 col-md-2">
                            <label for="document">Document Name</label>
                            <!-- <select class="form-control">
                                <option>Driving License</option>
                                <option>Passport</option>
                                <option>PAN card</option>
                                <option>Aadhar Card</option>
                            </select> -->
                            <app-vf-custom-select 
                            [values]="values?.documentName" 
                            formControlName="documentName"></app-vf-custom-select>
                        </div>
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="documentnumber">{{labels.documentNumber}}</label>
                            <input type="text" class="form-control" id="amount" formControlName = "documentNumber">
                        </div>
    
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="idate">{{labels.issueDate}}</label>
                            <div class="input-group input-medium">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                </span>
                                <input type="date" class="form-control date_width" id="date" formControlName = "issueDate" >
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="edate">Expiry Date</label>
                            <div class="input-group input-medium">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                </span>
                                <input type="date" class="form-control date_width" id="date" formControlName="documentExpiryDate">
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="mandatory_stage">Mandatory Stage</label>
                            <input type="text" class="form-control" id="amount" value="Sales" formControlName="mandatoryStage" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="Status">Status</label>
                            <!-- <select name="status" id="deferral_status" class="form-control">
                                <option value="Pending">Pending</option>
                                <option value="Submitted">Submitted</option>
                                <option value="Deferred">Deferred</option>
                            </select> -->
                            <app-vf-custom-select [values]="values?.status" formControlName="status">
                            </app-vf-custom-select>
                        </div>
                        <div class="form-group col-sm-3 col-md-2" >
                            <label for="edate">Deferral Date</label>
                            <div class="input-group input-medium" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                </span>
                                <input type="date" class="form-control date_width" id="d_date" name="Deferral" formControlName="deferralDate">
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-md-2" ></div>
                        <div class="form-group col-sm-3 col-md-2 text-right" >
                            <label>View</label>
                            <p><a class="a_tag" href="documents/sample.pdf" target="_blank" download><u>driving licence_2001</u></a></p>
    
                        </div>
                        
                        <div class="form-group col-sm-3 col-md-2">
                            <label >Actions </label>
                            <div class="row">
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <div class="image-upload"> <label style="cursor: pointer;margin-top: -20px;" for="file_upload"> <img src="" alt="" class="uploaded-image">
                               
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell"> <i class="fa fa-upload"></i>  
                                            </div>
                                        </div>
                                   
                                        <!--upload-content--> <input data-required="image" type="file" name="image_name" id="file_upload" class="image-input" 
                                        data-target-resolution="image_resolution" value="" formControlName="uploadDocument">
                                </label>
                                </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label class="image-upload" for="upload_files">
                                       <a><i class="fa fa-plus fa-3" aria-hidden="true"  id="add_more_documents1" (click)="addIdentity()"></i> </a> 
                                        &nbsp; 
                                       <a> <i class="fa fa-minus fa-3" aria-hidden="true"  id="add_more_documents_remove1" (click)="removeIdentity(i)"></i></a>
                                    </label>
    
                                </div>
                                </div>
                            
                        </div> 
    
                    </div> 
                        
                        
                       
                      
                        <div class="form-group col-sm-1 col-md-1 col-lg-1">
                            
                    </div>
                    </div>
                </div>
            </div>
            </div>
    
            <div class="panel panel-default">
                <div class="panel-heading panel-primary" id="headingTwo2">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2">
                        <i class="fa fa-plus-circle"></i>&nbsp; Address Proof <i class="fa fa-angle-down"></i>
                    </a> 
                  </h4>
                </div>
                <div formArrayName="addressProof">
                <div id="collapseTwo2" class="panel-collapse collapse in" aria-expanded="true" 
                *ngFor="let item of addressControls.controls; let i=index" [formGroupName]="i" >
                    <div class="panel-body" id="show_1_div_address" >
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="document">{{labels.documentName}}</label>
                            <!-- <select class="form-control">
                                <option>Driving License</option>
                                <option>Passport</option>
                                <option>PAN card</option>
                                <option>Aadhar Card</option>
                            </select> -->
                            <app-vf-custom-select 
                            [values]="values?.documentName" 
                            formControlName="documentName"></app-vf-custom-select>
                        </div>
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="documentnumber">Document Number</label>
                            <input type="text" class="form-control" id="amount" formControlName="documentNumber">
                        </div>
                    
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="idate">Issues Date</label>
                            <div class="input-group input-medium">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                </span>
                                <input type="date" class="form-control date_width" id="date"  formControlName="issueDate">
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="edate">Expiry Date</label>
                            <div class="input-group input-medium">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                </span>
                                <input type="date" class="form-control date_width" id="date" formControlName="documentExpiryDate">
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="mandatory_stage">Mandatory Stage</label>
                            <input type="text" class="form-control" id="amount" value="Sales" formControlName="mandatoryStage" disabled>
                        </div>
                        <div class="form-group col-sm-3 col-md-2">
                            <label for="Status">Status</label>
                            <!-- <select name="status" id="deferral_status" class="form-control">
                                <option value="Pending">Pending</option>
                                <option value="Submitted">Submitted</option>
                                <option value="Deferred">Deferred</option>
                            </select> -->
                            <app-vf-custom-select [values]="values?.status" formControlName="status">
                            </app-vf-custom-select>
                        </div>
                        <div class="form-group col-sm-3 col-md-2" >
                            <label for="edate">Deferral Date</label>
                            <div class="input-group input-medium" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                </span>
                                <input type="date" class="form-control date_width" id="d_date" name="Deferral"  formControlName="deferralDate">
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-md-2" ></div>
                        <div class="form-group col-sm-3 col-md-2 text-right" >
                            <label>View</label>
                            <p><a class="a_tag" href="documents/sample.pdf" target="_blank" download><u>Pan_Card_671</u></a></p>
            
                        </div>
                        
                        <div class="form-group col-sm-3 col-md-2">
                            <label >Actions </label>
                            <div class="row">
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <div class="image-upload"> <label style="cursor: pointer;margin-top: -20px;" for="file_upload"> <img src="" alt="" class="uploaded-image">
                               
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell"> <i class="fa fa-upload"></i>  
                                            </div>
                                        </div>
                                   
                                        <!--upload-content--> <input data-required="image" type="file" name="image_name" id="file_upload" class="image-input" 
                                        data-target-resolution="image_resolution" formControlName="uploadDocument" value="">
                                </label>
                                </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label class="image-upload" for="upload_files">
                                        <a><i class="fa fa-plus fa-3" aria-hidden="true"  id="add_more_documents1a" (click)="addAddress()" ></i></a>
                                        &nbsp; 
                                       <a> <i class="fa fa-minus fa-3" aria-hidden="true"  id="add_more_documents_remove1a" (click)="removeAddress(i)"></i> </a>
                                    </label>
            
                                </div>
                                </div>
                            
                        </div>
                       <!--  <div class="form-group col-sm-3 col-md-2">
                            <label >Actions </label>
                            <p><label for="upload_files"><i class="fa fa-upload fa-3 custom-file-label" aria-hidden="true"  id="add_more_documents_upload1a" ></i></label>&nbsp;  <i class="fa fa-plus fa-3" aria-hidden="true"  id="add_more_documents1" ></i> &nbsp; <i class="fa fa-minus fa-3" aria-hidden="true"  id="add_more_documents_remove1a" ></i>  </p>
                        </div> -->
                        <div class="form-group col-sm-1 col-md-1 col-lg-1">
                            
                    </div>
                    </div>
                   </div> 
                </div>
                   </div>
    
                   <div class="panel panel-default">
                    <div class="panel-heading panel-primary" id="headingTwo2">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2">
                            <i class="fa fa-plus-circle"></i>&nbsp; Income Proof <i class="fa fa-angle-down"></i>
                        </a> 
                      </h4>
                    </div>
    
                    <div formArrayName="incomeProof">
                    <div id="collapseTwo2" class="panel-collapse collapse in" aria-expanded="true" 
                    *ngFor="let item of incomeControls.controls; let i=index" [formGroupName]="i" >
                        <div class="panel-body" id="show_1_div_income" >
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="document">{{labels.documentName}}</label>
                                <!-- <select class="form-control">
                                    <option>Driving License</option>
                                    <option>Passport</option>
                                    <option>PAN card</option>
                                    <option>Aadhar Card</option>
                                </select> -->
                                <app-vf-custom-select 
                            [values]="values?.documentName" 
                            formControlName="documentName"></app-vf-custom-select>
                            </div>
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="documentnumber">Document Number</label>
                                <input type="text" class="form-control" id="amount" formControlName="documentNumber">
                            </div>
                        
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="idate">Issues Date</label>
                                <div class="input-group input-medium">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                    </span>
                                    <input type="date" class="form-control date_width" id="date" formControlName="issueDate">
                                </div>
                            </div>
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="edate">Expiry Date</label>
                                <div class="input-group input-medium">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                    </span>
                                    <input type="date" class="form-control date_width" id="date" formControlName="documentExpiryDate">
                                </div>
                            </div>
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="mandatory_stage">Mandatory Stage</label>
                                <input type="text" class="form-control" id="amount" value="Sales" formControlName="mandatoryStage" disabled>
                            </div>
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="Status">Status</label>
                                <!-- <select name="status" id="deferral_status" class="form-control">
                                    <option value="Pending">Pending</option>
                                    <option value="Submitted">Submitted</option>
                                    <option value="Deferred">Deferred</option>
                                </select> -->
                                <app-vf-custom-select [values]="values?.status" formControlName="status">
                                </app-vf-custom-select>
                            </div>
                            <div class="form-group col-sm-3 col-md-2" >
                                <label for="edate">Deferral Date</label>
                                <div class="input-group input-medium" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                    </span>
                                    <input type="date" class="form-control date_width" id="d_date" name="Deferral"  formControlName="deferralDate">
                                </div>
                            </div>
                            <div class="form-group col-sm-3 col-md-2" ></div>
                            <div class="form-group col-sm-3 col-md-2 text-right" >
                                <label>View</label>
                                <p><a class="a_tag" href="documents/sample.pdf" target="_blank" download><u>Pan_Card_784</u></a></p>
                
                            </div>
                            
                            <div class="form-group col-sm-3 col-md-2">
                                <label >Actions </label>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="image-upload"> <label style="cursor: pointer;margin-top: -20px;" for="file_upload"> <img src="" alt="" class="uploaded-image">
                                   
                                            <div class="dplay-tbl">
                                                <div class="dplay-tbl-cell"> <i class="fa fa-upload"></i>  
                                                </div>
                                            </div>
                                       
                                            <!--upload-content--> <input data-required="image" type="file" name="image_name" id="file_upload" class="image-input" 
                                            data-target-resolution="image_resolution" formControlName="uploadDocument" value="">
                                    </label>
                                    </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <label class="image-upload" for="upload_files">
                                           <a> <i class="fa fa-plus fa-3" aria-hidden="true"  id="add_more_documents1in" (click)="addIncome()"></i> </a>
                                            &nbsp; 
                                           <a> <i class="fa fa-minus fa-3" aria-hidden="true"  id="add_more_documents_remove1in" (click)="removeIncome(i)"></i></a>
                                        </label>
                
                                    </div>
                                    </div>
                                
                            </div>
                            <div class="form-group col-sm-1 col-md-1 col-lg-1">
                                
                        </div>
                        </div>
                       </div> 
                    </div>
                       </div>
    
    
                       <div class="panel panel-default">
                        <div class="panel-heading panel-primary" id="headingTwo2">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2">
                                <i class="fa fa-plus-circle"></i>&nbsp; Additional Document<i class="fa fa-angle-down"></i>
                            </a> 
                          </h4>
                        </div>
    
                        <div formArrayName="additionalProof">
                        <div id="collapseTwo2" class="panel-collapse collapse in" aria-expanded="true"  
                        *ngFor="let item of additionalControls.controls; let i=index" [formGroupName]="i">
                            <div class="panel-body" id="show_1_div_additional" >
                                <div class="form-group col-sm-3 col-md-2">
                                    <label for="document">{{labels.documentName}}</label>
                                    <!-- <select class="form-control">
                                        <option>Driving License</option>
                                        <option>Passport</option>
                                        <option>PAN card</option>
                                        <option>Aadhar Card</option>
                                    </select> -->
                                    <app-vf-custom-select 
                            [values]="values?.documentName" 
                            formControlName="documentName"></app-vf-custom-select>
                                </div>
                                <div class="form-group col-sm-3 col-md-2">
                                    <label for="documentnumber">Document Number</label>
                                    <input type="text" class="form-control" id="amount" formControlName="documentNumber">
                                </div>
                            
                                <div class="form-group col-sm-3 col-md-2">
                                    <label for="idate">Issues Date</label>
                                    <div class="input-group input-medium">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                        </span>
                                        <input type="date" class="form-control date_width" id="date" formControlName="issueDate">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3 col-md-2">
                                    <label for="edate">Expiry Date</label>
                                    <div class="input-group input-medium">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                        </span>
                                        <input type="date" class="form-control date_width" id="date" formControlName="documentExpiryDate">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3 col-md-2">
                                    <label for="mandatory_stage">Mandatory Stage</label>
                                    <input type="text" class="form-control" id="amount" value="Sales" formControlName="mandatoryStage" disabled>
                                </div>
                                <div class="form-group col-sm-3 col-md-2">
                                    <label for="Status">Status</label>
                                    <!-- <select name="status" id="deferral_status" class="form-control">
                                        <option value="Pending">Pending</option>
                                        <option value="Submitted">Submitted</option>
                                        <option value="Deferred">Deferred</option>
                                    </select> -->
                                    <app-vf-custom-select [values]="values?.status" formControlName="status">
                                    </app-vf-custom-select>
                                </div>
                                <div class="form-group col-sm-3 col-md-2" >
                                    <label for="edate">Deferral Date</label>
                                    <div class="input-group input-medium" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"> <i class="fa fa-calendar"></i> </button>
                                        </span>
                                        <input type="date" class="form-control date_width" id="d_date" name="Deferral" formControlName="deferralDate" >
                                    </div>
                                </div>
                                <div class="form-group col-sm-3 col-md-2" ></div>
                                <div class="form-group col-sm-3 col-md-2 text-right" >
                                    <label>View</label>
                                    <p><a class="a_tag" href="documents/sample.pdf" target="_blank" download><u>Driving_Licence_567</u></a></p>
                    
                                </div>
                                
                                <div class="form-group col-sm-3 col-md-2">
                                    <label >Actions </label>
                                    <div class="row">
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <div class="image-upload"> <label style="cursor: pointer;margin-top: -20px;" for="file_upload"> <img src="" alt="" class="uploaded-image">
                                       
                                                <div class="dplay-tbl">
                                                    <div class="dplay-tbl-cell"> <i class="fa fa-upload"></i>  
                                                    </div>
                                                </div>
                                           
                                                <!--upload-content--> <input data-required="image" type="file" name="image_name" id="file_upload" class="image-input" 
                                                data-target-resolution="image_resolution" formControlName="uploadDocument" value="">
                                        </label>
                                        </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <label class="image-upload" for="upload_files">
                                               <a> <i class="fa fa-plus fa-3" aria-hidden="true"  id="add_more_documents1adt" (click)="addAdditional()"></i> </a>
                                                &nbsp; 
                                                <a><i class="fa fa-minus fa-3" aria-hidden="true"  id="add_more_documents_remove1adt" (click)="removeAdditional(i)"></i></a>
                                            </label>
                    
                                        </div>
                                        </div>
                                    
                                </div>
                    
                                <div class="form-group col-sm-1 col-md-1 col-lg-1">
                                    
                            </div>
                            </div>
                           </div> 
                        </div>
                         </div>
                           
                
    
          </div>
        </div>     
        <div class="for_space"></div>
    
    
            <div class="row" id="saveNext">
                    
                <div class="col-sm-5"></div>
                <div class="col-sm-7 text-right">
                    <button class="btn btn-primary dash_href mar-right8" (click)="onSubmitForm()"> Save </button>
                    <button class="btn btn-primary dash_href " [routerLink]="['../collateral-documents']" type="button">Next</button>
                </div>      
            </div>
        </form>
    </div>
</div>