.basic_scroll {
    overflow-y: auto;
    max-height: 400px;
    overflow-x: hidden;
}
.title{
    font-weight: 600;
    
}
/* #align_this_texbox{
    margin-top: 16px;
} */
.cus-mandatory-field{
    font-size: 1.0vw;
  font-family: zurich-bold;
  letter-spacing: 0.5px;
  color: red;
  padding-top: 0.5vw;
}

.pad-12{
    padding-left:12px;
}

.ShowError{
    font-size: 12px;
    font-family: zurich-bold;
    letter-spacing: 0.5px;
    color: red;
    padding-top: 0.5vw;
} 
/* #Same_AppAddress{
    margin: 18px 0px;
} */

.mar-12{
    margin-left:12px;
}
.custom-col-30{
    float:left;
    width:30%;
}

.custom-col-22{
    float:left;
    width:22%;
}

.custom-col-17{
    float:left;  
    width:17%;
}

@media (min-width:200px) and (max-width:767px) {
   .custom-col-30 , 
   .custom-col-22, 
   .custom-col-17{
    float:left;  
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    } 

    .mar-12{
        margin-left:0px;
    }
}