.basic_scroll {
    overflow-y: auto;
    max-height: 400px;
    overflow-x: hidden;
}
.title{
    font-weight: 600;
    
}
/* #align_this_texbox{
    margin-top: 16px;
} */
.cus-mandatory-field{
    font-size: 1.0vw;
  font-family: zurich-bold;
  letter-spacing: 0.5px;
  color: red;
  padding-top: 0.5vw;
}

.ShowError{
    font-size: 12px;
    font-family: zurich-bold;
    letter-spacing: 0.5px;
    color: red;
    padding-top: 0.5vw;
  } 

