

/* Top-heading Space */

h3.margin_zero {
  margin-top: 0px;
}

h3.dedupe_head {
  margin-top: 0px;
}


/* footer */

.ok_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}


/*  style for modal popup*/

.text-center {
  text-align: center;
}

.box_shadow {
  box-shadow: 0px 8px 6px -9px black;
}

.img-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal_title {
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  color: #1d1a4b;
}

.modal_content {
  font-size: 18px;
  font-family: fantasy;
  text-align: center;
  color: #494e50;
}

.modal-body {
  text-align: center;
}

.modal-body.modal_coapp {
  text-align: left!important;
}


/* Lead dedupe*/

.dedupe_head {
  font-size: 14px;
  /* padding: 20px; */
  font-weight: bold;
}

#reject_reason {
  width: 350px;
  border-radius: 1.5em;
  margin: auto;
  /* background-color: #f58733; */
  /* color: white; */
  margin-bottom: 12px;
  border: 1px solid #1d1a4b47;
}

/* #proceed_reason {
  width: 350px;
  border-radius: 1.5em;
  margin: auto;
  margin-bottom: 12px;
  border: 1px solid #1d1a4b47;
} */

.reject_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.approve_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.pending_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.content {
  background: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

label.col-form-label {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 14px;
}

.col-md-6.col-lg-6.col-sm-12.p-0 {
  padding: 0px !important;
}


/* styles for info box */

label.col-form-label-two {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 14px;
  float: right;
}

.col-lg-12.col-md-12.col-sm-12.lead_top {
  padding: 0px;
}

.p-0 {
  padding: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.form-group.col-sm-6.col-md-2.col-lg-2.mobile_otp {
  width: 20%;
}


/* select#select_main_button_leadco {
  background-color: #6c757d;
  padding: 6px;
  color: white;
  margin-bottom: 1%;
} */


/* applicant form */

.back_color {
  color: #fff;
}


/* ----- - -- */

#scroll_starts_here {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#nagative_list_results {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}


/*------ */

select#select_main_button_match {
  background-color: #6c757d;
  padding: 6px;
  color: white;
  margin-bottom: 1%;
}


/* #proceed_reason {
  border: 1px solid #1d1a4b47;
  width: 350px;
  margin: auto;
  margin-bottom: 12px;
} */

.showModal{
  display: block;
}

.btn-primary {
  margin: 8px;
}
/* 
.fadeIn {
  animation: fadeIn linear .35s;
  -webkit-animation: fadeIn linear .35s;
  -moz-animation: fadeIn linear .35s;
  -o-animation: fadeIn linear .35s;
  -ms-animation: fadeIn linear .35s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
} */

/* Top-heading Space */

h3.margin_zero {
  margin-top: 0px;
}

h3.dedupe_head {
  margin-top: 0px;
}


/* footer */

.ok_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}


/*  style for modal popup*/

.text-center {
  text-align: center;
}

.box_shadow {
  box-shadow: 0px 8px 6px -9px black;
}

.img-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal_title {
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  color: #1d1a4b;
}

.modal_content {
  font-size: 18px;
  font-family: fantasy;
  text-align: center;
  color: #94999b;
}

.modal-body {
  text-align: center;
}

.modal-body.modal_coapp {
  text-align: left!important;
}


/* Lead dedupe*/

.pointerEvent {
  pointer-events: none;
}

.dedupe_head {
  font-size: 14px;
  /* padding: 20px; */
  font-weight: bold;
}

#reject_reason {
  border: 1px solid #0006ff00;
  width: 150px;
  border-radius: 1.5em;
  margin: auto;
  background-color: #1d1a4b;
  color: white;
  margin-bottom: 12px;
}

#proceed_reason {
  border: 1px solid #0006ff00;
  width: 150px;
  margin: auto;
  background-color: #1d1a4b;

  color: white;
  margin-bottom: 12px;
}

.reject_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.approve_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.pending_reason {
  color: #1d1a4b;
  font-weight: bolder;
}

.content {
  background: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin:15px;
  
}

label.col-form-label {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 14px;
}

.col-md-6.col-lg-6.col-sm-12.p-0 {
  padding: 0px !important;
}


/* styles for info box */

label.col-form-label-two {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 14px;
  float: right;
}

.col-lg-12.col-md-12.col-sm-12.lead_top {
  padding: 0px;
}

.p-0 {
  padding: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.form-group.col-sm-6.col-md-2.col-lg-2.mobile_otp {
  width: 20%;
}

select#select_main_button_leadco {
  background-color: #6c757d;
  padding: 6px;
  color: white;
  margin-bottom: 1%;
}


/* applicant form */

.back_color {
  color: #fff;
}



/* for inside scroll */

.basic_scroll {
  overflow-y: auto;
  max-height: 400px;
  overflow-x: hidden;
}
#clickButton{
  margin-right: 2px;
}
td i{
  cursor: pointer;
}


body{
  font-family: "Open sans",Helvetica,Arial,sans-serif;
}

h1{
  text-align: center;
  margin-bottom: 40px;
}
table { 
  width: 100%; 
  table-layout: fixed;
  border-collapse: collapse; 
  margin: 0 auto;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #f2f2f2; 
}
th { 
  background-color: #1d1a4b;
  color: #fff; 
  font-weight: 600; 
}
td, th { 
  padding: 12px; 
  border: 1px solid #ccc; 
  text-align: left; 
  text-align: center
}


/*Mobile View*/
@media 
only screen and 
  (max-width: 760px){
  td, tr { 
      display: block; 
  }
  
  td, th { 
     
  border: 1px solid #ccc;
  text-align: left;
  text-align: center;
  /* margin: 12px; */
  line-height: 1.5;
  /* color: white; */
  padding: 2px;
  font-size: 15px;
  }

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}
tr {
      /* border: 1px solid #E74C3C;  */
  }
  tr + tr{
      margin-top: 1.5em;
  }
td { 
  /* make like a "row" */
  border: none;
      border-bottom: 1px solid #eee;
      /* position: relative; */
      padding-left: 50%;
      /* background-color: #F8D9D5; */
      text-align: left;
      /* padding: 1px;*/
      border: 1px solid #929294;
  }
 

  
  

td:before { 
      content: attr(data-label);
      display: inline-block;
      line-height: 1.5;
      margin-left: -100%;
      margin-right: 12px;
      width: 70%;
      white-space: nowrap;
      background-color: #1d1a4b;
      color:white;
      height: 40px;
      padding: 10px;
  }
  
 
     
}
 @media (min-width:300px) and (max-width:760px){
  .btn-mar-reject{
  margin-bottom: 50px;
}
} 

