<div class="row text-right">
    <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <button 
            [disabled]="disableSaveBtn"
            type="button" 
            class="btn btn-primary"
            (click)="reInitiateCreditScore()">Re-Evaluation 
        </button>
    </div>
</div>
<table class="table cam_table_proposed mt-3 main-table">
    <thead>
        <tr class="tr_style">
            <th>S.No</th>
            <th>Parameter</th>
            <th>Weightage</th>
            <th>Input Value</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody style="text-align: left;">
        <!-- <tr *ngFor="let res of result">
            <td >{{res.sNo}}</td>
            <td *ngIf="res.name">{{res.name}}</td>
            <td *ngIf="res.subHeading" [ngClass]="{'bolder':'true'}">{{res.subHeading}}</td>
            <td>{{res.weight}}</td>
            <td>{{res.input}}</td>
            <td>{{res.score}}</td>
          </tr> -->
        <tr *ngIf="borrowerAttributes">
            <td [attr.data-label]="labels?.sNo"></td>
            <td [attr.data-label]="labels?.parameter"><strong>{{borrowerAttributes[0].scoreParameterCatDesc}}</strong></td>
            <td [attr.data-label]="labels?.weightage"><strong>{{scoreCard.borrowerAttributeWeightage}}</strong></td>
            <td [attr.data-label]="labels?.inputValue"></td>
            <td [attr.data-label]="labels?.scoreValue"><strong>{{scoreCard.borrowerAttributeScore}}</strong></td>
        </tr> 

         <tr *ngFor="let borrowerAttribute of borrowerAttributes; let i = index">
            <td [attr.data-label]="labels?.sNo">{{i+1}}</td>
            <td [attr.data-label]="labels?.parameter">{{borrowerAttribute.scoreDescription}}</td>
            <td [attr.data-label]="labels?.weightage">{{borrowerAttribute.weightage}}</td>
            <td [attr.data-label]="labels?.inputValue">{{borrowerAttribute.inputValueDescription}}</td>
            <td [attr.data-label]="labels?.scoreValue">{{borrowerAttribute.score}}</td>
        </tr>
        <tr *ngIf="borrowerAssessments">
            <td [attr.data-label]="labels?.sNo"></td>
            <td [attr.data-label]="labels?.parameter"><strong>{{borrowerAssessments[0].scoreParameterCatDesc}}</strong></td>
            <td [attr.data-label]="labels?.weightage"><strong>{{scoreCard.borrowerAssessmentWeightage}}</strong></td>
            <td [attr.data-label]="labels?.inputValue"></td>
            <td [attr.data-label]="labels?.scoreValue"><strong>{{scoreCard.borrowerAssessmentScore}}</strong></td>
        </tr>
        <tr *ngFor="let borrowerAssessment of borrowerAssessments; let i = index">
            <td [attr.data-label]="labels?.sNo">{{borrowerAttributesLength + i}}</td>
            <td [attr.data-label]="labels?.parameter">{{borrowerAssessment.scoreDescription}}</td>
            <td [attr.data-label]="labels?.weightage">{{borrowerAssessment.weightage}}</td>
            <td [attr.data-label]="labels?.inputValue">{{borrowerAssessment.inputValueDescription}}</td>
            <td [attr.data-label]="labels?.scoreValue">{{borrowerAssessment.score}}</td>
        </tr>
        <tr *ngIf="fieldVerifications">
            <td [attr.data-label]="labels?.sNo"></td>
            <td [attr.data-label]="labels?.parameter"><strong>{{fieldVerifications[0].scoreParameterCatDesc}}</strong></td>
            <td [attr.data-label]="labels?.weightage"><strong>{{scoreCard.fieldVerificationWeightage}}</strong></td>
            <td [attr.data-label]="labels?.inputValue"></td>
            <td [attr.data-label]="labels?.scoreValue"><strong>{{scoreCard.fieldVerificationScore}}</strong></td>
        </tr>
        <tr *ngFor="let fieldVerification of fieldVerifications; let i = index">
            <td [attr.data-label]="labels?.sNo">{{borrowerAssessmentsLength + i}}</td>
            <td [attr.data-label]="labels?.parameter">{{fieldVerification.scoreDescription}}</td>
            <td [attr.data-label]="labels?.weightage">{{fieldVerification.weightage}}</td>
            <td [attr.data-label]="labels?.inputValue">{{fieldVerification.inputValueDescription}}</td>
            <td [attr.data-label]="labels?.scoreValue">{{fieldVerification.score}}</td>
        </tr>
        <tr *ngIf="repaymentAssessments">
            <td [attr.data-label]="labels?.sNo"></td>
            <td [attr.data-label]="labels?.parameter"><strong>{{repaymentAssessments[0].scoreParameterCatDesc}}</strong></td>
            <td [attr.data-label]="labels?.weightage"><strong>{{scoreCard.repaymentAssessmentWeightage}}</strong></td>
            <td [attr.data-label]="labels?.inputValue"></td>
            <td [attr.data-label]="labels?.scoreValue"><strong>{{scoreCard.repaymentAssessmentScore}}</strong></td>
        </tr>
        <tr *ngFor="let repaymentAssessment of repaymentAssessments; let i = index">
            <td [attr.data-label]="labels?.sNo">{{fieldVerificationsLength + i}}</td>
            <td [attr.data-label]="labels?.parameter">{{repaymentAssessment.scoreDescription}}</td>
            <td [attr.data-label]="labels?.weightage">{{repaymentAssessment.weightage}}</td>
            <td [attr.data-label]="labels?.inputValue">{{repaymentAssessment.inputValueDescription}}</td>
            <td [attr.data-label]="labels?.scoreValue">{{repaymentAssessment.score}}</td>
        </tr>
        
        <tr *ngIf="scoreCard">
            <td class="tab-hide"></td>
            <td class="tab-hide"><strong>Total</strong></td>
            <td [attr.data-label]="'Total weightage'"><strong>{{scoreCard.totalWeight}}</strong></td>
            <td class="tab-hide"></td>
            <td [attr.data-label]="'Total score'"><strong>{{scoreCard.totalScore}}%</strong></td>
        </tr>
    </tbody>
</table>
<table class="table cam_table_proposed mt-3 mar-bot-40">
    <tbody>
        <tr>
            <td class="actionTable"><strong>Action</strong></td>
            <td 
                class="actionTable" 
                [ngClass]="{'highestRisk': riskLevel <= 50,
                            'veryhighRisk': riskLevel > 50 && riskLevel <= 60,
                            'highRisk': riskLevel > 50 && riskLevel <= 60,
                            'mediumRisk': riskLevel > 70 && riskLevel <= 75,
                            'lowRisk': riskLevel > 75 && riskLevel <= 85,
                            'veryLowRisk': riskLevel > 85 }">
                <strong>{{risk}}</strong>
            </td>
        </tr>
    </tbody>
</table>
<table class="table cam_table_proposed mt-3" *ngIf="false">
    <thead>
        <tr class="tr_style">
            <th>Loan Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Approved</td>
        </tr>
    </tbody>
</table>
<table class="table cam_table_proposed mt-3" *ngIf="false">
    <thead>
        <tr class="tr_style">
            <th>Overrides</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<table class="table cam_table_proposed mt-3" *ngIf="false">
    <thead>
        <tr class="tr_style">
            <th>Reason for Approval / Rejection</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>