<!-- <div class="content"> -->
<form class="multisteps-form__form">
    <div class="multisteps-form__panel js-active" data-animation="scaleIn">
        <div class="container">

            <div class="btn-sec clear-both row">
                <div class="col-sm-5">
                    <!-- <h4 class="title">PSL Data</h4> -->
                </div>
                <div class="col-sm-7 text-right">
                    <!-- <button class="btn btn-secondary mar-right8" type="button" onclick="add_applicant();"> Add Applicant </button> -->
                    <!-- <button class="btn btn-success" type="button" data-toggle="modal" data-target="#add_guarantor"> Add Guarantor </button> -->
                </div>
            </div>
            <div class="row">
                <div class="table-responsive application" id="applicantTable">
                    <table class="table">
                        <thead>
                            <tr class="table-head-bg">
                                <td>{{labels?.registrationNumber}}</td>
                                <td>{{labels?.make}}</td>
                                <td> {{labels?.model}}</td>
                                <td> {{labels?.address}}</td>
                                <td>{{labels?.valuationStatus}}</td>
                                <td> {{labels?.valuatorStatus}} </td>
                                <td>{{labels?.valuationReport}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of collateralDetailsData;  let i = index">
                                <td>{{ data.regNo | uppercase}}</td>
                                <td>{{data.make}}</td>
                                <td> {{data.model}} </td>
                                <td> {{data.address}} </td>
                                <td> {{data.valuationStatus}} </td>
                                <td> <span *ngIf="data.valuationStatus !='NOT INITIATED'">
                                    {{data.valuatorStatus == 0 ? 'Offline': 'Online' }} </span></td>
                                <td>
                                    <u>
                                        <a class="a_tag" *ngIf="data.valuatorStatus == 1" (click)="onClickValuationReport(data.valuationStatus)" data-toggle="modal"
                                           data-target="#myModal"> {{data.valuationStatus == 'INITIATED'? '------': 'View'}} </a>
                                        <a class="a_tag" *ngIf="data.valuatorStatus == 0"  (click)="onClickValuationReport(data.valuationStatus)" data-toggle="modal"
                                           data-target="#myModal"> {{data.valuationStatus == 'NOT INITIATED'? 'Initiate' :'View' }} </a>
                                           <!-- {{data.valuationStatus == 'INITIATED'? 'View' :}} -->
                                        <a class="a_tag" *ngIf="data.valuatorStatus == null"  (click)="onClickValuationReport(data.valuationStatus)" data-toggle="modal"
                                           data-target="#myModal"> {{data.valuationStatus == 'NOT INITIATED'? 'Initiate' :''}} </a>
                                    </u>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="btn-sec clear-both">
    <div class="col-sm-5"> </div>
    <div class="col-sm-7 text-right cst_btm_btns"> <br> <br>
        <button class="btn btn-primary" type="button" (click)="onBack()"> {{labels.back}} </button>
        &nbsp;
        <!-- <p class="btn btn-primary save"> Save </p> -->
        <button class="btn btn-primary" type="button" (click)="onNext()"> {{labels.next}} </button>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" *ngIf="isModal"
    [ngClass]="{ in: isModal, showModal: isModal }">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header table-head-bg">
                <button type="button" (click)="isModal = false" class="close" data-dismiss="modal"
                    style="color:white;opacity: 1;">&times;</button>
                <!-- <button type="button" (click)="isModal = false" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title"> {{labels.modalTitle1}} </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6 col-md-4 col-lg-3 housing">
                        <label for="registration_cost"> {{labels.registrationNumber}} </label>
                        <input type="text" class="form-control" name="registration_cost" id="registration_cost"
                            required="required" [value]="regNo | uppercase" disabled>
                    </div>

                    <div class="form-group col-sm-6 col-md-4 col-lg-3 housing">
                        <label for="registration_cost"> {{labels.make}}</label>
                        <input type="text" class="form-control" name="registration_cost" id="registration_cost"
                            required="required" [value]="make" disabled>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3 housing">
                        <label for="registration_cost"> {{labels.model}} </label>
                        <input type="text" class="form-control" name="registration_cost" id="registration_cost"
                            required="required" [value]="model" disabled>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-12 housing">
                        <label for="registration_cost">{{labels.address}}</label>
                        <input type="text" class="form-control" name="registration_cost" id="registration_cost"
                            required="required" [value]="address" disabled>
                    </div>
                    <form class="multisteps-form__form" [formGroup]="modelDataForm">

                        <div class="form-group col-sm-12 col-md-12 col-lg-12 housing">
                            <label for="remarks" >{{labels.referenceRemarks}}
                                <sub class="star_red_col">*</sub>
                            </label>
                            <textarea class="form-control" formControlName="remarks"> 
                            </textarea>     
                            <div *ngIf="modelDataForm.controls['remarks'].invalid && (modelDataForm.controls['remarks'].dirty || modelDataForm.controls['remarks'].touched)" class="invalid-feedback">
                                <div  *ngIf="modelDataForm.controls['remarks'].errors.required">Remarks is required</div>
                                <div  *ngIf="modelDataForm.controls['remarks'].errors.pattern">Invalid Input/ Only Alphabets allowed</div>
                            </div>                    
                        </div>
                        <div class="form-group col-sm-6 col-md-4 col-lg-3 housing">
                            <label for="property_located_city"> {{labels.chooseValuator}} 
                                <sub class="star_red_col">*</sub>
                            </label>
                            <app-vf-custom-select [values]="vendorDetailsData" formControlName="valuatorCode"
                                [isRequired]="'Please Select One Option'" (change)="onChangeVendorName($event)"
                                [isDirty]="isDirty">
                            </app-vf-custom-select>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default table-head-bg" data-dismiss="modal" data-toggle="modal"
                    data-target="#myModal_one" (click)="okModal()" id="model_ok">{{labels.ok}}</button>
                <button type="button" (click)="closeModal()" class="btn btn-default table-head-bg"
                    data-dismiss="modal">{{labels.cancel}}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal_one" role="dialog" *ngIf="isOk" [ngClass]="{ in: isModal, showModal: isModal }">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header table-head-bg">
                <button type="button" (click)="isModal = false" class="close" data-dismiss="modal"
                    style="color:white;opacity: 1;">&times;</button>
                <h4 class="modal-title"> {{labels.modalTitle1}} </h4>
            </div>
            <div class="modal-body">
                <p>{{labels.modalBody}} {{vendorName}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default table-head-bg" data-dismiss="modal" data-toggle="modal"
                    data-target="#myModal_two" (click)="initiateVehicleValuation()" id="model_ok">{{labels.yes}}</button>
                <button type="button" (click)="closeModal()" class="btn btn-default table-head-bg"
                    data-dismiss="modal">{{labels.cancel}}</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal_two" role="dialog" *ngIf="isYes" [ngClass]="{ in: isModal, showModal: isModal }">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header table-head-bg">
                <button type="button" class="close" data-dismiss="modal" (click)="isModal=false"
                    style="color:white;opacity: 1;">&times;</button>
                <h4 class="modal-title"> {{labels.modalTitle1}} </h4>
            </div>
            <div class="modal-body">
                <p>{{labels.modalBody2}} {{vendorName}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default table-head-bg" (click)="okModal()"
                    data-dismiss="modal">{{labels.ok}}</button>
                <button type="button" class="btn btn-default table-head-bg" (click)="closeModal()"
                    data-dismiss="modal">{{labels.cancel}}</button>
            </div>
        </div>

    </div>
</div>




<!-- <div class="modal-backdrop fade" *ngIf="isModal" [ngClass]="{ in: isModal }"></div> -->