/* .multisteps-form__progress {
   width: 878px; height: 300px;
} */

/* .multisteps-form__panel js-active {
    width: 878px;
    height: 286.4px;
} */

/* .container {
    width: 1050px; 
    height: 276.4px;
} */

.table-head-bg {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.showModal {
  display: block;
}

.a_tag,u {
  cursor: pointer;
  text-decoration: none;
}
.no_under_line {
  text-decoration: none;
}

.cst_btm_btns {
  margin-bottom: 55px;
  padding-bottom: 10px;
}

.mar-btm-15{
  margin-bottom:15px;
}


/* tr:nth-of-type(odd) {
  background: #f2f2f2;
} */

table{
  width:100%;
}

th {
  background-color: #1d1a4b;
  color: #fff;
  font-weight: 600;
}

td,
th {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
  text-align: center
}

/* Tooltip */

[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  
  /* customizable */
  transition: all 0.40s ease;
  padding: 5px;
  color: #333;
  border-radius: 3px;
  box-shadow: 2px 2px 1px silver;  
  width:100px;  
}

[data-tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;
  
  /* customizable */
  background: #f68b34b8;
  margin-top: 10px;  
  margin-left: -110px;
  color: #fff;
  font-size:12px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}

/*Mobile View*/

@media only screen and (max-width: 760px) {
  table {
    table-layout: fixed;
    width: 100%;
  }
  td,
  tr {
      display: block;
  }
  td,
  th {
      border: 1px solid #ccc;
      text-align: left;
      text-align: center;
      /* margin: 12px; */
      line-height: 1.5;
      /* color: white; */
      padding: 2px;
      font-size: 15px;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  tr+tr {
      margin-top: 1.5em;
  }
  td {
      /* make like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      /* position: relative; */
      padding-left: 50%;
      /* background-color: #F8D9D5; */
      text-align: left;
      /* padding: 1px;*/
      border: 1px solid #929294;
  }
  td:before {
      content: attr(data-label);
      display: inline-block;
      line-height: 1.5;
      margin-left: -100%;
      margin-right: 12px;
      width: 70%;
      white-space: nowrap;
      background-color: #1d1a4b;
      color: white;
      height: 40px;
      padding: 10px;
  }
  .filter-disable {
      display: none;
  }
}
