.row.top_bar {
  border: 1px solid #ddd;
  font-weight: 100;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 0px;
  background: white;
 margin : 0 15px;

  }
  
  .form-group.mb-0 {
    margin-bottom: 3px;
  }
  
  label.col-form-label {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bolder;
    font-size: 14px;
    word-break: break-word;
  }
  
  label.col-form-label-two {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bolder;
    font-size: 14px;
    float: right;
    word-break: break-word;
  }
  
  .a_doc {
    color: white;
  }
  
  .view-button{
    width:100%;
    font-size:12px;
    padding: 8px 8px!important;
    margin-bottom: 12px;
   
  }
