.controlWidth {
    width: 100%;
  }
  
  .pagination > .active > a {
    z-index: 0;
  }
  
  /* bottom buttons css */
  
  .cst_btm_btns {
    margin-bottom: 55px;
  }
  
  .row{
    margin-left: 15px;
    margin-right: 15px;
  }
  