<div class="container-fluid">
    <table class="table">
        <thead>
            <tr class="table-head-bg">
                <th>Action<i class="fa fa-sort"></i></th>
                <th>Lead ID <i class="fa fa-sort"></i> </th>
                <th>Product<i class="fa fa-sort"></i> </th>
                <th>Loan Amount<i class="fa fa-sort"></i> </th>
                <th>Applicants<i class="fa fa-sort"></i> </th>
                <th>Created On <i class="fa fa-sort"></i> </th>
                <th>Created By <i class="fa fa-sort"></i> </th>
                <th>Priority<i class="fa fa-sort"></i> </th>
                <th>Promocode<i class="fa fa-sort"></i> </th>
                <th>Status <i class="fa fa-sort"></i> </th>
                <th>History <i class="fa fa-sort"></i> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of leadDetails | paginate: { itemsPerPage: itemsPerPage, currentPage: q }">
                <td><input type="button" class="btn-primary" value="Assign" data-toggle="modal" data-target="#assignModel" /></td>
                <td>{{item.leadId}}</td>
                <td>{{item.product}}</td>
                <td>{{item.loanAmount}}</td>
                <td>{{item.applicants}}</td>
                <td>{{item.createdOn}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.priority}}</td>
                <td>{{item.promoCode}}</td>
                <td>{{item.status}}</td>
                <td>
                    <a data-toggle="tooltip" data-placement="bottom" title="Click to View Timeline Chart"> <i class="fa fa-history"></i></a>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="row clearfix m-0">
        <div class="records col-xs-3 col-sm-4">

            <div class="col-lg-2"><label>No. of Rows </label>
                <select class="form-control  input-sm" [(ngModel)]="itemsPerPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    </select>
            </div>

        </div>
        <nav class="col-xs-9 col-sm-4 text-center">
            <pagination-controls class="pagination" previousLabel="" nextLabel="" (pageChange)="q = $event"></pagination-controls>
        </nav>
    </div>

</div>