/* Top-heading Space */

h3.margin_zero {
    margin-top: 0px;
}

h3.dedupe_head {
    margin-top: 0px;
}


/* footer */

.ok_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}


/*  style for modal popup*/

.text-center {
    text-align: center;
}

.box_shadow {
    box-shadow: 0px 8px 6px -9px black;
}

.img-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal_title {
    font-size: 25px;
    font-family: fantasy;
    text-align: center;
    color: #1d1a4b;
}

.modal_content {
    font-size: 18px;
    font-family: fantasy;
    text-align: center;
    color: #94999b;
}

.modal-body {
    text-align: center;
}

.modal-body.modal_coapp {
    text-align: left!important;
}


/* Lead dedupe*/

.dedupe_head {
    font-size: 14px;
    /* padding: 20px; */
    font-weight: bold;
}

#reject_reason {
    border: 1px solid #0006ff00;
    width: 150px;
    border-radius: 1.5em;
    margin: auto;
    background-color: #f58733;
    color: white;
    margin-bottom: 12px;
}

#proceed_reason {
    border: 1px solid #0006ff00;
    width: 150px;
    border-radius: 1.5em;
    margin: auto;
    background-color: #f58733;
    color: white;
    margin-bottom: 12px;
}

.reject_reason {
    color: #f58733;
    font-weight: bolder;
}

.approve_reason {
    color: #1d1a4b;
    font-weight: bolder;
}

.pending_reason {
    color: #1d1a4b;
    font-weight: bolder;
}

.content {
    background: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

label.col-form-label {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bolder;
    font-size: 14px;
}

.col-md-6.col-lg-6.col-sm-12.p-0 {
    padding: 0px !important;
}


/* styles for info box */

label.col-form-label-two {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bolder;
    font-size: 14px;
    float: right;
}

.col-lg-12.col-md-12.col-sm-12.lead_top {
    padding: 0px;
}

.p-0 {
    padding: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.form-group.col-sm-6.col-md-2.col-lg-2.mobile_otp {
    width: 20%;
}

select#select_main_button_leadco {
    background-color: #6c757d;
    padding: 6px;
    color: white;
    margin-bottom: 1%;
}


/* applicant form */

.back_color {
    color: #fff;
}

.dropdownDisable{
    pointer-events: none;
    opacity: 0.4;
}
.star_red_col
{
    color: #da3939;
    font-size: 25px;
    margin-left: 4px;
   
}
.star_blue_col
{
    color:#0000FF;
    font-size: 25px;
    margin-left: 4px;
}

label{
    font-size: 14px !important;
}

.dis-block {
    display: block;
}

.input-group-btn-mob {
    border: 1px solid #ccc !important;
    margin-right: -1% !important;
    border-radius: 4px !important;
    background-color: #ccc !important;
    padding: 6px !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.test {
    position: relative !important;
    -ms-flex: 1 1 0% !important;
    flex: 1 1 0% !important;
}
  
.disabled {
    pointer-events: none;
    opacity: 0.6;
}
.calc-icon {
    background: url(~/assets/images/calc-icon.png) no-repeat;
    width: 20px;
    height: 34px;
    background-size: 100%;
    border: none;
    position: absolute;
    right: -8px;
    top: 4px;
}
.position-relative {
    position: relative;
}
#disbursement-memo .title {
	background: #272264;
	padding: 8px 15px;
	font-size: 16px;
	color: #fff;
}
#disbursement-memo .form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}
#disbursement-memo .form-horizontal .form-group  label { 
    font-weight: 600;
    font-size: 13px !important;
    font-family: "Open sans", Helvetica, Arial, sans-serif !important;
}
#disbursement-memo .col-lg-3 {
    width: 25%;
}
.label-space {
    margin-bottom: 15px;
}
.button-section {
    margin-bottom: 100px;
}
.custom-negotiation-field {
    padding: 0;
    border: none;
    box-shadow: none;
}
.note-field {
    color: red;
    font-weight: 600;
}
::ng-deep .invalid-feedback {
    padding-top: 0;
}


@media (min-width: 768px) {
	#disbursement-memo .form-horizontal .control-label {
		text-align: left;
		padding-left: 20px;
	}
}


@media screen and  (max-width: 767px) {
    #disbursement-memo .col-lg-3 {
        width: 100%;
    }
}
