<main>
  <div class="container-fluid content">
    <div class="text-center">
      <button class="btn btn-primary view-button" type="button" id="" tabindex="7" *ngIf="!showDeliveryOrder"
        (click)="viweWelcomeLetter()">View Deliver Order</button>&nbsp;
      <button class="btn btn-primary view-button" type="button" id="" tabindex="7" *ngIf="!showDeliveryOrder"
        routerLink="../welomce-letter">Back</button>&nbsp;      
    </div>

    <div *ngIf="showDeliveryOrder">
      <div id="ContentToConvert">
      
        <!-- <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="text-align: right;" id="vf_sheet_tag8">
          <img class="img-style" src="assets\images\equitas-logo.png">
          </div>
      </div> -->
      <div class="text-right style-strong">
        Date : {{toDayDate | date: 'dd/MM/yyyy'}}
      </div>
        <table>

          <tbody>
            <tr>
              <td  width="70%" class="style-strong">{{dealerDetails?.dealerName}}</td>
              <!-- <td  width="30%" class="style-strong text-right">Date : {{toDayDate | date: 'dd/MM/yyyy'}}</td> -->

            </tr>
            <tr>
              <td >{{dealerDetails?.address}}<br>
                {{dealerDetails?.city}} <br>
                {{dealerDetails?.state}}-{{pincode}}
              </td>

            </tr>

          </tbody>
        </table>
        
        <p><span class="style-strong">Sub :</span> 
          
          <span *ngFor="let vehicleData of vehicleDetails; let i= index;">
            Delivery Order - {{vehicleData?.sno}} No. 
            <span class="style-strong">{{vehicleData?.type}} {{vehicleData?.model}} </span>      
            - Customer Name : <span class="style-strong">{{applicantDetails?.name}}</span>
          </span>
         
           <!-- <span class="style-strong">ASHOK LEYLAND AL  DOST</span> - Customer Name : <span class="style-strong">#customer_name</span> -->
          
          </p>
        <p><span class="style-strong">Dear Sir,</span><br>
          We hereby request you to deliver the following vehicle as per your Proforma Invoice.</p>

        <table>
          <tbody>
            <tr>
              <td>Vehicle Details</td>
              <td>:</td>
              <td *ngFor="let vehicleData of vehicleDetails; let i= index;">
                {{vehicleData?.sno}}No. <span class="style-strong"> {{vehicleData?.type}} {{vehicleData?.model}}</span></td>
            </tr>
          </tbody>
        </table>

        <p>to<span class="style-strong"> Mr./Mrs./Messrs. {{applicantDetails?.name}}</span> based on his request for finance with
          us.
          In this regard, an amount of <span class="style-strong">Rs. {{loanAmount}}({{loanAmountText}})</span> would be paid by us to you within 4 working days from
          the date of this letter and validity of the delivery order is for 15 working days from issuance date. Kindly
          arrange to have the invoice raised in
          the following manner:</p>

        <table id="sold_tab">
          <tbody>
            <tr>
              <td>Sold to :</td>             
              <td class="style-strong">{{applicantDetails?.name}}</td>
            </tr>

            <tr>
              <td></td>
              <td class="style-strong">{{applicantDetails?.addressLine1}}</td>
            </tr>

            <tr>
              <td></td>
              <td class="style-strong">{{applicantDetails?.addressLine2}}</td>
            </tr>

            <tr>
              <td></td>
              <td class="style-strong">{{applicantDetails?.addressLine3}}</td>
              <td>
              </td>
            </tr>

            <tr>
              <td></td>
              <td class="style-strong">{{applicantDetails?.city}}-{{applicantDetails?.pincode}}</td>
            </tr>

            <tr>
              <td></td>
              <td class="style-strong">{{applicantDetails?.mobileNo}}</td>
            </tr>

            <tr>
              <td>Hypothecated to:</td>
              <td class="style-strong">M/s. Equitas Small Finance Bank Ltd,</td>
            </tr>

            <tr>
              <td></td>
              <td>F-39 Spencer Plaza,No. 769, 4th Floor,
                Phase II, Anna Salai, </td>
            </tr>

            <tr>

              <td></td>
              <td>Chennai - 600 002</td>
            </tr>




          </tbody>
        </table>

        <p>We request you to collect the amount being the difference between the invoice price and amount as mentioned
          above from the
          customer/borrower before delivery of the vehicle and provide the stamped receipt to us. Please note that you
          are alone
          responsible for collecting the differential amount from the customer/borrower. In case, we incur any loss on
          account of your
          failure to collect the amount from the customer before the delivery of the vehicle, you will be liable to make
          good our loss.</p>

        <p>You are not entitled to adjust the amount released by us and the amount received by you from the borrower to
          any other account
          for any reason whatsoever. It is made clear that the above amounts shall be utilized by you, towards the above
          transaction only.
          Should there be any refund or cancellation of the transaction, amount paid by us along with any amount paid to
          you by the above
          borrower, shall be refunded only to us.</p>

        <p>In accordance with the Motor Vehicles act and the rules framed thereunder, a duty is cast upon you to
          register a vehicle before its
          delivery to the buyer. Therefore, please ensure to carry out permanent registration of the above vehicle sold
          by you before
          effecting delivery to the customer/borrower. In case you chose to effect delivery without/before registration,
          the risk,
          responsibility and consequences thereof shall lie with you and we shall stand absolved of any liabilities
          arising therefrom.</p>

        <p>Please note that the release order is provided only for the vehicle described in your proforma invoice as
          detailed above. In case
          of any change in the vehicle model / description, you shall seek fresh release order for the new vehicle
          model/description and
          this release letter would stand cancelled.</p>

        <p>Kindly acknowledge and send us your official receipt for the amount paid and the original invoice and
          Insurance duly endorsed
          in our favour.</p>

        <p>Thanking you,</p>
        <p class="style-strong">Yours faithfully,</p>
        <p class="style-strong">For EQUITAS SMALL FINANCE BANK LTD.</p>
        <p class="author_style">Authorised Signatory.</p>
        <p class="style-strong font-small"><i>*** This is computer generated Delivery Order no signature required.</i>
        </p>
        <p class="font-small text-center "><strong>HeadOffice :</strong> F-39, Spencer Plaza, No-769, 4th Floor,
          Phase-II, Anna Salai, Chennai - 600 002.<br>
          Ph: 044-42995000 Customer Care Toll Free No: 1800 3000 5060 CIN NO: U65191TN1993PLC025280</p>

      </div>
      <div class="text-right">
        <button class="btn btn-primary view-button text-center" type="button" id="" tabindex="7"
            (click)="downloadpdf()">DownLoad</button>&nbsp;
        <button class="btn btn-primary view-button" 
            type="button" id="" tabindex="8" *ngIf="showDeliveryOrder"
            routerLink="../welomce-letter">Back</button>&nbsp;
           <br> 
        </div>
    </div>
  </div>
</main>