<div class="container overflow-hidden">
        <!--basic table starts here-->

        <table class="cam_table">
            <caption class="caption">{{labels?.basicDetailsTitle}}</caption>

            <tr>
                <td>{{labels?.leadCreatedBy}}</td>
                <td>Dhanapal</td>
                <td>{{labels?.leadCreatedDate}}</td>
                <td>12-02-2020</td>
                <td>{{labels?.product}}</td>
                <td>New Car</td>
            </tr>
            <tr>
                <td>{{labels?.loanAmount}}</td>
                <td>1500000</td>
                <td>{{labels?.applicant}}</td>
                <td>Deepika Malhotra</td>
                <td>{{labels?.mobileNumber}}</td>
                <td>7894561230</td>
            </tr>
            <tr>
                <td>{{labels?.proposalType}}</td>
                <td></td>
                <td>{{labels?.customerType}}</td>
                <td></td>
                <td>{{labels?.applicantType}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{labels?.entityType}}</td>
                <td colspan="5"></td>
            </tr>
        </table>
        <!--basic table ends here-->

        <!---sourcing table starts here-->
        <table class="cam_table mt-3">
            <caption class="caption">{{labels?.sourceDetailsTitle}}</caption>

            <tr>
                <td>{{labels?.appno}}</td>
                <td></td>
                <td>{{labels?.camDate}}</td>
                <td></td>
                <td>{{labels?.existingExposure}}</td>
                <td>₹ 0.00
                </td>
            </tr>
            <tr>

                <td>{{labels?.areaName}}</td>
                <td></td>
                <td>{{labels?.branchName}}</td>
                <td></td>
                <td>{{labels?.proposedExposure}}</td>
                <td>₹ 0.00
                </td>

            </tr>
            <tr>
                <td>{{labels?.sourcingChennal}}</td>
                <td></td>
                <td>{{labels?.sourcingSoName}}</td>
                <td></td>
                <td>{{labels?.overallExposure}}</td>
                <td>₹ 0.00
                </td>


            </tr>

            <tr>
                <td>{{labels?.payout}}</td>
                <td></td>
                <td>{{labels?.distancefrombranch}}</td>
                <td></td>
                <td>{{labels?.creditApproval}}</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>{{labels?.customerCategory}}</td>
                <td></td>
                <td>{{labels?.loanamount}}</td>
                <td></td>
                <td>{{labels?.rateApproval}}</td>
                <td>


            </tr>
            <tr>
                <td>{{labels?.branchED}}</td>
                <td></td>
                <td>{{labels?.soed}}</td>
                <td></td>
                <td>{{labels?.propertyOwnership}}</td>
                <td>
                </td>


            </tr>
            <tr>
                <td>{{labels?.vfScore}}</td>
                <td></td>
                <td>{{labels?.fiStatus}}</td>
                <td></td>



                <td>{{labels?.proofCollected}}</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>{{labels?.pdstatus}}</td>
                <td colspan="5">
                </td>
            </tr>
        </table>
        <!--sourcing table ends here--->

        <!---proposed Vechicle Details-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.proposedVehicleDetailsTitle}}</caption>
            <thead>
                <tr class="">
                    <th>{{labels?.sr}}</th>
                    <th>{{labels?.assetDiscription}}</th>
                    <th>{{labels?.model}}</th>
                    <th>{{labels?.netAssetCost}}</th>
                    <th>{{labels?.loanAmount}}</th>
                    <th>{{labels?.ltv}}</th>
                    <th>{{labels?.irr}}</th>
                    <th>{{labels?.tenureMonth}}</th>
                    <th>{{labels?.pf}}</th>
                    <th>{{labels?.otherRemarks}}</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="readonly">{{labels?.total}}</td>
                    <td class="readonly">0</td>
                    <td class="readonly">0</td>
                    <td class="" colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="2">{{labels?.sourceOfMarginMoney}}</td>
                    <td colspan="9"></td>
                </tr>
                <tr>
                    <td colspan="2">{{labels?.AnyOtherRemarks}}</td>
                    <td colspan="9"></td>
                </tr>
            </tbody>
        </table>
        <!---proposed Vechicle Details-->

        <!---party agreement details-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.partyToAgreementTitle}}</caption>
            <thead>
                <tr class="">
                    <th>{{labels?.entity}}</th>
                    <th>{{labels?.name}}</th>
                    <th>{{labels?.entity}}</th>
                    <th>{{labels?.relationShip}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bank_name">{{labels?.applicant}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>

                    <td class="bank_name">{{labels?.coApp1}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>



                </tr>
                <tr>
                    <td class="bank_name">{{labels?.coApplicant2}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td class="bank_name">{{labels?.coApplicant3}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{labels?.anyOtherRemarks}}</td>
                    <td colspan="6" class=""></td>
                </tr>
            </tbody>
        </table>
        <!---party agreement details-->

        <!---cibil synopsis--->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.cibilSynopsysTitle}}</caption>
            <thead>
                <tr class="">

                    <th>{{labels?.entity}}</th>
                    <th>{{labels?.cibilScore}}</th>
                    <th>{{labels?.odIndividual}}</th>
                    <th>{{labels?.odInJointAc}}</th>
                    <th>{{labels?.odAsGuarantor}}</th>
                    <th>{{labels?.totalOd}}</th>
                    <th>{{labels?.clearanceProof}}</th>
                    <th>{{labels?.remarks}}</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bank_name">{{labels?.applicant}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>

                    <td class="bank_name">{{labels?.coApp1}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
                <tr>
                    <td class="bank_name">{{labels?.coApplicant2}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>

                    <td class="bank_name">{{labels?.coApplicant3}}</td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>

                <tr>
                    <td colspan="1">{{labels?.anyOtherRemarks}}</td>
                    <td colspan="7" class=""></td>
                </tr>
            </tbody>
        </table>
        <!--cibil synopsis-->

        <!--banking synopsis-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.bankingSummaryTitle}}</caption>

            <tbody>
                <tr>
                    <td class="bank_name">{{labels?.bankName}}</td>
                    <td colspan="2"></td>
                    <td class="bank_name">
                        {{labels?.applicantType}}
                    </td>
                    <td></td>
                    <td></td>
                    <td class="bank_name">{{labels?.limitIfAny}}</td>
                    <td width="50"></td>
                    <td></td>
                </tr>
                <tr class="bank_name">
                    <td>{{labels?.from}}</td>
                    <td></td>
                    <td>
                        {{labels?.averageCredit}}
                    </td>
                    <td>{{labels?.averageDebit}}</td>
                    <td colspan="2">{{labels?.averageAccountBalance}}</td>
                    <td colspan="2">{{labels?.noOfInwardBounce}}</td>
                    <td>{{labels?.noOfOutwardBounce}}</td>

                </tr>
                <tr>
                    <td class="bank_name">{{labels?.to}}</td>
                    <td colspan="1" width="50"></td>
                    <td colspan="7">

                    </td>

                </tr>
                <tr>
                    <td class="bank_name">{{labels?.noOfMonth}}</td>
                    <td colspan="1"></td>
                    <td colspan="7">

                    </td>

                </tr>
            </tbody>
        </table>
        <!--banking synopsis-->

        <!---fleet summary-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.fleetSummaryTitle}}</caption>
            <tbody>
                <tr>
                    <td class="bank_name">{{labels?.existingFinancers}}</td>
                    <td colspan="4">{{labels?.hdfcIciciCholaIndusind}}</td>
                    <td class="bank_name">{{labels?.firstVeh}}
                    </td>
                    <td colspan="2">{{labels?.tataLpk2518}}</td>
                    <td class="bank_name">{{labels?.purchasedOn}}</td>
                    <td class="">12-05-2016</td>
                </tr>
                <tr class="bank_name">
                    <td rowspan="2">{{labels?.entity}}</td>
                    <td colspan="5">{{labels?.noOfVehOwned}}</td>
                    <td colspan="3">{{labels?.expansionAndFfr}}</td>
                    <td>{{labels?.remarks}}</td>
                </tr>
                <tr>
                    <td>{{labels?.hcv}}</td>
                    <td>{{labels?.lcv}}</td>
                    <td>{{labels?.scv}}</td>
                    <td>{{labels?.others}}</td>
                    <td>{{labels?.total}}</td>
                    <td>{{labels?.addedInLastOneYr}}</td>
                    <td>{{labels?.freeAsset}}</td>
                    <td>{{labels?.ffr}}</td>

                    <td rowspan="5"></td>
                </tr>

                <tr>
                    <td class="bank_name">{{labels?.applicant}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bank_name">{{labels?.coApp1}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bank_name">{{labels?.coApplicant2}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bank_name">{{labels?.coApplicant3}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{labels?.anyOtherRemarks}} </td>
                    <td colspan="9">{{labels?.appIsInTransportFieldFromLastManyYears}}</td>
                </tr>
            </tbody>
        </table>
        <!--fleet summary--->

        <!--track validation summary-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.trackValidationSummaryTitle}}</caption>
            <thead>
                <tr class="">
                    <th>
                        {{labels?.trackValidated}}
                    </th>
                    <th>
                        5
                    </th>
                    <th>
                        {{labels?.financier}}
                    </th>
                    <th>
                        {{labels?.asset}}
                    </th>
                    <th>
                        {{labels?.vehRegNo}}
                    </th>
                    <th>
                        {{labels?.seasoning}}
                    </th>
                    <th colspan="2">
                        {{labels?.overAll}}
                    </th>
                    <th colspan="2">
                        {{labels?.lastSixMonth}}
                    </th>
                    <th colspan="2">
                        {{labels?.lastTwelveMonth}}
                    </th>
                </tr>
                <tr>
                    <td colspan="6">
                    </td>
                    <td>
                        {{labels?.ad}}
                    </td>
                    <td>
                        {{labels?.pd}}
                    </td>
                    <td>
                        {{labels?.ad}}
                    </td>
                    <td>
                        {{labels?.pd}}
                    </td>
                    <td>
                        {{labels?.ad}}
                    </td>
                    <td>
                        {{labels?.pd}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bank_name">
                        {{labels?.applicant}}
                    </td>
                    <td>
                        {{labels?.track1}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="bank_name">
                        {{labels?.applicant}}
                    </td>
                    <td>
                        {{labels?.track2}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="bank_name">
                        {{labels?.applicant}}
                    </td>
                    <td>
                        {{labels?.track3}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="bank_name">
                        {{labels?.applicant}}
                    </td>
                    <td>
                        {{labels?.track4}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="bank_name">
                        {{labels?.applicant}}
                    </td>
                    <td>
                        {{labels?.track5}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="bank_name">
                        {{labels?.applicant}}
                    </td>
                    <td>
                        {{labels?.track6}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        {{labels?.anyOtherRemarks}}
                    </td>
                    <td colspan="11">
                        {{labels?.appIsInTransportFieldFromLastManyYears}}
                    </td>
                </tr>
            </tbody>
        </table>
        <!--track validation summary-->
        <!---other deviation-->

        <!--key financial-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.keyFinancialTitle}}</caption>
            <tbody>
                <tr>
                    <td class="bank_name">{{labels?.fy}}</td>
                    <td>{{labels?.eighteenToNineteen}}</td>
                    <td>{{labels?.seventeenToEightteen}}</td>
                    <td>{{labels?.sixteenToSeventeen}}</td>
                    <td>{{labels?.anyOtherRemarks}}</td>

                </tr>
                <tr>
                    <td class="bank_name">{{labels?.turnOver}}</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="4"></td>
                </tr>

                <tr>
                    <td class="bank_name">{{labels?.freightPaid}}</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td class="bank_name">{{labels?.depriciation}}</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td class="bank_name">{{labels?.netProfitPbt}}</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td class="bank_name">{{labels?.cashGenerationPbtDep}}</td>
                    <td>₹ 0.00</td>
                    <td>₹ 0.00</td>
                    <td>₹ 0.00</td>
                    <td></td>
                </tr>

            </tbody>
        </table>
        <!--key financial-->
        <!--credity officer remarks-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.creditOfficersRemarks}}</caption>
            <tbody>
                <tr>
                    <td colspan="6" height="80"></td>
                </tr>
                <tr>
                    <td width="100">{{labels?.name}}</td>
                    <td width="500"></td>
                    <td width="100">{{labels?.eCode}}</td>
                    <td width="200"></td>
                    <td width="100">{{labels?.date}}</td>
                    <td width="200"></td>
                </tr>

            </tbody>
        </table>
        <!--credity officer remarks-->
        <!--recommondation-->
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.cmRecommendation}}</caption>
            <tbody>
                <tr>
                    <td colspan="6" height="80"></td>
                </tr>
                <tr>
                    <td width="100">{{labels?.name}}</td>
                    <td width="500"></td>
                    <td width="100">{{labels?.eCode}}</td>
                    <td width="200"></td>
                    <td width="100">{{labels?.date}}</td>
                    <td width="200"></td>
                </tr>

            </tbody>
        </table>
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.acmRecommendationApproval}}</caption>
            <tbody>
                <tr>
                    <td colspan="6" height="80"></td>
                </tr>
                <tr>
                    <td width="100">{{labels?.name}}</td>
                    <td width="500"></td>
                    <td width="100">{{labels?.eCode}}</td>
                    <td width="200"></td>
                    <td width="100">{{labels?.date}}</td>
                    <td width="200"></td>
                </tr>

            </tbody>
        </table>
        <table class="cam_table_proposed mt-3">
            <caption class="caption">{{labels?.ncmBhApprovalRecommendation}}</caption>
            <tbody>
                <tr>
                    <td colspan="6" height="80"></td>
                </tr>
                <tr>
                    <td width="100">{{labels?.name}}</td>
                    <td width="500"></td>
                    <td width="100">{{labels?.eCode}}</td>
                    <td width="200"></td>
                    <td width="100">{{labels?.date}}</td>
                    <td width="200"></td>
                </tr>

            </tbody>
        </table>

</div>


<div class="for_space"></div>

<div class="btn-sec clear-both row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7 text-right">
        <button class="btn btn-primary dash_href" type="button" routerLink="../score-card">Back</button>
        <!-- <button class="btn btn-primary" type="button"> Save </button> -->
        <button class="btn btn-primary dash_href" type="button" routerLink="../deviations">Next</button>
    </div>
</div>