<div class="container overflow-hidden" [formGroup]="camDetailsForm" *ngIf="usedCvCam">
    <!--basic table starts here-->

    <table class="cam_table" >
        <caption class="caption">
            {{
        labels?.basicDetailsTitle
      }}
        </caption>

        <tr *ngIf="!usedCvCam">
            <td>{{ labels?.leadCreatedBy }}</td>
            <td>{{ basicDetails?.leadCreatedBy }}</td>
            <td>{{ labels?.leadCreatedDate }}</td>
            <td>{{ basicDetails?.leadCreatedDate }}</td>
            <td>{{ labels?.product }}</td>
            <td>{{ basicDetails?.product }}</td>
        </tr>
        <tr *ngIf="!usedCvCam">
            <td>{{ labels?.loanAmount }}</td>
            <td>{{ basicDetails?.loanAmount }}</td>
            <td>{{ labels?.applicant }}</td>
            <td>{{ basicDetails?.applicant }}</td>
            <td>{{ labels?.mobileNumber }}</td>
            <td>{{ basicDetails?.mobileNumber }}</td>
        </tr>
        <tr>
            <td>{{ labels?.proposalType }}</td>
            <td>{{ basicDetails?.proposalType }}</td>
            <td>{{ labels?.customerType }}</td>
            <td>{{ basicDetails?.customerType }}</td>
            <td>{{ labels?.applicantType }}</td>
            <td>{{ basicDetails?.applicantType }}</td>
            <td>{{ labels?.entityType }}</td>
            <td>{{ basicDetails?.entityType }}</td>
        </tr>
        <!-- <tr>
            <td>{{ labels?.entityType }}</td>
            <td colspan="5">{{ basicDetails?.entityType }}</td>
        </tr> -->
    </table>
    <!--basic table ends here-->

    <!---sourcing table starts here-->
    <table class="cam_table mt-3" >
        <caption class="caption">
            {{
        labels?.sourceDetailsTitle
      }}
        </caption>

        <tr>
            <td>{{ labels?.appno }}</td>
            <td>{{ sourcingDetails?.appNo }}</td>
            <td>{{ labels?.camDate }}</td>
            <td>{{ sourcingDetails?.camDate }}</td>
            <td>{{ labels?.existingExposure }}</td>
            <td colspan="2">{{ sourcingDetails?.existingExposure }}</td>
        </tr>
        <tr>
            <td>{{ labels?.areaName }}</td>
            <td>{{ sourcingDetails?.areaName }}</td>
            <td>{{ labels?.branchName }}</td>
            <td>{{ sourcingDetails?.branchName }}</td>
            <td>{{ labels?.proposedExposure }}</td>
            <td colspan="2">{{ sourcingDetails?.proposedExposure }}</td>
        </tr>
        <tr>
            <td>{{ labels?.sourcingChennal }}</td>
            <td>{{ sourcingDetails?.sourcingChannel }}</td>
            <td>{{ labels?.sourcingSoName }}</td>
            <td>{{ sourcingDetails?.sourcingSoName }}</td>
            <td>{{ labels?.overallExposure }}</td>
            <td colspan="2">{{ sourcingDetails?.overallExposure }}</td>
        </tr>

        <tr>
            <td>{{ labels?.payout }}</td>
            <td>{{ sourcingDetails?.payout }}</td>
            <td>{{ labels?.distancefrombranch }}</td>
            <td>{{ sourcingDetails?.distanceFromBranch }}</td>
            <td>{{ labels?.creditApproval }}</td>
            <td colspan="2">{{ sourcingDetails?.creditApproval }}</td>
        </tr>
        <tr>
            <td>{{ labels?.customerCategory }}</td>
            <td>{{ sourcingDetails?.customerCategory }}</td>
            <td>{{ labels?.loanamount }}</td>
            <td>{{ sourcingDetails?.loanAmount }}</td>
            <td>{{ labels?.rateApproval }}</td>
            <td colspan="2">{{ sourcingDetails?.rateApproval }}</td>
        </tr>
        <tr>
            <td>{{ labels?.branchED }}</td>
            <td>{{ sourcingDetails?.branchEd }}</td>
            <td>{{ labels?.soEd}}</td>
            <td>{{sourcingDetails?.soEd}}</td>
            <td>{{ labels?.propertyOwnership }}</td>
            <td>{{ sourcingDetails?.propertyOwnership }}</td>
            <td>{{ sourcingDetails?.propertyType }}</td>
        </tr>
        <tr>
            <td>{{ labels?.vfScore }}</td>
            <td>{{ sourcingDetails?.VFScore }}</td>
            <td>{{ labels?.fiStatus }}</td>
            <td>{{ sourcingDetails?.FIStatus }}</td>
            <td>{{ labels?.proofCollected }}</td>
            <td>{{ sourcingDetails?.proofCollected }}</td>
            <td>{{ sourcingDetails?.proofType }}</td>
        </tr>
        <tr>
            <td>{{ labels?.pdstatus }}</td>
            <td colspan="6">{{ sourcingDetails?.PDStatus }}</td>
        </tr>
    </table>
    <!--sourcing table ends here--->

    <!---proposed Vechicle Details-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.proposedVehicleDetailsTitle
      }}
        </caption>
        <thead>
            <tr class="">
                <th>{{ labels?.sr }}</th>
                <th>{{ labels?.assetDiscription }}</th>
                <th>{{ labels?.model }}</th>
                <th>{{ labels?.netAssetCost }}</th>
                <th>{{ labels?.loanAmount }}</th>
                <th>{{ labels?.ltv }}</th>
                <th>{{ labels?.irr }}</th>
                <th>{{ labels?.tenureMonth }}</th>
                <th>{{ labels?.pf }}</th>
                <th>{{ labels?.otherRemarks }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proposedDetails of proposedVehicleDetails; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ proposedDetails?.assetDescription }}</td>
                <td>{{ proposedDetails?.model }}</td>
                <td>{{ proposedDetails?.netAssetCost }}</td>
                <td>{{ proposedDetails?.loanAmount }}</td>
                <td>{{ proposedDetails?.ltv }}</td>
                <td>{{ proposedDetails?.irr }}</td>
                <td>{{ proposedDetails?.tenureMonth }}</td>
                <td>{{ proposedDetails?.pf }}</td>
                <td>{{ proposedDetails?.otherRemarks }}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="readonly">{{ labels?.total }}</td>
                <!-- <td *ngFor="let proposedDetails of proposedVehicleDetails" class="readonly">{{proposedDetails?.total}}</td> -->
                <td class="" colspan="">{{camDetails?.proposedToTotalNetAssetCost}}</td>
                <td class="" colspan="">{{camDetails?.proposedToTotalLoanAmount}}</td>
                <td class="" colspan="">{{camDetails?.proposedToTotalLTV}}</td>


            </tr>
            <tr>
                <td colspan="2">{{ labels?.sourceOfMarginMoney }}</td>
                <td colspan="9">{{ camDetails?.proposedToSourceOfMarginMoney }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ labels?.anyOtherRemarks }}</td>
                <td colspan="9"><textarea class="form-control form-control-sm" placeholder="Text Area"
                        formControlName="proposedVehicleRemarks"></textarea>
                    <div *ngIf="camDetailsForm.get('proposedVehicleRemarks').invalid && (camDetailsForm.get('proposedVehicleRemarks').dirty || camDetailsForm.get('proposedVehicleRemarks').touched)"
                        class="invalid-feedback">
                        <div *ngIf="camDetailsForm.get('proposedVehicleRemarks').errors.required">
                            proposedVehicleRemarks is required.
                        </div>
                        <div *ngIf="camDetailsForm.get('proposedVehicleRemarks').errors.maxlength">
                            proposedVehicleRemarks cannot be more than 200 characters long.
                        </div>
                        <div *ngIf="camDetailsForm.get('proposedVehicleRemarks').errors.pattern">
                            Invalid Message / Special Characters not allowed

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!---proposed Vechicle Details-->

    <!---party agreement details-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.partyToAgreementTitle
      }}
        </caption>
        <thead>
            <tr class="">
                <th>{{ labels?.applicantType }}</th>
                <th>{{ labels?.name }}</th>
                <th>{{ labels?.entity }}</th>
                <th>{{ labels?.age }}</th>
                <th>{{ labels?.relationShip }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let partyToAgreement of partyToAgreement">
                <td class="bank_name">{{ partyToAgreement?.applicantType }}</td>
                <td>{{ partyToAgreement?.name }}</td>
                <td>{{ partyToAgreement?.entity }}</td>
                <td>{{ partyToAgreement?.age}}</td>
                <td>{{ partyToAgreement?.relationship }}</td>
            </tr>
            <!-- <tr>
                <td>{{ labels?.anyOtherRemarks }}</td>
                <td colspan="6" class="">{{ partyToAnyOtherRemarks }}</td>
            </tr> -->
        </tbody>
    </table>
    <!---party agreement details-->

    <!---cibil synopsis--->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.cibilSynopsysTitle
      }}
        </caption>
        <thead>
            <tr class="">
                <th>{{ labels?.entity }}</th>
                <th>{{ labels?.cibilScore }}</th>
                <th>{{ labels?.odIndividual }}</th>
                <th>{{ labels?.odInJointAc }}</th>
                <th>{{ labels?.odAsGuarantor }}</th>
                <th>{{ labels?.totalOd }}</th>
                <th>{{ labels?.clearanceProof }}</th>
                <th>{{ labels?.remark }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cibleSynopsis of cibilSynopsys">
                <td class="bank_name">{{ cibleSynopsis?.entity }}</td>
                <td>{{ cibleSynopsis?.cibilScore }}</td>
                <td>{{ cibleSynopsis?.odIndividual }}</td>
                <td>{{ cibleSynopsis?.odInJointAc }}</td>
                <td>{{ cibleSynopsis?.odAsGuarantor }}</td>
                <td>{{ cibleSynopsis?.totalOd }}</td>
                <td>{{ cibleSynopsis?.clearanceProof }}</td>
                <td>{{ cibleSynopsis?.remarks }}</td>
            </tr>

            <tr>
                <td colspan="1">{{ labels?.anyOtherRemarks }}</td>
                <td colspan="7" class=""><textarea class="form-control form-control-sm" placeholder="Text Area"
                        formControlName="cibilSynopsisRemarks"></textarea>
                    <div *ngIf="camDetailsForm.get('cibilSynopsisRemarks').invalid && (camDetailsForm.get('cibilSynopsisRemarks').dirty || camDetailsForm.get('cibilSynopsisRemarks').touched)"
                        class="invalid-feedback">
                        <div *ngIf="camDetailsForm.get('cibilSynopsisRemarks').errors.required">
                            cibilSynopsisRemarks is required.
                        </div>
                        <div *ngIf="camDetailsForm.get('cibilSynopsisRemarks').errors.maxlength">
                            cibilSynopsisRemarks cannot be more than 200 characters long.
                        </div>
                        <div *ngIf="camDetailsForm.get('cibilSynopsisRemarks').errors.pattern">
                            Invalid Message / Special Characters not allowed

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--cibil synopsis-->

    <!--banking synopsis-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.bankingSummaryTitle
      }}
        </caption>

        <tbody *ngFor="let bankingSummary of bankingSummary">
            <tr>
                <td class="bank_name">{{ labels?.bankName }}</td>
                <td>{{ bankingSummary?.bankName }}</td>
                <td class="bank_name">
                    {{ labels?.accountType }}
                </td>
                <td>{{ bankingSummary?.accountType }}</td>

                <td class="bank_name">{{ labels?.limitIfAny }}</td>
                <td>{{ bankingSummary?.limitIfAny }}</td>

            </tr>
            <tr>
                <td class="bank_name">{{ labels?.from }}</td>
                <td>{{ bankingSummary?.from }}</td>
                <td class="bank_name">
                    {{ labels?.averageCredit }}
                </td>
                <td>{{ bankingSummary?.averageCredit }}</td>
                <td class="bank_name">{{ labels?.averageDebit }}</td>
                <td>{{ bankingSummary?.averageDebit }}</td>

            </tr>
            <tr>
                <td class="bank_name">{{ labels?.averageAccountBalance }}</td>
                <td>{{ bankingSummary?.averageAccountBalance }}</td>
                <td class="bank_name">{{ labels?.noOfInwardBounce }}</td>
                <td>{{ bankingSummary?.noOfInwardBounce }}</td>
                <td class="bank_name">{{ labels?.noOfOutwardBounce }}</td>
                <td>{{ bankingSummary?.noOfOutwardBounce }}</td>

                <!-- <td colspan="1" width="50"></td>
                <td colspan="7"></td> -->
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.to }}</td>
                <td>{{ bankingSummary?.to }}</td>
                <td class="bank_name">{{ labels?.noOfMonth }}</td>
                <td>{{ bankingSummary?.noOfMonth }}</td>
                <td colspan="2"></td>
                <!-- <td colspan="1"></td>
                <td colspan="7"></td> -->
            </tr>
        </tbody>
    </table>
    <!--banking synopsis-->

    <!---fleet summary-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.fleetSummaryTitle
      }}
        </caption>
        <tbody>
            <tr>
                <td class="bank_name">{{ labels?.existingFinancers }}</td>
                <td colspan="4">{{ camDetails?.fleetSummaryToexistingFinancers }}</td>
                <td class="bank_name">{{ labels?.firstVeh }}</td>
                <td colspan="2">{{ camDetails?.fleetSummaryTofirstVehicle }}</td>
                <td class="bank_name">{{ labels?.purchasedOn }}</td>
                <td>{{ camDetails?.fleetSummaryTopurchasedOn }}</td>
            </tr>
            <tr class="bank_name">
                <td rowspan="2">{{ labels?.entity }}</td>
                <td colspan="5">{{ labels?.noOfVehOwned }}</td>
                <td colspan="3">{{ labels?.expansionAndFfr }}</td>
                <td>{{ labels?.remark }}</td>
            </tr>
            <tr class="bank_name">
                <td>{{ labels?.hcv }}</td>
                <td>{{ labels?.lcv }}</td>
                <td>{{ labels?.scv }}</td>
                <td>{{ labels?.others }}</td>
                <td>{{ labels?.total }}</td>
                <td>{{ labels?.addedInLastOneYr }}</td>
                <td>{{ labels?.freeAsset }}</td>
                <td>{{ labels?.ffr }}</td>
                <td></td>

            </tr>

            <tr *ngFor="let fleetSummary of fleetSummary">
                <td class="bank_name">{{ fleetSummary?.entity }}</td>
                <td>{{ fleetSummary?.noOfVehOwnedHCV }}</td>
                <td>{{ fleetSummary?.noOfVehOwnedLCV }}</td>
                <td>{{ fleetSummary?.noOfVehOwnedSCV }}</td>
                <td>{{ fleetSummary?.noOfVehOwnedOthers }}</td>
                <td>{{ fleetSummary?.total }}</td>
                <td>{{ fleetSummary?.expansionAndFfrAddedInLastOneYr }}</td>
                <td>{{ fleetSummary?.expansionAndFfrFreeAsset }}</td>
                <td>{{ fleetSummary?.expansionAndFfrFFR }}</td>
                <td>{{ fleetSummary?.remarks }}</td>

            <tr>
                <td>{{ labels?.anyOtherRemarks }}</td>
                <td colspan="9"><textarea class="form-control form-control-sm" placeholder="Text Area"
                        formControlName="fleetRemarks"></textarea>
                    <div *ngIf="camDetailsForm.get('fleetRemarks').invalid && (camDetailsForm.get('fleetRemarks').dirty || camDetailsForm.get('fleetRemarks').touched)"
                        class="invalid-feedback">
                        <div *ngIf="camDetailsForm.get('fleetRemarks').errors.required">
                            fleetRemarks is required.
                        </div>
                        <div *ngIf="camDetailsForm.get('fleetRemarks').errors.maxlength">
                            fleetRemarks cannot be more than 200 characters long.
                        </div>
                        <div *ngIf="camDetailsForm.get('fleetRemarks').errors.pattern">
                            Invalid Message / Special Characters not allowed

                        </div>
                    </div>
                </td>


            </tr>
        </tbody>
    </table>
    <!--fleet summary--->

    <!--track validation summary-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.trackValidationSummaryTitle
      }}
        </caption>
        <thead>
            <tr class="">
                <th>
                    {{ labels?.trackValidated }}
                </th>
                <th>
                    {{labels?.five}}
                </th>
                <th>
                    {{ labels?.financier }}
                </th>
                <th>
                    {{ labels?.asset }}
                </th>
                <th>
                    {{ labels?.vehRegNo }}
                </th>
                <th>
                    {{ labels?.seasoning }}
                </th>
                <th colspan="2">
                    {{ labels?.overAll }}
                </th>
                <th colspan="2">
                    {{ labels?.lastSixMonth }}
                </th>
                <th colspan="2">
                    {{ labels?.lastTwelveMonth }}
                </th>
                <!-- <th colspan="2">
                    {{ labels?.remark }}
                </th> -->
            </tr>
            <tr>
                <td colspan="6"></td>
                <td>
                    {{ labels?.ad }}
                </td>
                <td>
                    {{ labels?.pd }}
                </td>
                <td>
                    {{ labels?.ad }}
                </td>
                <td>
                    {{ labels?.pd }}
                </td>
                <td>
                    {{ labels?.ad }}
                </td>
                <td>
                    {{ labels?.pd }}
                </td>
                <!-- <td colspan="2"></td> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trackValidation of trackValidation">
                <td class="bank_name">
                    {{ trackValidation?.trackValidated }}
                </td>
                <td>
                    {{ trackValidation?.five }}
                </td>
                <td>{{trackValidation?.financier}}</td>
                <td>{{trackValidation?.asset}}</td>
                <td>{{trackValidation?.vehRegNo}}</td>
                <td>{{trackValidation?.seasoning}}</td>
                <td>{{trackValidation?.overallAD}}</td>
                <td>{{trackValidation?.overallPD}}</td>
                <td>{{trackValidation?.lastSixMonthAD}}</td>
                <td>{{trackValidation?.lastSixMonthPD}}</td>
                <td>{{trackValidation?.lastTwelveMonthAD}}</td>
                <td>{{trackValidation?.lastTwelveMonthPD}}</td>
                <!-- <td colspan="2">{{trackValidation?.remarks}}</td> -->

            </tr>

            <tr>
                <td>
                    {{ labels?.anyOtherRemarks }}
                </td>
                <td colspan="11"><textarea class="form-control form-control-sm" placeholder="Text Area"
                        formControlName="trackValidationRemarks"></textarea>
                    <div *ngIf="camDetailsForm.get('trackValidationRemarks').invalid && (camDetailsForm.get('trackValidationRemarks').dirty || camDetailsForm.get('trackValidationRemarks').touched)"
                        class="invalid-feedback">
                        <div *ngIf="camDetailsForm.get('trackValidationRemarks').errors.required">
                            trackValidationRemarks is required.
                        </div>
                        <div *ngIf="camDetailsForm.get('trackValidationRemarks').errors.maxlength">
                            trackValidationRemarks cannot be more than 200 characters long.
                        </div>
                        <div *ngIf="camDetailsForm.get('trackValidationRemarks').errors.pattern">
                            Invalid Message / Special Characters not allowed

                        </div>
                    </div>
                </td>
                <!--<td colspan="8">
                    {{ labels?.appIsInTransportFieldFromLastManyYears }}
                </td>
                <td>{{camDetails?.trackValidationToAppIsInTransportFromManyYears}}</td>-->
            </tr>
        </tbody>
    </table>
    <!--track validation summary-->
    <!-- customer selection criteria -->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.customerSelectionCriteriaTitle
      }}
        </caption>
        <thead>
            <tr class="">
                <th>
                    {{ labels?.category }}
                </th>
                <th>
                    {{labels?.required}}
                </th>
                <th>
                    {{ labels?.actualwithdocumentedproof }}
                </th>
                <th>
                    {{ labels?.deviationLevel }}
                </th>
                <th>
                    {{ labels?.justification }}
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customerSelectionCriteria of customerSelectionCriteria">
                <td>
                    {{ customerSelectionCriteria?.category }}
                </td>
                <td>
                    {{customerSelectionCriteria?.required}}
                </td>
                <td>
                    {{ customerSelectionCriteria?.actualWithDocumentedProof }}
                </td>
                <td>
                    {{ customerSelectionCriteria?.deviationLevel }}
                </td>
                <td>
                    {{ customerSelectionCriteria?.justificationProof }}
                </td>
            </tr>


        </tbody>
    </table>
    <!-- customer selection criteria -->

    <!---other deviation-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.otherDeviationsTitle
      }}
        </caption>
        <thead>
            <tr class="">
                <th>
                    {{ labels?.sNo }}
                </th>
                <th>
                    {{labels?.deviation}}
                </th>
                <th>
                    {{ labels?.authority }}
                </th>
                <th>
                    {{ labels?.justification }}
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let otherDeviation of otherDeviation; let i = index">

                <td>{{i + 1}}</td>
                <td>{{otherDeviation?.deviation}}</td>
                <td>{{otherDeviation?.authority}}</td>
                <td>{{otherDeviation?.justification}}</td>

            </tr>
        </tbody>
    </table>
    <!---other deviation-->

    <!--key financial-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.keyFinancialTitle
      }}
        </caption>

        <tbody>
            <tr>
                <td class="bank_name">{{ labels?.fy }}</td>

                <td *ngFor="let keyFinancial of keyFinancial">{{keyFinancial?.fy}}</td>
                <td>{{ labels?.anyOtherRemarks }}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.turnOver }}</td>

                <td *ngFor="let keyFinancial of keyFinancial">{{keyFinancial?.turnOver}}</td>
                <td rowspan="6"><textarea class="form-control form-control-sm textKey" placeholder="Text Area"
                    formControlName="keyFinancialRemarks"></textarea>
                <div *ngIf="camDetailsForm.get('keyFinancialRemarks').invalid && (camDetailsForm.get('keyFinancialRemarks').dirty || camDetailsForm.get('keyFinancialRemarks').touched)"
                    class="invalid-feedback">
                    <div *ngIf="camDetailsForm.get('keyFinancialRemarks').errors.required">
                        keyFinancialRemarks is required.
                    </div>
                    <div *ngIf="camDetailsForm.get('keyFinancialRemarks').errors.maxlength">
                        keyFinancialRemarks cannot be more than 200 characters long.
                    </div>
                    <div *ngIf="camDetailsForm.get('keyFinancialRemarks').errors.pattern">
                        Invalid Message / Special Characters not allowed

                    </div>
                </div></td>
            </tr>

            <tr>
                <td class="bank_name">{{ labels?.freightPaid }}</td>
                <td *ngFor="let keyFinancial of keyFinancial">{{keyFinancial?.freightPaid}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.depriciation }}</td>
                <td *ngFor="let keyFinancial of keyFinancial">{{keyFinancial?.depriciation}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.netProfitPbt }}</td>
                <td *ngFor="let keyFinancial of keyFinancial">{{keyFinancial?.netProfit}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.cashGenerationPbtDep }}</td>
                <td *ngFor="let keyFinancial of keyFinancial">{{keyFinancial?.cashGeneration}}</td>
            </tr>
            <tr>


            </tr>
        </tbody>
    </table>
    <!--key financial-->
    <!--credity officer remarks-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.creditOfficersRemarks
      }}
        </caption>
        <tbody>
            <tr>
                <td colspan="6" height="80"></td>
            </tr>
            <tr>
                <td width="100">{{ labels?.name }}</td>
                <td width="500">{{creditOfficersRemarks?.name}}</td>
                <td width="100">{{ labels?.eCode }}</td>
                <td width="200">{{creditOfficersRemarks?.eCode}}</td>
                <td width="100">{{ labels?.date }}</td>
                <td width="200">{{creditOfficersRemarks?.date}}</td>
            </tr>
        </tbody>
    </table>
    <!--credity officer remarks-->
    <!--recommondation-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.cmRecommendation
      }}
        </caption>
        <tbody>
            <tr>
                <td colspan="6" height="80"></td>
            </tr>
            <tr>
                <td width="100">{{ labels?.name }}</td>
                <td width="500">{{ cmRecommendation?.name }}</td>
                <td width="100">{{ labels?.eCode }}</td>
                <td width="200">{{ cmRecommendation?.eCode }}</td>
                <td width="100">{{ labels?.date }}</td>
                <td width="200">{{ cmRecommendation?.date }}</td>
            </tr>
        </tbody>
    </table>
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.acmRecommendationApproval
      }}
        </caption>
        <tbody>
            <tr>
                <td colspan="6" height="80"></td>
            </tr>
            <tr>
                <td width="100">{{ labels?.name }}</td>
                <td width="500">{{ acmRecommendation?.name }}</td>
                <td width="100">{{ labels?.eCode }}</td>
                <td width="200">{{ acmRecommendation?.eCode }}</td>
                <td width="100">{{ labels?.date }}</td>
                <td width="200">{{ acmRecommendation?.date }}</td>
            </tr>
        </tbody>
    </table>
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.ncmBhApprovalRecommendation
      }}
        </caption>
        <tbody>
            <tr>
                <td colspan="6" height="80"></td>
            </tr>
            <tr>
                <td width="100">{{ labels?.name }}</td>
                <td width="500">{{ ncmBhApprovalRecommendation?.name }}</td>
                <td width="100">{{ labels?.eCode }}</td>
                <td width="200">{{ ncmBhApprovalRecommendation?.eCode }}</td>
                <td width="100">{{ labels?.date }}</td>
                <td width="200">{{ ncmBhApprovalRecommendation?.date }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container overflow-hidden" *ngIf="usedCarCam">

    <!---sourcing table starts here-->
    <table class="cam_table mt-3" >
        <caption class="caption">
            {{
        labels?.sourceDetailsTitle
      }}
        </caption>

        <tr>
            <td>{{ labels?.leadNo }}</td>
            <td>{{ sourcingObj?.leadId }}</td>
            <td>{{ labels?.camDate }}</td>
            <td>{{ sourcingObj?.camDate }}</td>
        </tr>
        <tr>
            <td>{{ labels?.areaName }}</td>
            <td>{{ sourcingObj?.areaName }}</td>
            <td>{{ labels?.branchName }}</td>
            <td>{{ sourcingObj?.branchName }}</td>
        </tr>
        <tr>
            <td>{{ labels?.sourcingChannal }}</td>
            <td>{{ sourcingObj?.sourcingChannel }}</td>
            <td>{{ labels?.sourcingSoName }}</td>
            <td>{{ sourcingObj?.sourcingName }}</td>
        </tr>

        <tr>
            <td>{{ labels?.rcLimitCategory }}</td>
            <td>{{ sourcingObj?.rcCategory }}</td>
            <td>{{ labels?.distancefrombranch }}</td>
            <td>{{ sourcingObj?.distanceFromBranch }}</td>
        </tr>
        <tr>
            <td>{{ labels?.rcLimit }}</td>
            <td>{{ labels?.original }}</td>
            <td>{{ labels?.utilized }}</td>
            <td>{{ labels?.open }}</td>

        </tr>
        <tr>
            <td>{{ labels?.count }}</td>
            <td>{{ sourcingObj?.rcOriginalCount }}</td>
            <td>{{sourcingObj?.rcUtilizedCount}}</td>
            <td>{{ sourcingObj?.rcOpenCount}}</td>
        </tr>
        <tr>
            <td>{{ labels?.value }}</td>
            <td>{{sourcingObj?.rcOriginalValue}}</td>
            <td>{{ sourcingObj?.rcUtilizedValue }}</td>
            <td>{{ sourcingObj?.rcOpenValue }}</td>

        </tr>
        <tr>
            <td>{{ labels?.program }}</td>
            <td>{{ sourcingObj?.customerCategory }}</td>
            <td>{{ labels?.customerType }}</td>
            <td>{{ sourcingObj?.customerType }}</td>
        </tr>
        <tr>
            <td>{{ labels?.applicantsName }}</td>
            <td>{{ sourcingObj?.applicantName }}</td>
            <td>{{ labels?.contactNo }}</td>
            <td>{{ sourcingObj?.contactNo }}</td>
        </tr>
        <tr>
            <td>{{ labels?.customerRequestedAmount }}</td>
            <td>{{ sourcingObj?.reqLoanAmt }}</td>
            <td>{{ labels?.roi }}</td>
            <td>{{ sourcingObj?.roi }}</td>
        </tr>
        <tr>
            <td>{{ labels?.loanTenure }}</td>
            <td>{{ sourcingObj?.loanTenure }}</td>
            <td>{{ labels?.profile }}</td>
            <td>{{ sourcingObj?.profile }}</td>
        </tr>
    </table>
    <!--sourcing table ends here--->

    <!---Vechicle Details-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.vehicleDetails
      }}
        </caption>
        <tbody *ngFor="let vehicleDetails of vehicleDetails">
        <tr>
        <td>{{ labels?.vehicleCategory }}</td>
        <td>{{ vehicleDetails?.vehicleCategory }}</td>
        <td>{{ labels?.vehicleName }}</td>
        <td>{{ vehicleDetails?.vehicleName }}</td>
    </tr>
    <tr>
        <td>{{ labels?.vehicleCurrentAge }}</td>
        <td>{{ vehicleDetails?.currentAge }}</td>
        <td>{{ labels?.vehicleAgeAtEndOfTheTenor }}</td>
        <td>{{ vehicleDetails?.branchName }}</td>
    </tr>
    <tr>
        <td>{{ labels?.vehicleInsuranceValidity }}</td>
        <td>{{ vehicleDetails?.insuranceValidity }}</td>
        <td>{{ labels?.vehicleInsuranceValue }}</td>
        <td>{{ vehicleDetails?.vehicleInsuranceValue }}</td>
    </tr>

    <tr>
        <td>{{ labels?.vehicleInsuranceExpiryDate }}</td>
        <td>{{ vehicleDetails?.insuranceExpiryDate }}</td>
        <td>{{ labels?.assetValueAsPerBlueBook }}</td>
        <td>{{ vehicleDetails?.assetCostAsPerBluebook }}</td>
    </tr>
    <tr>
        <td>{{ labels?.assetValueAsPerValuation }}</td>
        <td>{{ vehicleDetails?.assetValueAsPerValuation }}</td>
        <td>{{ labels?.consideredAssetCost }}</td>
        <td>{{ vehicleDetails?.consideredAssetCost }}</td>

    </tr>
    <tr>
        <td>{{ labels?.ltvAsPerPolicy }}</td>
        <td>{{ vehicleDetails?.ltvAsPerPolicy }}</td>
        <td>{{labels?.ltvDeviaton}}</td>
        <td>{{ vehicleDetails?.ltvDeviation }}</td>
    </tr>
    <tr>
        <td>{{ labels?.finalLtv }}</td>
        <td>{{ vehicleDetails?.finalLtv }}</td>
        <td>{{labels?.loanEligibilityAsPerLtv}}</td>
        <td>{{ vehicleDetails?.loanEligibilityAsPerLtv }}</td>
    </tr>
    <tr>
        <td>{{ labels?.vehicleOwnershipPrevious }}</td>
        <td>{{ vehicleDetails?.program }}</td>
        <td>{{ labels?.insurance }}</td>
        <td>{{ vehicleDetails?.insurance }}</td>
    </tr>
</tbody>
    </table>
    <!-- Vechicle Details-->

    <!---Applicants details-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.applicantsdetails
      }}
        </caption>
        <thead>
            <tr class="">
                <th>{{ labels?.applicantType }}</th>
                <th>{{ labels?.name }}</th>
                <th>{{ labels?.age }}</th>
                <th>{{ labels?.relationshipToApplicant }}</th>
                <th>{{ labels?.cibilScore }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let applicantDetails of applicantDetails">
                <td class="bank_name">{{ applicantDetails?.applicantType }}</td>
                <td>{{ applicantDetails?.name }}</td>
                <td>{{ applicantDetails?.age }}</td>
                <td>{{ applicantDetails?.relationshipToApplicant}}</td>
                <td>{{ applicantDetails?.cibilScore }}</td>
            </tr>
            <tr>
                <td>{{ labels?.overAllFiStatus }}</td>
                <td colspan="6" class="">{{ partyToAnyOtherRemarks }}</td>
            </tr>
            <tr>
                <td>{{ labels?.internalDedupeStatus }}</td>
                <td colspan="6" class="">{{ partyToAnyOtherRemarks }}</td>
            </tr>
        </tbody>
    </table>
    <!---Applicant details-->

    <!---income Details--->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.incomeDetails
      }}
        </caption>
        <thead>
            <tr class="">
                <th></th>
                <th *ngFor="let businessIncomeDetails of businessIncomeDetails; let i = index">Business Income-{{i+1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bank_name">{{ labels?.name }}</td>
                <td *ngFor="let businessIncomeDetails of businessIncomeDetails">{{businessIncomeDetails?.applicantName}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.businessEntityName }}</td>
                <td *ngFor="let businessIncomeDetails of businessIncomeDetails">{{businessIncomeDetails?.businessEntName}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.netProfit }}</td>
                <td *ngFor="let businessIncomeDetails of businessIncomeDetails">{{businessIncomeDetails?.netProfit}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.depreciation }}</td>
                <td *ngFor="let businessIncomeDetails of businessIncomeDetails">{{businessIncomeDetails?.depreciation}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.directorsSalary }}</td>
                <td *ngFor="let businessIncomeDetails of businessIncomeDetails">{{businessIncomeDetails?.directorSalary}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.grossDerivedIncome }}</td>
                <td *ngFor="let businessIncomeDetails of businessIncomeDetails">{{businessIncomeDetails?.grossDerivedIncome}}</td>
            </tr>
            <tr>
                <td class="bank_name">{{ labels?.grossMonthlyIncome }}</td>
                <td *ngFor="let businessIncomeDetails of businessIncomeDetails">{{businessIncomeDetails?.grossMonthlyIncome}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="bank_name">{{ labels?.totalMonthlyBusinessIncome }}</td>
                <td >{{camDetails?.totalBusinessIncome}}</td>
            </tr>
        </tbody>
    </table>
    <!--income Details-->

    <!--other income details-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.otherIncomeDetailsTitle
      }}
        </caption>
        <thead>
            <tr class="">
                <th>{{ labels?.name }}</th>
                <th>{{ labels?.incomeType }}</th>
                <th>{{ labels?.grossIncome }}</th>
                <th>{{ labels?.factoredAmount }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let otherIncomeDetails of otherIncomeDetails">
                <td>{{ otherIncomeDetails?.applicantName }}</td>
                <td>{{ otherIncomeDetails?.incomeType }}</td>
                <td>{{ otherIncomeDetails?.grossIncome}}</td>
                <td>{{ otherIncomeDetails?.factoredIncome }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="bank_name">{{ labels?.totalMonthlyOtherIncome }}</td>
                <td>{{camDetails?.totalOtherIncome}}</td>
            </tr>
            
        </tbody>
    </table>
    <!--other income details-->
 <!--obligation details-->
 <table class="cam_table_proposed mt-3">
    <caption class="caption">
        {{
    labels?.obligationDetailsTitle
  }}
    </caption>
    <thead>
        <tr class="">
            <th>{{ labels?.borrowerName }}</th>
            <th>{{ labels?.typeOfLoan }}</th>
            <th>{{ labels?.financier }}</th>
            <th>{{ labels?.obligationAmount }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obligationDetails of obligationDetails">
            <td>{{ obligationDetails?.applicantName }}</td>
            <td>{{ obligationDetails?.loanType }}</td>
            <td>{{ obligationDetails?.financier}}</td>
            <td>{{ obligationDetails?.obligationAmount }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="bank_name">{{ labels?.totalMontlyObligations }}</td>
            <td>{{camDetails?.totalObligationAmount}}</td>
        </tr>
        
    </tbody>
</table>
<!--obligation details-->

    <!---loan eligibility based on income-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.loanEligibilityBasedOnIncome
      }}
        </caption>
        <tr>
        <td>{{ labels?.totalMonthlySalaryIncome  }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalMonthlySalaryIncome }}</td>
        <td>{{ labels?.salariedFOIRasperPolicy }}</td>
        <td>{{ loanEligibilityBasedOnInc?.salariedFOIRPercentAsPerPolicy }}</td>
    </tr>
    <tr>
        <td>{{ labels?.salariedFOIRDeviation }}</td>
        <td>{{ loanEligibilityBasedOnInc?.salariedFOIRDeviationPercent }}</td>
        <td>{{ labels?.totalSalariedFOIR }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalSalariedFOIRPercent }}</td>
    </tr>
    <tr>
        <td>{{ labels?.consideredSalaryIncome }}</td>
        <td>{{ loanEligibilityBasedOnInc?.consideredSalaryIncome }}</td>
        <td>{{ labels?.totalMonthlyBusinessIncome }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalMonthlyBusinessIncome }}</td>
    </tr>

    <tr>
        <td>{{ labels?.totalMonthlyRentalIncome }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalMonthlyRentalIncome }}</td>
        <td>{{ labels?.totalMonthlyPensionIncome }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalMonthlyPensionIncome }}</td>
    </tr>
    <tr>
        <td>{{ labels?.totalMonthlyAgriIncome }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalMonthlyAgriIncome }}</td>
        <td>{{ labels?.totalMonthlyIncome }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalMonthlyIncome }}</td>

    </tr>
    <tr>
        <td>{{ labels?.totalMontlyObligations }}</td>
        <td>{{ loanEligibilityBasedOnInc?.totalMontlyObligations }}</td>
        <td>{{labels?.ltvDeviaton}}</td>
        <td>{{ loanEligibilityBasedOnInc?.propertyOwnership }}</td>
    </tr>
    </table>
    <!--loan eligibility based on income--->

    <!--Banking details -->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.bankingDetails
      }}
        </caption>
        <tr>
        <td>{{ labels?.bankName }}</td>
        <td>{{ bankingDetails?.bankName }}</td>
        <td>{{ labels?.accountHolderName }}</td>
        <td>{{ bankingDetails?.accountHolderName }}</td>
    </tr>
    <tr>
        <td>{{ labels?.totalNoOfCredits }}</td>
        <td>{{ bankingDetails?.totalNoOfCredit }}</td>
        <td>{{ labels?.totalValueOfCredits }}</td>
        <td>{{ bankingDetails?.totalValueOfCredit }}</td>
    </tr>
    <tr>
        <td>{{ labels?.noOfInwardsChequeBounces }}</td>
        <td>{{ bankingDetails?.noOfInwardBounce }}</td>
        <td>{{ labels?.noOfOutwardChequeBounces }}</td>
        <td>{{ bankingDetails?.noOfOutwardBounce }}</td>
    </tr>

    <tr>
        <td>{{ labels?.balanceasOnFifth }}</td>
        <td>{{ bankingDetails?.balanceAsOn5th }}</td>
       
    </tr>
    <tr>
        <td>{{ labels?.balanceasOnTenth }}</td>
        <td>{{ bankingDetails?.balanceAsOn15th }}</td>
        
    </tr>
    <tr>
        <td>{{ labels?.balanceasOnTewntieth }}</td>
        <td>{{ bankingDetails?.balanceAsOn20th }}</td>
    </tr>
    <tr>
        <td>{{ labels?.averageBalanceForTheMonth }}</td>
        <td>{{ bankingDetails?.averageAccountBalance }}</td>
    </tr>  
    <tr>
        <td>{{ labels?.abbRatio }}</td>
        <td>{{ bankingDetails?.abbRatio }}</td>
    </tr>
    </table>
    <!--Banking details -->
    <!-- final loan eligibility -->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.finalLoanEligibility
      }}
        </caption>
        <tr>
        <td>{{ labels?.loanEligibilityasperFOIR }}</td>
        <td>{{ finalLoanEligibility?.loanEligibilityAsPerFOIR }}</td>
        <td>{{ labels?.loanEligibilityAsPerLtv }}</td>
        <td>{{ finalLoanEligibility?.loanEligibilityAsPerLTV }}</td>
    </tr>
    <tr>
        <td>{{ labels?.finalLoanEligibility }}</td>
        <td>{{ finalLoanEligibility?.finalLoanEligibility }}</td>
       
    </tr>
   
    </table>
    <!--  final loan eligibility -->

    <!---final loan details-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.finalLoanDetails
      }}
        </caption>
        <tr>
        <td>{{ labels?.finalLoanAmount }}</td>
        <td>{{ finalLoanDetails?.finalLoanAmount }}</td>
        <td>{{ labels?.roi }}</td>
        <td>{{ finalLoanDetails?.roi }}</td>
    </tr>
    <tr>
        <td>{{ labels?.loanTenureInMonths }}</td>
        <td>{{ finalLoanDetails?.loanTenureInMonths }}</td>
        <td>{{ labels?.emiAmount }}</td>
        <td>{{ finalLoanDetails?.EmiAmount }}</td>
    </tr>
    <tr>
        <td>{{ labels?.approvedFoir }}</td>
        <td>{{ finalLoanDetails?.approvedFoirPercent }}</td>
        <td>{{ labels?.approvedLtv }}</td>
        <td>{{ finalLoanDetails?.approvedLtvPercent }}</td>
    </tr>
    </table>
    <!---other deviation-->

    <!--Auto deviations-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.autoDeviation
      }}
        </caption>

        <thead>
            <tr class="">
                <th>{{ labels?.type }}</th>
                <th>{{ labels?.comments }}</th>
                <th>{{ labels?.level }}</th>
                <th>{{ labels?.status }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let autoDeviation of autoDeviation">
                <td class="bank_name">{{ autoDeviation?.type }}</td>
                <td>{{ autoDeviation?.comments }}</td>
                <td>{{ autoDeviation?.age }}</td>
                <td>{{ autoDeviation?.relationshipToApplicant}}</td>
            </tr>
           
        </tbody>
    </table>
    <!--Auto deviations-->
    <!--manual Deviations-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.manualDeviation
      }}
        </caption>
        <thead>
            <tr class="">
                <th>{{ labels?.type }}</th>
                <th>{{ labels?.comments }}</th>
                <th>{{ labels?.level }}</th>
                <th>{{ labels?.status }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let manualDeviation of manualDeviation">
                <td class="bank_name">{{ manualDeviation?.type }}</td>
                <td>{{ manualDeviation?.comments }}</td>
                <td>{{ manualDeviation?.age }}</td>
                <td>{{ manualDeviation?.relationshipToApplicant}}</td>
            </tr>
           
        </tbody>
    </table>
    <!--manual Deviations-->
    <!--creditConditions-->
    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.creditConditions
      }}
        </caption>
        <tbody>
            <tr>
                <td colspan="6" height="80"></td>
            </tr>
           
        </tbody>
    </table>
    <!--creditConditions-->

    <table class="cam_table_proposed mt-3">
        <caption class="caption">
            {{
        labels?.decisionSheet
      }}
        </caption>
        <tbody>
            <tr>
                <td>{{ labels?.pdDoneBy }}</td>
                <td>{{ decisionSheet?.pdDoneBy }}</td>
                <td>{{ labels?.pdDate }}</td>
                <td>{{ decisionSheet?.pdDate }}</td>
            </tr>
            <tr>
                <td>{{ labels?.camPreparedBy }}</td>
                <td>{{ decisionSheet?.camPreparedBy }}</td>
                <td>{{ labels?.camDate }}</td>
                <td>{{ decisionSheet?.camDate }}</td>
            </tr>
            <tr>
                <td>{{ labels?.recommendedBy }}</td>
                <td>{{ decisionSheet?.recommendedBy }}</td>
                <td>{{ labels?.recommendedDate }}</td>
                <td>{{ decisionSheet?.recommendedDate }}</td>
            </tr>
            <tr>
                <td>{{ labels?.approvedBy }}</td>
                <td>{{ decisionSheet?.approvedBy }}</td>
                <td>{{ labels?.approvedDate }}</td>
                <td>{{ decisionSheet?.approvedDate }}</td>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="for_space"></div>

<div class="btn-sec clear-both row">
    <div class="col-sm-5"></div>
    <div class="col-sm-7 text-right">
        <button class="btn btn-primary dash_href" type="button" routerLink="../score-card">
            {{ labels?.back }}
        </button>
        <button *ngIf="usedCvCam" class="btn btn-primary mar-right8" type="button" (click)=onSubmit();>
            Save
        </button>
        <button class="btn btn-primary dash_href" type="button" routerLink="../deviations">
            {{ labels?.next }}
        </button>
    </div>
</div>