<div class="content" [formGroup]="remarksForm">
 
    <h4 class="banner-con">Remarks
        <span class="float-right">{{udfScreenId}}</span>
    </h4> 
     
        <textarea class="form-control" id="recommendations"
            cols="1" rows="9" [placeholder]="'Remarks'" formControlName="remarks"
            
[maxlength]="labels?.validationData.remarks.maxLength" style="resize: none;">
        </textarea>

        <app-shared-user-defined-fields [isDirty]="isDirty" [udfScreenId]="udfScreenId" [udfGroupId]="udfGroupId"
        [udfDetails]="udfDetails" (saveUserdefined)="onSaveuserDefinedFields($event)"></app-shared-user-defined-fields>

        <div class="btn-sec clear-both row btn-mar-15" id="clickButton" >
            <div class="col-sm-4"></div>
            <div class="col-sm-8 tab-mar text-right p-0" >
              <button  class="btn btn-primary" type="button"
               (click)="onBack()" >
                Back
              </button>
              <button  class="btn btn-primary" type="button"
               (click)="onsave()">
                Save
              </button>
              <button  class="btn btn-primary -btn-next" type="button" 
              (click)="onApproval()" *ngIf="!isDeclinedFlow">
                Approve
              </button>
              <button  class="btn btn-primary -btn-next" type="button"
              (click)="onSendToCredit()" *ngIf="!isDeclinedFlow">
               Send Back To Credit
              </button>
              <button  class="btn btn-primary -btn-next" type="button" 
              (click)="onReappeal()" *ngIf="isDeclinedFlow">
                Re-Appeal
              </button>
              <button  class="btn btn-primary -btn-next" type="button" 
              (click)="onDecline()" *ngIf="isDeclinedFlow">
              Accept the Decline
              </button>
            </div>
        </div>    
</div>

<!--send to credit-->
<app-custom-modal
[modalDetails]="sendCreModalDetails"
[showModal]="showSendCredit"
[buttons] = "sendCreModalButtons"
(onButtonCancel) = "showSendCredit = false"
(onButtonClick)="callSendBackToCredit() ; showSendCredit= false"></app-custom-modal>

<!--Approve/Re-Appeal-->
<app-custom-modal
[modalDetails]="modalDetails"
[showModal]="showModalApprove"
[buttons] = "modalButtons"
(onButtonCancel) = "showModalApprove = false"
(onButtonClick)="callApproval() ; showModalApprove= false"></app-custom-modal>

<!-- <div class="modal" id="approveModal" [ngClass]="{ 'dis-block': showModalApprove }">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal"
              (click)="onCancel()">
                  &times;
              </button>
          </div>

          <div class="modal-body" style="text-align: center;">
              <label>Are you sure you want to {{isDeclinedFlow ? 'Re-Appeal': 'Approve'}} the Lead</label>
          </div>

          <div class="modal-footer text-center">
              <button type="button" class="btn btn-success" id="reject_yes_val" value="Yes"
                   data-dismiss="modal" (click)="callApproval()">
                  Yes
              </button>

              <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="onCancel()">
                  Cancel
              </button>
          </div>
      </div>
  </div>
</div> -->

<!-- <div class="modal" id="approveModal" [ngClass]="{ 'dis-block': showSendCredit }">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal"
              (click)="onCancelCredit()">
                  &times;
              </button>
          </div>

          <div class="modal-body" style="text-align: center;">
              <label>Are you sure you want to Send Back To Credit</label>
          </div>

          <div class="modal-footer text-center">
              <button type="button" class="btn btn-success" id="reject_yes_val" value="Yes"
                   data-dismiss="modal" (click)="callSendBackToCredit()">
                  Yes
              </button>

              <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="onCancelCredit()">
                  Cancel
              </button>
          </div>
      </div>
  </div>
</div> -->
<app-reject-reason-modal [data]="rejectData" [showModalPopup]="showRejectModal" *ngIf="showRejectModal" (okay)="onOkay($event)" (cancel)="onCancelReject()"></app-reject-reason-modal>

