.hetra{
    cursor: pointer !important;
}
.search input{
    height: 44px;
}
.unique {
    list-style-type: none;
    cursor: pointer;
}

#myUL li{
    padding-bottom: 10px;
    padding-left: 45px;
}
#myUL {
    display: none;
}

#myUL li::before {
    content: '';
    position: absolute;
    background: url(../../../assets/images/search.png) no-repeat;
    width: 16px;
    height: 16px;
    left: 20px;
}

.search .search-icon-left::after {
    position: absolute;
top: 0;
bottom: 108px !important;
width: 16px;
border: none;
outline: none;
}

.mob-font{
    font-style: 12px;
}

.leadHistoryBtn{
    cursor: pointer;
    background-color: #f3682d;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
}

.ok_button{
    width: 100%;
    margin: 0 auto;
}

.HeaderFooter {
    width: 25% !important;
    text-align: center !important;
    margin: 6px auto !important;
}

.top_bar {
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.1);
}
.top_bar .mb-0{
    margin-bottom: 0;
}
.col-form-label {
    width:50%;
    padding-left: 20px;
    font-weight: 550;
    font-size: 12px;
    word-break: break-word;
  }
  
  .col-form-label-two {
    width:50%;
    padding-left: 15px;
    font-weight: 400;
    font-size: 12px;
    float: right;
    word-break: break-word;
  }

.mb-0{
    margin-bottom: 0;
}


@media (min-width:200px) and (max-width:767px) {
    .mob-font{
        font-style: 9px;
    }   

    .top_bar{
   
    text-align: left;
    } 

    .main-table td,
    .main-table tr {
       display: block;
     }
   
    .main-table td,
    .main-table th {
       border: 1px solid #ccc;
       text-align: left;
       text-align: center;
       /* margin: 12px; */
       line-height: 1.5;
       /* color: white; */
       padding: 2px;
       font-size: 14px;
     }
   
     /* Hide table headers (but not display: none;, for accessibility) */
    .main-table thead tr {
       position: absolute;
       top: -9999px;
       left: -9999px;
     }
    .main-table tr {
       /* border: 1px solid #E74C3C;  */
     }
    .main-table tr + tr {
       margin-top: 1.5em;
     }
    .main-table td {
       /* make like a "row" */
       border: none;
       border-bottom: 1px solid #eee;
       /* position: relative; */
       padding-left: 50%;
       /* background-color: #F8D9D5; */
       text-align: left;
       /* padding: 1px;*/
       border: 1px solid #929294;
       word-break: break-all!important;
     }
   
    .main-table td:before {
       content: attr(data-label);
       display: inline-block;
       line-height: 1.5;
       margin-left: -100%;
       margin-right: 12px;
       width: 70%;
       white-space: nowrap;
       background-color: #1d1a4b;
       color: white;
       height: 40px;
       padding: 10px;
     }
   
     .tablewithdetails td:before {
       content: attr(data-label);
       display: inline-block;
       line-height: 1.5;
       margin-left: -2%;
       margin-right: 5%;
       width: 50%;
       white-space: nowrap;
       background-color: #1d1a4b;
       color: white;
       padding: 10px;
        text-align: left; 
       font-size:12px;
      
      } 
   
   
    

}

