<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-m360-sdk"
    version="1.3.3">

    <name>MaaS360SDKPlugin</name>
    <description>MaaS360 SDK Plugin</description>
    <license>IBM</license>
    <keywords>cordova,MaaS360,SDK</keywords>

    <dependency id="cordova-plugin-console" />
    <dependency id="cordova-plugin-device" />

    <asset src="common/www/js/m360sdk.js" target="js/m360sdk.js" />
    <hook type="after_plugin_install" src="hooks/m360SDKHook.js" />

    <!-- ios -->
    <platform name="ios">
        <hook type="before_plugin_install" src="hooks/m360SDKHook.js" />
        <hook type="after_prepare" src="hooks/m360SDKHook.js" />
        <hook type="before_plugin_uninstall" src="hooks/m360SDKHook.js"/>

        <js-module src="ios/www/js/SDKHandler.js" name="SDKHandler">
            <clobbers target="SDKHandler" />
        </js-module>

        <js-module src="ios/www/js/SDKUIUtils.js" name="SDKUIUtils">
            <clobbers target="SDKUIUtils" />
        </js-module>

        <js-module src="ios/www/js/SDKPluginWrapper.js" name="SDKPluginWrapper">
            <clobbers target="SDKPluginWrapper" />
        </js-module>

        <js-module src="ios/www/js/SDKPluginIOS.js" name="SDKPluginIOS">
            <clobbers target="SDKPluginIOS" />
        </js-module>

        <asset src="ios/www/css/MaaS360SDK.css" target="css/MaaS360SDK.css" />
        <asset src="ios/www/images/MaaS360.png" target="images/MaaS360.png" />
        <asset src="ios/www/images/MaaS360_login.png" target="images/MaaS360_login.png" />
        <asset src="ios/www/images/spinner.gif" target="images/spinner.gif" />

        <config-file target="config.xml" parent="/*">
            <feature name="MaaS360SDK">
                <param name="ios-package" value="M360SDKPlugin"/>
            </feature>
        </config-file>
        <header-file src="ios/src/M360SDKPlugin.h" />
        <source-file src="ios/src/M360SDKPlugin.m" />

        <framework src="ios/Frameworks/FLCommonsFramework.framework" custom="true" embed="true" />
        <framework src="ios/Frameworks/FLCoreFramework.framework" custom="true" embed="true" />
        <framework src="ios/Frameworks/FLProtocolBuffers.framework" custom="true" embed="true" />
        <framework src="ios/Frameworks/FLUICommonsFramework.framework" custom="true" embed="true" />
        <framework src="ios/Frameworks/INSOperationsKit.framework" custom="true" embed="true" />
        <framework src="ios/Frameworks/MaaS360MobileGatewaySDKFramework.framework" custom="true" embed="true" />
        <framework src="ios/Frameworks/MaaS360SDKFramework.framework" custom="true" embed="true" />

        <!-- <resource-file src="ios/Resources/FLUICommonsResource.bundle" /> -->
        <resource-file src="ios/Resources/MaaS360SDKResources.bundle" />

    </platform>

    <!-- android -->
    <platform name="android">

        <js-module name="SDKHandler" src="android/www/js/SDKHandler.js">
            <clobbers target="js/SDKHandler" />
        </js-module>

        <js-module name="SDKUIUtils" src="android/www/js/SDKUIUtils.js">
            <clobbers target="js/SDKUIUtils" />
        </js-module>

        <js-module name="SDKPluginWrapper" src="android/www/js/SDKPluginWrapper.js">
            <clobbers target="js/SDKPluginWrapper" />
        </js-module>

        <js-module name="SDKPluginAndroid" src="android/www/js/SDKPluginAndroid.js">
            <clobbers target="js/SDKPluginAndroid" />
        </js-module>

        <asset src="android/www/css/MaaS360SDK.css" target="css/MaaS360SDK.css" />
        <asset src="android/www/images/MaaS360.png" target="images/MaaS360.png" />
        <asset src="android/www/images/MaaS360_login.png" target="images/MaaS360_login.png" />
        <asset src="android/www/images/spinner.gif" target="images/spinner.gif" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MaaS360SDK">
                <param name="android-package"
                    value="com.fiberlink.maas360sdk.cordova.MaaS360CordovaSDK" />
            </feature>
        </config-file>


        <source-file src="android/src/MaaS360CordovaAdapter.java"
            target-dir="src/com/fiberlink/maas360sdk/cordova/" />
        <source-file src="android/src/MaaS360CordovaDroidGap.java"
            target-dir="src/com/fiberlink/maas360sdk/cordova/" />
        <source-file src="android/src/MaaS360CordovaSDK.java"
            target-dir="src/com/fiberlink/maas360sdk/cordova/" />
        <source-file src="android/src/MaaS360CordovaSDKListener.java"
            target-dir="src/com/fiberlink/maas360sdk/cordova/" />
        <source-file src="android/src/IMaaS360SDKPolicyAutoEnforceInfoFactory.java"
            target-dir="src/com/fiberlink/maas360sdk/cordova/" />


        <source-file src="android/src/libs/armeabi-v7a/libipcHelper.so"
            target-dir="jniLibs/armeabi-v7a/" />
        <source-file src="android/src/libs/armeabi-v7a/libmaascrypto.so"
            target-dir="jniLibs/armeabi-v7a/" />
        <source-file src="android/src/libs/armeabi-v7a/libsqlcipher.so"
            target-dir="jniLibs/armeabi-v7a/" />
        <source-file src="android/src/libs/armeabi-v7a/libutilsHelper.so"
            target-dir="jniLibs/armeabi-v7a/" />

        <source-file src="android/src/libs/arm64-v8a/libipcHelper.so"
            target-dir="jniLibs/arm64-v8a/" />
        <source-file src="android/src/libs/arm64-v8a/libmaascrypto.so"
            target-dir="jniLibs/arm64-v8a/" />
        <source-file src="android/src/libs/arm64-v8a/libsqlcipher.so"
            target-dir="jniLibs/arm64-v8a/" />
        <source-file src="android/src/libs/arm64-v8a/libutilsHelper.so"
            target-dir="jniLibs/arm64-v8a/" />   

        <source-file src="android/src/libs/x86/libipcHelper.so" target-dir="jniLibs/x86/" />
        <source-file src="android/src/libs/x86/libmaascrypto.so" target-dir="jniLibs/x86/" />
        <source-file src="android/src/libs/x86/libsqlcipher.so" target-dir="jniLibs/x86/" />
        <source-file src="android/src/libs/x86/libutilsHelper.so" target-dir="jniLibs/x86/" />

        <source-file src="android/src/libs/x86_64/libipcHelper.so" target-dir="jniLibs/x86_64/" />
        <source-file src="android/src/libs/x86_64/libmaascrypto.so" target-dir="jniLibs/x86_64/" />
        <source-file src="android/src/libs/x86_64/libsqlcipher.so" target-dir="jniLibs/x86_64/" />
        <source-file src="android/src/libs/x86_64/libutilsHelper.so" target-dir="jniLibs/x86_64/" />

        <!-- <source-file src="android/src/libs/android-async-http.jar" target-dir="libs" /> -->
        <!-- <source-file src="android/src/libs/android-support-v4-1.0.jar" target-dir="libs" /> -->
        <!-- <source-file src="android/src/libs/bcprov.jar" target-dir="libs" /> -->
        <!-- <source-file src="android/src/libs/commons-codec-1.6.jar" target-dir="libs" /> -->
        <source-file src="android/src/libs/commons-io-2.4.jar" target-dir="libs" />
        <!-- <source-file src="android/src/libs/commons-lang3-3.1.jar" target-dir="libs" /> -->
        <!-- <source-file src="android/src/libs/gcm.jar" target-dir="libs" /> -->
        <!-- <source-file src="android/src/libs/gson-2.2.3.jar" target-dir="libs" /> -->
        <!-- <source-file src="android/src/libs/guava.jar" target-dir="libs" /> -->
        <source-file src="android/src/libs/httpclientandroidlib-1.1.1.jar" target-dir="libs" />
        <!-- <source-file src="android/src/libs/jackson-core-asl.jar" target-dir="libs" /> -->
        <!-- <source-file src="android/src/libs/jackson-mapper-asl.jar" target-dir="libs" /> -->
        <source-file src="android/src/libs/maas360appanalyticssdk.jar" target-dir="libs" />
        <source-file src="android/src/libs/maas360appanalyticssdkcommon.jar" target-dir="libs" />
       <!-- <source-file src="android/src/libs/maas360clipboard.jar" target-dir="libs" />-->
      <!--   <source-file src="android/src/libs/maas360dlpsdk.jar" target-dir="libs" />-->
        <source-file src="android/src/libs/maas360encryptionapi.jar" target-dir="libs" />
        <source-file src="android/src/libs/maas360gatewaysdk.jar" target-dir="libs" />
      <!--   <source-file src="android/src/libs/maas360ipclib.jar" target-dir="libs" /> -->
      <!--   <source-file src="android/src/libs/maas360logger.jar" target-dir="libs" /> -->
       <!--   <source-file src="android/src/libs/maas360sdk.jar" target-dir="libs" />-->
        <source-file src="android/src/libs/maaS360securehttpconnection.jar" target-dir="libs" />
        <source-file src="android/src/libs/maas360sqlcipher.jar" target-dir="libs" />
       <!--  <source-file src="android/src/libs/maas360utils.jar" target-dir="libs" />-->
        <source-file src="android/src/libs/RootTools-4.2.jar" target-dir="libs" />
        <source-file src="android/src/libs/sqlcipher.jar" target-dir="libs" />
    </platform>
</plugin>
