<div>
  <app-shared-deviation [isDirty]="isDirty" [isSubmitToCredit]="false" (formDataOutput)="FormDataParentMethod($event)">
  </app-shared-deviation>

</div>

<div class=" row btn-sec clear-both row">
  <div class="col-sm-5">

  </div>
  <div class="col-sm-7 text-right">
    <button class="btn btn-primary dash_href" type="button" routerLink="../cam">{{labels?.back}}</button>
    <button class="btn btn-primary dash_href" type="button"
      (click)="saveorUpdateDeviationDetails()">{{labels?.save}}</button>
    <button class="btn btn-primary dash_href" type="button" routerLink="../insurance">{{labels?.next}}</button>
  </div>
</div>