.top-border{
    border-top: 2px solid;
}
.bottum-border{
    border-bottom: 1px solid;
}

.head-tag{
    font-weight: bolder;
    font-size: 18px;
}

.font-fam{
    font-family: times new roman;
}

.img-style {
    width:200%;
 }

@media (min-width:300px) and (max-width:767px) {
    .img-style {
       width:100%;
    }
}

.table tbody tr td{
    text-align:left!important;
}

.mar-bot{
    margin-bottom:9%;
}

/* .mar-bot1{
    margin-bottom:20%;
}  */

.mar-top{
    margin-top: 25%;
}

.table-borderless{
    border:none!important;
    background-color: #f6f6f600!important;

}

.v-align{
    vertical-align: top!important;
}