.top-border{
    border-top: 2px solid;
}
.bottum-border{
    border-bottom: 1px solid;
}

.head-tag{
    font-weight: bolder;
    font-size: 18px;
}

.font-fam{
    font-family: times new roman;
}

.img-style {
    width:200%;
 }

@media (min-width:300px) and (max-width:767px) {
    .img-style {
       width:100%;
    }
}