<form class="multisteps-form__form" style="height: auto;" [formGroup]="exposureLiveLoan">
  <div class="multisteps-form__panel basic_scroll" data-animation="scaleIn">
    <div class="container">
      <div class="row">
        <div class=" application">
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg text-center">
                <td>{{labels?.sNO}} </td>
                <td>{{labels?.type}} </td>
                <td>{{labels?.loanNo}}</td>
                <td>{{labels?.assets}}</td>
                <td>{{labels?.yom}} </td>
                <td>{{labels?.gridValue}} </td>
                <td>{{labels?.ltv}} </td>
                <td>{{labels?.currentPos}} </td>
                <td>{{labels?.tenure}} </td>
                <td>{{labels?.emiPaid}} </td>
                <td>{{labels?.action}} </td>

              </tr>
            </thead>
            <tbody formArrayName="loanTable">
              <tr class=" text-center" id="applicant_1_row"
                *ngFor="let item of exposureLiveLoan.get('loanTable')['controls']; let i= index" [formGroupName]="i">
                <td>{{i+1}}</td>
                <td>
                  <select class="input_value height_alter" name="loanType" formControlName="loanType">
                    <option disabled>Select One</option>
                    <option value="{{item.key}}" *ngFor= " let item of lovData">{{item.value}}</option>
                    <!-- <option value="liveloan">Proposed</option> -->
                  </select>
                </td>
                <td><input type="number" class="input_value" value="loanNo" name="loanNumber"
                    class="form-control text-center" formControlName="loanNo"></td>
                <td>
                  <select class="input_value height_alter" name="assetType" formControlName="assetType">
                    <option disabled>Select One</option>
                    <option  value="{{item.key}}" *ngFor = " let item of productCategory" >{{item.value}}</option>
                    <!-- <option>Used Car</option>
                    <option>New CV</option>
                    <option>New Car</option> -->
                  </select>
                </td>
                <td><input type="number" class="input_value" value="2015" name="yom"
                    class="form-control text-center" formControlName="yom"  min="0"></td>
                <td><input type="number" class="input_value" value="55" name="gridValue" class="form-control text-center"
                    formControlName="gridValue"  min="0"></td>
                <td><input type="number" class="input_value" value="80" name="LTV" class="form-control text-center"
                    formControlName="ltv"  min="0"></td>
                <td><input type="number" class="input_value" value="34" name="currentPOS" class="form-control text-center"
                    formControlName="currentPos"  min="0"></td>
                <td><input type="number" class="input_value" value="60" name="tenure" class="form-control text-center"
                    formControlName="tenure"  min="0"></td>
                <td><input type="number" class="input_value" value="40" name="emiPaid" class="form-control text-center"
                    formControlName="emiPaid"  min="0"></td>
                <td><i type="button" class="fa fa-trash" aria-hidden="true" id="remove_item_applicant"
                    style="color: red;" (click)="removeIndex(i)"></i>&nbsp;<i type="button" class="fa fa-plus"
                    aria-hidden="true" id="remove_item_applicant" (click)="addUnit()"></i></td>
              </tr>

              <!-- <tr class="font-weight">
                        <td colspan="15">Proposed Asset Cost</td>
                        <td>720,000.00</td>
                       </tr>
                       <tr class="font-weight">
                           <td colspan="12">if more than above to be attach separte excel</td>
                           <td colspan="3">Total Fleet Value</td>
                           <td>720,000.00</td>
                       </tr> -->

            </tbody>
          </table>
          <!-- <i type="button" class="fa fa-plus add-row" aria-hidden="true"></i>
               <i type="button" class="fa fa-minus delete-row" aria-hidden="true"></i> -->
        </div>
      </div>
    </div>


  </div>

<!-- </form>
<form class="multisteps-form__form" style="height: auto;" [formGroup]="exposureProposedLoan"> -->
  <div class="multisteps-form__panel basic_scroll" data-animation="scaleIn">
    <div class="container">
      <div class="row">
        <div class=" application">
          <table class="table table-responsive">
            <thead>
              <tr class="table-head-bg text-center">
                <td>{{labels?.sNO}} </td>
                <td>{{labels?.type}} </td>
                <td>{{labels?.loanNo}}</td>
                <td>{{labels?.assets}}</td>
                <td>{{labels?.yom}} </td>
                <td>{{labels?.gridValue}} </td>
                <td>{{labels?.ltv}} </td>
                <td>{{labels?.currentPos}} </td>
                <td>{{labels?.tenure}} </td>
                <td>{{labels?.emiPaid}} </td>
                <td>{{labels?.action}} </td>

              </tr>
            </thead>
            <tbody formArrayName="proposedTable">
              <tr class=" text-center" id="applicant_1_row"
                *ngFor="let item of exposureLiveLoan.get('proposedTable')['controls']; let i= index"
                [formGroupName]="i">
                <td>{{i+1}}</td>
                <td>
                  <select class="input_value height_alter" name="loanType" formControlName="loanType">
                    <option disabled>Select One</option>
                    <option value="{{item.key}}" *ngFor= " let item of lovData">{{item.value}}</option>
                    
                    <!-- <option value="liveloan">Live loan</option> 
                    <option value="liveloan">Proposed</option> -->
                  </select>
                </td>
                <td><input type="number" class="input_value" value="" name="loanNumber"
                    class="form-control text-center" formControlName="loanNo"></td>
                <td>
                  <select class="input_value height_alter" name="assetType" formControlName="assetType">
                    <option disabled>Select One</option>
                    <!-- <option>Used CV</option>
                    <option>Used Car</option>
                    <option>New CV</option>
                    <option>New Car</option> -->
                    <option  value="{{item.key}}" *ngFor = " let item of productCategory" >{{item.value}}</option>
                  </select>
                </td>
                <td><input type="number" class="input_value" value="" name="yom"
                    class="form-control text-center" formControlName="yom"  min="0"></td>
                <td><input type="number" class="input_value" value="55" name="gridValue" class="form-control text-center"
                    formControlName="gridValue"  min="0"></td>
                <td><input type="number" class="input_value" value="80" name="LTV" class="form-control text-center"
                    formControlName="ltv"  min="0"></td>
                <td><input type="number" class="input_value" value="34" name="currentPOS" class="form-control text-center"
                    formControlName="currentPos"  min="0"></td>
                <td><input type="number" class="input_value" value="60" name="tenure" class="form-control text-center"
                    formControlName="tenure"  min="0"></td>
                <td><input type="number" class="input_value" value="40" name="emiPaid" class="form-control text-center"
                    formControlName="emiPaid"  min="0"></td>
                <td><i type="button" class="fa fa-trash" aria-hidden="true" id="remove_item_applicant"
                    style="color: red;" (click)="removeProposedIndex(i)"></i>&nbsp;<i type="button" class="fa fa-plus"
                    aria-hidden="true" id="remove_item_applicant" (click)="addProposedUnit()"></i></td>
              </tr>

              <!-- <tr class="font-weight">
                        <td colspan="15">Proposed Asset Cost</td>
                        <td>720,000.00</td>
                       </tr>
                       <tr class="font-weight">
                           <td colspan="12">if more than above to be attach separte excel</td>
                           <td colspan="3">Total Fleet Value</td>
                           <td>720,000.00</td>
                       </tr> -->

            </tbody>
          </table>
          <!-- <i type="button" class="fa fa-plus add-row" aria-hidden="true"></i>
               <i type="button" class="fa fa-minus delete-row" aria-hidden="true"></i> -->
        </div>
      </div>
    </div>


  </div>

</form>
<!-- </div> -->
<!-- </div> -->
<div class="btn-sec clear-both row cst_btm_btns">
  <div class="col-sm-5">

  </div>
  <div class="col-sm-7 text-right">
    <button class="btn btn-primary mar-right8" type="button" (click)="onBack()">Back </button>
    <button class="btn btn-primary mar-right8" type="button" (click)="onSubmit()">Save </button>
    <button class="btn btn-primary js-btn-next" type="button" (click)="onNext()"> Next </button>
  </div>
</div>
<div class="alert alert-success alert-dismissible fixed"
  id="alert" *ngIf="isAlert">
<button
  type="button"
  class="close"
  data-dismiss="alert"
  aria-label="Close"
>
  <span aria-hidden="true">&times;</span></button
>Saved!
</div>
<!-- <div class="alert alert-success alert-dismissible" id="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button> Souring Details saved Successfully.
</div> -->