<main class="mar-top90">
    <div class="container-fluid">

        <app-lead-section-header></app-lead-section-header>

        <div class="multisteps-form">
            <div class="multisteps-form__progress">
                <!-- <button class="multisteps-form__progress-btn js-active" type="button" id="deviations"
                    [ngClass]="{'js-active': locationIndex >= 0}"
                    [routerLink]="['./dashboard-deviation-details']">Deviations</button>
                <button class="multisteps-form__progress-btn " type="button" id="case_summary"
                    [ngClass]="{'js-active': locationIndex >= 1}" [routerLink]="['./case-summary']">Case
                    Summary</button> -->
            </div>

            <div class="content">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</main>