.search{    
    position: relative;
    display: inline-block;  
  }
  
  .dropdown-content a {
  text-align: left;
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border-radius: 20px;

  }
  
  .dropdown-content {
  /* margin-left: 10px; */
  border-radius: 20px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  
  .search:hover .dropdown-content {display: block;}
  
  .search:hover #selectbox {background-color: white;}   
  
  .option{
  border-radius:50px;
  }
  
  .form-control{
  /* height: 44px; */
  }
  
  .vertical-middle{
  position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .form-control{
    /* height: 44px; */
  }
  
  .vertical-middle{
    position: absolute;
      top: 23%;
      left: 0;
      right: 0;
      margin: 0 auto;
  }

  @media (min-width:300px) and (max-width:767px) {
    .search{    
      position: relative;
      display: inline-block;  
      height: 160px;
    }
  
    .profile-style{
    /* float: right; */
       /* width: 50%; */
       /* background-color: white; */
       /* z-index: -1; */
       position: absolute;
       right:1em;
       background-color: white;
    }

    .profile-compartment{
      background-color: #262161;
    width: 100%;
    margin: 8px;
    }

   
   
   }  