<div class="container-fluid">
    <table class="table">
        <thead>
            <tr class="table-head-bg">
                <th>{{labels.action}}<i class="fa fa-sort"></i></th>
                <th>{{labels.leadID}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.product}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.loanAmount}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.applicant}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.createdOn}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.createdBy}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.priority}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.promoCode}}<i class="fa fa-sort"></i> </th>
                <th>{{labels.status}} <i class="fa fa-sort"></i> </th>
                <th>{{labels.history}} <i class="fa fa-sort"></i> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pdListDashboard | paginate: { itemsPerPage: itemsPerPage, currentPage: q }">
                <td><input type="button" class="btn-primary" value="Release" data-toggle="modal" data-target="#releaseModal" /></td>
                <td class="text-underline" style="cursor: pointer;"><a [routerLink]="['/pages/dde', item.leadId, 'pd-report']" >{{item.leadId}}</a></td>
                <td>{{item.product}}</td>
                <td>{{item.loanAmt}}</td>
                <td>{{item.applicants}}</td>
                <td>{{item.createdOn}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.priority}}</td>
                <td>{{item.promoCode}}</td>
                <td>{{item.status}}</td>
                <td>
                    <a data-toggle="tooltip" data-placement="bottom" title="Click to View Timeline Chart"> <i class="fa fa-history"></i></a>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="row clearfix marBottom-45">
        <div class="records col-xs-3 col-sm-4">

            <div class="col-lg-3"><label>No. of Rows </label>
                <select class="form-control  input-sm" [(ngModel)]="itemsPerPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    </select>
            </div>

        </div>
        <nav class="col-xs-9 col-sm-4 text-center">
            <pagination-controls class="pagination" previousLabel="" nextLabel="" (pageChange)="q = $event"></pagination-controls>
        </nav>
    </div>

</div>