<div class="modal in" id="modalReject" [ngClass]="{ 'dis-block': showModalPopup }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" (click)="onCancel()">&times;</button>
        <h4 class="modal-title text-center ">{{data.title}}</h4>
      </div>
      <div class="modal-body ">
        <div class="">
          <div class="row">
            <div class="col-6 p-0 text-center">
                    <div class=""  *ngIf="data?.rejectReasonList">
                      <select name="reject_reason" id="reject_reason" class="form-control reject-wid-mrg" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                      <option disabled value="">-- Select one --</option>
                      <option value="{{reason.reasonCode}}" (click)="getReason(reason)" *ngFor="let reason of data.rejectReasonList">{{reason.reasonDesc}}</option>
                    </select>
                  </div>
                  <div class="" style="text-align:center"  *ngIf="!data?.rejectReasonList">
                    <p>No reject reason found...</p>
                  </div>
                 
            </div>
          </div>
        </div>
      </div>
      <div class=" ok_footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)='onOkay()' [disabled]="!isReason">Submit</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
