/*  style for modal popup*/

.text-center {
  text-align: center;
}

.box_shadow {
  box-shadow: 0px 8px 6px -9px black;
}

.img-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal_title {
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  color: #1d1a4b;
}

.modal_content {
  font-size: 18px;
  font-family: fantasy;
  text-align: center;
  color: #94999b;
}

.modal-body {
  text-align: center;
}

.modal-body.modal_coapp {
  text-align: left!important;
}



/* footer */

.ok_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.reject-wid-mrg{
    width: 75%;
    margin: 35px 20px 35px 72px;
    padding: 8px;
}

.wrapper{
  width:200px;
  padding:20px;
  height: 150px;
  }


  .dis-block {
    display: block;
  }

  .option-style{
    padding: 8px;
    font-size: 16px;
  }
  
  .top-modal {
    top: 30%;
  }


  @media (min-width:300px) and (max-width:767px) {
    .top-modal {
      top: 40%;
      width: 90%;
      margin: auto;
    }

    .modal-box{
      width: 85%;
      margin: auto;
    }

    .reject-wid-mrg{
      width: 90%;
      margin: auto;
      padding: 8px;
    }

  }