<main class="mar-top90">
  <app-lead-section-header></app-lead-section-header>

  <div class="container-fluid">
    <h3 class="margin_zero">{{ labels?.addApplicantTitle }}</h3>
    <form [formGroup]="coApplicantForm">
      <div class="content">
        <div class="row">
          <div id="individual_section_leadco">
            <div class="row">
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="Vechical Type"
                  >{{ labels?.entity }}<sub class="star_red_col">*</sub></label
                >
                <app-vf-custom-select
                  [values]="LOV.LOVS?.entityType"
                  formControlName="entityType"
                  (change)="selectApplicantType($event)"
                >
                </app-vf-custom-select>
                <!-- <div 
                *ngIf="coApplicantForm.get('entityType').value === null ">
                  Entity is required
                </div> -->
                <!-- <span
              *ngIf="(applicantType !== 'INDIVENTTYP' && !'NONINDIVENTTYP') && applicantDetailsControls.entityType.untouched " >
                Requierd</span> -->
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="Vechical Type">{{
                  labels.relationshipwithloanapplicant
                }}</label>
                <app-vf-custom-select
                  [values]="LOV.LOVS.applicantRelationshipWithLead"
                  formControlName="loanApplicationRelation"
                >
                </app-vf-custom-select>
              </div>
            </div>

            <div class="row individual_section_leadco">
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="first_name" *ngIf="applicantType == 'INDIVENTTYP'"
                  >{{ labels?.firstName }}
                  <sub class="star_red_col">*</sub></label
                >
                <label
                  for="first_name"
                  *ngIf="applicantType == 'NONINDIVENTTYP'"
                  >{{ labels.companyName1 }}
                  <sub class="star_red_col">*</sub>
                </label>
                <!-- <input
                  type="text"
                  class="form-control"
                  id="first_name"
                  formControlName="name1"
                /> -->
                <app-custom-input
                  formControlName="name1"
                  [patternCheck]="namePattern"
                  [isRequired]="'Name is required'"
                  [maxlength]="Maxlength30"
                ></app-custom-input>
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label
                  for="first_name"
                  *ngIf="applicantType == 'INDIVENTTYP'"
                  >{{ labels?.middleName }}</label
                >
                <label
                  for="first_name"
                  *ngIf="applicantType == 'NONINDIVENTTYP'"
                  >{{ labels.companyName2 }}
                </label>
                <!-- <input
                  type="text"
                  class="form-control"
                  id="middle_name"
                  formControlName="name2"
                /> -->
                <app-custom-input
                  formControlName="name2"
                  [patternCheck]="namePattern"
                  [maxlength]="Maxlength30"
                ></app-custom-input>
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label
                  for="first_name"
                  *ngIf="applicantType == 'INDIVENTTYP'"
                  >{{ labels?.lastName }}</label
                >
                <label
                  for="first_name"
                  *ngIf="applicantType == 'NONINDIVENTTYP'"
                  >{{ labels.companyName3 }}
                </label>
                <!-- <input
                  type="text"
                  class="form-control"
                  id="last_name"
                  formControlName="name3"
                /> -->
                <app-custom-input
                  formControlName="name3"
                  [patternCheck]="namePattern"
                  [maxlength]="Maxlength30"
                ></app-custom-input>
              </div>
            </div>

            <!-- <div
              class="row non_individual_section_leadco"
              *ngIf="applicantType === 'NONINDIVENTTYP'"
            >
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="company_name1">{{ labels?.companyName1 }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="company_name1"
                  formControlName="company_name1"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="company_name2">{{ labels?.companyName2 }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="company_name2"
                  formControlName="company_name2"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="company_name3">{{ labels?.companyName3 }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="company_name3"
                  formControlName="company_name3"
                />
              </div>
            </div> -->

            <div class="row">
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile"
                  >{{ labels?.mobile }} <sub class="star_red_col">*</sub></label
                >
                <!-- <input
                  type="text"
                  class="form-control"
                  id="mobile"
                  formControlName="mobilePhone"
                /> -->
                <app-custom-input
                  formControlName="mobilePhone"
                  [patternCheck]="mobileNumberPattern"
                  [isRequired]="'Mobile number is required'"
                  [maxLength]="{ rule: 10 }"
                ></app-custom-input>
              </div>

              <div class="row" *ngIf="applicantType == 'INDIVENTTYP'">
                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                  <label for="date_of_birth"
                    >{{ labels?.dateOfBirth }}
                    <sub class="star_red_col">*</sub></label
                  >
                  <!-- <div class="input-group input-medium">
                    <span class="input-group-btn">
                      <button class="btn btn-default">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span> -->
                  <!-- <input
                      type="date"
                      class="form-control"
                      id="date_of_birth"
                      formControlName="dob"
                      required
                    /> -->
                  <kendo-datepicker
                    class="form-control mandatory"
                    formControlName="dob"
                    [format]="'dd/MM/yyyy'"
                    [max]="toDayDate"
                    [activeView]="'decade'"
                    placeholder="Date of birth"
                  >
                  </kendo-datepicker>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row" *ngIf="applicantType == 'NONINDIVENTTYP'">
                <div class="form-group col-sm-6 col-md-3 col-lg-3">
                  <label for="date_of_incorporation"
                    >{{ labels?.dateOfIncorporation }}
                    <sub class="star_red_col">*</sub></label
                  >
                  <!-- <div class="input-group input-medium">
                    <span class="input-group-btn">
                      <button class="btn btn-default">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                    <input
                      type="date"
                      class="form-control"
                      id="date_of_incorporation"
                      formControlName="dateOfIncorporation"
                      data-date-format="DD MMMM YYYY"
                    />
                  </div> -->
                  <kendo-datepicker
                    class="form-control mandatory"
                    formControlName="dateOfIncorporation"
                    [format]="'dd/MM/yyyy'"
                    [max]="toDayDate"
                    [activeView]="'decade'"
                    placeholder="Date of Incorporation"
                  >
                  </kendo-datepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="form-group col-sm-6 col-md-3 col-lg-3 individual_section_leadco"
                *ngIf="applicantType == 'INDIVENTTYP'"
              >
                <label for="aadharnumber"
                  >{{ labels?.aadharnumber }}
                  <sub class="star_red_col">*</sub></label
                >
                <div class="input-group input-medium">
                  <!-- <input
                    type="text"
                    class="form-control date_caps"
                    id="aadhar_number"
                    name="aadhar_number"
                    formControlName="aadhar"
                  /> -->
                  <app-custom-input
                    formControlName="aadhar"
                    [maxLength]="Maxlength12"
                  ></app-custom-input>
                  <!-- [patternCheck]="adharNumberPattern" -->
                  <!-- [isRequired]="'Adhar number is required'" -->
                  <span class="input-group-btn">
                    <button class="btn btn-default">
                      <i class="fa fa-credit-card"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="identity_number">{{ labels?.panform }}</label>
                <app-vf-custom-select
                  [values]="LOV.LOVS?.applicantPanType"
                  formControlName="panType"
                  (change)="getPanValue($event)"
                >
                </app-vf-custom-select>
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{ labels?.pannumber }}</label>
                <!-- <input
                  type="text"
                  class="form-control"
                  id="pannumber"
                  formControlName="pan"
                  [disabled]="isPanDisabled"
                /> -->
                <app-custom-input
                  formControlName="pan"
                  [patternCheck]="panPattern"
                  [disabled]="isPanDisabled"
                  [isRequired]="'Pan number is required'"
                  [inputClass]="'text-uppercase'"
                  [maxLength]="Maxlength10"
                ></app-custom-input>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{ labels?.drivingLicenseNumber }}</label>
                <!-- <input
                  type="text"
                  class="form-control"
                  id="pannumber"
                  formControlName="drivingLicenseNumber"
                /> -->
                <app-custom-input
                  formControlName="drivingLicenseNumber"
                  [patternCheck]="drivingLicensePattern"
                  [maxLength]="Maxlength15"
                  (change)="onDrvingLisenseChange($event)"
                  [inputClass]="'text-uppercase'"
                ></app-custom-input>
              </div>

              <!-- 
              -->

              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{
                  labels?.drivingLicenceIssueDate
                }}</label>
                <div class="input-group input-medium">
                  <span class="input-group-btn">
                    <button class="btn btn-default">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                  <input
                    name="drivingLicenseIssueDate"
                    type="date"
                    class="form-control"
                    id="date_of_birth"
                    formControlName="drivingLicenseIssueDate"
                    [required]="mandatory['drivingLicenseIssueDate']"
                    [(ngModel)]="drivingLicenseIssueDate"
                    (ngModelChange)="dateSelected()"
                  />

                  <!-- <app-custom-input
                formControlName="drivingLicenseNumber"
                
                [isRequired]="Licensemessage"
               
              ></app-custom-input> -->
                </div>
                <div
                  class="ShowError"
                  *ngIf="
                    mandatory['drivingLicenseIssueDate'] &&
                    (coApplicantForm.get('drivingLicenseIssueDate').dirty ||
                      coApplicantForm.get('drivingLicenseIssueDate').touched)
                  "
                >
                  Select Date
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{
                  labels?.drivingLicenceExpiryDate
                }}</label>
                <div class="input-group input-medium">
                  <span class="input-group-btn">
                    <button class="btn btn-default">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                  <input
                    type="date"
                    class="form-control"
                    id="date_of_birth"
                    name="drivingLicenseExpiryDate"
                    formControlName="drivingLicenseExpiryDate"
                    [required]="mandatory['drivingLicenseExpiryDate']"
                    [(ngModel)]="drivingLicenseExpiryDate"
                    (ngModelChange)="expiryDateSelected()"
                  />
                </div>
                <div
                  class="ShowError"
                  *ngIf="
                    mandatory['drivingLicenseExpiryDate'] &&
                    (coApplicantForm.get('drivingLicenseExpiryDate').dirty ||
                      coApplicantForm.get('drivingLicenseExpiryDate').touched)
                  "
                >
                  Select date
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{ labels?.passportNumber }}</label>
                <!-- <input
                  type="text"
                  class="form-control"
                  id="pannumber"
                  formControlName="passportNumber"
                /> -->
                <app-custom-input
                  formControlName="passportNumber"
                  [patternCheck]="passportPattern"
                  (change)="onPassportNumberChange($event)"
                  [inputClass]="'text-uppercase'"
                  [maxLength]="Maxlength8"
                ></app-custom-input>
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{ labels?.passportIssueDate }}</label>
                <div class="input-group input-medium">
                  <span class="input-group-btn">
                    <button class="btn btn-default">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                  <input
                    type="date"
                    class="form-control"
                    id="date_of_birth"
                    formControlName="passportIssueDate"
                    [required]="passportMandatory['passportIssueDate']"
                    [(ngModel)]="passportIssueDate"
                    (ngModelChange)="passportDateSelected()"
                  />
                </div>
                <div
                  class="ShowError"
                  *ngIf="
                    passportMandatory['passportIssueDate'] &&
                    (coApplicantForm.get('passportIssueDate').dirty ||
                      coApplicantForm.get('passportIssueDate').touched)
                  "
                >
                  Select Date
                </div>
              </div>

              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{ labels?.passportExpiryDate }}</label>
                <div class="input-group input-medium">
                  <span class="input-group-btn">
                    <button class="btn btn-default">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                  <input
                    type="date"
                    class="form-control"
                    id="date_of_birth"
                    formControlName="passportExpiryDate"
                    [required]="passportMandatory['passportExpiryDate']"
                    [(ngModel)]="passportExpiryDate"
                    (ngModelChange)="passportExpiryDateSelected()"
                  />
                </div>
                <div
                  class="ShowError"
                  *ngIf="
                    passportMandatory['passportExpiryDate'] &&
                    (coApplicantForm.get('passportExpiryDate').dirty ||
                      coApplicantForm.get('passportExpiryDate').touched)
                  "
                >
                  Select Date
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6 col-md-3 col-lg-3">
                <label for="mobile">{{ labels?.voterIdNumber }}</label>
                <!-- <input
                  type="text"
                  class="form-control"
                  id="voterIdNumber"
                  formControlName="voterIdNumber"
                /> -->
                <app-custom-input
                  formControlName="voterIdNumber"
                  [patternCheck]="voterIdPattern"
                  [inputClass]="'text-uppercase'"
                ></app-custom-input>
              </div>
              <!-- <div class="form-group col-sm-6 col-md-3 col-lg-3">
              </div> -->
              <div class="form-group col-sm-6 col-md-3 col-lg-3 margin-top-20">
                <button
                  class="btn btn-primary mar-right8"
                  type="button"
                  (click)="checkDedupe()"
                  [disabled]="isValueChanged"
                >
                  <a class="back_color">Check Dedupe</a>
                </button>
              </div>
            </div>
            <div
              class="multisteps-form__panel"
              data-animation="scaleIn"
              *ngIf="isDedupeFound && isValueChanged"
            >
              <div
                id="individual_section_address"
                class="individual_section_leadco"
                *ngIf="applicantType == 'INDIVENTTYP'"
              >
                <h3 class="title">Permanent Address</h3>
                <div class="row" formGroupName="permentAddress">
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="address1">{{ labels?.addressline1 }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="address1"
                      formControlName="addressLineOne"
                    /> -->
                    <app-custom-input
                      formControlName="addressLineOne"
                      [isRequired]="'Address is Required'"
                      [maxlength]="Maxlength40"
                    ></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="address2">{{ labels?.addressline2 }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="address2"
                      formControlName="addressLineTwo"
                    /> -->
                    <app-custom-input
                      formControlName="addressLineTwo"
                      [maxlength]="Maxlength40"
                    ></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="address3">{{ labels?.addressline3 }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="address3"
                      formControlName="addressLineThree"
                    /> -->
                    <app-custom-input
                      formControlName="addressLineThree"
                      [maxlength]="Maxlength40"
                    ></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="pincode">{{ labels?.code }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="permanentPincode"
                      formControlName="pincode"
                      (keyup)="getPincode($event.target)"
                    /> -->
                    <app-custom-input
                      formControlName="pincode"
                      [maxlength]="Maxlength40"
                      [patternCheck]="pincodePattern"
                      (keyup)="getPincode($event.target)"
                      [id]="'permanentPincode'"
                      [isRequired]="'Pincode is required'"
                    ></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="permanent_address_city">{{
                      labels?.city
                    }}</label>
                    <app-vf-custom-select
                      [values]="permanentPincode?.city"
                      formControlName="city"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="permanent_address_district">{{
                      labels?.district
                    }}</label>
                    <app-vf-custom-select
                      [values]="permanentPincode?.district"
                      formControlName="district"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="permanent_address_state">{{
                      labels?.state
                    }}</label>
                    <app-vf-custom-select
                      [values]="permanentPincode?.state"
                      formControlName="state"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="permanent_address_country">{{
                      labels.country
                    }}</label>
                    <app-vf-custom-select
                      [values]="permanentPincode?.country"
                      formControlName="country"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="landline">{{
                      labels?.permanentAddressLandline
                    }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="landline"
                      formControlName="landlineNumber"
                    /> -->
                    <app-custom-input
                      formControlName="landlineNumber"
                      [patternCheck]="landlLinePattern"
                      [maxLength]="Maxlength15"
                    ></app-custom-input>
                  </div>
                </div>
                <div class="btn-sec clear-both row">
                  <div class="col-lg-3 col-sm-5">
                    <h3 class="title">Current/Communication Address</h3>
                  </div>
                  <div class="col-lg-3 text-left" id="align_this_checkbox">
                    <input
                      type="checkbox"
                      id="address_section_checkbox"
                      (click)="onAddress($event)"
                    />
                    <span id="address_section_checkbox_text"
                      >Check If It Is Same As Permanent Address?
                    </span>
                  </div>
                </div>
                <div class="row" formGroupName="communicationAddress">
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="line1">{{ labels?.addressline1 }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="line1"
                      formControlName="addressLineOne"
                    /> -->
                    <app-custom-input
                      formControlName="addressLineOne"
                      [isRequired]="'Address is Required'"
                      [maxlength]="Maxlength40"
                    ></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="line2">{{ labels?.addressline2 }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="line2"
                      formControlName="addressLineTwo"
                    /> -->
                    <app-custom-input
                      formControlName="addressLineTwo"
                      [maxlength]="Maxlength40"
                    ></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="line3">{{ labels?.addressline3 }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="line3"
                      formControlName="addressLineThree"
                    /> -->
                    <app-custom-input
                      formControlName="addressLineThree"
                      [maxlength]="Maxlength40"
                    ></app-custom-input>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_pincode">{{ labels?.code }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="currentPincode"
                      formControlName="pincode"
                      (keyup)="getPincode($event.target)"
                    /> -->
                    <app-custom-input
                      formControlName="pincode"
                      [maxlength]="Maxlength40"
                      [patternCheck]="pincodePattern"
                      (keyup)="getPincode($event.target)"
                      [id]="'currentPincode'"
                      [isRequired]="'Pincode is required'"
                    ></app-custom-input>
                  </div>
                  <div class="form-grmar-right8oup col-sm-6 col-md-3 col-lg-3">
                    <label for="current_address_city">{{ labels?.city }}</label>
                    <app-vf-custom-select
                      [values]="currentPincode?.city"
                      formControlName="city"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_address_district">{{
                      labels?.district
                    }}</label>
                    <app-vf-custom-select
                      [values]="currentPincode?.district"
                      formControlName="district"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_address_state">{{
                      labels?.state
                    }}</label>
                    <app-vf-custom-select
                      [values]="currentPincode?.state"
                      formControlName="state"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_address_country">{{
                      labels?.country
                    }}</label>
                    <app-vf-custom-select
                      [values]="currentPincode?.country"
                      formControlName="country"
                    >
                    </app-vf-custom-select>
                  </div>

                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_landline">{{
                      labels?.landlineNumber
                    }}</label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="current_landline"
                      formControlName="landlineNumber"
                    /> -->
                    <app-custom-input
                      formControlName="landlineNumber"
                      [patternCheck]="landlLinePattern"
                      [maxLength]="Maxlength15"
                    ></app-custom-input>
                  </div>
                </div>
              </div>

              <div
                id="non_individual_section_address"
                class="non_individual_section_leadco"
                *ngIf="applicantType == 'NONINDIVENTTYP'"
              >
                <h3 class="title">Registered Address</h3>
                <div class="row" formGroupName="registeredAddress">
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="registered_line1">{{ labels?.line1 }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="registered_line1"
                      formControlName="addressLineOne"
                    />
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="registered_line2">{{ labels?.line2 }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="registered_line2"
                      formControlName="addressLineTwo"
                    />
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="registered_line3">{{ labels?.line3 }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="registered_line3"
                      formControlName="addressLineThree"
                    />
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="registered_pincode">{{
                      labels?.registeredAddressPinCode
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="registerPincode"
                      formControlName="pincode"
                      (keyup)="getPincode($event.target)"
                    />
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="registered_address_city">{{
                      labels?.registeredAddressCity
                    }}</label>
                    <app-vf-custom-select
                      [values]="registerPincode?.city"
                      formControlName="city"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_address_district">{{
                      labels?.registeredAddressDistrict
                    }}</label>
                    <!-- <select class="form-control" id="current_address_district">
                      <option>District 1</option>
                      <option>District 2</option>
                      <option>District 3</option>
                    </select> -->
                    <app-vf-custom-select
                      [values]="registerPincode?.district"
                      formControlName="district"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_address_state">{{
                      labels?.registeredAddressState
                    }}</label>
                    <!-- <select class="form-control" id="current_address_state">
                      <option>State 1</option>
                      <option>State 2</option>
                      <option>State 3</option>
                    </select> -->
                    <app-vf-custom-select
                      [values]="registerPincode?.state"
                      formControlName="state"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="current_address_country">{{
                      labels?.registeredAddressCountry
                    }}</label>
                    <!-- <select class="form-control" id="current_address_country">
                      <option>Country 1</option>
                      <option>Country 2</option>
                      <option>Country 3</option>
                    </select> -->
                    <app-vf-custom-select
                      [values]="registerPincode?.country"
                      formControlName="country"
                    >
                    </app-vf-custom-select>
                  </div>
                  <div class="form-group col-sm-6 col-md-3 col-lg-3">
                    <label for="reg_mobile">{{ labels?.landlineNumber }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="reg_mobile"
                      formControlName="landlineNumber"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="btn-sec clear-both" *ngIf="isDedupeFound && isValueChanged">
    <div class="col-sm-5"></div>
    <div class="col-sm-7 text-right" id="clickButton">
      <button
        class="btn btn-primary mar-right8"
        type="button"
        (click)="navigateToApplicantList()"
      >
        <a class="back_color">Back</a></button
      >&nbsp;
      <button type="button" (click)="onFormSubmit()" class="btn btn-primary">
        <a class="back_color">Save</a>
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="[
          '/pages/lead-section',
          leadId,
          'otp-section',
          applicantId
        ]"
      >
        <a class="back_color">Next</a>
      </button>
    </div>
  </div>
</main>

<div class="modal" id="myModal" [ngClass]="{ 'dis-block': showDedupeModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Decision on Dedupe Results</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p id="">Customer dedupe not found, continuing as new applicant.</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer text-center">
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          id="reject_dlead"
          (click)="navgiateToSamePage()"
        >
          OKAY
        </button>
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancel
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- <footer class="footer pf">
  <div class="container">
    <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
  </div>
</footer> -->
