<div class="content">
  <form class="multisteps-form__form" style="height: auto" [formGroup]="bankForm">
    <div class="multisteps-form__panel js-active " data-animation="scaleIn">

      <h3 class="banner-con">
        Bank Details
        <span class="float-right">{{udfScreenId}}</span>
      </h3>

      <div class="row">

        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="account_holder_name">{{labels?.accountHolderName}} <sub class="star_red_col">*</sub></label>
          <!-- <input formControlName="accountHolderName" type="text" class="form-control"
                     name="account_holder_name" id="account_holder_name" required="required" appLettersOnly> -->
          <app-custom-input formControlName="accountHolderName" [patternCheck]="namePattern"
            [maxLength]="labels?.validationData?.name?.maxLength" [type]="labels?.validationData?.name?.type"
            [isRequired]="'Account Holder name is required '" [isDirty]="isDirty"></app-custom-input>
        </div>

        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="bank_name">{{labels?.bankName}}<sub class="star_red_col">*</sub></label>

          <div class="ng-autopopulate" style="width: 100%;">

            <ng-autocomplete class="custom-select-box" [data]="searchBankNameList" [searchKeyword]="keyword"
              (selected)='selectBankNameEvent($event)' (inputChanged)='onBankNameSearch($event)'
              (inputCleared)='onBankNameClear($event)'
              [itemTemplate]="favBankNameTemplate" [notFoundTemplate]="notFoundTemplate" formControlName="bankId"
              [placeHolder]="'Bank Name'" [debounceTime]="400" [minQueryLength]="3">
            </ng-autocomplete>

            <div class="invalid-feedback">
              <div *ngIf="bankForm.get('bankId').touched && bankForm.get('bankId').hasError('required')"> Bank name
                required.</div>
              <div *ngIf="bankForm.get('bankId').hasError('minlength')"> Mininum 3 Charates
                required</div>
            </div>
            <ng-template #favBankNameTemplate let-item>
              <a [innerHTML]="item"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>

        </div>

        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="bank_name">{{labels?.ifscCode}}<sub class="star_red_col">*</sub></label>

          <div class="ng-autopopulate" style="width: 100%;">

            <ng-autocomplete class="custom-select-box" [data]="searchIFSCCode" [searchKeyword]="keyword"
              [ngClass]="{ 'codeDisable disableCode': !isEnableBranch }" (selected)="selectIFSCCode($event, 'IFSC')"
              (inputChanged)='onIFSCSearcn($event)' [itemTemplate]="searchIFSCTemplate"
              [notFoundTemplate]="notFoundIFSC" formControlName="ifscCode" [placeHolder]="'IFSC Code'"
              [minQueryLength]="3" [disabled]="!isEnableBranch">
            </ng-autocomplete>
            <div class="invalid-feedback">
              <div *ngIf="bankForm.get('ifscCode').touched && bankForm.get('ifscCode').hasError('required')"> IFSC code
                required.
              </div>
              <div *ngIf="bankForm.get('ifscCode').hasError('minlength')"> Mininum 3 Charates
                required</div>
            </div>
            <ng-template #searchIFSCTemplate let-item>
              <a [innerHTML]="item.ifscCode"></a>
            </ng-template>
            <ng-template #notFoundIFSC let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="account_number">{{labels?.accountBranchname}} <sub class="star_red_col">*</sub></label>

          <div class="ng-autopopulate" style="width: 100%;">

            <ng-autocomplete class="custom-select-box" [data]="searchBranchName" [searchKeyword]="keyword"
              [ngClass]="{ 'codeDisable disableCode': !isEnableBranch }" (selected)="selectIFSCCode($event, 'Branch')"
              (inputChanged)='onChangeBranch($event)' [itemTemplate]="searchBranchTemplate"
              [notFoundTemplate]="notFoundBranch" formControlName="accountBranch" [placeHolder]="'Account Branch'"
              [minQueryLength]="3" [disabled]="!isEnableBranch">
            </ng-autocomplete>
            <div class="invalid-feedback">
              <div *ngIf="bankForm.get('accountBranch').touched && bankForm.get('accountBranch').hasError('required')">
                Account
                Branch
                required.
              </div>
              <div *ngIf="bankForm.get('accountBranch').hasError('minlength')"> Mininum 3 Charates
                required</div>
            </div>
            <ng-template #searchBranchTemplate let-item>
              <a [innerHTML]="item.branchName"></a>
            </ng-template>
            <ng-template #notFoundBranch let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>

          <!-- <app-vf-custom-select formControlName="accountBranch" [values]="lovData?.bankMaster"
            [isRequired]="'Please Select Account Branch'" [isDirty]="isDirty"></app-vf-custom-select> -->

        </div>

        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="account_number">{{labels?.accountNo}} <sub class="star_red_col">*</sub></label>

          <app-custom-input formControlName="accountNumber"
            [maxLength]="labels?.validationData?.pdAccountNumber?.maxLength"
            [type]="labels?.validationData?.pdAccountNumber?.type"
            [patternCheck]="labels?.validationData?.pdAccountNumber?.pattern"
            [isRequired]="'Account Number is required'" [isDirty]="isDirty" [inputClass]="'input-upper'">
          </app-custom-input>
          <!-- [patternCheck]="labels?.validationData?.accountNumber?.pattern" -->
        </div>

        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="account_type">{{labels?.accountType}} <sub class="star_red_col">*</sub></label>

          <app-vf-custom-select formControlName="accountType" [values]="lovData?.bankAccountType" [isDirty]="isDirty"
            [isRequired]="'Please Select Account Type'"></app-vf-custom-select>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-sm-6 col-md-4 col-lg-3" *ngIf="isLimitRequire">
          <label for="limit">{{labels?.limit}}</label>
          <app-custom-input formControlName="limit" [patternCheck]="limitNumberPattern"
            [maxLength]="labels?.validationData?.limitAmount?.maxLength"
            [type]="labels?.validationData?.limitAmount?.type" [isRequired]="'Limit is required'" [isDirty]="isDirty">
          </app-custom-input>
          <!-- [isRequired]="'Limit is required'" -->
          <!-- <input formControlName="limit" type="number" class="form-control" name="limit" id="limit"   min= "0"required="required"> -->
        </div>

      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="from_date">{{labels?.fromDate}} <sub class="star_red_col">*</sub></label>
          <kendo-datepicker class="form-control" formControlName="fromDate" [format]="'dd/MM/yyyy'"
            placeholder="Select Start Month" [activeView]="'decade'" (valueChange)="getMonths()" [max]="todayDateNew">
          </kendo-datepicker>

          <div class="invalid-feedback">
            <span *ngIf="bankForm.get('fromDate').value && bankForm.get('fromDate').invalid">
              Invalid Date </span>
            <span *ngIf="isDirty && !bankForm.get('fromDate').value">
              Select Date </span>
          </div>
        </div>
        <div [ngClass]="{'disablField': !f.fromDate.value}" class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="to_date">{{labels?.toDate}} <sub class="star_red_col">*</sub></label>
          <kendo-datepicker class="form-control" formControlName="toDate" [format]="'dd/MM/yyyy'" [max]="toDayDate"
            [min]="bankForm.get('fromDate').valid ? bankForm.get('fromDate').value : ''"
            placeholder="Select Latest Month" [activeView]="'decade'" (valueChange)="setToDateMax()"></kendo-datepicker>
          <div class="invalid-feedback">
            <span *ngIf="bankForm.get('toDate').value && bankForm.get('toDate').invalid">
              Invalid Date </span>
            <span *ngIf="isDirty &&  !bankForm.get('toDate').value ">
              Select Date </span>

          </div>


        </div>
        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="period">{{labels?.period}}</label>
          <input formControlName="period" type="number" class="form-control" name="period" id="period" min="0"
            required="required" disabled>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="limit">{{labels?.micrNo}}<sub class="star_red_col">*</sub></label>
          <app-custom-input formControlName="micrNumber" [patternCheck]="labels?.validationData?.micrFormat?.pattern"
            [maxLength]="labels?.validationData?.micrFormat?.maxLength"
            [type]="labels?.validationData?.micrFormat?.type" [isRequired]="'MICR No is required'"
            [placeholder]="'MICR No'" [isDirty]="isDirty" [inputClass]="'input-upper'"></app-custom-input>
          <!-- [isRequired]="'Limit is required'" -->
          <!-- <input formControlName="limit" type="number" class="form-control" name="limit" id="limit"   min= "0"required="required"> -->
        </div>
        <div class="form-group col-sm-6 col-md-4 col-lg-3">
          <label for="limit">{{labels?.totalCredits}}</label>
          <app-custom-input formControlName="totalCredits" [patternCheck]="limitNumberPattern"
            [maxLength]="limitLength20" [type]="labels?.validationData?.amountValue?.type"
            [placeholder]="'Total number of credits'"></app-custom-input>
          <!-- [isRequired]="'Limit is required'" -->
          <!-- <input formControlName="limit" type="number" class="form-control" name="limit" id="limit"   min= "0"required="required"> -->
        </div>
      </div>
      <div class="">
        <div class="table-responsive application">
          <table class="table">
            <thead>
              <tr class="table-head-bg">

                <td role="columnheader">
                  {{labels?.month}}
                </td>
                <td role="columnheader">
                  {{labels?.inflow}}
                </td>
                <td role="columnheader">
                  {{labels?.outflow}}
                </td>
                <td role="columnheader">
                  {{labels?.noOfInwardBounces}}
                </td>
                <td role="columnheader">
                  {{labels?.noOfOutwardBounces}}
                </td>
                <td role="columnheader">
                  {{labels?.balanceOn5th}}
                </td>
                <td role="columnheader">
                  {{labels?.balanceOn15th}}
                </td>
                <td role="columnheader">
                  {{labels?.balanceOn20th}}
                </td>
                <td role="columnheader">
                  {{labels?.abbOfMonth}}
                </td>
                <!-- <td role="columnheader">Any Other Remarks</td> -->
              </tr>
            </thead>
            <tbody formArrayName="transactionDetails">
              <tr *ngFor="let item of bankForm.get('transactionDetails')['controls']; let i= index "
                [formGroupName]="i">
                <td>
                  <input class="form-control" formControlName="month" disabled>
                  <!-- value="{{assignedArray[i ] ? assignedArray[i ] : assignedArray[i].month[0]}}" -->
                </td>
                <td>
                  <!-- <input type="number" class="form-control input_value"   min= "0" formControlName="inflow"> -->
                  <app-custom-input formControlName="inflow" [patternCheck]="inputValidation"
                    [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [type]="labels?.validationData?.amountValue?.type" [isRequired]="'*required'" [isDirty]="isDirty"
                    (keyup)="savetransactionData() "></app-custom-input>
                </td>
                <td>
                  <!-- <input type="number" class="form-control input_value"  min= "0" formControlName="outflow"> -->
                  <app-custom-input formControlName="outflow" [patternCheck]="inputValidation"
                    [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [type]="labels?.validationData?.amountValue?.type" [isRequired]="'*required'" [isDirty]="isDirty"
                    (keyup)="savetransactionData() "></app-custom-input>
                </td>
                <td>

                  <!-- <input type="number" class="form-control input_value"   min= "0" formControlName="noOfInWardBounces"> -->
                  <app-custom-input formControlName="noOfInWardBounces" [patternCheck]="inputValidation"
                    [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [type]="labels?.validationData?.amountValue?.type" [isRequired]="'*required'" [isDirty]="isDirty"
                    (keyup)="savetransactionData() "></app-custom-input>
                </td>
                <td>
                  <!-- <input type="number" class="form-control input_value"  min= "0" formControlName="noOfOutWardBounces"> -->
                  <app-custom-input formControlName="noOfOutWardBounces" [patternCheck]="inputValidation"
                    [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [type]="labels?.validationData?.amountValue?.type" [isRequired]="'*required'" [isDirty]="isDirty"
                    (keyup)="savetransactionData() "></app-custom-input>
                </td>
                <td>
                  <!-- <input type="number" class="form-control input_value"  min= "0" formControlName="balanceOn5th"> -->
                  <app-custom-input formControlName="balanceOn5th" [patternCheck]="inputValidation"
                    [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [type]="labels?.validationData?.amountValue?.type" [isRequired]="'*required'" [isDirty]="isDirty"
                    (keyup)="calculateAbb(i)"></app-custom-input>
                </td>
                <td>
                  <!-- <input type="number" class="form-control input_value"  min= "0" formControlName="balanceOn15th"> -->
                  <app-custom-input formControlName="balanceOn15th" [patternCheck]="inputValidation"
                    [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [type]="labels?.validationData?.amountValue?.type" [isRequired]="'*required'" [isDirty]="isDirty"
                    (keyup)="calculateAbb(i)"></app-custom-input>
                </td>
                <td>
                  <!-- <input type="number" class="form-control input_value"  min= "0" formControlName="balanceOn20th"> -->
                  <app-custom-input formControlName="balanceOn20th" [patternCheck]="inputValidation"
                    [maxLength]="labels?.validationData?.amountValue?.maxLength"
                    [type]="labels?.validationData?.amountValue?.type" [isRequired]="'*required'" [isDirty]="isDirty"
                    (keyup)="calculateAbb(i)"></app-custom-input>
                </td>
                <td>
                  <!-- <input type="number" class="form-control input_value"  min= "0" formControlName="abbOfTheMonth" disabled>  -->
                  <app-custom-input formControlName="abbOfTheMonth" [patternCheck]="inputValidation"
                    [maxLength]=" inputLength10" [isRequired]="'*required'" [isDirty]="isDirty" [isDisabled]="true">
                  </app-custom-input>
                </td>
                <!--  <td><input type="text" class="form-control input_value" value=""></td> -->
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- </div> -->

  </form>

  <div>
    <app-shared-user-defined-fields [isDirty]="isDirty" [udfScreenId]="udfScreenId" [udfGroupId]="udfGroupId"
      [udfDetails]="udfDetails" (saveUserdefined)="onSaveuserDefinedFields($event)"></app-shared-user-defined-fields>

  </div>


  <div class="btn-sec clear-both row cst_btm_btns">

    <div class="col-sm-5">
      <button class="btn btn-primary dash_href hvr-sweep-to-left" (click)="onBackToApplicant()">
        {{labels?.backToApplicantDetails}} </button>
    </div>
    <div class="col-sm-7 text-right">
      <button class="btn btn-primary dash_href hvr-sweep-to-left" type="button"
        (click)="onBack()">{{labels?.back}}</button>
      <button class="btn btn-primary" (click)="onSave()" *ngIf="!disableSaveBtn"> {{labels?.save}} </button>
      <!-- <button class="btn btn-primary dash_href " type="button" >Next</button> -->
      <!-- (click)="onSave()"  -->
    </div>

  </div>
</div>