<div class="container-fluid">
    <table class="table">
        <thead>
            <tr class="table-head-bg">
                <th>Lead ID <i class="fa fa-sort"></i> </th>
                <th>Product<i class="fa fa-sort"></i> </th>
                <th>Loan Amount<i class="fa fa-sort"></i> </th>
                <th>Applicants<i class="fa fa-sort"></i> </th>
                <th>Created On <i class="fa fa-sort"></i> </th>
                <th>Created By <i class="fa fa-sort"></i> </th>
                <th>Priority<i class="fa fa-sort"></i> </th>
                <th>Promocode<i class="fa fa-sort"></i> </th>
                <th>Status <i class="fa fa-sort"></i> </th>
                <th>History <i class="fa fa-sort"></i> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of newArray">

                <td>{{item.leadId}}</td>
                <td>{{item.product}}</td>
                <td>{{item.loanAmount}}</td>
                <td>{{item.applicants}}</td>
                <td>{{item.createdOn}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.priority}}</td>
                <td>{{item.promoCode}}</td>
                <td>{{item.status}}</td>
                <td>
                    <a data-toggle="tooltip" data-placement="bottom" title="Click to View Timeline Chart"> <i class="fa fa-history"></i></a>
                </td>

            </tr>
        </tbody>
    </table>

</div>