/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-upper {
  text-transform: uppercase;
}

.cus-mandatory-field {
  color: red;
  font-style: oblique;
  font-size: 12px;
}

.star_red_col
{
  color: #da3939;
  font-size: 25px;
  margin-left: 4px;
 
}
.star_blue_col
{
  color:#0000FF;
  font-size: 25px;
  margin-left: 4px;
}

kendo-datepicker{
  width: 100%!important;
}
.pad-zero{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

#disbursement-memo .title {
	background: #272264;
	padding: 8px 15px;
	font-size: 16px;
	color: #fff;
}


.table {
  margin-bottom: 0px;
}



/*#track > tbody > tr > td{padding:10px;}*/


/*
Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .table tbody tr td {
      border-top: 1px solid #e6e6e6;
      padding: 0px;
      padding-left: 50%;
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
      display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  /*  tr {
/*margin: 0 0 1rem 0;*/
  /* } */
  tr:nth-child(odd) {
      background: #ccc;
  }
  td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      height: 40px;
  }
  td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      color:#fff;
      background-color: #272264;
      text-align: left;

  }
  /*
Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
*/

 .valuation td:nth-of-type(1):before {
      content: "financier";

  }
  .valuation td:nth-of-type(2):before {
    content: "monthOfReport";
}
.valuation td:nth-of-type(3):before {
      content: "valuation";
  }
  .asset td:nth-of-type(1):before {
    content: "partName";
}
.asset td:nth-of-type(2):before {
  content: "condition";
}
.asset td:nth-of-type(3):before {
    content: "ratingScale";
}
.part td:nth-of-type(1):before {
  content: "accessoryName";
}
.part td:nth-of-type(2):before {
    content: "availabilty";
}


  

}


.font-weight {
  font-weight: bold;
  background-color: #efefef;
}




