<div class="container-fluid mar-bottom ">
    <ul class="nav nav-pills nav-justified" id="background_white">
        <li [routerLink]="[ '/pages/dashboard/vehicle-viability/viability-checks' ]" routerLinkActive="active"><a data-toggle="tab">Viability Checks Pending with Me</a></li>
        <li [routerLink]="[ '/pages/dashboard/vehicle-viability/viability-checks-branch' ]" routerLinkActive="active"><a data-toggle="tab">Viability Checks Pending with Branch</a></li>
    </ul>
</div>
<router-outlet></router-outlet>