<!-- <div class="content"> -->
<form class="multisteps-form__form" style="height: 400px;" [formGroup]="fleetForm" *ngIf="this.fleetForm">
    <!-- <div class="multisteps-form__panel basic_scroll js-active" data-animation="scaleIn"> -->
    <div class="container">
        <div class="row">

            <div class="table-responsive application">
                <table class="table">

                    <thead>
                        <tr class="table-head-bg">
                            <td role="columnheader">{{labels.sNo}} </td>
                            <td role="columnheader">{{labels.regdNo }} </td>
                            <td role="columnheader">{{labels.regdOwner}}</td>
                            <td role="columnheader" style="min-width: 165px;">{{labels.relation}}</td>
                            <td role="columnheader" style="min-width: 200px;">{{labels.make}} </td>
                            <td role="columnheader">{{labels.yom}} </td>
                            <td role="columnheader" style="min-width: 120px;">{{labels.financier}} </td>
                            <td role="columnheader">{{labels.loanNo}} </td>
                            <td role="columnheader">{{labels.purchaseDate}} </td>
                            <td role="columnheader">{{labels.tenure}} </td>
                            <td role="columnheader">{{labels.paid}} </td>
                            <td role="columnheader">{{labels.seasoning}} </td>
                            <td role="columnheader">{{labels.ad}} </td>
                            <td role="columnheader">{{labels.pd}} </td>
                            <td role="columnheader">{{labels.gridValue}}</td>
                            <td role="columnheader">{{labels.track}} </td>
                            <td role="columnheader">{{labels.action}} </td>
                        </tr>
                    </thead>
                    <tbody formArrayName="Rows">
                        <!-- <tr id="applicant_1_row" *ngFor="let itemrow of fleetForm.get('Rows')['controls']; let i=index;let l=last" [formGroupName]="i"> -->
                        <tr id="applicant_1_row" *ngFor="let itemrow of fleetForm.get('Rows')['controls']; let i=index;let l=last" [formGroupName]="i">

                            <td>{{i+1}}</td>
                            <td>
                                <div>

                                    <input type="text" class="form-control input_value height input-upper" formControlName="regdNo" maxlength="10">
                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['regdNo'].touched && !itemrow.controls['regdNo'].vaild">
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['regdNo'].hasError('required')">
                                            registration number is needed
                                        </div>
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['regdNo'].hasError('minlength')">
                                            Invalid registration number
                                        </div>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div><input type="text" class="form-control input_value height input-upper" formControlName="regdOwner" maxlength="15">
                                    <!-- <span *ngIf="submitted && itemrow.get('regdOwner').errors" style="color:red;" class="invalid-feedback">
                                        <span *ngIf="itemrow.get('regdOwner').errors.required"> reg owner is
                                            required</span>
                                    <span *ngIf="itemrow.get('regdOwner').errors.pattern"> Invalid name</span>
                                    </span> -->
                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['regdOwner'].touched && !itemrow.controls['regdOwner'].vaild">
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['regdOwner'].hasError('required')">
                                            owner name is needed
                                        </div>
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['regdOwner'].hasError('pattern')">
                                            owner name should be in chars only
                                        </div>
                                        <div *ngIf="itemrow.controls['yom'].hasError('regdOwner') || itemrow.controls['regdOwner'].hasError('maxlength')">
                                            Invalid owner name
                                        </div>

                                    </div>


                                </div>
                            </td>
                            <td style="min-width: 165px;">
                                <!-- <select class="form-control input_value height" formControlName="relation">
                                            <option>{{labels.applicant}}</option>
                                            <option>{{labels.coApplicant}}</option>
                                            <option>{{labels.guarantor}}</option>
                                        </select> -->

                                <app-vf-custom-select [values]="fleetLov?.applicantRelationshipWithLead" formControlName="relation" (change)="relationShipChange($event)" [isRequired]="'PLease select One Option'">
                                </app-vf-custom-select>
                            </td>
                            <td style="min-width: 200px;">
                                <!-- <select class="form-control input_value height" formControlName="make">
                                            <option>{{labels.tatamotors}}</option>
                                            <option>{{labels.eicher}}</option>
        
                                        </select> -->

                                <app-vf-custom-select [values]="fleetLov?.vehicleManufacturer" formControlName="make">
                                </app-vf-custom-select>
                            </td>
                            <!-- <td><input type="text" class="input_value" value="TA" formControlName="make"></td> -->
                            <td>
                                <div>
                                    <input type="text" class="form-control input_value height" formControlName="yom" maxlength="4">
                                    <!-- <span *ngIf="submitted && itemrow.get('yom').errors" style="color:red;" class="invalid-feedback">
                                        <span *ngIf="itemrow.get('yom').errors.required">yom is
                                            required</span>
                                    <span *ngIf="itemrow.get('regdNo').errors.pattern"> Invalid reg no</span>
                                    <span *ngIf="itemrow.get('yom').errors.minLength"></span> invalid yom

                                    </span> -->
                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['yom'].touched && !itemrow.controls['yom'].vaild">
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['yom'].hasError('required')">
                                            yom is needed
                                        </div>
                                        <div *ngIf="itemrow.controls['yom'].hasError('minlength') || itemrow.controls['yom'].hasError('maxlength')">
                                            Invalid yom
                                        </div>
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['yom'].hasError('pattern')">
                                            yom should be in number
                                        </div>

                                    </div>

                                </div>
                            </td>

                            <!-- <td><input type="text" class="form-control input_value height" value="BAJAJ" formControlName="financier"></td>-->
                            <td style="min-width: 120px;">
                                <!-- <select class="form-control input_value height" id="asset_make"
                                            formControlName="financier">
                                            <option>{{labels.bajaj}}</option>
                                            <option>{{labels.icici}}</option>
                                            <option>{{labels.chola}}</option>
        
                                        </select> -->

                                <app-vf-custom-select [values]="fleetLov?.vehicleFinanciers" formControlName="financier">
                                </app-vf-custom-select>

                            </td>
                            <td>
                                <div><input type="number" class="form-control input_value height" formControlName="loanNo" maxlength="4"></div>
                                <!-- <span *ngIf="submitted && itemrow.get('loanNo').errors" style="color:red;" class="invalid-feedback">
                                    <span *ngIf="itemrow.get('loanNo').errors.required">loan no is
                                        required</span>
                                <span *ngIf="itemrow.get('regdNo').errors.pattern"> Invalid reg no</span>
                                <span *ngIf="itemrow.get('loanNo').errors.minLength"></span> invalid loan no

                                </span> -->
                                <div class="cus-mandatory-field" *ngIf="itemrow.controls['loanNo'].touched && !itemrow.controls['loanNo'].vaild">
                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['loanNo'].hasError('required')">
                                        loan no is needed
                                    </div>
                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['loanNo'].hasError('maxLength')">
                                        Invalid loan no
                                    </div>

                                </div>


                            </td>
                            <!-- <td><input type="text" class="form-control input_value height" value="01-010-16" formControlName="purchaseDate"></td> -->
                            <td>
                                <div class="form-group ">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <!-- <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span>
                                        </span> -->
                                        <kendo-datepicker width="100%" class="form-control mandatory" formControlName="purchaseDate" [format]="'dd/MM/yyyy'" [max]="toDayDate" placeholder="dd/mm/yyyy">
                                        </kendo-datepicker>
                                        <!-- <input type='date' class="form-control" formControlName="purchaseDate"> -->

                                    </div>
                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['purchaseDate'].touched && !itemrow.controls['purchaseDate'].vaild">
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['purchaseDate'].hasError('required')">
                                            purchase date is needed
                                        </div>

                                    </div>
                                </div>



                            </td>
                            <td>
                                <div><input type="number" class="form-control input_value height" formControlName="tenure" maxlength="4">

                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['tenure'].touched && !itemrow.controls['tenure'].vaild">
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['tenure'].hasError('required')">
                                            tenure is needed
                                        </div>
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['tenure'].hasError('minLength')">
                                            Invalid tenure
                                        </div>

                                    </div>




                                </div>
                            </td>
                            <td>
                                <div><input type="number" class="form-control input_value height" formControlName="paid" maxlength="4">

                                    <!-- <span *ngIf="submitted && itemrow.get('paid').errors" style="color:red;" class="invalid-feedback">
                                        <span *ngIf="itemrow.get('paid').errors.required">loan no is
                                            required</span>
                                   
                                    </span> -->
                                    <div class="cus-mandatory-field" *ngIf="itemrow.controls['paid'].touched && !itemrow.controls['paid'].vaild">
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['paid'].hasError('required')">
                                            paid is needed
                                        </div>
                                        <div class="cus-mandatory-field" *ngIf="itemrow.controls['paid'].hasError('minLength')">
                                            Invalid paid
                                        </div>

                                    </div>
                                </div>
                            </td>
                            <td><input type="text" class="form-control input_value height" formControlName="seasoning">
                            </td>
                            <td><input type="number" class="form-control input_value height" formControlName="ad">
                            </td>
                            <td><input type="number" class="form-control input_value height" formControlName="pd">
                            </td>
                            <td><input type="number" class="form-control input_value height" formControlName="gridValue">
                            </td>
                            <td><u><button class="a_tag" (click)="getRtr(itemrow.value.id)">RTR</button></u></td>
                            <!-- <td><i class="fa fa-plus" aria-hidden="true" id="addmorePOIbutton"
                                                (click)="addNewRow()"></i> &nbsp;
                                            <i class="fa fa-minus" aria-hidden="true" id="remove_item_applicant"
                                                (click)="deleteRow(i)"></i></td> -->
                            <td>
                                <button class="fa fa-plus" aria-hidden="true" id="addmorePOIbutton" value="Add" (click)="addNewRow()"></button>&nbsp;
                                <button type="button" class="fa fa-minus" aria-hidden="true" id="delPOIbutton" value="Delete" (click)="deleteRow(i,fleetForm.value.Rows)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- </div> -->

</form>


<!-- </div> -->


<div class="btn-sec clear-both row cst_btm_btns">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-7 text-right ">
        <button class="btn btn-primary mar-right8" type="button" (click)="toCollaterals()">Back</button>&nbsp;
        <button class="btn btn-primary mar-right8" type="button" (click)="onFormSubmit()">Save </button>&nbsp;
        <button class="btn btn-primary js-btn-next" type="button" routerLink="../exposure"> Next </button>
    </div>
</div>

<!-- 
        <div class="btn-sec clear-both row text-right">
            <div class="col-sm-12">
                <button class="btn btn-primary cus-btn-sty" type="button">Back</button>
                <p class="btn btn-primary save cus-btn-sty"> Save </p>
                <button class="btn btn-primary cus-btn-sty" type="button" (click)="showFormValues()">Next</button>
            </div>
        </div> -->