<header class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a href="#" class="navbar-brand">LOS</a>-->
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse" (click)="openProfile = !openProfile">
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" [ngClass]="{'open': openProfile}">
                    <a class="dropdown-toggle name" data-toggle="dropdown" id="profileDropDown">
                        <span class="name-circle"><span class="name-circle-txt"> D </span></span> Dhanapal <i
                            class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>Profile</a></li>
                        <li><a>Logout</a></li>
                    </ul>
                </li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle name" data-toggle="dropdown">
                        <span class="name-circle"><span class="name-circle-txt"> D </span></span> Dhanapal Nataraj <b class="fa fa-angle-down"></b>
                    </a>
                     <ul class="dropdown-menu">
                        <li><a >Dhanapal Nataraj</a></li>
                        <li><a > <select class="form-control"><option value="Sales Officer" selected="selected" >Sales Officer</option></select></a></li>
                        <li><a >Velachery Branch</a></li>
                        <!--- <li><a href="#profile" >Profile</a></li> ---->
                        
                        <li><a [routerLink]="['']">Logout</a></li>
                    </ul>
                    <!---- <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul> ----->
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        <div class="vertical-middle text-center">
            <img src="assets/images/hetra_logo.png" alt="[Image: Hetra Logo]" title="Hetra" class="logo">
            <div class="search">
                <!-- <div class="search" (mouseover)="changeText=true" (mouseout)="changeText=false"> -->
                   
                    <span class="form-control " id="selectbox" name="" ></span>
                    <span class="search-icon-left"></span>
                    <div class="dropdown-content">
                        <a [routerLink]="['../pages/lead-creation']">Create Lead</a>
                        <a href="#">QDE</a>
                        <a href="#">PD</a>
                        <a href="#">DDE</a>
                    </div>

                <!-- <select class="form-control " id="selectbox" name="" [(ngModel)]="seletedRoute">
                    <option value="/pages/lead-creation">Create Lead</option>
                    <option value="QDE/QDE-section.html">QDE</option>
                    <option value="lead/pd_section.html">PD</option>
                    <option value="/pages/dde">DDE</option>
                </select> -->


               
                <button class="microphone-icon" title="Search by voice" [routerLink]="seletedRoute">GO</button>
                <!-- <span class="search-icon-left" ></span>
                <span class="microphone-icon" id="sl_search_ac_btn" *ngIf="!changeText">GO</span>
                <ul id="myUL" class="unique" *ngIf="changeText">
            
                    <li><a href="../sales_lead/sales_create_lead.html">Create New Lead</a></li>
                    <li><a href="../sales_dashboard/my_dashboard.html">Go to New Leads Dashboard</a></li>
                    <li><a href="">View PD Tasks</a></li>
                    <li><a href="">View Pending Queries</a></li>
                    <li><a href="">View Sanctioned Leads Awaiting Discussion</a></li>
                    <li><a href="">View Declined Leads</a></li>
                    <li><a href="">Track Lead Status</a></li>
                </ul> -->
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
</footer>