<div class="content">
  <form class="multisteps-form__form" method="POST" [formGroup]="basicForm">
    <div
      class="multisteps-form__panel js-active js-active"
      id="form-class"
      data-animation="scaleIn"
    >
      <div class="btn-sec clear-both row">
        <div class="form-group col-sm-6 col-md-3 col-lg-3">
          <label for="Vechical Type"
            >{{ labels?.entity }} <sub class="star_red_col">*</sub></label
          >
          <app-vf-custom-select
            [values]="applicantLov?.entityType"
            
            formControlName="entity"
            [isRequired]="'Please select one'"
            [isDirty]="isDirty"
          ></app-vf-custom-select>
          <!-- (valueChange)="onIndividualChange($event)" -->
        </div>
        <div
          class="form-group col-sm-6 col-md-3 col-lg-3"
          *ngIf="!isIndividual"
        >
          <label for="Vechical Type"
            >Business Entity Type <sub class="star_red_col">*</sub></label
          >
          <app-vf-custom-select
            [values]="applicantLov?.bussinessEntityType"
            [isRequired]="'Please select one'"
            [isDirty]="isDirty"
            formControlName="bussinessEntityType"
          ></app-vf-custom-select>
        </div>

        <div class="col-sm-7 text-right"></div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-3 col-lg-3">
          <label for="Vechical Type"
            >{{ labels?.relationWithApplicant }}
            <sub class="star_red_col">*</sub></label
          >
          <app-vf-custom-select
            formControlName="applicantRelationshipWithLead"
            [values]="applicantLov?.applicantRelationshipWithLead"
            [isRequired]="'Please select one'"
            [isDirty]="isDirty"
          ></app-vf-custom-select>
        </div>
        <div class="form-group col-sm-6 col-md-3 col-lg-3">
          <label for="entity"
            >{{ labels?.title }} <sub class="star_red_col">*</sub></label
          >
          <app-vf-custom-select
            formControlName="title"
            [values]="applicantLov?.salutation"
            [isRequired]="'Please select one'"
            [isDirty]="isDirty"
            [isDisabled]="
              this.applicant.applicantDetails.entityTypeKey == 'NONINDIVENTTYP'
            "
          ></app-vf-custom-select>
        </div>
      </div>
      <ng-container formArrayName="details">
        <div
          id="individual_section_start"
          [formGroupName]="0"
          *ngIf="isIndividual"
        >
          <div class="row">
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="first_name"
                >{{ labels?.firstName }}
                <sub class="star_red_col">*</sub></label
              >
              <!-- <input
                type="text"
                class="form-control"
                id="first_name"
                formControlName="name1"
              /> -->
              <app-custom-input
                formControlName="name1"
                [maxLength]="validationData?.name?.maxLength"
                [isRequired]="' First Name is required'"
                [isDirty]="isDirty"
                [type]="validationData?.name?.type"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">{{ labels?.middleName }}</label>
              <!-- <input
                type="text"
                class="form-control"
                id="middle_name"
                formControlName="name2"
              /> -->
              <app-custom-input
                formControlName="name2"
                [maxLength]="validationData?.name?.maxLength"
                [type]="validationData?.name?.type"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="last_name">{{ labels?.lastName }} <sub class="star_red_col">*</sub></label>
              <!-- <input
                type="text"
                class="form-control"
                id="last_name"
                formControlName="name3"
              /> -->
              <app-custom-input
                formControlName="name3"
                [maxLength]="validationData?.name?.maxLength"
                [isRequired]="'Last Name is required'"
                [isDirty]="isDirty"
                [type]="validationData?.name?.type"
              ></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="mobile_number"
                >{{ labels?.mobileNumber }}
                <sub class="star_red_col">*</sub></label
              >
              <!-- <input
                type="text"
                class="form-control"
                id="mobile_number"
                name="mobile_number"
                value="8974563210"
                
                formControlName="mobilePhone"
              /> -->
              <app-custom-input
                formControlName="mobilePhone"
                [patternCheck]="validationData?.mobile?.patternCheck"
                [isRequired]="'Mobile Number is required'"
                [maxLength]="validationData?.mobile?.maxLength"
                [isDirty]="isDirty"
                [type]="validationData?.mobile?.type"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="date_of_birth"
                >{{ labels?.dateOfBirth }}
                <sub class="star_red_col">*</sub></label
              >
              <div
                class="input-group input-medium"
                id="date_of_birth"
                name="date_of_birth"
              >
                <!-- <span class="input-group-btn">
                  <button class="btn btn-default">
                    <i class="fa fa-calendar" id="datepicker"></i>
                  </button>
                </span> -->
                <!-- <input
                  type="text"
                  class="form-control"
                  id="datepicker"
                  value="27-05-1974"
                  (change)="ageCalculation($event)"
                  formControlName="dob"
                /> -->
                <kendo-datepicker
                  class="form-control"
                  formControlName="dob"
                  [format]="'dd/MM/yyyy'"
                  [max]="toDayDate"
                  placeholder="Date of birth"
                  [activeView]="'decade'"
                  (valueChange)="ageCalculation($event)"
                ></kendo-datepicker>

                <div
                  class="ShowError"
                  *ngIf="
                   ( isDirty || validation.get('dob').touched) &&
                    validation.get('dob').invalid
                  "
                >
                  Invalid Date
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="entity">{{ labels?.ageApplicant }} </label>
              <!-- <select class="form-control" id="entity">                                                  
                               
                                <option value="Mrs" selected>Mrs</option>                                                   
                            </select>  -->
              <!-- <input
                type="text"
                class="form-control"
                id="age"
                name="age"
                [value]="showAge ? showAge : initialAge"
                formControlName="age"
                disabled
              /> -->
              <app-custom-input
                formControlName="age"
                isDisabled
              ></app-custom-input>


            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category"
                >{{ labels?.gender }} <sub class="star_red_col">*</sub></label
              >
              <app-vf-custom-select
                formControlName="gender"
                [values]="applicantLov?.gender"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>

              <!-- <div class="cus-mandatory-field"
              *ngIf="obj.controls['gender'].touched && !obj.controls['gender'].valid">
                <div class="cus-mandatory-field"
                *ngIf="obj.controls['gender'].value===''">
                  select gender
                </div>
              </div> -->

              <!-- <select class="form-control" formControlName="gender">
                <option>-- select one --</option>
                <option *ngFor ="let gender of applicantLov.gender" [value]="gender.key"> 
                  {{gender.value}}
                </option>
              </select>

              <div class="invalid-feedback"
              *ngIf="validation.get('gender').errors && (validation.get('gender').touched || validation.get('gender').invalid)">
                  select gender
              </div> -->
            </div>

            <!-- <input type="checkbox" formControlName="isSeniorCitizen"
                (click)="checkSenior($event)" />
                <label for="senior_citizen">Is Senior Citizen? <sub class="star_red_col">*</sub></label> -->

            <div
              class="form-group col-sm-6 col-md-3 col-lg-3"
              id="align_this_checkbox"
            >
              <input
                type="checkbox"
                id=""
                formControlName="isSeniorCitizen"
                class="senior_minor"
                (click)="checkSenior($event)"
                disabled
                [checked]="checkingSenior"
              />
              <span class="is_senior">{{ labels?.senior }} </span>

              <!-- <div class="showErrorMessage">
                     {{messageOfSeniorcitizen}}
                </div> -->
            </div>

            <div
              class="form-group col-sm-6 col-md-3 col-lg-3"
              id="align_this_checkbox"
            >
              <input
                type="checkbox"
                id=""
                formControlName="isMinor"
                class="senior_minor"
                (click)="checkMinor($event)"
                disabled
                [checked]="checkingMinor"
              />
              <span class="is_senior">{{ labels?.minor }}</span>
              <!-- <div class="showErrorMessage">
               {{messageOfMinor}}
             </div>  -->
            </div>
          </div>
          <div class="row" *ngIf="checkingMinor">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="guardian_name"
                >{{ labels?.guardianName }}
                <sub class="star_blue_col">*</sub></label
              >
              <!-- <input
                type="text"
                class="form-control"
                id="guardian_name"
                name="guardian_name"
                formControlName="minorGuardianName"
              /> -->
              <app-custom-input
                formControlName="minorGuardianName"
                [maxLength]="validationData?.name?.maxLength"
                [isRequired]="'If Minor, Gaurdian Name is Mandatory'"
                [isDirty]="isDirty"
                [type]="validationData?.name?.type"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="entity"
                >{{ labels?.guardianRelationship }}
                <sub class="star_blue_col">*</sub></label
              >
              
              <app-vf-custom-select
                formControlName="minorGuardianRelation"
                [values]="applicantLov.relationship"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="father_name"
                >{{ labels?.fatherName }}
                <sub class="star_blue_col">*</sub></label
              >
              
              <app-custom-input
                formControlName="fatherName"
                [maxLength]="validationData?.fullName?.maxLength"
                [isDirty]="isDirty"
                [isRequired]="isRequiredFather"
                [type]="validationData?.fullName?.type"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="spouse_name"
                >{{ labels?.spouseName }}
                <sub class="star_blue_col">*</sub></label
              >
              <!-- <input
                type="text"
                class="form-control"
                id="spouse_name"
                name="spouse_name"
                formControlName="spouseName"
              /> -->
              <app-custom-input
                formControlName="spouseName"
                [maxLength]="validationData?.fullName?.maxLength"
                [isRequired]="isRequiredSpouse"
                [isDirty]="isDirty"
                [type]="validationData?.fullName?.type"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="maiden_name"
                >{{ labels?.mothersMaidenName }}
                <sub class="star_red_col">*</sub></label
              >
              <!-- <input
                type="text"
                class="form-control"
                id="maiden_name"
                name="maiden_name"
                formControlName="motherMaidenName"
              /> -->
              <app-custom-input
                formControlName="motherMaidenName"
                [maxLength]="validationData?.name?.maxLength"
                [isDirty]="isDirty"
                [isRequired]="'Mother name is Required'"
                [type]="validationData?.name?.type"
              ></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="mobile_number"
                >{{ labels?.alternateContactNumber }}
              </label>
              <!-- <input
                type="text"
                class="form-control"
                id="mobile_number"
                name="mobile_number"
                value="8974563210"
                
                formControlName="mobilePhone"
              /> -->
              <app-custom-input
                formControlName="alternateMobileNumber"
                [type]="validationData?.landlineNumber?.type"
                [maxLength]="validationData?.landlineNumber?.maxLength"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="email_id">{{ labels?.emailID }}</label>
              <!-- <input
                type="email"
                class="form-control"
                id="email_id"
                name="email_id"
                formControlName="emailId"
              /> -->
              <app-custom-input
                formControlName="emailId"
                [patternCheck]="emailPattern"
                [maxlength]="validationData?.email?.maxLength"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="alternate_email_id">{{
                labels?.alternateEmailID
              }}</label>
              <!-- <input
                type="text"
                class="form-control"
                id="alternate_email_id"
                name="alternate_email_id"
                formControlName="alternateEmailId"
              /> -->
              <app-custom-input
                formControlName="alternateEmailId"
                [patternCheck]="emailPattern"
                [maxlength]="validationData?.email?.maxLength"
              ></app-custom-input>
            </div>
          </div>
          



          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
              *ngIf="productCategory=='1003' && (fundingProgram=='24' || fundingProgram=='25')">
              <label for="aadharnumber">{{ labels?.monthlyIncomeAmount }}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="monthlyIncomeAmount"
              (keyup)="calculateIncome($event.target.value)"
              [maxLength]="validationData?.amountValue.maxLength" 
              [type]="validationData?.amountValue.type"
              [isRequired]="'Monthly Income is Required'" 
              [isDirty]="isDirty">
              </app-custom-input>
            </div>

            

            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
              *ngIf="productCategory=='1003' && (fundingProgram=='24' || fundingProgram=='25')">
              <label for="aadharnumber">{{labels?.annualIncomeAmount}}
                </label>
              <app-custom-input formControlName="annualIncomeAmount"
              
              isDisabled>
              </app-custom-input>
            </div>



          </div>

          <div class="row" *ngIf="productCategory=='1003' && fundingProgram=='26'">
            <div class="form-group col-sm-6 col-md-3 col-lg-3" id="align_this_checkbox">
              <input type="checkbox" id="" formControlName="ownHouseProofAvail" class="senior_minor" 
              (click)="onOwnHouseAvailable($event)" 
              [checked]="checkedBoxHouse==true"/>
              <span class="is_senior">{{labels?.ownHouseProofAvail}}</span>

              

            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Vechical Type">{{labels?.houseOwnerProperty}} <sub class="star_blue_col">*</sub></label>
              <app-vf-custom-select [values]="ownerPropertyRelation"
                formControlName="houseOwnerProperty"  [isDirty]="isDirty"
               >
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Vechical Type">{{labels?.ownHouseAppRelationship}} <sub class="star_blue_col">*</sub></label>
              <app-vf-custom-select [values]="applicantLov?.relationship"
                formControlName="ownHouseAppRelationship" 
                 
                [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>
          </div>
          <div class="row" *ngIf="productCategory=='1003' && fundingProgram=='26'">
            <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
              <label for="aadharnumber">{{labels?.averageBankBalance}}
                </label>
              <app-custom-input formControlName="averageBankBalance"
              [maxLength]="validationData?.amountValue.maxLength" 
                    [type]="validationData?.amountValue.type">
              </app-custom-input>
            </div>
          </div>

          <div class="row" *ngIf="productCategory=='1003' && fundingProgram=='27'">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Vechical Type">{{labels?.rtrType}}<sub class="star_red_col">*</sub></label>
              <app-vf-custom-select [values]="applicantLov?.typeOfLoan"
                formControlName="rtrType" 
                [isRequired]="'Please select one'" [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
              <label for="aadharnumber">{{labels?.prevLoanAmount}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="prevLoanAmount"
              [maxLength]="validationData?.amountValue.maxLength" 
                    [type]="validationData?.amountValue.type"
                    [isRequired]="'Previous Loan Amount is Required'" 
                    [isDirty]="isDirty">
              </app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
              <label for="aadharnumber">{{labels?.loanTenorServiced}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="loanTenorServiced"
              [maxLength]="validationData?.creditRiskScore.maxLength" 
                  [type]="validationData?.creditRiskScore.type"
                  [isRequired]="'Loan Tenor Service is Required'" 
                  [isDirty]="isDirty">
              </app-custom-input>
            </div>


          </div>

          <div class="row" *ngIf="productCategory=='1003' && fundingProgram=='27'">
            <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
              <label for="aadharnumber">{{labels?.currentEMILoan}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="currentEMILoan"
              [maxLength]="validationData?.amountValue.maxLength" 
                    [type]="validationData?.amountValue.type"
                    [isRequired]="'EMI of the Current Loan is Required'" 
                    [isDirty]="isDirty">
              </app-custom-input>
            </div>
          </div>

          <div class="row" *ngIf="productCategory=='1003' && fundingProgram=='29'">
            <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
              <label for="aadharnumber">{{labels?.agriNoOfAcres}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="agriNoOfAcres"
              [maxLength]="validationData?.creditRiskScore.maxLength" 
                    [type]="validationData?.creditRiskScore.type"
                    [isRequired]="'Agri(No of Acres) is Required'" 
                    [isDirty]="isDirty">
              </app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Vechical Type">{{labels?.houseOwnerProperty}} <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select [values]="ownerPropertyRelation"
                formControlName="agriOwnerProperty" [isRequired]="'Please select one'" [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Vechical Type">{{labels?.ownHouseAppRelationship}} <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select [values]="applicantLov?.relationship"
                formControlName="agriAppRelationship" [isRequired]="'Please select one'" [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>

          </div>

          <div class="row" *ngIf="productCategory=='1003' && fundingProgram=='30'">
            <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
              <label for="aadharnumber">{{labels?.grossReceipt}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="grossReceipt"
                [maxLength]="validationData?.amountValue.maxLength" 
                [type]="validationData?.amountValue.type"
                [isRequired]="'Gross Receipt is Required'" 
                [isDirty]="isDirty">
              </app-custom-input>
            </div>
          </div>







          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="occupation"
                >{{ labels?.occupation }}
                <sub class="star_red_col">*</sub></label
              >
              <app-vf-custom-select
                formControlName="occupation"
                [values]="applicantLov?.occupation"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="nationality"
                >{{ labels?.nationality }}
                <sub class="star_red_col">*</sub></label
              >
              <app-vf-custom-select
                formControlName="nationality"
                [values]="applicantLov?.nationality"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>

              <!-- <span class="showErrorMessage" 
              *ngIf="validation.get('nationality').errors?.value !== '' 
              && validation.get('nationality').errors?.required">                  
                Select Nationality
            </span> -->
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="preffered_language">{{labels?.prefferedLanguageForCommunication}}
                <sub class="star_red_col">*</sub>
              </label>
              <app-vf-custom-select formControlName="preferredLanguage" [values]="applicantLov?.preferredLanguage"
              [isRequired]="'Please select one'"
              [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category">{{labels?.politicallyExposedPerson}} <sub class="star_red_col">*</sub> </label>
              <app-vf-custom-select
                formControlName="politicallyExposedPerson"
                [values]="applicantLov?.politicallyExposed"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
              <!-- <span class="showErrorMessage"  
              *ngIf="validation.get('customerCategory').errors?.value !== ''
               && validation.get('customerCategory').errors?.required">                  
                Select customer category
            </span> -->
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category"
                >{{ labels?.customerCategory }}
                <sub class="star_red_col">*</sub></label
              >
              <app-vf-custom-select
                formControlName="custSegment"
                [values]="applicantLov?.customerSegment"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
            </div>

            <!-- <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category"
                >{{ labels?.customerCategory }}
                <sub class="star_red_col">*</sub></label
              >
              <app-vf-custom-select
                formControlName="customerCategory"
                [values]="applicantLov?.customerCategory"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
            </div> -->
          </div>
        </div>
        <div
          id="non_individual_section_start"
          *ngIf="!isIndividual"
          [formGroupName]="0"
        >
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="channel"
                >{{ labels?.company1 }} <sub class="star_red_col">*</sub></label
              >
              <!-- <input
                formControlName="name1"
                type="text"
                class="form-control"
                id="amount"
              /> -->
              <app-custom-input
                formControlName="name1"
                [maxLength]="validationData?.name?.maxLength"
                [isRequired]="'Company Name is required'"
                [isDirty]="isDirty"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="sourcing type">{{ labels?.company2 }}</label>
              <!-- <input
                formControlName="name2"
                type="text"
                class="form-control"
                id="amount"
              /> -->
              <app-custom-input
                formControlName="name2"
                [maxLength]="validationData?.name?.maxLength"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="sourcing code">{{ labels?.company3 }}</label>
              <!-- <input
                formControlName="name3"
                type="text"
                class="form-control"
                id="amount"
              /> -->
              <app-custom-input
                formControlName="name3"
                [maxLength]="validationData?.name?.maxLength"
              ></app-custom-input>
            </div>
          </div>

          <div class="row">
            <!-- <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="mobile_number">{{ labels?.mobileNumber }}</label> -->
            <!-- <input
                formControlName="companyPhoneNumber"
                type="text"
                class="form-control"
                id="mobile_number"
                name="mobile_number"
                value="8974563210"
                readonly=""
              /> -->
            <!-- <app-custom-input
                  formControlName="companyPhoneNumber"
                  [patternCheck]="mobilePattern"
                  [isRequired]="'Mobile Number is required'"
                 [maxLength]='mobileLenght10'
                 [isDirty]="isDirty"
                 [type]="'number'"
                ></app-custom-input>
            </div> -->
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="contact_person_mobile_number"
                >{{ labels?.contactNumber }}
                <sub class="star_red_col">*</sub></label
              >

              <app-custom-input
                formControlName="companyPhoneNumber"
                [isRequired]="'Contact Number is required'"
                [isDirty]="isDirty"
                [maxLength]="validationData?.landlineNumber?.maxLength"
                [type]="validationData?.landlineNumber?.type"
                [patternCheck]="validationData?.landlineNumber?.patternCheck"
                
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="entity"
                >{{ labels?.dateOfIncorporation }}
                <sub class="star_red_col">*</sub></label
              >
              <div class="input-group input-medium" id="date_of_birth">
                <!-- <span class="input-group-btn">
                  <button class="btn btn-default" disabled="">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span> -->
                <!-- <input
                  formControlName="dateOfIncorporation"
                  type="text"
                  class="form-control"
                  id="date"
                  disabled=""
                /> -->
                <kendo-datepicker
                  class="form-control"
                  formControlName="dateOfIncorporation"
                  [format]="'dd/MM/yyyy'"
                  [max]="toDayDate"
                  placeholder="Date of Incorporation"
                  [activeView]="'decade'"
                ></kendo-datepicker>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="contact_person"
                >{{ labels?.contactPerson }}
                <sub class="star_red_col">*</sub></label
              >
              <!-- <input
                formControlName="contactPerson"
                type="text"
                class="form-control"
                name="contact_person"
                id="contact_person"
                required="required"
              /> -->
              <app-custom-input
                formControlName="contactPerson"
                [maxLength]="validationData?.name?.maxLength"
                [isRequired]="'Contact Person Name is required'"
                [isDirty]="isDirty"
                [type]="validationData?.name?.type"
              ></app-custom-input>
            </div>
            
          </div>
          <div class="row">
          <div class="form-group col-sm-6 col-md-3 col-lg-3 individual_section_leadco">

            <label for="customer_category">{{ labels?.customerCategory }}
              <sub class="star_red_col">*</sub></label>
            <app-vf-custom-select formControlName="custSegment" [values]="applicantLov?.customerSegment"
              [isRequired]="'Please select one'" [isDirty]="isDirty"></app-vf-custom-select>

          </div>
          <div class="form-group col-sm-6 col-md-3 col-lg-3 "
              *ngIf="productCategory=='1003' && (fundingProgram=='24' || fundingProgram=='25')">
              <label for="aadharnumber">{{ labels?.monthlyIncomeAmount }}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="monthlyIncomeAmount"
              (keyup)="calculateIncome($event.target.value)"
                [maxLength]="validationData?.amountValue.maxLength" 
                [type]="validationData?.amountValue.type"
                [isRequired]="'Monthly Income is Required'" 
                [isDirty]="isDirty">
              </app-custom-input>
            </div>

            

            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
              *ngIf="productCategory=='1003' && (fundingProgram=='24' || fundingProgram=='25')">
              <label for="aadharnumber">{{labels?.annualIncomeAmount}}
                </label>
              <app-custom-input formControlName="annualIncomeAmount"
              
              isDisabled>
              </app-custom-input>
            </div>

            <div class="form-group col-sm-6 col-md-3 col-lg-3" id="align_this_checkbox"
            *ngIf="productCategory=='1003' && fundingProgram=='26'">
              <input type="checkbox" id="" formControlName="ownHouseProofAvail" class="senior_minor" 
              (click)="onOwnHouseAvailable($event)" 
              [checked]="checkedBoxHouse==true" />
              <span class="is_senior">{{labels?.ownHouseProofAvail}} </span>
            </div>

            <div class="form-group col-sm-6 col-md-3 col-lg-3"
            *ngIf="productCategory=='1003' && fundingProgram=='27'">
              <label for="Vechical Type">{{labels?.rtrType}}<sub class="star_red_col">*</sub></label>
              <app-vf-custom-select [values]="applicantLov?.typeOfLoan"
                formControlName="rtrType" 
                [isRequired]="'Please select one'" [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>

            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
            *ngIf="productCategory=='1003' && fundingProgram=='30'">
              <label for="aadharnumber">{{labels?.grossReceipt}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="grossReceipt"
                [maxLength]="validationData?.amountValue.maxLength" 
                [type]="validationData?.amountValue.type"
                [isRequired]="'Gross Receipt is Required'" 
                [isDirty]="isDirty">
              </app-custom-input>
            </div>

        </div>


          <div class="row" >
            
            <div class="form-group col-sm-6 col-md-3 col-lg-3"
            *ngIf="productCategory=='1003' && fundingProgram=='26'">
              <label for="Vechical Type">{{labels?.houseOwnerProperty}} <sub class="star_blue_col">*</sub></label>
              <app-vf-custom-select [values]="ownerPropertyRelation"
                formControlName="houseOwnerProperty"  [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3"
            *ngIf="productCategory=='1003' && fundingProgram=='26'">
              <label for="Vechical Type">{{labels?.ownHouseAppRelationship}} <sub class="star_blue_col">*</sub></label>
              <app-vf-custom-select [values]="applicantLov?.relationship"
                formControlName="ownHouseAppRelationship" 
                 
                [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
            *ngIf="productCategory=='1003' && fundingProgram=='26'">
              <label for="aadharnumber">{{labels?.averageBankBalance}}
                </label>
              <app-custom-input formControlName="averageBankBalance"
              [maxLength]="validationData?.amountValue.maxLength" 
                    [type]="validationData?.amountValue.type">
              </app-custom-input>
            </div>
          </div>
          

          <div class="row" >
            
            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
            *ngIf="productCategory=='1003' && fundingProgram=='27'">
              <label for="aadharnumber">{{labels?.prevLoanAmount}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="prevLoanAmount"
              [maxLength]="validationData?.amountValue.maxLength" 
                    [type]="validationData?.amountValue.type"
                    [isRequired]="'Previous Loan Amount is Required'" 
                    [isDirty]="isDirty">
              </app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
            *ngIf="productCategory=='1003' && fundingProgram=='27'">
              <label for="aadharnumber">{{labels?.loanTenorServiced}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="loanTenorServiced"
              [maxLength]="validationData?.creditRiskScore.maxLength" 
                  [type]="validationData?.creditRiskScore.type"
                  [isRequired]="'Loan Tenor Service is Required'" 
                  [isDirty]="isDirty">
              </app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3 "
            *ngIf="productCategory=='1003' && fundingProgram=='27'">
              <label for="aadharnumber">{{labels?.currentEMILoan}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="currentEMILoan"
              [maxLength]="validationData?.amountValue.maxLength" 
                    [type]="validationData?.amountValue.type"
                    [isRequired]="'EMI of the Current Loan is Required'" 
                    [isDirty]="isDirty">
              </app-custom-input>
            </div>
           
          </div>

          

          <div class="row" *ngIf="productCategory=='1003' && fundingProgram=='29'">
            <div class="form-group col-sm-6 col-md-3 col-lg-3 ">
              <label for="aadharnumber">{{labels?.agriNoOfAcres}}
                <sub class="star_red_col">*</sub></label>
              <app-custom-input formControlName="agriNoOfAcres"
              [maxLength]="validationData?.creditRiskScore.maxLength" 
                    [type]="validationData?.creditRiskScore.type"
                    [isRequired]="'Agri(No of Acres) is Required'" 
                    [isDirty]="isDirty">
              </app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Vechical Type">{{labels?.houseOwnerProperty}} <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select [values]="ownerPropertyRelation"
                formControlName="agriOwnerProperty" [isRequired]="'Please select one'" [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Vechical Type">{{labels?.ownHouseAppRelationship}} <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select [values]="applicantLov?.relationship"
                formControlName="agriAppRelationship" [isRequired]="'Please select one'" [isDirty]="isDirty">
              </app-vf-custom-select>
            </div>

          </div>

          

          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="countryOfCorporation"
                >{{ labels?.countryOfCorporation }}
                <sub class="star_red_col">*</sub></label
              >
              <app-vf-custom-select
                formControlName="countryOfCorporation"
                [values]="countryList"
                [isRequired]="'Please Select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="businessType"
                >{{ labels?.typeOfBusiness }}
                <sub class="star_red_col">*</sub></label
              >
              <app-vf-custom-select
                formControlName="businessType"
                [values]="applicantLov?.businessType"
                [isRequired]="'Please Select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
            </div>
            <!-- <div class="form-group col-sm-6 col-md-3 col-lg-3" >
              <label for="industry">{{
                labels?.industry
              }} <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select
                formControlName="industry"
                [values]=""
                [isRequired]="'Please Select one'"
                
              ></app-vf-custom-select>
            </div> -->
          </div>

          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Lead Created">{{ labels?.emailID }}</label>
              <!-- <input
                formControlName="companyEmailId"
                type="text"
                class="form-control"
                id="amount"
              /> -->
              <app-custom-input
                formControlName="companyEmailId"
                [patternCheck]="emailPattern"
                [maxlength]="validationData?.email?.maxLength"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Lead Created By">{{
                labels?.alternateEmailID
              }}</label>
              <!-- <input
                formControlName="alternateEmailId"
                type="text"
                class="form-control"
                id="amount"
              /> -->
              <app-custom-input
                formControlName="alternateEmailId"
                [patternCheck]="emailPattern"
                [maxlength]="validationData?.email?.maxLength"
              ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="mobile_number"
                >{{ labels?.alternateContactNumber }}
              </label>

              <app-custom-input
                formControlName="alternateContactNumber"
                [type]="validationData?.landlineNumber?.type"
                [maxLength]="validationData?.landlineNumber?.maxLength"
              ></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="title"
                >{{ labels?.prefferedLanguageForCommunication }}
                <sub class="star_red_col">*</sub></label
              >
              <!-- <select class="form-control">
                                <option>Select</option>
                            </select> -->
              <app-vf-custom-select
                formControlName="preferredLanguageCommunication"
                [values]="applicantLov?.preferredLanguage"
                [isRequired]="'Please select one'"
                [isDirty]="isDirty"
              >
                ></app-vf-custom-select
              >
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="contactPersonDesignation"
                >{{ labels?.contactPersonDesignation }}
                <sub class="star_red_col">*</sub></label
              >

              <app-vf-custom-select
                formControlName="contactPersonDesignation"
                [values]="applicantLov?.occupation"
                [isRequired]="'Please Select one'"
                [isDirty]="isDirty"
              ></app-vf-custom-select>
            </div>

            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="title">{{ labels?.numberOfDirectors }}</label>
              <app-custom-input
                formControlName="numberOfDirectors"
                [maxLength]="validationData?.numberOfYears?.maxLength"
                [type]="validationData?.numberOfYears?.type"
              ></app-custom-input>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>

<div class="btn-sec clear-both row">
  <div class="col-sm-5"></div>
  <div class="col-sm-7 text-right">
    <span id="edit_vehicle_details_replace"></span>
    <a id="back_vehicle_details"
      ><button class="btn btn-primary" type="button" (click)="onBack()">
        Back
      </button></a
    >
    <a id="save_vehicle_details"
      ><button class="btn btn-primary" type="button" (click)="onSave()">
        Save
      </button>
    </a>
    <a id="next_vehicle_details"
      ><button
        class="btn btn-primary"
        type="button"
        [routerLink]="['../../identity-details', applicantId]"
      >
        Next
      </button></a
    >
    <br />
    <br />
    <br />
  </div>
</div>
