<div class="content">
  <form
    class="multisteps-form__form"
    method="POST"
    [formGroup]="basicForm"
  >
    <div
      class="multisteps-form__panel js-active js-active"
      id="form-class"
      data-animation="scaleIn"
    >
      <div class="btn-sec clear-both row">
        <div class="form-group col-sm-6 col-md-3 col-lg-3">
          <label for="Vechical Type">Entity <sub class="star_red_col">*</sub></label>
          <app-vf-custom-select
            [values]="applicantLov?.entityType"
            (valueChange)="onIndividualChange($event)"
            formControlName="entity"
          ></app-vf-custom-select>
          
          
        </div>
        <div class="form-group col-sm-6 col-md-3 col-lg-3">
          <label for="Vechical Type">Relationship with Lead  <sub class="star_red_col">*</sub></label>
          <app-vf-custom-select
            formControlName="applicantRelationshipWithLead"
            [values]="applicantLov?.applicantRelationshipWithLead"
          ></app-vf-custom-select>
          <div  class="cus-mandatory-field" *ngIf="basicForm.controls['applicantRelationshipWithLead'].touched && basicForm.controls['applicantRelationshipWithLead'].value==''">
            Relationship Lead Is Required
    </div> 
          
        </div>
        <div class="form-group col-sm-6 col-md-3 col-lg-3">
          <label for="entity">Title <sub class="star_red_col">*</sub></label>
                        <app-vf-custom-select
                        formControlName="title"
                        [values]="applicantLov?.salutation"
                      ></app-vf-custom-select>
                <div  class="cus-mandatory-field" *ngIf="basicForm.controls['title'].touched && basicForm.controls['title'].value==''">
                        Title Is Required
                </div>

        </div>
        <div class="col-sm-7 text-right"></div>
      </div>
      <ng-container formArrayName="details"
      *ngFor="let obj of basicForm.get('details')['controls']; let i =index; let l= last">
        <div 
          id="individual_section_start"
          [formGroupName]="0"
          *ngIf="isIndividual"
        >
          <div class="row" 
          >
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="first_name">First Name <sub class="star_red_col">*</sub></label>
              <!-- <input
                type="text"
                class="form-control"
                id="first_name"
                formControlName="name1"
              /> -->
              <app-custom-input
                  formControlName="name1"
                  [patternCheck]="namePattern"
                  [maxLength]="nameLength30"
                  [isRequired]="'First Name is required'"
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="middle_name">Middle Name</label>
              <!-- <input
                type="text"
                class="form-control"
                id="middle_name"
                formControlName="name2"
              /> -->
              <app-custom-input
                  formControlName="name2"
                  [patternCheck]="namePattern"
                  [maxLength]="nameLength30"
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-4 col-lg-3">
              <label for="last_name">Last Name</label>
              <!-- <input
                type="text"
                class="form-control"
                id="last_name"
                formControlName="name3"
              /> -->
              <app-custom-input
                  formControlName="name3"
                  [patternCheck]="namePattern"
                  [maxLength]="nameLength30"
                ></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="mobile_number">Mobile Number <sub class="star_red_col">*</sub></label>
              <!-- <input
                type="text"
                class="form-control"
                id="mobile_number"
                name="mobile_number"
                value="8974563210"
                
                formControlName="mobilePhone"
              /> -->
              <app-custom-input
                  formControlName="mobilePhone"
                  [patternCheck]="mobilePattern"
                  [isRequired]="'Mobile Number is required'"
                 [maxLength]='mobileLenght10'
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="date_of_birth">DOB <sub class="star_red_col">*</sub></label>
              <div
                class="input-group input-medium "

                id="date_of_birth"
                name="date_of_birth"
              >
                <!-- <span class="input-group-btn">
                  <button class="btn btn-default">
                    <i class="fa fa-calendar" id="datepicker"></i>
                  </button>
                </span> -->
                <!-- <input
                  type="text"
                  class="form-control"
                  id="datepicker"
                  value="27-05-1974"
                  (change)="ageCalculation($event)"
                  formControlName="dob"
                /> -->
                <kendo-datepicker class="form-control" 
                formControlName="dob" [format]="'dd/MM/yyyy'"
                [max]="toDayDate"
                 placeholder="Date of birth"
                [activeView]="'decade'"
                (valueChange)="ageCalculation($event)"
                ></kendo-datepicker>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="entity">Age <sub class="star_red_col">*</sub></label>
              <!-- <select class="form-control" id="entity">                                                  
                               
                                <option value="Mrs" selected>Mrs</option>                                                   
                            </select>  -->
                            <input
                            type="text"
                            class="form-control"
                            id="age"
                            name="age"
                            [value]="showAge ? showAge : initialAge"
                            formControlName="age"
                            disabled
                          />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category">Gender <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select
                formControlName="gender"
                [values]="applicantLov?.gender "
                
              ></app-vf-custom-select>

           
              <div  class="cus-mandatory-field" *ngIf="obj.controls['gender'].touched && obj.controls['gender'].value==''">
                select gender
              </div>


              <!-- <div class="cus-mandatory-field"
              *ngIf="obj.controls['gender'].touched && !obj.controls['gender'].valid">
                <div class="cus-mandatory-field"
                *ngIf="obj.controls['gender'].value===''">
                  select gender
                </div>
              </div> -->

              <!-- <select class="form-control" formControlName="gender">
                <option>-- select one --</option>
                <option *ngFor ="let gender of applicantLov.gender" [value]="gender.key"> 
                  {{gender.value}}
                </option>
              </select>

              <div class="invalid-feedback"
              *ngIf="validation.get('gender').errors && (validation.get('gender').touched || validation.get('gender').invalid)">
                  select gender
              </div> -->

             
              
              
            </div>

            
             
              
              <!-- <input type="checkbox" formControlName="isSeniorCitizen"
                (click)="checkSenior($event)" />
                <label for="senior_citizen">Is Senior Citizen? <sub class="star_red_col">*</sub></label> -->

                <div class="form-group col-sm-6 col-md-3 col-lg-3" id="align_this_checkbox">
                  <input type="checkbox" id="" formControlName="isSeniorCitizen" class="senior_minor"
                  (click)="checkSenior($event)" [disabled]="senior" [checked]="checkingSenior"> 
                  <span class="is_senior">Is senior Citizen? <sub class="star_red_col">*</sub></span>
              
                <!-- <div class="showErrorMessage">
                     {{messageOfSeniorcitizen}}
                </div> -->
              </div>

            

            <div class="form-group col-sm-6 col-md-3 col-lg-3" id="align_this_checkbox">
              
              
              <input type="checkbox" id="" formControlName="isMinor" class="senior_minor"
                  (click)="checkMinor($event)" [disabled]="minor" [checked]="checkingMinor"> 
                  <span class="is_senior">Is Minor? <sub class="star_red_col">*</sub></span>
             <!-- <div class="showErrorMessage">
               {{messageOfMinor}}
             </div>  -->
            </div>
          </div>
          <div class="row" *ngIf="checkingMinor">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="guardian_name"
                >Guardian Name <sub class="star_blue_col">*</sub></label
              >
              <!-- <input
                type="text"
                class="form-control"
                id="guardian_name"
                name="guardian_name"
                formControlName="minorGuardianName"
              /> -->
              <app-custom-input
                  formControlName="minorGuardianName"
                  [patternCheck]="namePattern"
                  [maxLength]="nameLength30"
                  [isRequired]="'If Minor, Gaurdian Name is Mandatory'"
                  ></app-custom-input>
                
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="entity">Guardian's Relationship with Minor <sub class="star_blue_col">*</sub></label>
              <!-- <select class="form-control" id="entity">                                                  
                               
                                <option value="Mrs" selected>Mrs</option>                                                   
                            </select>  -->
                            <app-vf-custom-select
                            formControlName="minorGuardianRelation"
                            [values]="applicantLov.relationship"
                          ></app-vf-custom-select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="father_name">Father Name <sub class="star_red_col">*</sub></label>
              <!-- <input
                type="text"
                class="form-control"
                id="father_name"
                name="father_name"
                formControlName="fatherName"
              /> -->
              <app-custom-input
                  formControlName="fatherName"
                  [patternCheck]="namePattern"
                  [maxLength]="nameLength30"
                  [isRequired]="'Father Name is Mandatory'"
            
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="spouse_name">Spouse Name</label>
              <!-- <input
                type="text"
                class="form-control"
                id="spouse_name"
                name="spouse_name"
                formControlName="spouseName"
              /> -->
              <app-custom-input
                  formControlName="spouseName"
                  [patternCheck]="namePattern"
                  [maxLength]="nameLength30"
        
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="maiden_name">Mother's Maiden Name <sub class="star_red_col">*</sub></label>
              <!-- <input
                type="text"
                class="form-control"
                id="maiden_name"
                name="maiden_name"
                formControlName="motherMaidenName"
              /> -->
              <app-custom-input
                  formControlName="motherMaidenName"
                  [patternCheck]="namePattern"
                  [maxLength]="nameLength30"
                  
                ></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="mobile_number">Alternate contact Number </label>
              <!-- <input
                type="text"
                class="form-control"
                id="mobile_number"
                name="mobile_number"
                value="8974563210"
                
                formControlName="mobilePhone"
              /> -->
              <app-custom-input
                  formControlName="alternateMobileNumber"
                  [patternCheck]="landlinePattern"
                  
                 [maxLength]='landlineLength15'
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="email_id">Email ID</label>
              <!-- <input
                type="email"
                class="form-control"
                id="email_id"
                name="email_id"
                formControlName="emailId"
              /> -->
              <app-custom-input
                  formControlName="emailId"
                  [patternCheck]="emailPattern"
                  
                ></app-custom-input> 
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="alternate_email_id">Alternate email ID</label>
              <!-- <input
                type="text"
                class="form-control"
                id="alternate_email_id"
                name="alternate_email_id"
                formControlName="alternateEmailId"
              /> -->
              <app-custom-input
                  formControlName="alternateEmailId"
                  [patternCheck]="emailPattern"

                ></app-custom-input> 
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="occupation">Occupation <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select
                formControlName="occupation"
                [values]="applicantLov?.occupation"
              ></app-vf-custom-select>
              <div  class="cus-mandatory-field" *ngIf="obj.controls['occupation'].touched && obj.controls['occupation'].value==''">
                Select Occupation
              </div>
              
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="nationality">Nationality <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select
                formControlName="nationality"
                [values]="applicantLov?.nationality"
              ></app-vf-custom-select>
              <div  class="cus-mandatory-field" *ngIf="obj.controls['nationality'].touched && obj.controls['nationality'].value==''">
                Select Nationality
              </div>

              <!-- <span class="showErrorMessage" 
              *ngIf="validation.get('nationality').errors?.value !== '' 
              && validation.get('nationality').errors?.required">                  
                Select Nationality
            </span> -->
            
            
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="preffered_language">Preferred Language for Communication</label>
              <app-vf-custom-select formControlName="preferredLanguage" [values]="applicantLov?.preferredLanguage">
              </app-vf-custom-select>
            </div>
          </div>
          <div class="row">
            
            
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category">Politically Exposed Person [PEP] </label>
              <app-vf-custom-select
                formControlName="politicallyExposedPerson"
                [values]="applicantLov?.politicallyExposed"
              ></app-vf-custom-select>
              <!-- <span class="showErrorMessage"  
              *ngIf="validation.get('customerCategory').errors?.value !== ''
               && validation.get('customerCategory').errors?.required">                  
                Select customer category
            </span> -->
            
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category">Customer Segment <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select
                formControlName="custSegment"
                [values]="applicantLov?.customerSegment"
              ></app-vf-custom-select>
              <div  class="cus-mandatory-field" *ngIf="obj.controls['custSegment'].touched && obj.controls['custSegment'].value==''">
                Customer Segment is Required
              </div>
              
            
            </div>
            
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category">Customer category <sub class="star_red_col">*</sub></label>
              <app-vf-custom-select
                formControlName="customerCategory"
                [values]="applicantLov?.customerCategory"
              ></app-vf-custom-select>
              <div  class="cus-mandatory-field" *ngIf="obj.controls['customerCategory'].touched && obj.controls['customerCategory'].value==''">
                Customer category is Required
              </div>
              
            </div>
    

          </div>
        </div>
        <div id="non_individual_section_start" *ngIf="!isIndividual" [formGroupName]="0">
          <div class="row">
            <!-- <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="non_occupation">Occupation</label>
              <app-vf-custom-select [values]="applicantLov?.occupation" formControlName="occupation">
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="customer_category">Customer Category</label>
              <app-vf-custom-select [values]="applicantLov?.customerCategory" formControlName="customerCategory">
              </app-vf-custom-select>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Lead Created">Email ID</label>
              <!-- <input -->
                <!-- type="text"
                formControlName="companyEmailId"
                class="form-control"
              /> -->
              <!-- <app-custom-input
                  formControlName="companyEmailId"
                  [patternCheck]="emailPattern"
                ></app-custom-input>  -->
            <!-- </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="Lead Created By">Alternate Email ID</label> --> 
              <!-- <input
                formControlName="alternateEmailId"
                type="text"
                class="form-control"
              /> -->
              <!-- <app-custom-input
                  formControlName="alternateEmailId"
                  [patternCheck]="emailPattern"  
                ></app-custom-input>  -->
            <!-- </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="title">Preferred Language for Communication</label>
              <app-vf-custom-select
                formControlName="preferredLanguageCommunication"
                [values]="applicantLov?.preferredLanguage"
              ></app-vf-custom-select>
            </div> -->
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="channel">Company 1 <sub class="star_red_col">*</sub></label>
              <!-- <input formControlName="name1" type="text" class="form-control" /> -->
              <app-custom-input
                  formControlName="name1"
                  
                  [maxLength]="nameLength30"
                  [isRequired]="'Company Name is required'"
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="sourcing type">Company 2</label>
              <!-- <input formControlName="name2" type="text" class="form-control" /> -->
              <app-custom-input
              formControlName="name2"
              [maxLength]="nameLength30"
             
            ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="sourcing code">Company 3</label>
              <!-- <input formControlName="name3" type="text" class="form-control" /> -->
              <app-custom-input
                  formControlName="name3"
                  [maxLength]="nameLength30"
                 
                ></app-custom-input>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="entity">Date Of Incorporation</label>
              <div class="input-group input-medium"
              id="date_of_birth">
                <!-- <span class="input-group-btn">
                  <button class="btn btn-default" disabled="">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
                <input formControlName="dateOfIncorporation" type="text" class="form-control" id="date" disabled="" /> -->
                <kendo-datepicker class="form-control" 
                formControlName="dateOfIncorporation" [format]="'dd/MM/yyyy'"
                [max]="toDayDate"
                 placeholder="Date of birth"
                [activeView]="'decade'"
                ></kendo-datepicker>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-3 col-lg-3">
              <label for="title">Number Of Directors</label>
              <input
                formControlName="numberOfDirectors"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>
      </ng-container>
    </div>



    
  </form>
</div>

<div class="btn-sec clear-both row">
  <div class="col-sm-5"></div>
  <div class="col-sm-7 text-right">
    <span id="edit_vehicle_details_replace"></span>
    <a id="back_vehicle_details"><button class="btn btn-primary" type="button" (click)="onBack()">
        Back
      </button></a>
    <p class="btn btn-primary save" id="save_vehicle_details" (click)="onSave()">
      Save
    </p>
    <a id="next_vehicle_details"><button class="btn btn-primary" type="button"
        [routerLink]="['../../identity-details', applicantId]">
        Next
      </button></a>
    <br />
    <br />
    <br />
  </div>
</div>