.input-upper {
    text-transform: uppercase;
}

.cus-mandatory-field {
    color: red;
    font-style: oblique;
    font-size: 12px;
}

.cus-title {
    margin: 15px 0;
}

.star_red_col
{
    color: #da3939;
    font-size: 25px;
    margin-left: 4px;
   
}
.star_blue_col
{
    color:#0000FF;
    font-size: 25px;
    margin-left: 4px;
}

kendo-datepicker{
    width: 100%!important;
}

.tab-hgt{
    height:220px;
    max-height: 300px;
    overflow-y: auto;
}

.con-btn{
    padding: 8px 5px;
    margin: 3px 0px;
}

.mt {
    margin-top: 24px;
}

.ml {
    margin-left: 10px;
}
.modal-dialog {
    width: 75%!important;
    margin: 30px auto;
}
/* modal */

.dis-block {
    display: block;
}

.btn-info {
    color: #fff;
    background-color: #1d1a4b;
    border-color: #161338;
}

.top-space {
    top:10%;
  }
  
  .wid-30{
    width:30%;
  }
  
  .wid-70{
    width:70%;
  }

  .main-table td .flex-container{
    padding:0px!important; 
 }

 .table thead th {
    padding-left: 10px;
    padding-right: 10px;
 }
  
 @media (min-width:260px) and (max-width:767px){
     .tab-hgt{
         height:150px;
     }
 }