.input-upper {
    text-transform: uppercase;
}

.cus-mandatory-field {
    color: red;
    font-style: oblique;
    font-size: 12px;
}

.cus-title {
    margin: 15px 0;
}

.star_red_col
{
    color: #da3939;
    font-size: 25px;
    margin-left: 4px;
   
}
.star_blue_col
{
    color:#0000FF;
    font-size: 25px;
    margin-left: 4px;
}

kendo-datepicker{
    width: 100%!important;
}

.mt {
    margin-top: 24px;
}

.ml {
    margin-left: 10px;
}