<form class="multisteps-form__form" [formGroup]="basicVehicleForm">

    <ng-container formArrayName="vehicleFormArray">

        <div id="sales_section_start" *ngIf="roleName === 'Sales Officer'" [formGroupName]="0">

            <h3 class="title" style="margin-top: -10px;"> {{ label.vehcileDetailsTitle }} </h3>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3" id="vechical_reg">
                    <label for="registartion_number"> {{ label.registartionNumber }} </label>
                    <input formControlName="registrationNumber" type="text" class="form-control mandatory"
                        id="registartion_number" placeholder="Vechical Registration No" name="registartion_number">
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2" id="vechical_reg1" *ngIf="!isHidden">
                    <label for="registartion_number"></label>
                    <input type="button" class="form-control btn-primary" id="check_dedupe" name="registartion_number"
                        value="Check Dedupe" data-toggle="modal" data-target="#myModal" (click)="onCheck()" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="asset_make"> {{ label.assetMake }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.assetMake" formControlName="assetMake">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="asset_model"> {{ label.assetModel }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.assetModel" formControlName="assetModel">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 " id="asset_type">
                    <label for="asset_body_type"> {{ label.assetBodyType }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.assetBodyType" formControlName="assetBodyType">
                    </app-vf-custom-select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="asset_variant"> {{ label.assetVariant }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.assetVariant" formControlName="assetVariant">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="asset_sub_variant"> {{ label.assetSubVariant }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.assetSubVariant" formControlName="assetSubVariant">
                    </app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="vechical_type"> {{ label.vechicalType }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.vehicleType" formControlName="vehicleType"
                        (change)="onShow($event)"></app-vf-custom-select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3" id="year_month_manufacturing">
                    <label for="year_month_manufacturing"> {{ label.yearAndMonthManufacturing }} </label>
                    <input formControlName="yearAndMonthManufacturing" type="date" class="form-control mandatory"
                        id="year_month_manufacturing" placeholder="Month of Manufacturing"
                        name="year_month_manufacturing" data-date-format="mm-yyyy" data-date="02-2012">

                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3" id="age_asset">
                    <label for="age_of_asset"> {{ label.ageOfAsset }} </label>
                    <input formControlName="ageOfAsset" type="text" class="form-control mandatory" id="age_of_asset"
                        placeholder="Age of Asset" name="age_of_asset" disabled>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="final_asset_cost"> {{ label.finalAssetCost }} </label>
                    <input formControlName="finalAssetCost" type="text" class="form-control mandatory"
                        id="final_asset_cost" placeholder="Final Asset Cost" name="final_asset_cost">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-3" id="vechical_use">
                    <label for="vechical_usage"> {{ label.vechicleUsage }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.vechicalUsage" formControlName="vechicalUsage">
                    </app-vf-custom-select>
                </div>

                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                    <label for="vechical_region"> {{ label.vechicalRegion }} </label>

                    <app-vf-custom-select [values]="vehicleLov?.region" formControlName="region"></app-vf-custom-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-3 no_vehicle">
                    <label for="no_vehicle"> {{ label.noVehicle }} </label>
                    <input formControlName="noOfVehicle" type="number" class="form-control mandatory" id="no_vehicle"
                        placeholder="No of vehicle" name="no_vehicle">
                </div>
            </div>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                    <label for="vechical_type">{{ label.vechicalType }}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.vehicleType"
                                        formControlName="vehicleType" (change)="onShow($event)"></app-vf-custom-select>
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                    <label for="vechical_region">{{ label.vechicalRegion }}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.region" formControlName="region">
                                    </app-vf-custom-select>
                                </div>


                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                    <label for="asset_make">{{ label.assetMake }}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.assetMake" formControlName="assetMake">
                                    </app-vf-custom-select>
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                    <label for="asset_model">{{ label.assetModel }}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.assetModel"
                                        formControlName="assetModel"></app-vf-custom-select>

                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3 " id="asset_type">
                                    <label for="asset_body_type">{{label.assetBodyType}}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.assetBodyType"
                                        formControlName="assetBodyType"></app-vf-custom-select>

                                </div>

                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                    <label for="asset_variant">{{label.assetVariant}}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.assetVariant"
                                        formControlName="assetVariant"></app-vf-custom-select>

                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                    <label for="asset_sub_variant">{{ label.assetSubVariant }}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.assetSubVariant"
                                        formControlName="assetSubVariant"></app-vf-custom-select>
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3" id="mon_manufacturing">
                                    <label for="month_manufacturing">{{ label.yearAndMonthManufacturing }}</label>
                                    <input type="text" readonly readonly class="form-control mandatory"
                                        data-date="02-2012" data-date-format="mm-yyyy"
                                        formControlName="yearAndMonthManufacturing" type="date"
                                        id="year_month_manufacturing1" placeholder="manufacturing"
                                        name="year_month_manufacturing">

                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-sm-6 col-md-4 col-lg-3" id="age_asset">
                                    <label for="age_of_asset"> {{ label.ageOfAsset }}</label>

                                    <input formControlName="ageOfAsset" type="text" class="form-control mandatory"
                                        id="age_of_asset1" placeholder="Age of Asset" name="age_of_asset" disabled>
v
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                    <label for="final_asset_cost1"> {{ label.finalAssetCost }} </label>
                                    <input formControlName="finalAssetCost" type="text" class="form-control mandatory"
                                        id="final_asset_cost1" placeholder="Final Asset Cost" name="final_asset_cost1">
                                </div>


                                <div class="form-group col-sm-6 col-md-4 col-lg-3" id="vechical_use">
                                    <label for="vechical_usage">{{ label.vechicleUsage }}</label>

                                    <app-vf-custom-select [values]="vehicleLov?.vechicalUsage"
                                        formControlName="vechicalUsage"></app-vf-custom-select>
                                </div>

                                <div class="form-group col-sm-6 col-md-4 col-lg-3 no_vehicle">
                                    <label for="no_vehicle"> {{ label.noVehicle }} </label>
                                    <input formControlName="noOfVehicle" type="number" class="form-control mandatory"
                                        id="no_vehicle1" placeholder="No of vehicle" name="no_vehicle">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Ignore These
                                Results</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                id="save_vehicle_details">Choose These Results</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal End    -->

            <div class="alert alert-success alert-dismissible" id="alert" [hidden]="!isAlert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button> Vehicle Details saved Successfully.
            </div>

        </div>

        <div id="credit_section_start" *ngIf="roleName !== 'Sales Officer'" [formGroupName]="0">

            <div class="btn-sec clear-both row">
                <div class="col-sm-5">
                    <select id="select_main_button" class="dropdown_individual" (change)="select_main_button($event)">
                        <option value="New CV">New CV</option>
                        <option value="New Car">New Car</option>
                        <option value="Used CV">Used CV</option>
                        <option value="Used Car">Used Car</option>
                    </select>
                    <!-- <app-vf-custom-select class="dropdown_individual"  [values]="lovLabels?.selectMainButton"
                    formControlName="selectMainButton"
                      (change)="select_main_button($event)">
                    </app-vf-custom-select> -->
                </div>
            </div>
            <ng-container formArrayName="vehicleTypearray">

 


            </ng-container>

        </div>


    </ng-container>

</form>