@media (min-width: 768px) and (max-width: 991px){
	.navbar .search {
		width: 250px;
	}
	.nav.back-btn li a {
		margin: 10px 0 0 10px;
	}
	.nav li a.name {
		padding: 4px 5px;
	}
	.name-circle {
		margin: 1px 3px 0 0px;
	}
	.btn-sec .btn-primary{
		width: 130px;
	}
}
@media (max-width: 767px) {
	.navbar-brand img {
		max-width: 120px;
		margin-top: 3px;
	}
	.search, .navbar .search, .btn-sec .btn{
		width: 100%;
	}
	.navbar-toggle, .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #272264;
		border: 1px solid #272264;
	}
	.navbar-toggle .icon-bar, .navbar-default .navbar-toggle .icon-bar{
		background: #fff;
	}
	.vertical-middle {
		height: 65vh;
	}
	.navbar-toggle {
		margin-top: 18px;
	}
	.nav.back-btn li a {
		width: 90%;
		margin: 0 auto;
		color: #000 !important;
		text-align: center;
	}
	.navbar-default .navbar-collapse{
		border-color: #272264;
		background: #272264;
		border: none;
	}
	.navbar-default .navbar-collapse .navbar-nav li a, .navbar-default .navbar-nav .open .dropdown-menu li a
	.navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus, .nav .dropdown-menu .checkbox,
	.navbar-default .navbar-nav .open .dropdown-menu li a {
		color: #fff;
	}
	.alert{
		width: 95%;
	}
	.content{
		padding: 20px 5px;
	}
	.multisteps-form .multisteps-form__progress-btn {
		text-indent: 0;
		font-size: 12px;
	}
	
}

@media (max-width: 420px) {
	.box {
		margin-bottom: 15px;
		margin-right: 15px;
	}
}

#overlay {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 4;
    cursor: pointer;
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2vw;   
    transform: translate(-50%,-50%);
    /* -ms-transform: translate(-50%,-50%); */
  }
