<div class="container cus-wid-sty">
    <app-shared-vehicle-details></app-shared-vehicle-details>
</div>

<div class="btn-sec clear-both btn-mar-15" id="clickButton">
    <div class="col-sm-5"> </div>
    <div class="col-sm-7 text-right">
        <button class="btn btn-primary" type="button"
            [routerLink]="['../applicant-list']">{{labels.back}}</button>&nbsp;
        <button class="btn btn-primary" type="button" [routerLink]="['../fleet-details']">{{labels.next}}</button>&nbsp;
    </div>
</div>