.row-min-max{
    position: fixed !important;
    bottom: 30px;
    width:100%;
    margin:0px 5px;
}


.min-max{
    overflow-x: hidden;
    background-color: #1d1a4b; 
    width:33%;   
    height: 30px;
    border-radius: 4px;
    margin: 2px 2px;    
    /* padding: 0px 2px; */
    text-align: right;
    color: #fff;
    font-size: 15px;
}

.fa-icon{
    padding: 8px 8px 0px 8px;
    color:#fff;
    font-size:14px;
}

.wid-80{
    width:86%!important;
    padding:5px 0px;
    text-align:center;
}

.wid-20{
    width:14%!important;
    padding:0px;
    text-align:right;
}

@media (min-width:200px) and (max-width:767px) {

    .min-max{
        overflow-x: hidden;
        background-color: #1d1a4b; 
        width:96%;   
        height: 30px;
        border-radius: 4px;
        margin: 2px 2px;    
        /* padding: 0px 2px; */
        text-align: right;
    }

}

.dis-block {
    display: block;
  }
/* .row-min-max{
    position: fixed !important;
    bottom: 30px;
    width:100%;
    margin:0px 5px;
}


.min-max{
    overflow-x: hidden;
    background-color: #ea1c1c; 
    width:33%;   
    height: 30px;
    border-radius: 4px;
    margin: 0px 2px;     */
    /* padding: 0px 2px; */
    /* text-align: right;
}

.fa-icon{
    padding: 8px 8px 0px 8px;
    color:#fff;
    font-size:14px;
}

.wid-80{
    width:86%!important;
    padding:0px;
    text-align:center; 
}

.wid-20{
    width:14%!important;
    padding:0px;
    text-align:right;
}

@media (min-width:200px) and (max-width:767px) {

    .min-max{
        overflow-x: hidden;
        background-color: #ea1c1c; 
        width:96%;   
        height: 30px;
        border-radius: 4px;
        margin: 2px 2px;    
        /* padding: 0px 2px; */
        /* text-align: right;
    }

} */