/* .min-max{
    overflow-x: hidden;
    background-color: #ea1c1c;
    position: fixed !important;
    bottom: 30px;
    height: 30px;
    border-radius: 4px;
    margin-left: 25px;    
    padding: 0px 8px;
    text-align: right;
}

.fa-icon{
    padding: 8px 8px 0px 8px;
    color:#fff;
    font-size:14px;
} */