<div class="mar-top90">
    <div class="container overflow-hidden">
        <div class="content">
            <div class="col-12">
                <h3 class="margin_zero">In Principle Offer</h3>
                <!---<div class="table-responsive application">
                    <table class="table">
                        <thead>
                            <tr class="table-head-bg">
                                <th>Product Offered <i class="fa fa-sort"></i> </th>
                                <th>Customer Segment <i class="fa fa-sort"></i> </th>
                                <th>Loan Tenor <i class="fa fa-sort"></i> </th>
                                <th>Loan Amount Range <i class="fa fa-sort"></i> </th>
                                <th>Age of the car at the end of tenor (months) <i class="fa fa-sort"></i> </th>
                                <th>Loan to Value <i class="fa fa-sort"></i> </th>
                                <th>Insurance Cross sell<i class="fa fa-sort"></i> </th>
                                <th>Loan to Value Insurance Funded<i class="fa fa-sort"></i> </th>
                                <th>Equitas Fast tag required <i class="fa fa-sort"></i> </th>
                                <th>On road pricing funding<i class="fa fa-sort"></i> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>New CV</td>
                                <td>Customer</td>
                                <td>12</td>
                                <td>15L</td>
                                <td>5 years</td>
                                <td>10L</td>
                                <td>5</td>
                                <td>12</td>
                                <td>applicable</td>
                                <td>125</td>
                            </tr>
                            <tr>
                                <td>New CV</td>
                                <td>Customer</td>
                                <td>12</td>
                                <td>15L</td>
                                <td>5 years</td>
                                <td>10L</td>
                                <td>5</td>
                                <td>12</td>
                                <td>applicable</td>
                                <td>125</td>
                            </tr>

                        </tbody>
                    </table>
                </div> ---->
                 <hr />
                <div class="container" id="sales_credit_score"  >
                    <div class="row" id="sales_credit_score_sec" >
                        <div class="col-lg-4">
                            <p id=""><span id="">Product Offered</span><span id="credit_score_tag1">Used CV</span></p>
                            <p id=""><span id="">Customer Segment</span><span id="credit_score_tag2">Salaried</span></p>                                
                        </div>
                        <div class="col-lg-4">
                            <p id=""><span id="">Requested Loan Amount</span><span id="credit_score_tag4">1000000</span></p>                                                               
                        </div>
                        <div class="col-lg-4">
                            <p id=""><span id="">Loan Tenor</span><span id="credit_score_tag3">24 Months</span></p>
                            <p id=""><span id="">Age of the car at the end of tenor</span><span id="credit_score_tag5"> 60 Months</span></p>
                        </div>
                    
                        <!---- <div class="col-lg-4">
                            <p id=""><span id="">Product Offered</span><span id="credit_score_tag1">New CV</span></p>
                            <p id=""><span id="">Customer Segment</span><span id="credit_score_tag2">Customer</span></p>
                            <p id=""><span id="">Loan Tenor</span><span id="credit_score_tag3">12</span></p>
                        </div>
                        <div class="col-lg-4">
                            <p id=""><span id="">Loan Amount Range</span><span id="credit_score_tag4">15L</span></p>
                            <p id=""><span id="">Age of the car at the end of tenor (months)</span><span>&nbsp;</span><span id="credit_score_tag5"> 5 Years</span></p>
                            <p id=""><span id="">Loan to Value</span><span id="credit_score_tag6">10L</span></p>
                        </div>
                        <div class="col-lg-4">
                            <p id=""><span id="">Loan to Value Insurance Funded</span><span id="credit_score_tag7">12L</span></p>
                            <p id=""><span id="">Equitas Fast Tag Required</span><span id="credit_score_tag8">Applicable</span></p>
                            <p id=""><span id="">On Road Pricing Funding</span><span id="credit_score_tag9">125</span></p>
                        </div> ---->
                    </div>
                     
                    <p class="text-center" id="credit_score_tag10" >Eligible Loan Amount : 1000000</p>
                    <hr />
               
                    <!----<div class="text-center" id="">
                        <button type="button" class="btn btn-primary" onclick="terms_info();" >Proceed</button>
                        <a href="../sales_dashboard/my_dashboard.html"> <p type="button" class="btn btn-primary" >Reject</p></a>
                    </div> ---->
                </div>
                <div id="termsnconditions">
                   <!----  <p><b>A copy of this has been sent to your registered 
                email address as well.</b></p>  ----->
                    <h4><b>Disclaimer</b></h4>
                    <ul>
                        <li>I / We declare that all the particulars and information given in the application form are true, correct, complete and up to date in all respects and I / we have not with-held any information whatsoever. 1/We confirm that I
                            /We have no insolvency proceeding initiated against me/us nor have 1/we have ever been adjudicated insolvent / bankrupt. I /We have read the application from and brochures and are agreeable to all the terms /conditions
                            of availing financial assistance from bank / Its Group Companies/its agents to make references and enquiries relevant to information in this application form which Equitas/its Group companies/its Agents consider necessary'.
                            1/we undertake to inform Equitas/group companies/its Agents regarding the change in the residential addresses to provide any further information that that Equitas/its Group Companies/its Agents may require </li>
                        <li>
                            I/We further declare and confirm that the credit facilities/ financial assistance if any enjoyed by me/us with other banks has been disclosed herein above. I/We declare the we have read the application form and brochure and are agreeable to the terms/
                            conditions of availing the credit facilities/financial assistance mentioned herein from Equitas.
                        </li>
                        <!---- <li>I/We understand that certain particulars given by me/us are required by the operational guidelines governing banks</li>
                        <li>Save and except to the extent as disclosed in this application. I /We (if a person other than a subsidiary of Equitas or a section 25 company or a government company, or in case of facility/ ies are not encompassed by the restrictions
                            specified by the Reserve Bank of India / National Housing Bank (RBI/NHB) from time to time) as applicable represents that; no director or a relative/near relation (as specified by RBI/NHB) of a director of a banking/housing
                            finance (including Equitas) or a relative/ near relation (as specified by the RBI/NHB) of a senior officer of company/bank (as specified by RBI/NHB) is a partner of mine/us, a director, manager employee of mine/us or a
                            subsidiary of me/us or a subsidiary or the holding company of me/us, or a guarantor on behalf of/for/to me/us, or holds substantial interest in me/us, or a subsidiary of the holding company of me/us. </li>
                        <li>I/We agree that Equitas small Finance bank may provide the credit facilities/ financial assistance mentioned herein only if permitted and if approved in the manner specified or required by the Reserve Bank of India/ National
                            Housing Bank (RBI/NHB) from to time. </li>
                        <li>/We agree and understand that Equitas Small finance bank reserves the right to reject the application and that Equitas Shall not be responsible/liable in any manner whatsoever to me/us for such rejection or any delay in notifying
                            me/us of such rejection and any costs, losses, damages or expenses, or other consequences, caused by reason of such rejection, or any delay in notifying me/us of such rejection, of our application. </li>
                        <li>I/We acknowledges that Equitas/group companies reserve the right to retain the photographs and documents submitted along with this application application and will not return the same to the applicant/s. </li>
                        <li>I/We hereby affirm and declare that I/We have not made any payments in cash. I/We hereby agree and authorize Equitas/its Group companies and their agents to exchange, share or part with all the information, data or data or
                            document in relation to my/our application including but not limited to the credit repayment, history or any default, if any, committed by me/ us to other Equitas Group companies/ bank, financial institutions, credit bureaus,
                            agencies statutory bodies or such other persons as Equitas/its Groups companies may deem necessary or appropriate as may be required for use of the said information or data by such person(s) or furnishing of the processed
                            information/ date*/ products thereof to the other banks financial institutions, credit providers or users registered with such persons as required under applicable laws/statutes or to provide services to the customers for
                            the products availed by by them and shall not hold Equitas/its Group companies/ their agents liable for use this information. </li>
                        <li>1/We confirm that the initials form this application form are made by me/ us and the validity' of the initials shall not be disputed by me/ us. </li>  ------>
                    </ul>

                </div>
                <!---- <div class="col-lg-12 col-md-12 col-sm-12">
                    <p><b><input type="checkbox" name="terms"> I accept the <u>Terms and Conditions</u></b></p>
                </div> ----->
                <div class="row">
                    <!-- <div class="form-group col-sm-6 col-md-2 col-lg-2">
                        <label for="otp_number">Mobile Number</label>
                        <input type="text" class="form-control mandatory" id="otp_number" name="otp_number" value="7894561230">
                    </div> -->
                    <!------ <div class="form-group col-sm-6 col-md-4 col-lg-4">
                        <label for="otp_number"><b>OTP sent to your mobile number 9876543210</b></label>
                        <input type="text" class="form-control mandatory input_box" id="otp_number" name="otp_number">
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="button submit_button_2">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#otp_no">Resend OTP</button>
                    </div>
                </div>------>
                <div class="button submit_button text-center">
                    <!--- <label for="offers_accepted" id="offers_accep" >Offers Accepted</label> --->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Customer Accpeted Offer</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_cancel">Customer Rejected Offer</button>
                </div>
            </div>

        </div>
        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title text-center">Congrats! You have got a prospective lead</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                 <span class="img-container"><img src="/assets/images/tick-mark.png" width="90px;"></span>

                <p id="model_p_size" >Please proceed to collect additional details</p>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer text-center">
                        <button type="button" class="btn btn-success" id="ok_co_applicant" data-dismiss="modal" >OK</button>
                <!---- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> --->
              </div>

            </div>
          </div>
        </div>
<!------ End of the Success Model ---------> 
    <!-- The Modal -->
        <div class="modal" id="myModal_cancel">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title text-center">Oops! You have lost a lead</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                 <span class="img-container"><img src="/assets/images/wrong.png" width="90px;" /></span>

               <!---- Your Offer has been rejected---->
              </div>

              <!-- Modal footer -->
              <div class="modal-footer text-center">
                        <button type="button" class="btn btn-danger" id="ok_co_applicant" data-dismiss="modal" [routerLink]="['/activity-search']" >Reject</button>
                <!---- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> --->
              </div>

            </div>
          </div>
        </div>
    </div>
</div>
<br />
                <br />
                <br />
<!-- Footer -->
<footer class="footer pf">
    <div class="container">
        <p>© Equitas Small Finance Bank Limited. All Rights Reserved.</p>
    </div>
</footer>
