<div class="content">
    <app-shared-basic-vehicle-details [id]="routerId" (formDataOutput)="FormDataParentMethod($event)">
    </app-shared-basic-vehicle-details>
</div>

<div class="btn-sec clear-both row" id="clickbutton">
    <div class="col-sm-5"> </div>
    <div class="col-sm-7 text-right" *ngIf="!isHidden">
        <button class="btn btn-primary js-btn-prev" type="button"> {{ label.back }} </button> &nbsp;
        <button class="btn btn-primary" type="button" (click)="onFormSubmit()"
            [routerLink]="['/pages/lead-section/vehicle-details']"> {{ label.save }} </button> &nbsp;
        <button class="btn btn-primary js-btn-next" [routerLink]="['/pages/lead-section/credit-score']" type="button"
            (click)="onFormSubmit()"> {{ label.next }} </button>
    </div>
    <div style="float: right;" *ngIf="isHidden">
        <button class="btn btn-primary" [routerLink]="['/pages/lead-section/vehicle-details']"
            (click)="onFormSubmit()">submit</button>
    </div>
</div>